﻿@using BeezMart.Caching.CRM
@model BeezMart.Areas.CRM.ViewModels.PersActivities.Add_ViewModel

@{
	ViewBag.Title = "Add person activity";
	if (Model == null) throw new NullReferenceException("ViewModel. is null.");
	if (Model.Person == null) throw new NullReferenceException("ViewModel.Person is null.");
	if (Model.Activity == null) throw new NullReferenceException("ViewModel.Activity is null.");
	IEnumerable<string> categories = await PersActivities.GetCategoriesAsync();
	IEnumerable<PersActivityModel.ActivityTypeModel> activityTypes = await PersActivities.GetActivityTypesAsync();
}

@section head {
	<link rel="stylesheet" href="~/Areas/CRM/PersActivities/Add.css" />
}

@section breadcrumb {
	<li class="breadcrumb-item"><a asp-area="CRM" asp-controller="Home" asp-action="Index">CRM</a></li>
	<li class="breadcrumb-item"><a asp-area="CRM" asp-controller="Persons" asp-action="Index">Persons</a></li>
	<li class="breadcrumb-item"><a asp-area="CRM" asp-controller="Persons" asp-action="View" asp-route-PersonID="@Model.Person.ID" asp-route-tab="4">@Model.Person.FirstName @Model.Person.LastName</a></li>
    <li class="breadcrumb-item"><a asp-area="CRM" asp-controller="PersActivities" asp-action="Index" asp-route-PersonID="@Model.Person.ID">Activities</a></li>
	<li class="breadcrumb-item active">add new</li>
}

@Html.Raw(ViewBag.AppMessage)
<form asp-action="Add" method="post">
	<input type="hidden" name="Activity.ID" value="@Model.Activity.ID" />
	<input type="hidden" name="Activity.PersonID" value="@Model.Activity.PersonID" />
	<input type="hidden" name="Activity.InvoiceIDs" value="@Model.Activity.InvoiceIDs" />
	<div class="row">
		<div class="col-sm-12 mb-3">
			<label>Title</label>
			<input type="text" name="Activity.Title" value="@Model.Activity.Title" maxlength="1024" required="required" placeholder="Subject, or a brief for reference" class="form-control form-control-lg required" />
		</div>
		<div class="col-sm-4 mb-3">
			<label>Category</label>
			<select id="ddlActivityCategory" class="form-control">
				<option selected="selected" value="">=== NO CATEGORY ===</option>
				@foreach (string category in categories)
				{
					<option>@category</option>
				}
			</select>
		</div>
		<div class="col-sm-4 mb-3">
			<label>Activity type</label>
			<select id="ddlActivityType" name="Activity.TypeID" data-val="@Model.Activity.TypeID" class="form-control">
				<option selected="selected">=== PLEASE SELECT ===</option>
				@foreach (PersActivityModel.ActivityTypeModel activityType in activityTypes)
				{
					<option data-val-category="@activityType.Category" value="@activityType.ID">@activityType.Name</option>
				}
			</select>
		</div>
		<div class="col-sm-4 mb-3">
			<label>Status</label>
			<select id="ddlActivityStatus" name="Activity.Status" data-val="@Model.Activity.Status" class="form-control">
				<option value="10">Pending</option>
				<option value="20">Cancelled</option>
				<option value="50">In progress</option>
				<option value="51">In progress 1%</option>
				<option value="52">In progress 5%</option>
				<option value="53">In progress 10%</option>
				<option value="54">In progress 15%</option>
				<option value="55">In progress 20%</option>
				<option value="56">In progress 25%</option>
				<option value="57">In progress 30%</option>
				<option value="58">In progress 35%</option>
				<option value="59">In progress 40%</option>
				<option value="60">In progress 45%</option>
				<option value="61">In progress 50%</option>
				<option value="62">In progress 55%</option>
				<option value="63">In progress 60%</option>
				<option value="64">In progress 65%</option>
				<option value="65">In progress 70%</option>
				<option value="66">In progress 75%</option>
				<option value="67">In progress 80%</option>
				<option value="68">In progress 85%</option>
				<option value="69">In progress 90%</option>
				<option value="70">In progress 95%</option>
				<option value="71">In progress 99%</option>
				<option value="250">Completed</option>
			</select>
		</div>
		<div class="col-sm-12 mb-3">
			<label>Comments about status</label>
			<textarea name="Activity.StatusComment" cols="80" rows="5" placeholder="Explanation about the status, if needed" maxlength="256" class="form-control">@Html.Raw(Model.Activity.StatusComment)</textarea>
		</div>
		<div class="col-sm-12 mb-3">
			<label>Detailed info about activity</label>
			<textarea name="Activity.Details" cols="80" rows="24" placeholder="You may add full details about the activity here" class="form-control">@Html.Raw(Model.Activity.Details)</textarea>
		</div>
		<div class="col-6 col-md-3 mb-3">
			<label>Scheduled for</label>
			<div class="input-group">
				<input type="text" asp-for="@Model.Activity.ScheduledFor" asp-format="{0:yyyy-MM-dd}" maxlength="16" placeholder="yyyy-mm-dd" class="form-control Calendar" />
				<span class="input-group-text Calendar"><b class="bi-calendar3"></b></span>
			</div>
		</div>
		<div class="col-6 col-md-3 mb-3">
			<label>Reminder on...</label>
			<div class="input-group">
				<input type="text" asp-for="@Model.Activity.ReminderOn" asp-format="{0:yyyy-MM-dd}" maxlength="16" placeholder="yyyy-mm-dd" class="form-control Calendar" />
				<span class="input-group-text Calendar"><b class="bi-calendar3"></b></span>
			</div>
		</div>
		<div class="col-6 col-md-3 mb-3">
			<label>Started on...</label>
			<div class="input-group">
				<input type="text" asp-for="@Model.Activity.StartedOn" asp-format="{0:yyyy-MM-dd}" maxlength="16" placeholder="yyyy-mm-dd" class="form-control Calendar" />
				<span class="input-group-text Calendar"><b class="bi-calendar3"></b></span>
			</div>
		</div>
		<div class="col-6 col-md-3 mb-3">
			<label>Completed on...</label>
			<div class="input-group">
				<input type="text" asp-for="@Model.Activity.CompletedOn" asp-format="{0:yyyy-MM-dd}" maxlength="16" placeholder="yyyy-mm-dd" class="form-control Calendar" />
				<span class="input-group-text Calendar"><b class="bi-calendar3"></b></span>
			</div>
		</div>
		<div class="col-12 col-md-6 mb-3">
			<label>Requested by</label>
			<input type="text" name="Activity.RequestedBy" value="@Model.Activity.RequestedBy" maxlength="128" placeholder="Name (department, company...)" class="form-control" />
		</div>
		<div class="col-12 col-md-6 mb-3">
			<label>Completed by</label>
			<input type="text" name="Activity.CompletedBy" value="@Model.Activity.CompletedBy" maxlength="128" placeholder="Name (department, company...)" class="form-control" />
		</div>
		<div class="col-6 col-md-4 col-lg-3 mb-3">
			<label>Duration in minutes</label>
			<input type="text" name="Activity.DurationInMinutes" value="@Model.Activity.DurationInMinutes" maxlength="16" placeholder="Integer number here" class="form-control" />
		</div>
		<div class="col-6 col-md-8 col-lg-9 mb-3">
			<label>Billable activity?</label>
			<label class="input-group">
				<span class="input-group-text"><input type="checkbox" asp-for="@Model.Activity.IsBillable" /></span>
				<span class="form-control">Should be invoiced</span>
			</label>
		</div>
	</div>
	<div class="mt-3 submit">
		<a asp-action="View" asp-controller="Persons" asp-route-PersonID="@Model.Person.ID" asp-route-tab="4" class="btn btn-light">Cancel</a>
		<button type="submit" class="btn btn-primary">Save activity record</button>
	</div>
</form>

@section scripts {
	<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/tinymce/5.10.9/tinymce.min.js"></script>
	<script type="text/javascript" src="~/Areas/CRM/PersActivities/Add.js"></script>
}




