﻿@model BeezMart.Areas.CRM.ViewModels.PersActivities.Index_ViewModel

@{
	ViewBag.Title = "Person activities";
	if (Model == null) throw new NullReferenceException("ViewModel. is null.");
	if (Model.Person == null) throw new NullReferenceException("ViewModel.Person is null.");
	if (Model.Activities == null) throw new NullReferenceException("ViewModel.Activities is null.");
}

@section breadcrumb {
	<li class="breadcrumb-item"><a asp-area="CRM" asp-controller="Home" asp-action="Index">CRM</a></li>
	<li class="breadcrumb-item"><a asp-area="CRM" asp-controller="Persons" asp-action="Index">Persons</a></li>
	<li class="breadcrumb-item"><a asp-area="CRM" asp-controller="Persons" asp-action="View" asp-route-PersonID="@Model.Person.ID" asp-route-tab="4">@Model.Person.FirstName @Model.Person.LastName</a></li>
	<li class="breadcrumb-item active">Activities</li>
}

@Html.Raw(ViewBag.AppMessage)
<table class="table table-hover table-striped table-responsive-md">
	<thead>
		<tr>
			<th colspan="2">Related activities</th>
		</tr>
	</thead>
	<tbody>
		@foreach (PersActivityModel activity in Model.Activities)
		{
			<tr data-record="@activity.ID">
				<td><a>@activity.Title</a></td>
				<td>(status)</td>
			</tr>
		}
	</tbody>
	<tfoot>
		<tr>
			<td><a asp-action="Add" asp-route-PersonID="@Model.Person.ID" class="btn btn-primary">Add new activity record</a></td>
		</tr>
	</tfoot>
</table>

