﻿@model BeezMart.Areas.Billing.ViewModels.Invoices._ChangeStatus_ViewModel
@{
	if (Model == null) throw new NullReferenceException("ViewModel is null.");
}
@Html.Raw(Model.Message)
<input type="hidden" id="hdnChangeStatus_Success" value="@Model.Success.ToString().ToLower()" />
<input type="hidden" id="hdnChangeStatus_RemainingToBePayed" value="@Model.RemainingToBePayed.ToString("#,##0.00")" />
<input type="hidden" id="hdnChangeStatus_InvoiceID" value="@Model.InvoiceID" />
<input type="hidden" id="hdnChangeStatus_InvoiceStatus" value="@Model.InvoiceStatus" />
