﻿@model List<InvoiceModel>
@{
	decimal InvoicesTotalDue = 0;
	if (Model == null) throw new NullReferenceException("ViewModel is null.");
}
<table class="table table-striped table-hover table-responsive-md">
	<thead>
		<tr>
            <th>Accounting ID / Issue date</th>
			<th>Customer name</th>
			<th colspan="2">Total due</th>
		</tr>
	</thead>
	<tbody>
		@foreach (InvoiceModel invoice in Model) {
			InvoicesTotalDue += invoice.TotalDue;
			<tr data-record="@invoice.ID">
				<td><a>@(string.IsNullOrWhiteSpace(invoice.AccountingID) ? "[ID NOT SET]" : invoice.AccountingID) / @Html.FormatValue(invoice.IssueDate, "{0:yyyy-MM-dd}")</a></td>
				<td>
					@if (invoice.OrganizationID.HasValue) {
						<a data-value="OrgsID=@invoice.OrganizationID">@invoice.CustomerName</a>
					}
					else {
						if (invoice.PersonID.HasValue) {
							<a data-value="PersID=@invoice.PersonID">@invoice.CustomerName</a>
						}
						else {
							<text>@invoice.CustomerName</text>
						}
					}
				</td>
				<td><b>@Html.FormatValue(invoice.TotalDue, "{0:#,##0.00}")</b> @invoice.Currency</td>
			</tr>
		}
	</tbody>
	<tfoot>
		<tr>
			<td colspan="2">records found: <b>@Model.Count</b></td>
			<td colspan="1">Total due: <b>@InvoicesTotalDue.ToString("#,##0.00")</b> @ViewBag.Currency</td>
		</tr>
	</tfoot>
</table>



