﻿@model Dictionary<string, int>
@{
	if (Model == null) throw new NullReferenceException("ViewModel is null.");
}
@foreach (string key in Model.Keys) {
    <button data-value="@key.ToUpper()" type="button" class="btn btn-light">@key.ToUpper() <span class="badge badge-light">@Model[key]</span></button>
}