﻿@model List<InvoiceModel>
@{
	if (Model == null) throw new NullReferenceException("ViewModel is null.");
}
@Html.Raw(ViewBag.AppMessage)
<table class="table table-striped table-hover table-responsive-md">
    <thead>
        <tr>
            <th>Accounting ID / Issue date</th>
            <th>status</th>
            <th>Customer name</th>
            <th>Total due</th>
            <th title="The amount that wasn't yet payed by the customer">Remaining</th>
        </tr>
    </thead>
    <tbody>
        @foreach (InvoiceModel invoice in Model) {
            <tr data-id="@invoice.ID">
                <td><a>@(string.IsNullOrWhiteSpace(invoice.AccountingID) ? "[ID NOT SET]" : invoice.AccountingID) / @Html.FormatValue(invoice.IssueDate, "{0:yyyy-MM-dd}")</a></td>
                <td class="@invoice.Status"></td>
                <td>
                    @if (invoice.OrganizationID.HasValue)
                    {
                        <a data-orgs="@invoice.OrganizationID">@invoice.CustomerName</a>
                    }
                    else
                    {
                        if (invoice.PersonID.HasValue)
                        {
                            <a data-pers="@invoice.PersonID">@invoice.CustomerName</a>
                        }
                        else
                        {
                            <text>@invoice.CustomerName</text>
                        }
                    }
                </td>
                <td><b>@Html.FormatValue(invoice.TotalDue, "{0:#,##0.00}")</b> @invoice.Currency</td>
                <td>@Html.FormatValue(invoice.RemainingToBePayed, "{0:#,##0.00}")</td>
            </tr>
        }
    </tbody>
    <tfoot>
        <tr>
			<td colspan="2">
                <button type="button" class="btn btn-sm btn-outline-secondary" onclick="MyPage.Export('@ViewBag.InvoiceType')" title="Export from database to Excel file"><b class="bi-file-earmark-spreadsheet"></b></button>
				<button type="button" class="btn btn-sm btn-outline-secondary" onclick="MyPage.DirectLink('@ViewBag.InvoiceType')" title="Direct link to this search result" id="btnDirectLink"><b class="bi-link-45deg"></b></button>
            </td>
            <td colspan="3">records found: <b>@Model.Count</b></td>
        </tr>
    </tfoot>
</table>



