@model BeezMart.Areas.Billing.ViewModels.Invoices.Start_ViewModel
@{
    if (Model == null) throw new NullReferenceException("ViewModel is null.");
}
<section id="CRM" class="card border-secondary mb-3">
    <h5 class="card-header bg-secondary">Organizations or persons in CRM</h5>
    <div class="card-body">
        @if (Model.BillingDetailsFromCRM != null)
        {
            <table class="table table-striped table-hover table-responsive-md">
                <thead>
                    <tr>
                        <th>Customer name</th>
                        <th>City</th>
                        <th>Province</th>
                        <th>Tax ID</th>
                        <th>Bank account IBAN</th>
                        <th>See</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (CustomerBillingDetailsModel billindDetails in Model.BillingDetailsFromCRM)
                    {
                        <tr>
                            <td data-OrgsID="@billindDetails.OrganizationID" data-PersID="@billindDetails.PersonID"><a>@billindDetails.CustomerName</a></td>
                            <td title="@billindDetails.StreetAddress1" data-addressID="@billindDetails.BillingAddressID">@billindDetails.City</td>
                            <td>@billindDetails.StateProvince</td>
                            <td title="@billindDetails.RegistrationNumber">@billindDetails.TaxID</td>
                            <td title="@billindDetails.BankName" data-accountID="@billindDetails.BankAccountID">@billindDetails.BankAccountIBAN</td>
                            <td><a><b class="bi-eye"></b></a></td>
                        </tr>
                    }
                </tbody>
                <tfoot>
                    <tr>
                        <td colspan="6">invoicing details records found in CRM organizations or persons: <b>@Model.BillingDetailsFromCRM.Count</b></td>
                    </tr>
                </tfoot>
            </table>
        }
    </div>
</section>
<section id="SavedSettings" class="card border-secondary mb-3">
    <h5 class="card-header bg-secondary">Previously saved invoicing details</h5>
    <div class="card-body">
        @if (Model.BillingDetailsFromSavedSettings != null)
        {
            <table class="table table-striped table-hover table-responsive-md">
                <thead>
                    <tr>
                        <th>Customer name</th>
                        <th>City</th>
                        <th>Province</th>
                        <th>Tax ID</th>
                        <th>Bank account IBAN</th>
                        <th>See</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (CustomerBillingDetailsModel billindDetails in Model.BillingDetailsFromSavedSettings)
                    {
                        <tr>
                            <td data-OrgsID="@billindDetails.OrganizationID" data-PersID="@billindDetails.PersonID"><a>@billindDetails.CustomerName</a></td>
                            <td title="@billindDetails.StreetAddress1" data-addressID="@billindDetails.BillingAddressID">@billindDetails.City</td>
                            <td>@billindDetails.StateProvince</td>
                            <td title="@billindDetails.RegistrationNumber">@billindDetails.TaxID</td>
                            <td title="@billindDetails.BankName" data-accountID="@billindDetails.BankAccountID">@billindDetails.BankAccountIBAN</td>
                            <td><a><b class="bi-eye"></b></a></td>
                        </tr>
                    }
                </tbody>
                <tfoot>
                    <tr>
                        <td colspan="6">invoicing details records found in saved customer settings: <b>@Model.BillingDetailsFromSavedSettings.Count</b></td>
                    </tr>
                </tfoot>
            </table>
        }
    </div>
</section>
<section id="Invoices" class="card border-secondary">
    <h5 class="card-header bg-secondary">Billing invoices history</h5>
    <div class="card-body">
        @if (Model.BillingDetailsFromInvoices != null)
        {
            <table class="table table-striped table-hover table-responsive-md">
                <thead>
                    <tr>
                        <th>Customer name</th>
                        <th>City</th>
                        <th>Province</th>
                        <th>Tax ID</th>
                        <th>Bank account IBAN</th>
                        <th>See</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (CustomerBillingDetailsModel billindDetails in Model.BillingDetailsFromInvoices)
                    {
                        <tr>
                            <td data-OrgsID="@billindDetails.OrganizationID" data-PersID="@billindDetails.PersonID"><a>@billindDetails.CustomerName</a></td>
                            <td title="@billindDetails.StreetAddress1" data-addressID="@billindDetails.BillingAddressID">@billindDetails.City</td>
                            <td>@billindDetails.StateProvince</td>
                            <td title="@billindDetails.RegistrationNumber">@billindDetails.TaxID</td>
                            <td title="@billindDetails.BankName" data-accountID="@billindDetails.BankAccountID">@billindDetails.BankAccountIBAN</td>
                            <td><a><b class="bi-eye"></b></a></td>
                        </tr>
                    }
                </tbody>
                <tfoot>
                    <tr>
                        <td colspan="6">invoicing details records found in previous invoices: <b>@Model.BillingDetailsFromInvoices.Count</b></td>
                    </tr>
                </tfoot>
            </table>
        }
    </div>
</section>

