﻿@model BeezMart.Areas.Billing.ViewModels.Invoices.Duplicate_ViewModel

@{
	ViewBag.Title = "Duplicate invoice";
    if (Model == null) throw new NullReferenceException("ViewModel is null.");
}

@section head {
	<link rel="stylesheet" href="~/Areas/Billing/Invoices/Duplicate.css" />
}

@section breadcrumb {
	<li class="breadcrumb-item"><a asp-area="Billing" asp-controller="Home" asp-action="Index">Billing</a></li>
	<li class="breadcrumb-item"><a asp-area="Billing" asp-controller="Invoices" asp-action="Index">Invoices</a></li>
	<li class="breadcrumb-item active">duplicate</li>
}

<form asp-action="Duplicate" asp-controller="Invoices" method="post" id="frmDuplicate">
	<input type="hidden" name="ExistingInvoiceID" value="@Model.ExistingInvoiceID" />
	<div class="row">
		<div class="col-1 col-md-2">&nbsp;</div>
		<div class="col-10 col-md-8">
			<div class="card border-success">
                <h4 class="card-header bg-success">Duplicate invoice</h4>
                <div class="card-body">
					<p class="lead">This action will create a copy of the invoice with its items. The copy will have a DRAFT status, with an empty accounting ID. The issue date will be today, with a default due date taken from application settings.</p>
					<p>Once the invoice copy will be created, you'll be taken to its edit page, so you can review the fields of the newly created invoice.</p>
				</div>
				<div class="card-footer">
					<div class="row">
						<div class="col-sm text-center"><button type="submit" class="btn btn-success btn-lg">Duplicate now</button></div>
						<div class="col-sm text-center"><a asp-action="View" asp-route-InvoiceID="@Model.ExistingInvoiceID" class="btn btn-warning btn-lg">Cancel</a></div>
					</div>
				</div>
			</div>
		</div>
		<div class="col-1 col-md-2">&nbsp;</div>
	</div>
</form>

@section scripts {
	@*<script type="text/javascript" src="~/Areas/Billing/Invoices/Duplicate.js"></script>*@
}

