﻿@model BeezMart.Areas.Billing.ViewModels.Invoices.Edit_ViewModel

@{
    ViewBag.Title = "Edit invoice fields";
    if (Model == null || Model.Invoice == null) throw new NullReferenceException("ViewModel is null or ViewModel.Invoice is null.");
}

@section head {
    <link rel="stylesheet" href="~/Areas/Billing/Invoices/Edit.css" />
}

@section breadcrumb {
    <li class="breadcrumb-item"><a asp-area="Billing" asp-controller="Home" asp-action="Index">Billing</a></li>
	<li class="breadcrumb-item"><a asp-area="Billing" asp-controller="Invoices" asp-action="Index">Invoices</a></li>
    <li class="breadcrumb-item active">edit</li>
}

@Html.Raw(ViewBag.AppMessage)
<form method="post" asp-action="Edit">
    <input type="hidden" asp-for="@Model.Invoice.ID" />
    <fieldset id="CustomerData" class="card mb-3">
        <input type="hidden" asp-for="@Model.Invoice.OrganizationID" data-bound="organizationID" />
        <input type="hidden" asp-for="@Model.Invoice.PersonID" data-bound="personID" />
        <input type="hidden" id="hdnCustomerBillingAddressID" data-bound="billingAddressID" />
        <input type="hidden" id="hdnCustomerBankAccountID" data-bound="bankAccountID" />
        <input type="hidden" id="hdnSaveCustomerDetailsURL" value="@Url.Action("_SaveFromInvoice", "Customers")" />
        <h4 class="card-header">Edit invoice fields</h4>
        <div class="card-body">
            <div class="row">
                <div class="col-sm-6">
                    <div class="mb-3">
                        <label asp-for="@Model.Invoice.CustomerName" class="required">Organization or person name <a class="badge rounded-pill bg-secondary ms-4 text-decoration-none" data-bs-toggle="modal" data-bs-target="#ModalLookupCustomer">Take from CRM</a></label>
                        <input type="text" asp-for="@Model.Invoice.CustomerName" maxlength="256" placeholder="Enter customer name ..." required="required" data-bound="customerName" class="form-control required form-control-lg" />
                    </div>
                    <div class="row">
                        <div class="mb-3 col-lg-6">
                            <label asp-for="@Model.Invoice.CustomerCity">City</label>
                            <input type="text" asp-for="@Model.Invoice.CustomerCity" maxlength="64" placeholder="City or town ..." data-bound="city" class="form-control" />
                        </div>
                        <div class="mb-3 col-lg-6">
                            <label asp-for="@Model.Invoice.CustomerProvince">Province</label>
                            <input type="text" asp-for="@Model.Invoice.CustomerProvince" maxlength="64" placeholder="Province, region, or state ..." data-bound="province" class="form-control" />
                        </div>
                    </div>
                    <div class="mb-3">
                        <label asp-for="@Model.Invoice.CustomerAddress">Street address</label>
                        <input type="text" asp-for="@Model.Invoice.CustomerAddress" maxlength="256" placeholder="Billing address ..." data-bound="streetAddress1" class="form-control" />
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="row">
                        <div class="mb-3 col-lg-6">
                            <label asp-for="@Model.Invoice.CustomerTaxID">Tax ID</label>
                            <input type="text" asp-for="@Model.Invoice.CustomerTaxID" maxlength="16" placeholder="V.A.T. number ..." data-bound="taxID" class="form-control form-control-lg" />
                        </div>
                        <div class="mb-3 col-lg-6">
                            <label asp-for="@Model.Invoice.CustomerRegistrationNumber">Registration number</label>
                            <input type="text" asp-for="@Model.Invoice.CustomerRegistrationNumber" maxlength="32" placeholder="Trade registry commercial no ..." data-bound="registrationNumber" class="form-control form-control-lg" />
                        </div>
                    </div>
                    <div class="mb-3">
                        <label asp-for="@Model.Invoice.CustomerBankName">Bank name</label>
                        <input type="text" asp-for="@Model.Invoice.CustomerBankName" maxlength="128" placeholder="Customer bank ..." data-bound="bankName" class="form-control" />
                    </div>
                    <div class="mb-3">
                        <label asp-for="@Model.Invoice.CustomerBankAccount">Bank account</label>
                        <input type="text" asp-for="@Model.Invoice.CustomerBankAccount" maxlength="64" placeholder="IBAN XXXX XXXX XXXX XXXX XXXX" data-bound="bankAccountIBAN" class="form-control" />
                    </div>
                </div>
            </div>
            <progress></progress>
            <div id="SaveCustomerDetailsResult"></div>
            <div id="SaveCustomerDetails" class="submit"><button type="button" class="btn btn-sm btn-light" title="Save changes on customer details for future use" onclick="btnSaveCustomerDetails_Click();">Save customer details</button></div>
            <hr />
            <div class="row">
                <div class="col-6 col-lg-3 mb-3">
                    <label asp-for="@Model.Invoice.Currency">Currency</label>
                    <input type="text" asp-for="@Model.Invoice.Currency" maxlength="3" class="form-control" />
                </div>
                <div class="col-6 col-lg-3 mb-3">
                    <label asp-for="@Model.Invoice.VATpercentage">V.A.T. %</label>
                    <input type="text" asp-for="@Model.Invoice.VATpercentage" maxlength="8" class="form-control" />
                </div>
                <div class="col-6 col-lg-6 mb-3">
                    <label asp-for="@Model.Invoice.TransportName">Delivery doc</label>
                    <input type="text" asp-for="@Model.Invoice.TransportName" maxlength="16" class="form-control" />
                </div>
                <div class="col-6 col-lg-4 mb-3">
                    <label asp-for="@Model.Invoice.AccountingID">Accounting no</label>
                    <input type="text" asp-for="@Model.Invoice.AccountingID" maxlength="32" placeholder="@MyApp.ConfigSettings["Billing.Auto-Serials-Format"]" class="form-control" />
                </div>
                <div class="col-6 col-lg-4 mb-3">
                    <label asp-for="@Model.Invoice.IssueDate">Issued on</label>
                    <div class="input-group">
                        <input type="text" asp-for="@Model.Invoice.IssueDate" asp-format="{0:yyyy-MM-dd}" maxlength="16" placeholder="yyyy-mm-dd" class="form-control Calendar" />
                        <span class="input-group-text Calendar"><b class="bi-calendar3"></b></span>
                    </div>
                </div>
                <div class="col-6 col-lg-4 mb-3">
                    <label asp-for="@Model.Invoice.DueDate">Due date</label>
                    <div class="input-group">
                        <input type="text" asp-for="@Model.Invoice.DueDate" asp-format="{0:yyyy-MM-dd}" maxlength="16" placeholder="yyyy-mm-dd" class="form-control Calendar" />
                        <span class="input-group-text Calendar"><b class="bi-calendar3"></b></span>
                    </div>
                </div>
            </div>
        </div>
    </fieldset>
    <fieldset id="InvoiceType" class="card mb-3" data-value="@Model.Invoice.Type">
        <h5 class="card-header">Invoice type</h5>
        <div class="card-body">
            <ul class="nav nav-pills flex-column flex-md-row">
                <li class="flex-md-fill text-md-center">
                    <div class="d-grid gap-2">
                        <input type="radio" name="Invoice.Type" id="Invoice_Type_@InvoiceType.Regular" value="@InvoiceType.Regular" class="btn-check" autocomplete="off" />
                        <label class="btn btn-outline-secondary m-1" for="Invoice_Type_@InvoiceType.Regular">Regular</label>
                    </div>
                </li>
                <li class="flex-md-fill text-md-center">
                    <div class="d-grid gap-2">
                        <input type="radio" name="Invoice.Type" id="Invoice_Type_@InvoiceType.Storno" value="@InvoiceType.Storno" class="btn-check" autocomplete="off" />
                        <label class="btn btn-outline-secondary m-1" for="Invoice_Type_@InvoiceType.Storno">Storno</label>
                    </div>
                </li>
                <li class="flex-md-fill text-md-center">
                    <div class="d-grid gap-2">
                        <input type="radio" name="Invoice.Type" id="Invoice_Type_@InvoiceType.Advance" value="@InvoiceType.Advance" class="btn-check" autocomplete="off" />
                        <label class="btn btn-outline-secondary m-1" for="Invoice_Type_@InvoiceType.Advance">Advance payment</label>
                    </div>
                </li>
                <li class="flex-md-fill text-md-center">
                    <div class="d-grid gap-2">
                        <input type="radio" name="Invoice.Type" id="Invoice_Type_@InvoiceType.Risturn" value="@InvoiceType.Risturn" class="btn-check" autocomplete="off" />
                        <label class="btn btn-outline-secondary m-1" for="Invoice_Type_@InvoiceType.Risturn">Risturn</label>
                    </div>
                </li>
                <li class="flex-md-fill text-md-center">
                    <div class="d-grid gap-2">
                        <input type="radio" name="Invoice.Type" id="Invoice_Type_@InvoiceType.ProForma" value="@InvoiceType.ProForma" class="btn-check" autocomplete="off" />
                        <label class="btn btn-outline-secondary m-1" for="Invoice_Type_@InvoiceType.ProForma">Pro-Forma</label>
                    </div>
                </li>
            </ul>
            @*
            <ul class="nav nav-fill">
                <li class="nav-item">
                    <label>
                        <label class="switch switch-default switch-primary">
                            <input type="radio" asp-for="@Model.Invoice.Type" value="@InvoiceType.Regular" class="switch-input" checked="checked" />
                            <span class="switch-label"></span>
                            <span class="switch-handle"></span>
                        </label>
                        <span>Regular</span>
                    </label>
                </li>
                <li class="nav-item">
                    <label>
                        <label class="switch switch-default switch-primary">
                            <input type="radio" asp-for="@Model.Invoice.Type" value="@InvoiceType.Storno" class="switch-input" />
                            <span class="switch-label"></span>
                            <span class="switch-handle"></span>
                        </label>
                        <span>Storno</span>
                    </label>
                </li>
                <li class="nav-item">
                    <label>
                        <label class="switch switch-default switch-primary">
                            <input type="radio" asp-for="@Model.Invoice.Type" value="@InvoiceType.Advance" class="switch-input" />
                            <span class="switch-label"></span>
                            <span class="switch-handle"></span>
                        </label>
                        <span>Advance payment</span>
                    </label>
                </li>
                <li class="nav-item">
                    <label>
                        <label class="switch switch-default switch-primary">
                            <input type="radio" asp-for="@Model.Invoice.Type" value="@InvoiceType.Risturn" class="switch-input" />
                            <span class="switch-label"></span>
                            <span class="switch-handle"></span>
                        </label>
                        <span>Risturn</span>
                    </label>
                </li>
                <li class="nav-item">
                    <label>
                        <label class="switch switch-default switch-primary">
                            <input type="radio" asp-for="@Model.Invoice.Type" value="@InvoiceType.ProForma" class="switch-input" />
                            <span class="switch-label"></span>
                            <span class="switch-handle"></span>
                        </label>
                        <span>Pro-Forma</span>
                    </label>
                </li>
            </ul>
            *@
        </div>
    </fieldset>
    <fieldset id="Handover" class="card mb-3">
        <h5 class="card-header">Hand-over details</h5>
        <div class="card-body">
            <div class="row">
                <div class="col-sm-4 mb-3">
                    <label asp-for="@Model.Invoice.DelegateName">Delegate name <a class="badge rounded-pill bg-secondary ms-4 text-decoration-none" data-bs-toggle="modal" data-bs-target="#ModalPickDelegate">pick saved</a></label>
                    <input type="text" asp-for="@Model.Invoice.DelegateName" maxlength="128" placeholder="Who's delivering the invoice ..." class="form-control" />
                </div>
                <div class="col-6 col-sm-2 mb-3">
                    <label asp-for="@Model.Invoice.DelegateID1">ID Serial</label>
                    <input type="text" asp-for="@Model.Invoice.DelegateID1" maxlength="8" placeholder="ID Serial ..." class="form-control" />
                </div>
                <div class="col-6 col-sm-2 mb-3">
                    <label asp-for="@Model.Invoice.DelegateID2">ID Number</label>
                    <input type="text" asp-for="@Model.Invoice.DelegateID2" maxlength="16" placeholder="ID number ..." class="form-control" />
                </div>
                <div class="col-sm-4 mb-3">
                    <label asp-for="@Model.Invoice.DelegateID3">ID Issuer</label>
                    <input type="text" asp-for="@Model.Invoice.DelegateID3" maxlength="32" placeholder="Issuing authority ..." class="form-control" />
                </div>
            </div>
            <div class="row">
                <div class="col-6 col-sm-3 mb-3">
                    <label asp-for="@Model.Invoice.TransportDetail1">Means <a class="badge rounded-pill bg-secondary ms-4 text-decoration-none" data-bs-toggle="modal" data-bs-target="#ModalPickTransport">pick saved</a></label>
                    <input type="text" asp-for="@Model.Invoice.TransportDetail1" maxlength="32" placeholder="Transportation means ..." class="form-control" />
                </div>
                <div class="col-6 col-sm-3 mb-3">
                    <label asp-for="@Model.Invoice.TransportDetail2">Vehicle</label>
                    <input type="text" asp-for="@Model.Invoice.TransportDetail2" maxlength="32" placeholder="Vehicle registration ..." class="form-control" />
                </div>
                <div class="col-6 col-sm-3 mb-3">
                    <label asp-for="@Model.Invoice.TransportDetail3">On <a class="badge rounded-pill bg-secondary ms-4 text-decoration-none" onclick="btnTodayNow_Click();">today, now</a></label>
                    <input type="text" asp-for="@Model.Invoice.TransportDetail3" maxlength="16" placeholder="Date ..." class="form-control" />
                </div>
                <div class="col-6 col-sm-3 mb-3">
                    <label asp-for="@Model.Invoice.TransportDetail4">At</label>
                    <input type="text" asp-for="@Model.Invoice.TransportDetail4" maxlength="16" placeholder="Time ..." class="form-control" />
                </div>
            </div>
        </div>
    </fieldset>
    <fieldset id="Details-Notes-Comments" class="card mb-3">
        <h5 class="card-header">Details, notes, comments</h5>
        <div class="card-body">
            <div class="row">
                <div class="col-sm-6 mb-3">
                    <label asp-for="@Model.Invoice.Detail1">Exchange rate...</label>
                    <input type="text" asp-for="@Model.Invoice.Detail1" maxlength="256" placeholder="Ex: 1 EUR = 4.56 RON" class="form-control" />
                </div>
                <div class="col-sm-6 mb-3">
                    <label asp-for="@Model.Invoice.Detail2">Operator who wrote the invoice</label>
                    <input type="text" asp-for="@Model.Invoice.Detail2" maxlength="256" placeholder="Full name, with ID serial and number ..." class="form-control" />
                </div>
                <div class="col-md-6 mb-3">
                    <label asp-for="@Model.Invoice.Detail3">Comments to print on the invoice</label>
                    <textarea asp-for="@Model.Invoice.Detail3" maxlength="256" rows="6" class="form-control"></textarea>
                </div>
                <div class="col-md-6 mb-3">
                    <label asp-for="@Model.Invoice.Detail4">Internal notes, not intended for print</label>
                    <textarea asp-for="@Model.Invoice.Detail4" maxlength="256" rows="6" class="form-control"></textarea>
                </div>
            </div>
        </div>
    </fieldset>
    <div class="submit">
        <a asp-action="View" asp-route-InvoiceID="@Model.Invoice.ID" class="btn btn-warning btn-lg Cancel">Cancel</a>
        <button type="submit" class="btn btn-success btn-lg">Save invoice</button>
    </div>
</form>
<input type="hidden" id="hdnAutoAccountingID" value="@MyApp.ConfigSettings["Billing.Auto-Serials"].ToLower()" />

@section modals {
    <partial name="~/Areas/Billing/Views/HandoverTransports/_PickOnInvoice.cshtml" model="Model.HandoverTransports" />
    <partial name="~/Areas/Billing/Views/HandoverDelegates/_PickOnInvoice.cshtml" model="Model.HandoverDelegates" />
    <partial name="~/Areas/Billing/Views/Customers/_PickOnInvoice.cshtml" />
}

@section scripts {
    <script type="text/javascript" src="~/Areas/Billing/Invoices/Edit.js"></script>
}

