﻿@using BeezMart

@{
    ViewBag.Title = "Invoices";
}

@section head {
    <link rel="stylesheet" href="~/Areas/Billing/Invoices/Index.css" />
}

@section breadcrumb {
    <li class="breadcrumb-item"><a asp-area="Billing" asp-controller="Home" asp-action="Index">Billing</a></li>
    <li class="breadcrumb-item active">Invoices</li>
}

<section id="Primary-Tasks" class="container">
    <div class="card">
        <main class="card-body">
            <div class="row">
                <div class="col-sm-12 col-md-8 col-lg-6 mx-auto">
                    <span class="d-grid my-4"><a asp-action="Recent" asp-controller="Invoices" class="btn btn-lg btn-success"><span class="bi-receipt-cutoff"></span> Recent invoice records</a></span>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-0 col-md-3">&nbsp;</div>
                <div class="col-sm-6 col-md-3">
                    <span class="d-grid mb-3"><a asp-action="Add" asp-controller="Invoices" class="btn btn-primary">Add new invoice</a></span>
                </div>
                <div class="col-sm-6 col-md-3">
                    <span class="d-grid mb-3"><a asp-action="Start" asp-controller="Invoices" class="btn btn-primary">Start from existing</a></span>
                </div>
                <div class="col-sm-0 col-md-3">&nbsp;</div>
            </div>
            <div class="row">
                <div class="col-sm-12 col-md-8 col-lg-6 mx-auto">
                    <span class="d-grid mb-3"><a asp-action="Search" asp-controller="Invoices" class="btn btn-info"><b class="bi-search me-2"></b> Lookup for an invoice</a></span>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-6 col-lg-3">
                    <span class="d-grid"><a asp-area="Billing" asp-action="Drafts" asp-controller="Invoices" class="btn btn-light">Draft invoices</a></span>
                </div>
                <div class="col-sm-6 col-lg-3">
                    <span class="d-grid"><a asp-area="Billing" asp-action="Pending" asp-controller="Invoices" class="btn btn-light">Pending invoices</a></span>
                </div>
                <div class="col-sm-6 col-lg-3">
                    <span class="d-grid"><a asp-area="Billing" asp-action="Index" asp-controller="Payments" class="btn btn-light">Recent payments</a></span>
                </div>
                <div class="col-sm-6 col-lg-3">
                    <span class="d-grid"><a asp-area="Billing" asp-controller="Customers" asp-action="Overdue" class="btn btn-light">Overdue customers</a></span>
                </div>
            </div>
        </main>
        <footer class="card-footer">
            <a asp-area="Billing" asp-controller="Invoices" asp-action="Overdue" class="btn btn-sm btn-outline-secondary">
                <b class="badge bg-secondary">@Html.FormatValue(MyApp.DashboardStats.Billing.OverdueInvoicesValue, "{0:#,##0.00}")</b>
                @MyApp.ConfigSettings["Billing.Default-Currency"]
                in
                <b class="badge bg-secondary">@Html.FormatValue(MyApp.DashboardStats.Billing.OverdueInvoicesCount, "{0:#,##0}")</b>
                Overdue invoices
            </a>
            <a asp-area="Billing" asp-controller="Customers" asp-action="Overdue" class="btn btn-sm btn-outline-secondary">
                <b class="badge bg-secondary">@Html.FormatValue(MyApp.DashboardStats.Billing.TotalOverdueCustomers, "{0:#,##0}")</b>
                Overdue customers
            </a>
            <a asp-area="Billing" asp-controller="Invoices" asp-action="Validated" class="btn btn-sm btn-outline-secondary">
                <b class="badge bg-secondary">@Html.FormatValue(MyApp.DashboardStats.Billing.ValidatedInvoicesValue, "{0:#,##0.00}")</b>
                @MyApp.ConfigSettings["Billing.Default-Currency"]
                in
                <b class="badge bg-secondary">@Html.FormatValue(MyApp.DashboardStats.Billing.ValidatedInvoicesCount, "{0:#,##0}")</b>
                Validated invoices
            </a>
        </footer>
    </div>
</section>

@section scripts {
    @*<script type="text/javascript" src="~/Areas/Billing/Invoices/Index.js"></script>*@
}
