﻿@model BeezMart.Areas.Billing.ViewModels.Invoices.Print_ViewModel

@{
	ViewBag.Title = "Print invoice";
    if (Model == null || Model.Invoice == null) throw new NullReferenceException("ViewModel is null or ViewModel.Invoice is null.");
}

@section head  {
	<link rel="stylesheet" href="~/Areas/Billing/Invoices/Print.css" />
	@Html.Raw(Model.InvoiceCssStyles)
}

@section breadcrumb {
    <li class="breadcrumb-item"><a asp-area="Billing" asp-controller="Home" asp-action="Index">Billing</a></li>
    <li class="breadcrumb-item"><a asp-area="Billing" asp-controller="Invoices" asp-action="Index">Invoices</a></li>
    <li class="breadcrumb-item active">print version</li>
}

@if (Model.Invoice.Status == InvoiceStatus.Cancelled)
{
    <div id="AlertCancelled" class="alert alert-danger">
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        <h4>Cancelled invoice</h4>
        <p>Please note this is a cancelled invoice. It should not be sent to the customer as it was marked as null and void by accounting.</p>
    </div>
}
<div class="AppMessage">
    @Html.Raw(ViewBag.AppMessage)
</div>
<section id="Preview">
	@Html.Raw(Model.InvoiceHtml)
</section>
<input type="hidden" id="hdnIsPrintable" data-url="@Url.Action("PrinterVersionHtml", new { InvoiceID = Model.Invoice.ID })" value="@Model.IsPrintable.ToString()" />

@section scripts {
	<script type="text/javascript" src="~/Areas/Billing/Invoices/Print.js"></script>
}

