﻿@model List<InvoiceModel>

@{
	ViewBag.Title = "Recent invoice records";
    if (Model == null) throw new NullReferenceException("ViewModel is null.");
}

@section head {
	<link rel="stylesheet" href="~/Areas/Billing/Invoices/Recent.css" />
}

@section breadcrumb {
		<li class="breadcrumb-item"><a asp-area="Billing" asp-controller="Home" asp-action="Index">Billing</a></li>
		<li class="breadcrumb-item"><a asp-area="Billing" asp-controller="Invoices" asp-action="Index">Invoices</a></li>
		<li class="breadcrumb-item active">recent</li>
}

<section id="Invoices" class="card">
    <h4 class="card-header">Recent invoices <small>latest 100 records added in database</small></h4>
    <div class="card-body">
        <table class="table table-striped table-hover table-responsive-md">
			<thead>
                <tr>
                    <th>Accounting ID / Issue date</th>
                    <th>status</th>
                    <th>Customer name</th>
                    <th>Total due</th>
                    <th>VAT</th>
                    <th title="The amount that wasn't yet payed by the customer">Remaining</th>
                </tr>
			</thead>
			<tbody>
				@foreach (InvoiceModel invoice in Model) {
					<tr data-id="@invoice.ID">
						<td><a>@(string.IsNullOrWhiteSpace(invoice.AccountingID) ? "[ID NOT SET]" : invoice.AccountingID) / @Html.FormatValue(invoice.IssueDate, "{0:yyyy-MM-dd}")</a></td>
						<td class="@invoice.Status"></td>
						<td>
							@if (invoice.OrganizationID.HasValue) {
								<a data-orgs="@invoice.OrganizationID">@invoice.CustomerName</a>
							}
							else {
								if (invoice.PersonID.HasValue) {
									<a data-pers="@invoice.PersonID">@invoice.CustomerName</a>
								}
								else {
									<text>@invoice.CustomerName</text>
								}
							}
						</td>
						<td><b>@Html.FormatValue(invoice.TotalDue, "{0:#,##0.00}")</b> @invoice.Currency</td>
                        <td>@Html.FormatValue(invoice.TotalVAT, "{0:#,##0.00}")</td>
						<td>@Html.FormatValue(invoice.RemainingToBePayed, "{0:#,##0.00}")</td>
					</tr>
				}
			</tbody>
			<tfoot>
				<tr>
					<td colspan="6">records found: <b>@Model.Count</b></td>
				</tr>
			</tfoot>
		</table>
    </div>
</section>
<section id="Legend">
	<div class="card">
		<h6 class="card-header">Invoice status legend</h6>
		<div class="card-body">
			@*
			<label class="InvoiceStatus Draft"><span class="bi-list-task"></span> Draft</label>
			<label class="InvoiceStatus Validated"><span class="bi-list-task"></span> Validated</label>
			<label class="InvoiceStatus SentToCustomer"><span class="bi-list-task"></span> SentToCustomer</label>
			<label class="InvoiceStatus Closed"><span class="bi-list-task"></span> Closed</label>
			<label class="InvoiceStatus Cancelled"><span class="bi-list-task"></span> Cancelled</label>
			*@
			<label class="InvoiceStatus text-primary"><i class="bi-list-task"></i> Draft</label>
			<label class="InvoiceStatus text-info"><i class="bi-list-task"></i> Validated</label>
			<label class="InvoiceStatus text-warning"><i class="bi-list-task"></i> SentToCustomer</label>
			<label class="InvoiceStatus text-success"><i class="bi-list-task"></i> Closed</label>
			<label class="InvoiceStatus text-secondary"><i class="bi-list-task"></i> Cancelled</label>
		</div>
	</div>
</section>
<input type="hidden" id="hdnViewUrlInvoice" value="@Url.Action("View")" />
<input type="hidden" id="hdnViewUrlCrmOrgs" value="@Url.Action("View", "Organizations", new { Area="CRM" })" />
<input type="hidden" id="hdnViewUrlCrmPers" value="@Url.Action("View", "Persons", new { Area="CRM" })" />

@section scripts {
	<script type="text/javascript" src="~/Areas/Billing/Invoices/Recent.js"></script>
}

