﻿@model BeezMart.Areas.Billing.ViewModels.Invoices.Search_ViewModel
@{
    ViewBag.Title = "Search invoices";
    if (Model == null) throw new NullReferenceException("ViewModel is null.");
    string DefaultCurrency = MyApp.ConfigSettings["Billing.Default-Currency"];
}

@section head {
    <link rel="stylesheet" href="~/Areas/Billing/Invoices/Search.css" />
}

@section breadcrumb {
    <li class="breadcrumb-item"><a asp-area="Billing" asp-controller="Home" asp-action="Index">Billing</a></li>
    <li class="breadcrumb-item"><a asp-area="Billing" asp-controller="Invoices" asp-action="Index">Invoices</a></li>
    <li class="breadcrumb-item active">search</li>
}

@Html.Raw(ViewBag.AppMessage)
<div id="ChangeFilter" class="submit">
    <button onclick="MyPage.Events.btnChangeFilter_Click();" type="button" class="btn btn-primary">Search again: change filter</button>
</div>
<section id="SearchForm" class="card">
    <form asp-action="_Search" method="get">
        <h4 class="card-header">Search invoices</h4>
        <div class="card-body">
            <div id="Basic-Search" class="row">
                <div class="mb-3 col-12 col-sm-6 col-lg-8">
                    <label asp-for="@Model.Customer">Customer name like...</label>
                    <div class="input-group">
                        <input type="text" asp-for="@Model.Customer" maxlength="256" placeholder="Name filter pattern" class="form-control" />
                        <button data-explain="<p>Exact match checkbox:</p><p>When checked, search will not append and prepend * wildcard to customer name criteria. It will try to find an exact name match in the database.</p>" title="About this field" type="button" class="input-group-text"><i class="bi-question-circle"></i></button>
                        <span class="input-group-text"><input type="checkbox" asp-for="@Model.Exact" /></span>
                    </div>
                </div>
                <div class="mb-3 col-6 col-sm-3 col-lg-2">
                    <label asp-for="@Model.After">Issued after</label>
                    <div class="input-group">
                        <input type="text" asp-for="@Model.After" asp-format="{0:yyyy-MM-dd}" maxlength="16" placeholder="yyyy-mm-dd" class="form-control Calendar" />
                        <span class="input-group-append Calendar" role="button">
                            <span class="input-group-text"><b class="bi-calendar3"></b></span>
                        </span>
                    </div>
                </div>
                <div class="mb-3 col-6 col-sm-3 col-lg-2">
                    <label asp-for="@Model.Before">Issued before</label>
                    <div class="input-group">
                        <input type="text" asp-for="@Model.Before" asp-format="{0:yyyy-MM-dd}" maxlength="16" placeholder="yyyy-mm-dd" class="form-control Calendar" />
                        <span class="input-group-append Calendar" role="button">
                            <span class="input-group-text"><b class="bi-calendar3"></b></span>
                        </span>
                    </div>
                </div>
            </div>
            <div id="AdvancedSearch" class="collapse">
                <div class="row">
                    <div class="col-md-6">
                        <div class="mb-3">
                            <label asp-for="@Model.IDs">Search by Invoice ID references</label>
                            <input type="text" asp-for="@Model.IDs" maxlength="1024" placeholder="Comma-separated IDs from database; negative or positive integer numbers" class="form-control" />
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="mb-3">
                            <label asp-for="@Model.AccIDs">Search by Accounting No references</label>
                            <input type="text" asp-for="@Model.AccIDs" maxlength="1024" placeholder="Semicolon-separated IDs as printed on invoices; strings with serials" class="form-control" />
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="mb-3">
                            <label asp-for="@Model.Curr">Currency</label>
                            <input type="text" asp-for="@Model.Curr" maxlength="3" placeholder="Ex: @DefaultCurrency" class="form-control" />
                        </div>
                    </div>
                    <div class="col-md-8">
                        <div class="mb-3">
                            <label>Invoice status</label>
                            <select name="Status" data-selected="@Model.Status" class="form-control">
                                <option value="" selected="selected">=== SELECT TO FILTER BY STATUS ===</option>
                                <option value="@InvoiceStatus.Draft">DRAFT, still working on it</option>
                                <option value="@InvoiceStatus.Validated">VALIDATED, ready to print and send</option>
                                <option value="@InvoiceStatus.SentToCustomer">PENDING, sent to customer</option>
                                <option value="@InvoiceStatus.Cancelled">CANCELLED, null and void</option>
                                <option value="@InvoiceStatus.Closed">CLOSED, paid and archived</option>
                            </select>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="card-footer">
            <div class="row">
                <div class="col" id="btnAdvancedSearch"><a>Advanced search <i class="bi-chevron-down"></i></a></div>
                <div class="col submit"><button type="button" onclick="MyPage.Events.btnSubmit_Click();" class="btn btn-success btn-lg">Search invoices</button></div>
            </div>
        </div>
        <input type="hidden" name="Type" />
    </form>
</section>
<section id="Invoices">
    <ul class="nav nav-tabs">
        <li class="nav-item"><a data-bs-toggle="tab" href="#Regular" class="nav-link active">Regular <span class="badge badge-info">...</span></a></li>
        <li class="nav-item"><a data-bs-toggle="tab" href="#Storno" class="nav-link">Storno <span class="badge badge-info">...</span></a></li>
        <li class="nav-item"><a data-bs-toggle="tab" href="#Advance" class="nav-link">Advance <span class="badge badge-info">...</span></a></li>
        <li class="nav-item"><a data-bs-toggle="tab" href="#Risturn" class="nav-link">Risturn <span class="badge badge-info">...</span></a></li>
        <li class="nav-item"><a data-bs-toggle="tab" href="#Proforma" class="nav-link">Pro-Forma <span class="badge badge-info">...</span></a></li>
    </ul>
    <div class="tab-content">
        <section class="tab-pane active" id="Regular">
            <progress></progress>
            <div class="SearchResults">

            </div>
        </section>
        <section class="tab-pane" id="Storno">
            <progress></progress>
            <div class="SearchResults">

            </div>
        </section>
        <section class="tab-pane" id="Advance">
            <progress></progress>
            <div class="SearchResults">

            </div>
        </section>
        <section class="tab-pane" id="Risturn">
            <progress></progress>
            <div class="SearchResults">

            </div>
        </section>
        <section class="tab-pane" id="Proforma">
            <progress></progress>
            <div class="SearchResults">

            </div>
        </section>
    </div>
</section>
<section id="Legend">
    <div class="card">
        <h6 class="card-header">Invoice status legend</h6>
        <div class="card-body">
            @*
            <label class="InvoiceStatus Draft"><span class="bi-list-task"></span> Draft</label>
            <label class="InvoiceStatus Validated"><span class="bi-list-task"></span> Validated</label>
            <label class="InvoiceStatus SentToCustomer"><span class="bi-list-task"></span> SentToCustomer</label>
            <label class="InvoiceStatus Closed"><span class="bi-list-task"></span> Closed</label>
            <label class="InvoiceStatus Cancelled"><span class="bi-list-task"></span> Cancelled</label>
            *@
            <label class="InvoiceStatus text-primary"><i class="bi-list-task"></i> Draft</label>
            <label class="InvoiceStatus text-info"><i class="bi-list-task"></i> Validated</label>
            <label class="InvoiceStatus text-warning"><i class="bi-list-task"></i> SentToCustomer</label>
            <label class="InvoiceStatus text-success"><i class="bi-list-task"></i> Closed</label>
            <label class="InvoiceStatus text-secondary"><i class="bi-list-task"></i> Cancelled</label>
        </div>
    </div>
</section>
<input type="hidden" id="hdnFilterIsSet" value="@Model.FilterIsSet.ToString().ToLower()" />
<input type="hidden" id="hdnInvoiceViewUrl" value="@Url.Action("View")" />
<input type="hidden" id="hdnCrmOrgsViewUrl" value="@Url.Action("View", "Organizations", new { Area="CRM" })" />
<input type="hidden" id="hdnCrmPersViewUrl" value="@Url.Action("View", "Persons", new { Area="CRM" })" />

@section scripts {
    <script type="text/javascript" src="~/Areas/Billing/Invoices/Search.js"></script>
}

