﻿@{
    ViewBag.Title = "Start new invoice";
}

@section head {
    <link rel="stylesheet" href="~/Areas/Billing/Invoices/Start.css" />
}

@section breadcrumb {
    <li class="breadcrumb-item"><a asp-area="Billing" asp-controller="Home" asp-action="Index">Billing</a></li>
    <li class="breadcrumb-item"><a asp-area="Billing" asp-controller="Invoices" asp-action="Index">Invoices</a></li>
        <li class="active">start new</li>
}

<section id="Search" class="card border-primary mb-3">
    <h4 class="card-header bg-primary">Lookup existing invoicing details</h4>
    <div class="card-body">
        <label for="SearchString">Search for existing invoices or records to use in a new invoice</label>
        <form method="get" asp-action="_Start">
            <div class="input-group">
                <input type="text" id="SearchString" name="SearchString" maxlength="32" class="form-control form-control-lg" placeholder="Customer name, tax ID / VAT code, or invoice accounting ID" />
                <button type="submit" class="input-group-text">Lookup</button>
            </div>
        </form>
        <progress></progress>
    </div>
</section>
<section id="Results"></section>

@section modals {
    <aside id="ModalInvoicingDetails" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true" data-bs-backdrop="static">
        <div class="modal-dialog">
            <div class="modal-content">
                <header class="modal-header">
                    <h4 class="modal-title">Invoicing details</h4>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </header>
                <form asp-action="Start" asp-controller="Invoices" method="post">
                    <input type="hidden" name="OrganizationID" />
                    <input type="hidden" name="PersonID" />
                    <section class="modal-body">
                        <progress></progress>
                        <div class="mb-3">
                            <label>Customer name</label>
                            <input type="text" name="CustomerName" readonly="readonly" maxlength="256" class="form-control" />
                        </div>
                        <div class="row">
                            <div class="mb-3 col-6">
                                <label>City</label>
                                <input type="text" name="City" readonly="readonly" maxlength="64" class="form-control input-sm" />
                            </div>
                            <div class="mb-3 col-6">
                                <label>State or province</label>
                                <input type="text" name="StateProvince" readonly="readonly" maxlength="64" class="form-control input-sm" />
                            </div>
                        </div>
                        <div class="mb-3">
                            <label>Billing address</label>
                            <input type="text" name="StreetAddress1" readonly="readonly" maxlength="256" class="form-control input-sm" />
                        </div>
                        <div class="row">
                            <div class="mb-3 col-4">
                                <label>VAT or tax ID</label>
                                <input type="text" name="TaxID" readonly="readonly" maxlength="16" class="form-control input-sm" />
                            </div>
                            <div class="mb-3 col-8">
                                <label>Registration number</label>
                                <input type="text" name="RegistrationNumber" readonly="readonly" maxlength="32" class="form-control input-sm" />
                            </div>
                        </div>
                        <div class="mb-3">
                            <label>Bank name</label>
                            <input type="text" name="BankName" readonly="readonly" maxlength="128" class="form-control input-sm" />
                        </div>
                        <div class="mb-3">
                            <label>Bank account IBAN</label>
                            <input type="text" name="BankAccountIBAN" readonly="readonly" maxlength="64" class="form-control input-sm" />
                        </div>
                    </section>
                    <input type="hidden" name="BillingAddressID" />
                    <input type="hidden" name="BankAccountID" />
                    <footer class="modal-footer">
                        <button type="button" class="btn btn-light" data-bs-dismiss="modal">Cancel</button>
                        <button type="submit" class="btn btn-primary">Create invoice</button>
                    </footer>
                </form>
            </div>
        </div>
    </aside>
}

@section scripts {
    <script type="text/javascript" src="~/Areas/Billing/Invoices/Start.js"></script>
}

