﻿@model BeezMart.Areas.Billing.ViewModels.Invoices.Validated_ViewModel

@{
	ViewBag.Title = "Validated invoices";
    if (Model == null) throw new NullReferenceException("ViewModel is null.");
	string DefaultCurrency = MyApp.ConfigSettings["Billing.Default-Currency"];
}

@section head {
	<link rel="stylesheet" href="~/Areas/Billing/Invoices/Validated.css" />
}

@section breadcrumb {
		<li class="breadcrumb-item"><a asp-area="Billing" asp-controller="Home" asp-action="Index">Billing</a></li>
		<li class="breadcrumb-item"><a asp-area="Billing" asp-controller="Invoices" asp-action="Index">Invoices</a></li>
		<li class="breadcrumb-item active">validated</li>
}

<section id="Currencies" class="card" data-value="@DefaultCurrency.ToUpper()">
    <h4 class="card-header">Validated invoices <small>by currency</small></h4>
	<div class="card-body">
		<div class="btn-group btn-group-lg">
			@if (Model.InvoiceCountsByCurrency != null)
			{
				foreach (string key in Model.InvoiceCountsByCurrency.Keys)
				{
					<button data-value="@key.ToUpper()" type="button" class="btn btn-light">@key.ToUpper() <span class="badge badge-light">@Model.InvoiceCountsByCurrency[key]</span></button>
				}
			}
		</div>
	</div>
</section>
<section id="Invoices">
    <ul class="nav nav-tabs">
        <li class="nav-item"><a data-bs-toggle="tab" href="#Regular" class="nav-link active">Regular <span class="badge badge-info">0</span></a></li>
        <li class="nav-item"><a data-bs-toggle="tab" href="#Storno" class="nav-link">Storno <span class="badge badge-info">0</span></a></li>
        <li class="nav-item"><a data-bs-toggle="tab" href="#Advance" class="nav-link">Advance <span class="badge badge-info">0</span></a></li>
        <li class="nav-item"><a data-bs-toggle="tab" href="#Risturn" class="nav-link">Risturn <span class="badge badge-info">0</span></a></li>
        <li class="nav-item"><a data-bs-toggle="tab" href="#Proforma" class="nav-link">Pro-Forma <span class="badge badge-info">0</span></a></li>
    </ul>
	<div class="tab-content">
		<section class="tab-pane active" id="Regular">
			<progress></progress>
			<div data-source="@Url.Action("_Validated", new { Type = InvoiceType.Regular, Currency = DefaultCurrency })">
			</div>
		</section>
		<section class="tab-pane" id="Storno">
			<progress></progress>
			<div data-source="@Url.Action("_Validated", new { Type = InvoiceType.Storno, Currency = DefaultCurrency })">
			</div>
		</section>
		<section class="tab-pane" id="Advance">
			<progress></progress>
			<div data-source="@Url.Action("_Validated", new { Type = InvoiceType.Advance, Currency = DefaultCurrency })">
			</div>
		</section>
		<section class="tab-pane" id="Risturn">
			<progress></progress>
			<div data-source="@Url.Action("_Validated", new { Type = InvoiceType.Risturn, Currency = DefaultCurrency })">
			</div>
		</section>
		<section class="tab-pane" id="Proforma">
			<progress></progress>
			<div data-source="@Url.Action("_Validated", new { Type = InvoiceType.ProForma, Currency = DefaultCurrency })">
			</div>
		</section>
	</div>
</section>
<input type="hidden" id="hdnViewUrlInvoice" value="@Url.Action("View")" />
<input type="hidden" id="hdnViewUrlCrmOrgs" value="@Url.Action("View", "Organizations", new { Area="CRM" })" />
<input type="hidden" id="hdnViewUrlCrmPers" value="@Url.Action("View", "Persons", new { Area="CRM" })" />

@section scripts {
	<script type="text/javascript" src="~/Areas/Billing/Invoices/Validated.js"></script>
}

