﻿@using InvoiceItems = BeezMart.Areas.Billing.ViewModels.InvoiceItems
@using Payments = BeezMart.Areas.Billing.ViewModels.Payments

@model BeezMart.Areas.Billing.ViewModels.Invoices.View_ViewModel

@{
    if (Model == null || Model.Invoice == null) throw new NullReferenceException("ViewModel is null or ViewModel.Invoice is null.");
    ViewBag.Title = "Invoice, " + Model.Invoice.CustomerName;
    InvoiceItems.Edit_ViewModel invoiceItem = new InvoiceItems.Edit_ViewModel() { InvoiceID = Model.Invoice.ID };
    Payments._OnInvoiceEdit_ViewModel payment = new Payments._OnInvoiceEdit_ViewModel() { InvoiceID = Model.Invoice.ID };
}

@section head {
    <link rel="stylesheet" href="~/Areas/Billing/Invoices/View.css" />
}

@section breadcrumb {
    <li class="breadcrumb-item"><a asp-area="Billing" asp-controller="Home" asp-action="Index">Billing</a></li>
    <li class="breadcrumb-item"><a asp-area="Billing" asp-controller="Invoices" asp-action="Index">Invoices</a></li>
    <li class="breadcrumb-item active">view</li>
}

<section id="Title" class="card mb-3">
    <h4 class="card-header">
        @if (string.IsNullOrWhiteSpace(Model.Invoice.AccountingID)) {
            <small>@Model.Invoice.Status / @Model.Invoice.IssueDate.ToString("yyyy-MM-dd")</small>
        }
        else { 
            <small>@Model.Invoice.AccountingID / @Model.Invoice.IssueDate.ToString("yyyy-MM-dd")</small>
        }
        <span>@Model.Invoice.CustomerName</span>
        <strong>@Model.Invoice.TotalDue.ToString("#,##0.00")</strong>
        <small>@Model.Invoice.Currency</small>
        <small class="text-secondary ms-4">@Model.Invoice.Type</small>
    </h4>
    <div class="card-body">
        <div class="row">
            <div class="col-sm-6">
                <div id="Status" data-status="@Model.Invoice.Status" class="btn-group">
                    <button type="button" class="btn btn-primary" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><b>Draft</b>, still working on it</button>
                    <button type="button" class="btn btn-primary dropdown-toggle dropdown-toggle-split" data-bs-toggle="dropdown" aria-expanded="false">
                        <span class="visually-hidden">Toggle Dropdown</span>
                    </button>
                    <ul class="dropdown-menu" role="menu">
                        <li class="dropdown-item" data-value="@InvoiceStatus.Draft"><a><b>Draft</b>, still working on it</a></li>
                        <li class="dropdown-item" data-value="@InvoiceStatus.Validated"><a><b>Validated</b>, ready to print and send</a></li>
                        <li class="dropdown-item" data-value="@InvoiceStatus.SentToCustomer"><a data-href="@Url.Action("Print")"><b>Pending</b>, sent to customer</a></li>
                        <li class="dropdown-item" data-value="@InvoiceStatus.Cancelled"><a><b>Cancelled</b>, null and void</a></li>
                        <li class="dropdown-item" data-value="@InvoiceStatus.Closed"><a><b>Closed</b>, paid and archived</a></li>
                    </ul>
                </div>
            </div>
            <div class="col-sm-6">
                <a id="btnEdit1" class="btn btn-info" asp-action="Edit" asp-route-InvoiceID="@Model.Invoice.ID">Edit fields</a>
                <a id="btnPreview" class="btn btn-info" asp-action="Preview" asp-route-InvoiceID="@Model.Invoice.ID">Print preview</a>
                <button id="btnPrint" type="button" class="btn btn-success" onclick="btnPrint_Click();">Print for sending</button>
            </div>
        </div>
    </div>
</section>
<input type="hidden" id="hdnInvoiceIsEditable" value="@Model.IsEditable.ToString().ToLower()" />
<section id="InvoiceItems" class="card mb-3">
    <h5 class="card-header">Invoice items</h5>
    <div class="card-body">
        <progress></progress>
        <div id="InvoiceItemsList" data-source="@Url.Action("_OnInvoiceList", "InvoiceItems", new { InvoiceID = @Model.Invoice.ID })">

        </div>
    </div>
    <div class="card-footer">
        <div class="row">
            <div id="TotalDue" class="col-8">
                Total due:
                <strong class="text-info">@Model.Invoice.TotalDue.ToString("#,##0.00")</strong>
                <small class="text-secondary">@Model.Invoice.Currency</small>
            </div>
            <div class="col-4 submit"><button type="button" class="btn btn-info btn-sm" data-bs-toggle="modal"  data-bs-target="#ModalEditInvoiceItem">Add new item</button></div>
        </div>
    </div>
</section>
<section id="Fields" class="card">
    <h5 class="card-header">Invoice fields</h5>
    <div class="card-body">
        <div class="row">
            <div class="col-md-6">
                <table>
                    <tr>
                        <td>Invoice no</td>
                        <td>
                            @if (string.IsNullOrEmpty(Model.Invoice.AccountingID))
                            {
                                if (MyApp.ConfigSettings["Billing.Auto-Serials"] == "true")
                                {
                                    <span class="text-success" style="cursor: help;" title="Auto-generated by application upon printing of the invoice">[ AUTO ]</span>
                                }
                                else
                                {
                                    <span class="text-danger">[ not set ]</span>
                                }
                            }
                            else
                            {
                                <text>@Model.Invoice.AccountingID</text>
                            }
                        </td>
                    </tr>
                    <tr>
                        <td>Issued on</td>
                        <td>@Model.Invoice.IssueDate.ToString("yyyy-MM-dd")</td>
                    </tr>
                    <tr>
                        <td>Due date</td>
                        <td>
                            @if (Model.Invoice.DueDate.HasValue) {<text>@Model.Invoice.DueDate.Value.ToString("yyyy-MM-dd")</text> }
                            else { <span>NOT SET</span>}
                        </td>
                    </tr>
                    <tr>
                        <td>Total due</td>
                        <td><span id="TotalDueEssentials">@Model.Invoice.TotalDue.ToString("#,##0.00")</span> <span id="Currency">@Model.Invoice.Currency</span></td>
                    </tr>
                    <tr>
                        <td>VAT</td>
                        <td>@Model.Invoice.VATpercentage.ToString("#,##0.00") %</td>
                    </tr>
                    <tr>
                        <td>Type</td>
                        <td>@Model.Invoice.Type</td>
                    </tr>
                </table>
            </div>
            <div class="col-md-6">
                <table>
                    <tr>
                        <td>Customer</td>
                        <td>@Model.Invoice.CustomerName</td>
                    </tr>
                    <tr>
                        <td>Registration</td>
                        <td>@Model.Invoice.CustomerRegistrationNumber</td>
                    </tr>
                    <tr>
                        <td>Tax ID</td>
                        <td>@Model.Invoice.CustomerTaxID</td>
                    </tr>
                    <tr>
                        <td>Address</td>
                        <td>@Model.Invoice.CustomerAddress<br />@Model.Invoice.CustomerCity@Html.FormatValue(Model.Invoice.CustomerProvince, ", {0}")</td>
                    </tr>
                    <tr>
                        <td>Account</td>
                        <td>@Html.Raw(Html.FormatValue(Model.Invoice.CustomerBankAccount, "{0}<br />"))@Model.Invoice.CustomerBankName</td>
                    </tr>
                </table>
            </div>
        </div>
        <div id="Details" class="collapse">
            <p>@Model.Invoice.Detail1</p>
            <p>@Model.Invoice.Detail2</p>
            <p>@Model.Invoice.Detail3</p>
            <p>@Model.Invoice.Detail4</p>
            <div class="row">
                <div class="col-md-6">
                    <table>
                        <tr>
                            <td>Delegate</td>
                            <td>@Model.Invoice.DelegateName</td>
                        </tr>
                        <tr>
                            <td>ID Serial</td>
                            <td>@Model.Invoice.DelegateID1</td>
                        </tr>
                        <tr>
                            <td>ID Number</td>
                            <td>@Model.Invoice.DelegateID2</td>
                        </tr>
                        <tr>
                            <td>ID Issuer</td>
                            <td>@Model.Invoice.DelegateID3</td>
                        </tr>
                    </table>
                </div>
                <div class="col-md-6">
                    <table>
                        <tr>
                            <td>Delivery means</td>
                            <td>
                                @Model.Invoice.TransportDetail1
                                @if (string.IsNullOrEmpty(Model.Invoice.TransportDetail1)) { <text>@Model.Invoice.TransportDetail2</text> }
                                else { <text>&bull; @Model.Invoice.TransportDetail2</text> }
                            </td>
                        </tr>
                        <tr>
                            <td>Delivered on</td>
                            <td>@Model.Invoice.TransportDetail3</td>
                        </tr>
                        <tr>
                            <td>Delivered at</td>
                            <td>@Model.Invoice.TransportDetail4</td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <div class="card-footer">
        <div class="row">
            <div id="btnDetails" class="col-sm-4">
                <a data-bs-target="#Details" data-bs-toggle="collapse">Details <i class="bi-chevron-down"></i></a>
            </div>
            <div class="col-sm-8 submit">
                <a id="btnEdit2" class="btn btn-info btn-sm" asp-action="Edit" asp-route-InvoiceID="@Model.Invoice.ID">Edit invoice fields</a>
            </div>
        </div>
    </div>
</section>
@if (Model.IsPayable) {
    <fieldset id="Payments" class="card mt-3">
        <h5 class="card-header">Payments</h5>
        <div class="card-body">
            <progress></progress>
            <div id="PaymentsList" data-source="@Url.Action("_OnInvoiceList", "Payments", new { InvoiceID = Model.Invoice.ID, TotalDue = Model.Invoice.TotalDue })">

            </div>
        </div>
        <div class="card-footer submit">
            <button type="button" class="btn btn-sm btn-secondary" data-bs-toggle="modal"  data-bs-target="#ModalEditPayment">Add payment</button>
        </div>
    </fieldset>
}
<section id="Operations">
    <a class="btn btn-secondary btn-sm" asp-action="Duplicate" asp-route-InvoiceID="@Model.Invoice.ID">Duplicate this invoice</a>
    <a class="btn btn-secondary btn-sm" asp-action="Stornate" asp-route-InvoiceID="@Model.Invoice.ID">Stornate this invoice</a>
</section>
<input type="hidden" id="hdnInvoiceID" value="@Model.Invoice.ID" />
<input type="hidden" id="hdnInvoiceStatus" value="@Model.Invoice.Status" />
<input type="hidden" id="hdnAutoAccountingID" value="@MyApp.ConfigSettings["Billing.Auto-Serials"]" />
<form asp-action="_ChangeStatus" asp-controller="Invoices" method="post" id="frmChangeStatus">
    <input type="hidden" name="InvoiceID" value="@Model.Invoice.ID" />
    <input type="hidden" name="NewStatus" value="Draft" />
</form>

@section modals {
    <partial name="~/Areas/Billing/Views/InvoiceItems/_OnInvoiceEdit.cshtml" model="invoiceItem" />
    <partial name="~/Areas/Billing/Views/Payments/_OnInvoiceEdit.cshtml" model="payment" />
    <aside id="ModalChangeStatusMessage" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true" data-bs-backdrop="static">
        <div class="modal-dialog">
            <div class="modal-content">
                <header class="modal-header">
                    <h4 class="modal-title">Changing status for invoice...</h4>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </header>
                <section class="modal-body">
                    <progress></progress>
                    <div id="ChangeStatusMessage">

                    </div>
                </section>
                <footer class="modal-footer">
                    <button type="button" class="btn btn-light" data-bs-dismiss="modal">OK</button>
                </footer>
            </div>
        </div>
    </aside>
    <aside id="ModalPrintAndLock" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true" data-bs-backdrop="static">
        <div class="modal-dialog">
            <div class="modal-content">
                <header class="modal-header">
                    <h4 class="modal-title">Print, send to customer, lock...</h4>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </header>
                <section class="modal-body">
                    <h5>Warning!</h5>
                    <p>When you ask for the final print version of the invoice through the <span>Print for sending</span> page, the application assumes you are sending the invoice to the customer.</p>
                    <p>Therefore, the invoice is automatically marked as <span>Pending</span>, or <i>sent to customer</i>.</p>
                    <p>Once the invoice reaches <span>Pending</span> stage, no further edits will be possible on it; only payments may be recorded for the invoice.</p>
                </section>
                <footer class="modal-footer">
                    <button type="button" class="btn btn-light" data-bs-dismiss="modal">Don't lock</button>
                    <a asp-action="Print" asp-route-InvoiceID="@Model.Invoice.ID" class="btn btn-warning"><b class='bi-download'></b> Download printer version and lock</a>
                </footer>
            </div>
        </div>
    </aside>
}

@section scripts {
    <script type="text/javascript" src="~/Areas/Billing/Invoices/View.js"></script>
}

