﻿@using BeezMart.Areas.Archiving.ViewModels.Files;
@model BeezMart.Areas.Archiving.ViewModels.Files.Index_ViewModel
@{
    if (Model == null || Model.FileNames == null) throw new NullReferenceException("ViewModel is null or ViewModel.FileNames is null.");
}
@Html.Raw(ViewBag.AppMessage)
<table class="table table-striped table-hover table-sm">
    <tbody>
        @foreach (string fileName in Model.FileNames)
        {
            <tr data-id="@System.Net.WebUtility.UrlEncode(fileName)">
                <td><i class="@FileIcons.GetClassNameForFileName(fileName)"></i></td>
                <td><a>@System.Net.WebUtility.UrlDecode(fileName)</a></td>
                <td>
                    <a title="Rename"><b class="bi-pencil-square"></b></a>
                    <a title="Delete"><b class="bi-trash"></b></a>
                </td>
            </tr>
        }
    </tbody>
    <tfoot>
        <tr>
            <td colspan="3">files found: <b>@Model.FileNames.Count().ToString("#,##0")</b></td>
        </tr>
    </tfoot>
</table>