﻿@{
    ViewBag.Title = "Health check";
    Layout = "_LayoutSimple";
}

@section head {
	<link rel="stylesheet" href="~/Views/Health/Index.css" />
}

@section breadcrumb {
    @*
    <ol class="breadcrumb">
    <li class="breadcrumb-item active">health check</li>
    </ol>
    *@
}

<section id="Health" class="row">
    <div class="col-1 col-sm-2 col-md-3 col-lg-4">&nbsp;</div>
    <div class="col-10 col-sm-8 col-md-6 col-lg-4">
        <p class="lead">Basic health-check looks good</p>
        <div><a asp-area="" asp-controller="Home" asp-action="Index" title="BeezMart start page" class="btn btn-success btn-lg">BeezMart is online</a></div>
    </div>
    <div class="col-1 col-sm-2 col-md-3 col-lg-4">&nbsp;</div>
</section>


@section scripts {
	@*<script type="text/javascript" src="~/Views/Health/Index.js"></script>*@
}