﻿progress { display: none; }
#ResetPasswordResultMessage { margin-top: 2.0em; }
#ModalResetPassword div.form-group:nth-child(1) span { margin-left: 1.0em; }
#ModalResetPassword div.form-group:nth-child(1) span a { font-weight: 600; }
