﻿table.table thead th:last-child { text-align: right; }
table.table tbody td:first-child { font-weight: 600; }
table.table tbody td:last-child { color: #C0C0C0; text-align: right; }
table.table tfoot td:last-child { text-align:right; }
#User-Roles { margin-top: 2.0em; }