﻿@{
    ViewBag.Title = "Archiving";
    if (Model == null) throw new NullReferenceException("ViewModel is null.");
    string? urlForDocumentView = Url.Action("View", "Documents");
}

@section head {
    <link rel="stylesheet" href="~/Areas/Archiving/Home/Index.css" />
}

@section breadcrumb {
    <li class="breadcrumb-item"><a asp-area="Archiving" asp-controller="Home" asp-action="Index">Archiving</a></li>
}

@Html.Raw(ViewBag.AppMessage)
<section id="Area-Navigation" class="d-lg-none">
    <a asp-area="Archiving" asp-controller="Documents" asp-action="Index" class="btn btn-primary btn-lg">Documents</a>
    <div class="row">
        <div class="col-sm-6"><a asp-area="Archiving" asp-controller="Documents" asp-action="Search" class="btn btn-info">Search</a></div>
        <div class="col-sm-6"><a asp-area="Archiving" asp-controller="Documents" asp-action="Add" class="btn btn-info">Add new</a></div>
    </div>
</section>
<section id="Documents" class="card">
    <h2 class="card-header">Current documents <small>The latest document records added</small></h2>
    <div class="card-body">
        <p>Click on the document name to see the details or download archived files.</p>
        <table class="table table-striped table-hover table-responsive-md">
            <thead>
                <tr>
                    <th>Document name</th>
                    <th>Category</th>
                    <th>Document date</th>
                    <th>Added on</th>
                    <th>Status</th>
                </tr>
            </thead>
            <tbody>
                @foreach (DocumentModel document in @Model.Documents)
                {
                <tr data-id="@document.ID">
                    <td><a>@document.Title</a></td>
                    <td>
                        @if (document.CategoryID.HasValue) {<text>@Model.CategoryNames[document.CategoryID.Value]</text>}
                    </td>
                    <td>@Html.FormatValue(document.DocumentDate, "{0:yyyy-MM-dd}")</td>
                    <td>@Html.FormatValue(document.AddedOn, "{0:yyyy-MM-dd}")</td>
                    <td class="@document.Status">@document.Status</td>
                </tr>
                }
            </tbody>
            <tfoot>
                <tr>
                    <td colspan="5">records found: <b>@Model.Documents.Count.ToString("#,##0")</b></td>
                </tr>
            </tfoot>
        </table>
    </div>
    <div class="card-footer submit">
        @if (User.IsInRole(BeezMart.Security.UserRoles.UserForDocumentManagement))
        {
            <a asp-controller="Documents" asp-action="Add" class="btn btn-primary"><b class="bi-plus-circle me-2"></b> Add a new document</a>
        }
    </div>
</section>
<input type="hidden" id="hdnDocumentViewUrl" value="@urlForDocumentView" />

@section scripts {
    <script src="~/Areas/Archiving/Home/Index.js" type="text/javascript"></script>
}