﻿
#CRM, #Invoicing, #Administrators {
    margin: 2.0em auto;
}

#LoginAccount, #LoginEntra {
    text-align: center;
}

    #LoginAccount p, #LoginEntra p {
        margin: 2.0em auto;
    }

@media (min-height: 700px) {
    #LoginAccount, #LoginEntra, #Administrators {
        margin: 4.0em auto;
    }
        #LoginAccount p, #LoginEntra p {
            margin: 3.0em auto;
        }
}

@media (min-height: 900px) {
    #LoginAccount, #LoginEntra, #Administrators {
        margin: 6.0em auto;
    }
        #LoginAccount p, #LoginEntra p {
            margin: 4.0em auto;
        }
}

@media (min-height: 1100px) {
    #LoginAccount, #LoginEntra, #Administrators {
        margin: 8.0em auto;
    }
        #LoginAccount p, #LoginEntra p {
            margin: 5.0em auto;
        }
}
