﻿progress { margin-top: 1.0em; margin-bottom: 1.0em; display: none; }
#ChangeFilter { display: none; }
#SearchResults { margin-top: 1.0em; padding-top: 1.0em; }
#SearchResults table tbody tr td:nth-child(2) { font-weight: 600; }
#SearchResults table tfoot tr td:nth-child(1) { text-align: left; }
#SearchResults table tfoot tr td:nth-child(2) { text-align: right; }
