﻿progress { display: none; }
#Addresses p b { font-weight: 600; }
#CoreAttributes { margin-bottom: 1.0em; }
#OtherAddresses table.table tbody tr td:nth-child(5) { text-align: right; }
#Details { margin-top: 1.0em; }
#DetailsTabSelector { font-weight: bold; }

ul.list-group li { cursor: pointer; }

#ContactsListContainer { margin-top: 1.0em; }
#ContactsListContainer thead th { font-weight: normal; }
#ContactsListContainer tbody tr td:nth-child(3) { text-align: right; }
#ContactsListContainer tbody tr td:nth-child(3) a { cursor: no-drop; font-weight: bold; color: #ff6a00; }

#FlagsListContainer { margin-top: 1.0em; }
#FlagsListContainer thead th { font-weight: normal; }
#FlagsListContainer tbody tr td:nth-child(2) { cursor: help; }
#FlagsListContainer tbody tr td:nth-child(3) { text-align: right; }
#FlagsListContainer tbody tr td:nth-child(3) a { cursor: no-drop; font-weight: bold; color: #ff6a00; }
#FlagList { list-style-type: none; margin: 0; padding: 0; }
#FlagList li { margin: 0.4em 0; padding: 0px; }
#FlagList input { margin-right: 0.6em; }
#FlagList label { font-weight: bold; }

#IntegersListContainer { margin-top: 1.0em; }
#IntegersListContainer thead th { font-weight: normal; }
#IntegersListContainer tbody tr td:nth-child(2) { cursor: help; }
#IntegersListContainer tbody tr td:nth-child(3) { text-align: right; }
#IntegersListContainer tbody tr td:nth-child(4) { text-align: right; }
#IntegersListContainer tbody tr td:nth-child(4) a { cursor: no-drop; font-weight: bold; color: #ff6a00; }
#IntegerList { list-style-type: none; margin: 0; padding: 0; }
#IntegerList li { margin: 0.4em 0; padding: 0px; }
#IntegerList input { margin-right: 0.6em; }
#IntegerList label { font-weight: bold; }

#StringsListContainer { margin-top: 1.0em; }
#StringsListContainer thead th { font-weight: normal; }
#StringsListContainer tbody tr td:nth-child(2) { cursor: help; }
#StringsListContainer tbody tr td:nth-child(4) { text-align: right; }
#StringsListContainer tbody tr td:nth-child(4) a { cursor: no-drop; font-weight: bold; color: #ff6a00; }
#StringList { list-style-type: none; margin: 0; padding: 0; }
#StringList li { margin: 0.4em 0; padding: 0px; }
#StringList input { margin-right: 0.6em; }
#StringList label { font-weight: bold; }

#HugetextsListContainer { margin-top: 1.0em; }
#HugetextsListContainer thead th { font-weight: normal; }
#HugetextsListContainer table.table > tbody > tr > td:nth-child(2) { font-weight: 600; }
#HugetextsListContainer table.table > tbody > tr > td:nth-child(3) { font-weight: 600; text-align: right; width: 40px; }
#HugetextsListContainer table.table > tbody > tr > td:nth-child(3) > a { width: 20px; }
#HugetextsListContainer table.table > tbody > tr > td:nth-child(4) { font-weight: bold; text-align: right; width: 30px; }
#HugetextsListContainer table.table > tbody > tr > td:nth-child(4) > a { cursor: no-drop; font-weight: bold; color: #ff6a00; }
#HugetextsListContainer table.table > tbody > tr.expanded > td { }
#HugetextsListContainer table.table > tbody > tr:nth-child(2n) { color: #808080; border-top: none 0px transparent; display: none; }
#HugetextsListContainer table.table > tbody > tr:nth-child(2n) > td { border-top: none 0px transparent; }
#HugetextsListContainer table.table > tbody > tr:nth-child(2n) > td > div { padding-bottom: 2.0em; display: none; }
#HugetextsListContainer table.table > tbody > tr:nth-child(2n) > td progress { display: block; width: 100%; }
#HugetextsListContainer table.table > tfoot > tr > td { text-align: right; }

#RelationsListContainer { margin-top: 1.0em; }
#RelationsListContainer thead th { font-weight: normal; }
#RelationsListContainer tbody tr td:nth-child(1) { color: #C0C0C0; }
#RelationsListContainer tbody tr td:nth-child(1) a { font-variant: small-caps; font-weight: 600; margin-right: 2.0em; }
#RelationsListContainer tbody tr td:nth-child(2) { color: #A0A0A0; }
#RelationsListContainer tbody tr td:nth-child(2) a { margin-right: 0.4em; }
#RelationsListContainer tbody tr td:nth-child(3) { text-align: right; }
#RelationsListContainer tbody tr td:nth-child(3) a { cursor: no-drop; font-weight: bold; color: #ff6a00; }
#LookupPersonResult { padding-top: 1.0em; }
#LookupPersonResult tbody td:nth-child(2) { font-weight: 600; }
#JobTypesList { list-style-type: none; margin: 0; padding: 0; }
#JobTypesList li { margin: 0.4em 0; padding: 0px; }
#JobTypesList input { margin-right: 0.6em; }
#JobTypesList label { font-weight: 600; }

#ActivitiesListContainer { margin-top: 1.0em; }
#ActivitiesListContainer progress { display: block; margin-top: 20px; }
#ActivitiesListContainer thead th { font-weight: normal; }
#ActivitiesListContainer tbody td:last-child { text-align: right; }
#ActivitiesListContainer tbody a { font-weight: 600; }
#ActivitiesListContainer tfoot td:last-child { text-align: right; }
