﻿@model BeezMart.Areas.TimeSheet.ViewModels.Home.Index_ViewModel

@{
    if (Model == null || Model.Projects == null) throw new NullReferenceException("ViewModel is null or ViewModel.Projects is null.");
    ViewBag.Title = "TimeSheet";
}

@section head {
    <link rel="stylesheet" href="~/Areas/TimeSheet/Home/Index.css" />
}

@section breadcrumb {
    <li><a asp-area="TimeSheet" asp-controller="Home" asp-action="Index">TimeSheet</a></li>
}

@Html.Raw(ViewBag.AppMessage)
<section id="Projects" class="card">
    <h4 class="card-header">Current projects <small>The latest project records added</small></h4>
    <div class="card-body">
        <p>Click on the project name to see the details. Click on the plus (+) sign in the right to add a new activity log for the project.</p>
        <table class="table table-striped table-hover table-responsive-md">
            <thead>
                <tr>
                    <th>Project name</th>
                    <th>Customer</th>
                    <th>Time-frame</th>
                    <th>Status</th>
                    <th title="Add activity"><i class="bi-plus-circle"></i></th>
                </tr>
            </thead>
            <tbody>
                @foreach (ProjectModel project in @Model.Projects)
                {
                    <tr data-id="@project.ID">
                        <td><a>@project.Title</a></td>
                        <td>
                            @if (project.OrganizationID.HasValue)
                            {
                                <a data-orgs="@project.OrganizationID">@project.CustomerName</a>
                            }
                            else
                            {
                                if (project.PersonID.HasValue)
                                {
                                    <a data-pers="@project.PersonID">@project.CustomerName</a>
                                }
                                else
                                {
                                    <text>@project.CustomerName</text>
                                }
                            }
                        </td>
                        <td>@Html.FormatValue(project.ScheduledStart, "{0:yyyy-MM-dd}") to @Html.FormatValue(project.ScheduledEnd, "{0:yyyy-MM-dd}")</td>
                        <td class="@project.Status">@project.Status</td>
                        <td><a><i class="bi-plus-circle"></i></a></td>
                    </tr>
                }
            </tbody>
            <tfoot>
                <tr>
                    <td colspan="5">records found: <b>@Model.Projects.Count.ToString("#,##0")</b></td>
                </tr>
            </tfoot>
        </table>
    </div>
    <div class="card-footer submit">
        @if (User.IsInRole(BeezMart.Security.UserRoles.UserForProjectManagement))
        {
            <a asp-controller="Projects" asp-action="Add" class="btn btn-primary"><b class="bi-diagram-2"></b> Add a new project</a>
        }
        <a asp-controller="Activities" asp-action="Index" class="btn btn-info"><b class="bi-list-task"></b> Activities</a>
    </div>
</section>
<input type="hidden" id="hdnActivityAddUrl" value="@Url.Action("Add", "Activities")" />
<input type="hidden" id="hdnProjectViewUrl" value="@Url.Action("View", "Projects")" />
<input type="hidden" id="hdnCrmOrgsViewUrl" value="@Url.Action("View", "Organizations", new { Area="CRM" })" />
<input type="hidden" id="hdnCrmPersViewUrl" value="@Url.Action("View", "Persons", new { Area="CRM" })" />

@section scripts {
    <script src="~/Areas/TimeSheet/Home/Index.js" type="text/javascript"></script>
}