﻿progress { margin-top: 1.0em; margin-bottom: 1.0em; display: none; }

#Payments { margin-top: 2.0em; }
#Payments thead tr th:last-child { text-align: right; }
#Payments thead tr th:nth-child(2) { text-align: right; }
#Payments thead tr th:nth-child(3) { text-align: center; }
#Payments tbody tr td:first-child a { font-weight: 600; }
#Payments tbody tr td:nth-child(2) { text-align: right; }
#Payments tbody tr td:nth-child(3) { text-align: right; }
#Payments tbody tr td:nth-child(5) { font-weight: bold; }
#Payments tbody tr td:last-child { text-align: right; }
#Payments tbody tr td:last-child a { cursor: no-drop; font-weight: bold; color: #ff6a00; }