﻿table#Items thead th:nth-child(4) { text-align: right; }
table#Items thead th[title] { cursor: help; }
table#Items tbody tr td:nth-child(1) { font-weight: 600; }
table#Items tbody tr td:nth-child(2) { font-weight: 600; }
table#Items tbody tr td:nth-child(4) { text-align: right; }
