﻿@{
    ViewBag.Title = "Archiving Documents taxonomy and attributes";
}

@section head {
    <link rel="stylesheet" href="~/Areas/Admin/ArchivingDocuments/Index.css" />
}

@section breadcrumb {
    <li class="breadcrumb-item"><a asp-area="Admin" asp-controller="Home" asp-action="Index">Administration</a></li>
    <li class="breadcrumb-item active">Archiving documents</li>
}

<div class="row">
    <div class="col-sm-6">
        <div class="card">
            <h4 class="card-header">Taxonomy and attributes for archiving documents</h4>
            <div class="card-body">
                <div class="list-group">
                    <a asp-action="Categories" class="list-group-item list-group-item-action">Documents categories</a>
                </div>
            </div>
        </div>
    </div>
    <div class="col-sm-6">
        &nbsp;
    </div>
</div>

@section scripts {
    @*<script type="text/javascript" src="~/Areas/Admin/ArchivingDocuments/Index.js"></script>*@
}