﻿progress { margin-top: 1.0em; margin-bottom: 1.0em; display: none; }

a[data-bs-toggle] { font-variant: small-caps; }

#ChangeFilter { display: none; padding-top: 2.0em; text-align: right; }

#SearchForm { padding-top: 1.0em; }

#SearchResults { margin-top: 1.0em; padding-top: 1.0em; }
#SearchResults table tbody tr td:nth-child(2) { font-weight: 600; }
#SearchResults table tfoot tr td:last-child { text-align: right; }
