﻿@{
	ViewBag.Title = "BeezMart app administration";
}

@section head {
	<link rel="stylesheet" href="~/Areas/Admin/Home/Index.css" />
}

@section breadcrumb {
    <li class="breadcrumb-item active"><a asp-area="Admin" asp-controller="Home" asp-action="Index">Administration</a></li>
}

<div class="row">
    <div class="col-md-4">
        <div class="card border-warning">
            <h4 class="card-header">Security, access</h4>
            <div class="card-body">
                <div class="list-group">
                    <a asp-area="Admin" asp-controller="Users" asp-action="Index" class="list-group-item list-group-item-action">User accounts</a>
                    <a asp-area="Admin" asp-controller="Users" asp-action="Add" class="list-group-item list-group-item-action">Create new account</a>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="card border-warning mb-3">
            <h4 class="card-header">CRM config</h4>
            <div class="card-body">
                <div class="list-group">
                    <a asp-area="Admin" asp-controller="CrmOrgs" asp-action="Index" class="list-group-item list-group-item-action">Organizations taxonomy and attributes</a>
                    <a asp-area="Admin" asp-controller="CrmPers" asp-action="Index" class="list-group-item list-group-item-action">Persons taxonomy and attributes</a>
                    <a asp-area="Admin" asp-controller="CrmJobTypes" asp-action="Index" class="list-group-item list-group-item-action">Job position taxonomy</a>
                </div>
            </div>
        </div>
        <div class="card border-warning mb-3">
            <h4 class="card-header">TimeSheet config</h4>
            <div class="card-body">
                <div class="list-group">
                    <a asp-controller="TimeSheet" asp-action="ProjectCategories" class="list-group-item list-group-item-action">Project categories</a>
                    <a asp-controller="TimeSheet" asp-action="ActivityTypes" class="list-group-item list-group-item-action">Activity types</a>
                </div>
            </div>
        </div>
        <div class="card border-warning">
            <h4 class="card-header">Archiving config</h4>
            <div class="card-body">
                <div class="list-group">
                    <a asp-controller="ArchivingDocuments" asp-action="Categories" class="list-group-item list-group-item-action">Document categories</a>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="card border-warning">
            <h4 class="card-header">Other</h4>
            <div class="card-body">
                <div class="list-group">
                    <a asp-area="Admin" asp-controller="Setup" asp-action="Settings" class="list-group-item list-group-item-action">Global installation settings</a>
                </div>
            </div>
        </div>
    </div>
</div>

@section scripts {
	@*<script type="text/javascript" src="~/Areas/Admin/Home/Index.js"></script>*@
}