﻿@using BeezMart.Caching.CRM
@model OrgFlagModel
@{
	if (Model == null) throw new NullReferenceException("ViewModel is null.");
	List<OrgFieldModel> flagTypes = await OrgFlags.GetFlagTypesAsync();
	List<string> categories = await OrgFlags.GetCategoriesAsync();
}
@Html.Raw(ViewBag.AppMessage)
<aside id="ModalEditFlag" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true" data-bs-backdrop="static">
	<div class="modal-dialog">
		<div class="modal-content">
			<form asp-action="_Edit" asp-controller="OrgFlags" method="post" id="frmFlagDetail">
				<header class="modal-header">
					<h4 class="modal-title">Flag detail</h4>
					<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
				</header>
				<section class="modal-body">
					<input type="hidden" name="ID" />
					<input type="hidden" name="OrganizationID" value="@Model.OrganizationID" />
					<div class="mb-3">
						<label for="ddlFlagCategory" class="Required">Category</label>
						<select id="ddlFlagCategory" onchange="javascript: ddlCategory_Change(this, 'FlagList');" class="form-control">
							<option selected="selected">=== FLAGS WITH NO CATEGORY ===</option>
							@foreach (string category in categories)
							{
								<option>@category</option>
							}
						</select>
					</div>
					<div class="mb-3">
						<p>Please select the flag you want to add</p>
						<ul id="FlagList">
							@foreach (OrgFieldModel flagType in flagTypes)
							{
								<li data-val-category="@flagType.Category"><label><input type="radio" name="FieldID" value="@flagType.ID" /> @flagType.Name</label></li>
							}
						</ul>
					</div>
					<div class="mb-3">
						<label for="txtFlagComments">Comments</label>
						<textarea id="txtFlagComments" name="Comments" rows="5" maxlength="256" class="form-control">@Model.Comments</textarea>
					</div>
				</section>
				<footer class="modal-footer">
					<button type="button" class="btn btn-light" data-bs-dismiss="modal">Cancel</button>
					<button type="submit" class="btn btn-primary">Save flag</button>
				</footer>
			</form>
		</div>
	</div>
</aside>

