﻿@model List<PersonModel>
@{
	if (Model == null) throw new NullReferenceException("ViewModel is null.");
}
@Html.Raw(ViewBag.AppMessage)
<table class="table table-hover table-striped table-responsive-md">
	<thead>
		<tr>
			<th></th>
			<th colspan="3">Person</th>
			<th colspan="1">Home</th>
		</tr>
	</thead>
	<tbody>
		@foreach (PersonModel pers in Model) {
			<tr>
				<td><input type="checkbox" name="FromPersIDs" value="@pers.ID" /></td>
				<td>@pers.NamePrefix</td>
				<td><a title="@pers.Segment &#13; @pers.Nicknames">@pers.FirstName @pers.LastName</a></td>
				<td>@pers.NameSuffix</td>
				<td>@pers.Home_City</td>
			</tr>
		}
	</tbody>
	<tfoot>
		<tr>
			<td colspan="5">records found: <b>@Model.Count.ToString("#,##0")</b></td>
		</tr>
	</tfoot>
</table>
