﻿@model List<PersonModel>
@{
	if (Model == null) throw new NullReferenceException("ViewModel is null.");
}
@Html.Raw(ViewBag.AppMessage)
<table class="table table-hover table-striped table-responsive-md">
	<thead>
		<tr>
			<th colspan="3">Person</th>
			<th>Segment</th>
			<th colspan="3">Home</th>
		</tr>
	</thead>
	<tbody>
		@foreach (PersonModel pers in Model)
		{
			<tr data-id="@pers.ID">
				<td>@pers.NamePrefix</td>
				<td><a title="@pers.Nicknames">@pers.FirstName @pers.LastName</a></td>
				<td>@pers.NameSuffix</td>
				<td>@pers.Segment</td>
				<td>@pers.Home_City</td>
				<td>@pers.Home_StateProvince</td>
				<td>@pers.Home_Country</td>
			</tr>
		}
	</tbody>
	<tfoot>
		<tr>
			<td colspan="4">
				<button type="button" class="btn btn-sm btn-outline-secondary" onclick="MyPage.Export()" title="Export from database to Excel file"><b class="bi-file-earmark-spreadsheet"></b></button>
				<button type="button" class="btn btn-sm btn-outline-secondary" onclick="MyPage.DirectLink()" title="Direct link to this search result" id="btnDirectLink"><b class="bi-link-45deg"></b></button>
			</td>
			<td colspan="3">records found: <b>@Model.Count.ToString("#,##0")</b></td>
		</tr>
	</tfoot>
</table>

