﻿@using BeezMart.Entities.Geography
@using BeezMart.Entities.CRM

@model BeezMart.Areas.CRM.ViewModels.Persons.Add_ViewModel

@{
	ViewBag.Title = "Add person";
	if (Model == null) throw new NullReferenceException("ViewModel is null.");
	if (Model.ListOfSegments == null) throw new NullReferenceException("ViewModel.ListOfSegments is null.");
	List<Country> countries = await BeezMart.DAL.Geography.Countries.ListAsync();
}

@section head {
	<link rel="stylesheet" href="~/Areas/CRM/Persons/Add.css" />
}

@section breadcrumb {
	<li class="breadcrumb-item"><a asp-area="CRM" asp-controller="Home" asp-action="Index">CRM</a></li>
	<li class="breadcrumb-item"><a asp-area="CRM" asp-controller="Persons" asp-action="Index">Persons</a></li>
	<li class="breadcrumb-item active">add new</li>
}

@Html.Raw(ViewBag.AppMessage)
<form method="post" asp-action="Add" id="frmRecord" role="form" class="container">
	<input type="hidden" name="OrganizationID" value="@Model.OrganizationID" />
	<fieldset class="card">
		<h4 class="card-header">Add person record</h4>
		<div class="card-body">
			<div id="PersonFields" class="row">
				<div class="col-sm-6">
					<div class="mb-3">
						<label asp-for="Person.FirstName" class="required">First name</label>
						<input type="text" asp-for="Person.FirstName" maxlength="64" placeholder="Enter given name..." required="required" class="form-control form-control-lg required" />
					</div>
				</div>
				<div class="col-sm-6">
					<div class="mb-3">
						<label asp-for="Person.LastName" class="required">Last name</label>
						<input type="text" asp-for="Person.LastName" maxlength="64" placeholder="Enter surname, family name..." required="required" class="form-control form-control-lg required" />
					</div>
				</div>
				<div class="col-sm-12">
					<div class="mb-3">
						<label asp-for="Person.Nicknames">Nicknames</label>
						<input type="text" asp-for="Person.Nicknames" maxlength="256" placeholder="aka's, pseudonims..." class="form-control" />
					</div>
				</div>
				<div class="col-md-3 col-sm-6">
					<div class="mb-3">
						<label asp-for="Person.NamePrefix">Prefix</label>
						<select asp-for="Person.NamePrefix" class="form-control">
							<option value="">=[ Prefix ]=</option>
							<option value="Ms.">Ms.</option>
							<option value="Prof.">Prof.</option>
							<option value="Mr.">Mr.</option>
							<option value="Mrs.">Mrs.</option>
							<option value="Dr.">Dr.</option>
						</select>
					</div>
				</div>
				<div class="col-md-3 col-sm-6">
					<div class="mb-3">
						<label asp-for="Person.NameSuffix">Suffix</label>
						<select asp-for="Person.NameSuffix" class="form-control">
							<option value="">=[ Suffix ]=</option>
							<option value="Phd.">Phd.</option>
							<option value="Jr.">Jr.</option>
							<option value="Sr.">Sr.</option>
						</select>
					</div>
				</div>
				<div class="col-md-3 col-sm-6">
					<div class="mb-3">
						<label asp-for="Person.CountryOfOrigin">Country of origin</label>
						<select asp-for="Person.CountryOfOrigin" data-selected="@Model.Person.CountryOfOrigin" class="form-control">
							<option value="">=== PLEASE SELECT ===</option>
							@foreach (Country country in countries) {
								<option value="@country.ID">@country.Name</option>
							}
						</select>
					</div>
				</div>
				<div class="col-md-3 col-sm-6">
					<div class="mb-3">
						<label asp-for="Person.SegmentID">Segment</label>
						<select asp-for="Person.SegmentID" data-selected="@Model.Person.SegmentID" class="form-control">
							@foreach (PersSegmentModel segment in Model.ListOfSegments) {
								<option value="@segment.ID">@segment.Name</option>
							}
						</select>
					</div>
				</div>
			</div>
		</div>
		<div class="card-footer submit">
			@if (Model.OrganizationID.HasValue) {
				<button type="submit" class="btn btn-success btn-lg">Save record, edit relation</button>
			}
			else {
				<button type="button" onclick="javascript: btnSave_Click();" class="btn btn-primary btn-lg"><i></i> Continue: add address <i class="bi-geo"></i></button>
				<button type="submit" class="btn btn-success btn-lg">I'm done, save record <i class="bi-floppy"></i></button>
			}
		</div>
		<input type="hidden" id="hdnAddAddressToo" name="AddAddressToo" value="false" />
	</fieldset>
</form>

@section scripts {
	<script type="text/javascript" src="~/Areas/CRM/Persons/Add.js"></script>
}
