﻿@using BeezMart.Entities.Geography
@using BeezMart.Entities.CRM

@model BeezMart.Areas.CRM.ViewModels.Persons.Edit_ViewModel

@{
	ViewBag.Title = "Edit person";
	if (Model == null || Model.Person == null) throw new NullReferenceException("ViewModel is null or ViewModel.Person is null.");
	List<PersSegmentModel> personSegments = await BeezMart.DAL.CRM.PersSegments.ListAsync();
	List<Country> countries = await BeezMart.DAL.Geography.Countries.ListAsync();
}

@section head {
	<link rel="stylesheet" href="~/Areas/CRM/Persons/Edit.css" />
}

@section breadcrumb {
    <li class="breadcrumb-item"><a asp-area="CRM" asp-controller="Home" asp-action="Index">CRM</a></li>
    <li class="breadcrumb-item"><a asp-area="CRM" asp-controller="Persons" asp-action="Index">Persons</a></li>
    <li class="breadcrumb-item"><a asp-area="CRM" asp-controller="Persons" asp-action="View" asp-route-PersonID="@Model.Person.ID">@Model.Person.FirstName @Model.Person.LastName</a></li>
    <li class="breadcrumb-item active">edit</li>
}

@Html.Raw(ViewBag.AppMessage)
<form method="post" asp-action="Edit" asp-controller="Persons">
	<input type="hidden" name="Person.ID" value="@Model.Person.ID" />
	<section id="Record" class="card">
		<h4 class="card-header">Core person attributes</h4>
		<div class="card-body">
			<div class="row">
				<div class="col-sm-6">
					<div class="mb-3">
						<label for="Person.FirstName" class="required">First name</label>
						<input type="text" name="Person.FirstName" value="@Model.Person.FirstName" maxlength="64" placeholder="Enter given name..." required="required" class="form-control form-control-lg required" />
					</div>
				</div>
				<div class="col-sm-6">
					<div class="mb-3">
						<label for="Person.LastName" class="required">Last name</label>
						<input type="text" name="Person.LastName" value="@Model.Person.LastName" maxlength="64" placeholder="Enter surname, family name..." required="required" class="form-control form-control-lg required" />
					</div>
				</div>
				<div class="col-sm-12">
					<div class="mb-3">
						<label for="Person.Nicknames">Nicknames</label>
						<input type="text" name="Person.Nicknames" value="@Model.Person.Nicknames" maxlength="256" placeholder="aka's, pseudonims..." class="form-control" />
					</div>
				</div>
				<div class="col-md-3 col-sm-6">
					<div class="mb-3">
						<label for="Person.NamePrefix">Prefix</label>
						<select name="Person.NamePrefix" data-selected="@Model.Person.NamePrefix" class="form-control">
							<option value="">=[ Prefix ]=</option>
							<option value="Ms.">Ms.</option>
							<option value="Prof.">Prof.</option>
							<option value="Mr.">Mr.</option>
							<option value="Mrs.">Mrs.</option>
							<option value="Dr.">Dr.</option>
						</select>
					</div>
				</div>
				<div class="col-md-3 col-sm-6">
					<div class="mb-3">
						<label for="Person.NameSuffix">Suffix</label>
						<select name="Person.NameSuffix" data-selected="@Model.Person.NameSuffix" class="form-control">
							<option value="">=[ Suffix ]=</option>
							<option value="Phd.">Phd.</option>
							<option value="Jr.">Jr.</option>
							<option value="Sr.">Sr.</option>
						</select>
					</div>
				</div>
				<div class="col-md-3 col-sm-6">
					<div class="mb-3">
						<label>Country of origin</label>
						<select name="Person.CountryOfOrigin" data-selected="@Model.Person.CountryOfOrigin" class="form-control">
							<option value="">=== PLEASE SELECT ===</option>
							@foreach (Country country in countries) {
								<option value="@country.ID">@country.Name</option>
							}
						</select>
					</div>
				</div>
				<div class="col-md-3 col-sm-6">
					<div class="mb-3">
						<label>Segment</label>
						<select name="Person.SegmentID" data-selected="@Model.Person.SegmentID" class="form-control">
							@foreach (PersSegmentModel segm in personSegments) {
								<option value="@segm.ID">@segm.Name</option>
							}
						</select>
					</div>
				</div>
			</div>
		</div>
		<div class="card-footer submit">
			<a asp-action="View" asp-route-PersonID="@Model.Person.ID" class="btn btn-warning">Cancel</a>
			<button type="submit" class="btn btn-primary">Save person</button>
		</div>
	</section>
</form>

@section scripts {
	<script type="text/javascript" src="~/Areas/CRM/Persons/Edit.js"></script>
}
