﻿@model List<PersonModel>

@{
	ViewBag.Title = "Selected persons";
	if (Model == null) throw new NullReferenceException("ViewModel is null.");
}

@section head {
	<link rel="stylesheet" href="~/Areas/CRM/Persons/Lookup.css" />
}

@section breadcrumb {
    <li class="breadcrumb-item"><a asp-area="CRM" asp-controller="Home" asp-action="Index">CRM</a></li>
    <li class="breadcrumb-item"><a asp-area="CRM" asp-controller="Persons" asp-action="Index">Persons</a></li>
    <li class="breadcrumb-item active">working set</li>
}

@Html.Raw(ViewBag.AppMessage)
<div class="submit">
	<a asp-action="Search" class="btn btn-success btn-lg">Lookup persons</a>
</div>
<section id="FilterCriteria">
	
</section>
<section id="SearchResults">
	<table class="table table-hover table-striped table-responsive-md">
		<thead>
			<tr>
				<th colspan="3">Person</th>
				<th>Segment</th>
				<th colspan="3">Headquarter</th>
			</tr>
		</thead>
		<tbody>
			@foreach (PersonModel pers in Model) {
				<tr data-id="@pers.ID">
					<td>@pers.NamePrefix</td>
					<td><a title="@pers.Nicknames">@pers.FirstName @pers.LastName</a></td>
					<td>@pers.NameSuffix</td>
					<td>@pers.Segment</td>
					<td>@pers.Home_City</td>
					<td>@pers.Home_StateProvince</td>
					<td>@pers.Home_Country</td>
				</tr>
			}
		</tbody>
		<tfoot>
			<tr>
				<td colspan="4"><a asp-action="Add" class="btn btn-primary">Add new person</a></td>
				<td colspan="3">records found: <b>@Model.Count.ToString("#,##0")</b></td>
			</tr>
		</tfoot>
	</table>
</section>
<input type="hidden" id="hdnCrmPersViewUrl" value="@Url.Action("View")" />

@section scripts {
	<script type="text/javascript" src="~/Areas/CRM/Persons/Lookup.js"></script>
}
