﻿@using BeezMart.Caching.CRM
@model BeezMart.Areas.CRM.ViewModels.Persons.Merge_ViewModel

@{
	ViewBag.Title = "Merge persons";
    if (Model == null) throw new NullReferenceException("ViewModel is null.");
    List<PersFieldModel> flagTypes = await PersFlags.GetFlagTypesAsync();
    List<PersSegmentModel> persSegments = await PersSegments.GetListAsync();
}

@section head {
	<link rel="stylesheet" href="~/Areas/CRM/Persons/Merge.css" />
}

@section breadcrumb {
    <li class="breadcrumb-item"><a asp-area="CRM" asp-controller="Home" asp-action="Index">CRM</a></li>
    <li class="breadcrumb-item"><a asp-area="CRM" asp-controller="Persons" asp-action="Index">Persons</a></li>
    <li class="breadcrumb-item active">merge</li>
}

@Html.Raw(ViewBag.AppMessage)
<section id="SearchForms">
	<div class="row">
		<div class="col-sm-6">
            <form asp-action="_MergeFrom" method="get" id="frmFrom">
                <div class="card">
                    <h4 class="card-header">Lookup: Merge from...</h4>
                    <div class="card-body">
                        <div class="mb-3">
                            <label for="txtFromName">Having name like...</label>
                            <div class="input-group">
                                <input type="text" id="txtFromName" name="Name" value="@Model.FromName" maxlength="256" placeholder="Name filter pattern" class="form-control" />
                                <span class="input-group-text" title="Exact match&#13;When checked, search will not append and prepend * wildcard to pers name criteria" style="cursor:help;">
                                    <input name="NameExactMatching" type="checkbox" value="@Model.FromNameExactMatching" />
                                    <input name="NameExactMatching" type="hidden" value="false" />
                                </span>
                            </div>
                        </div>
                        <div id="AdvancedFrom" class="collapse">
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="mb-3">
                                        <label for="txtFromContact">Having contact detail like...</label>
                                        <input type="text" id="txtFromContact" name="Contact" value="@Model.FromContact" placeholder="phone / fax / e-mail / website / etc" class="form-control" />
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="mb-3">
                                        <label for="txtFromCity">Having an address in city...</label>
                                        <input type="text" id="txtFromCity" name="City" value="@Model.FromCity" placeholder="city name like ..." class="form-control" />
                                    </div>
                                </div>
                            </div>
                            <div class="mb-3">
				                <label for="Flags">Filter by flags</label>
				                <select name="Flags" class="form-control" multiple="multiple">
					                @foreach (PersFieldModel flag in flagTypes) {
					                <option value="@flag.ID">@flag.Category :: @flag.Name</option>
					                }
				                </select>
			                </div>
			                <div class="mb-3">
				                <label for="Segments">Filter by segments</label>
				                <select name="Segments" class="form-control" multiple="multiple">
					                @foreach (PersSegmentModel segment in persSegments) {
					                <option value="@segment.ID">@segment.Name</option>
					                }
				                </select>
			                </div>
                        </div>
                    </div>
                    <div class="card-footer">
                        <div class="row">
                            <div class="col-6 btnAdvancedSearch"><a data-bs-target="#AdvancedFrom" data-bs-toggle="collapse">Advanced search <i class="bi-chevron-down"></i></a></div>
                            <div class="col-6 submit"><button type="button" onclick="btnSearchFrom_Click();" class="btn btn-primary pull-right">Lookup</button></div>
                        </div>
                    </div>
                </div>
            </form>
		</div>
		<div class="col-sm-6">
            <form asp-action="_MergeTo" method="get" id="frmTo">
                <div class="card">
                    <h4 class="card-header">Lookup: Merge to...</h4>
                    <div class="card-body">
                        <div class="mb-3">
                            <label for="txtToName">Having name like...</label>
                            <div class="input-group">
                                <input type="text" id="txtToName" name="Name" value="@Model.ToName" maxlength="256" placeholder="Name filter pattern" class="form-control" />
                                <span class="input-group-text" title="Exact match&#13;When checked, search will not append and prepend * wildcard to pers name criteria" style="cursor:help;">
                                    <input type="checkbox" asp-for="@Model.ToNameExactMatching" />
                                </span>
                            </div>
                        </div>
                        <div id="AdvancedTo" class="collapse">
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="mb-3">
                                        <label for="txtToContact">Having contact detail like...</label>
                                        <input type="text" id="txtToContact" name="Contact" value="@Model.ToContact" placeholder="phone / fax / e-mail / website / etc" class="form-control" />
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="mb-3">
                                        <label for="txtToCity">Having an address in city...</label>
                                        <input type="text" id="txtToCity" name="City" value="@Model.ToCity" placeholder="city name like ..." class="form-control" />
                                    </div>
                                </div>
                            </div>
                            <div class="mb-3">
				                <label for="Flags">Filter by flags</label>
				                <select name="Flags" class="form-control" multiple="multiple">
					                @foreach (PersFieldModel flag in flagTypes) {
					                <option value="@flag.ID">@flag.Category :: @flag.Name</option>
					                }
				                </select>
			                </div>
			                <div class="mb-3">
				                <label for="Segments">Filter by segments</label>
				                <select name="Segments" class="form-control" multiple="multiple">
					                @foreach (PersSegmentModel segment in persSegments) {
					                <option value="@segment.ID">@segment.Name</option>
					                }
				                </select>
			                </div>
                        </div>
                    </div>
                    <div class="card-footer">
                        <div class="row">
                            <div class="col-6 btnAdvancedSearch"><a data-bs-target="#AdvancedTo" data-bs-toggle="collapse">Advanced search <i class="bi-chevron-down"></i></a></div>
                            <div class="col-6 submit"><button type="button" onclick="btnSearchTo_Click();" class="btn btn-primary pull-right">Lookup</button></div>
                        </div>
                    </div>
                </div>
            </form>
		</div>
	</div>
</section>
<form asp-action="Merge" method="post" id="frmMerge">
	<div class="row">
		<div class="col-sm-6">
			<progress id="prgrsFrom"></progress>
			<div id="ResultsFrom">

			</div>
		</div>
		<div class="col-sm-6">
			<progress id="prgrsTo"></progress>
			<div id="ResultsTo">

			</div>
		</div>
	</div>
    <div class="my-3 text-center">
		<button type="button" class="btn btn-success btn-lg" disabled="disabled" onclick="btnMerge_Click();">Perform mergings</button>
	</div>
</form>
<input type="hidden" id="hdnCrmPersViewUrl" value="@Url.Action("View")" />

@section modals {
    <aside id="ModalMergingMessage" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true" data-bs-backdrop="static">
        <div class="modal-dialog">
            <div class="modal-content">
                <header class="modal-header">
                    <h4 class="modal-title">Merging operations result</h4>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </header>
                <section class="modal-body">
                    <progress></progress>
                    <div id="MergingMessage"></div>
                </section>
                <footer class="modal-footer">
                    <button type="button" class="btn btn-light" data-bs-dismiss="modal">Dismiss</button>
                </footer>
            </div>
        </div>
    </aside>
}

@section scripts {
	<script type="text/javascript" src="~/Areas/CRM/Persons/Merge.js"></script>
}
