﻿@model BeezMart.Areas.CRM.ViewModels.Persons.Search_ViewModel

@{
	ViewBag.Title = "Search for persons";
    if (Model == null) throw new NullReferenceException("ViewModel is null.");
    List<PersSegmentModel> persSegments = await BeezMart.Caching.CRM.PersSegments.GetListAsync();
    List<PersFieldModel> flagTypes = await BeezMart.Caching.CRM.PersFlags.GetFlagTypesAsync();
}

@section head {
	<link rel="stylesheet" href="~/Areas/CRM/Persons/Search.css" />
}

@section breadcrumb {
    <li class="breadcrumb-item"><a asp-area="CRM" asp-controller="Home" asp-action="Index">CRM</a></li>
    <li class="breadcrumb-item"><a asp-area="CRM" asp-controller="Persons" asp-action="Index">Persons</a></li>
    <li class="breadcrumb-item active">search</li>
}

@Html.Raw(ViewBag.AppMessage)
<div id="ChangeFilter" class="submit">
	<button onclick="javascript: btnChangeFilter_Click();" type="button" class="btn btn-primary">Search again: change filter</button>
</div>
<section id="SearchForm" class="container">
    <form asp-action="_Search" method="post" class="card">
        <h4 class="card-header">Filtering criteria...</h4>
        <div class="card-body">
            <div class="mb-3">
                <label for="Name">Having name like...</label>
                <div class="input-group">
                    <input type="text" name="Name" maxlength="128" placeholder="Name filter pattern" class="form-control form-control-lg" />
                    <span class="input-group-text" title="Exact match&#13;When checked, search will not append and prepend * wildcard to person name criteria" style="cursor:help;">
                        <input asp-for="NameExactMatching" type="checkbox" />
                    </span>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-6">
                    <div class="mb-3">
                        <label for="Contact">Having contact detail like...</label>
                        <input type="text" name="Contact" maxlength="64" placeholder="phone / fax / e-mail / website / etc" class="form-control" />
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="mb-3">
                        <label for="City">Having an address in city...</label>
                        <input type="text" name="City" maxlength="64" placeholder="city name like ..." class="form-control" />
                    </div>
                </div>
            </div>
            <div id="AdvancedSearch" class="collapse">
                <div class="row">
                    <div class="col-sm-8">
                        <div class="mb-3">
                            <label for="Flags">Filter by flags</label>
                            <select name="Flags" class="form-control" multiple="multiple" data-selected="@Model.Flags">
                                @foreach (PersFieldModel flag in flagTypes)
                                {
                                    <option value="@flag.ID">@flag.Category :: @flag.Name</option>
                                }
                            </select>
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div class="mb-3">
                            <label for="Segments">Filter by segments</label>
                            <select name="Segments" class="form-control" multiple="multiple" data-selected="@Model.Segments">
                                @foreach (PersSegmentModel segment in persSegments)
                                {
                                    <option value="@segment.ID">@segment.Name</option>
                                }
                            </select>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="card-footer">
            <div class="row">
                <div class="col pt-1" id="btnAdvancedSearch"><a data-bs-target="#AdvancedSearch" data-bs-toggle="collapse" class="btn btn-link text-decoration-none">Advanced search <i class="bi-chevron-down"></i></a></div>
                <div class="col submit"><button type="submit" id="btnSearch" class="btn btn-success btn-lg"><b class="bi-search me-2"></b> Search persons</button></div>
            </div>
        </div>
    </form>
</section>
<progress></progress>
<section id="SearchResults">

</section>
<input type="hidden" id="hdnFilterIsSet" value="@Model.FilterIsSet.ToString().ToLower()" />
<input type="hidden" id="hdnCrmPersViewUrl" value="@Url.Action("View")" />

@section scripts {
	<script type="text/javascript" src="~/Areas/CRM/Persons/Search.js"></script>
}
