﻿@{
    ViewBag.Title = "TimeSheet taxonomy and attributes";
}

@section head {
    @*<link rel="stylesheet" href="~/Areas/Admin/TimeSheet/Index.css" />*@
}

@section breadcrumb {
    <li class="breadcrumb-item"><a asp-area="Admin" asp-controller="Home" asp-action="Index">Administration</a></li>
    <li class="breadcrumb-item active"><a asp-area="Admin" asp-controller="TimeSheet" asp-action="Index">TimeSheet</a></li>
}

<div class="row">
    <div class="col-md-6">
        <div class="card">
            <h4 class="card-header">Taxonomy and attributes for projects</h4>
            <div class="card-body">
                <div class="list-group">
                    <a asp-action="ProjectCategories" class="list-group-item list-group-item-action">Project categories</a>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-6">
        <div class="card">
            <h4 class="card-header">Taxonomy and attributes for activities</h4>
            <div class="card-body">
                <div class="list-group">
                    <a asp-action="ActivityTypes" class="list-group-item list-group-item-action">Activity types</a>
                </div>
            </div>
        </div>
    </div>
</div>

@section scripts {
    @*<script type="text/javascript" src="~/Areas/Admin/TimeSheet/Index.js"></script>*@
}