﻿@using BeezMart
@using BeezMart.Entities.TimeSheet
@model List<ProjectModel.CategoryModel>

@{
	ViewBag.Title = "Project categories";
}

@section head {
	<link rel="stylesheet" href="~/Areas/Admin/TimeSheet/ProjectCategories.css" />
}

@section breadcrumb {
    <li class="breadcrumb-item"><a asp-area="Admin" asp-controller="Home" asp-action="Index">Administration</a></li>
    <li class="breadcrumb-item"><a asp-area="Admin" asp-controller="TimeSheet" asp-action="Index">TimeSheet</a></li>
    <li class="breadcrumb-item active">project categories</li>
}

<section x-data="MyDataTable">
    <progress id="prgrsItems" x-show="InProgress"></progress>
    <table id="Items" class="table table-hover table-striped table-responsive-md">
        <thead>
            <tr>
                <th>Category</th>
                <th>Sub-category</th>
                <th title="The (sub)category is no longer applicable; it will not appear anymore in the selection list">Retired</th>
            </tr>
        </thead>
        <tbody>
            <template x-for="(row, rowIndex) in RecordSet">
                <tr x-bind:data-record="row.id">
                    <td><a x-text="row.name" href="#" x-on:click="editRecord(rowIndex)"></a></td>
                    <td x-text="row.subCategory"></td>
                    <td>
                        <template x-if="row.isDiscontinued"><b class="bi-check-circle text-warning"></b></template>
                        <template x-if="!row.isDiscontinued"><b class="bi-x-circle text-secondary"></b></template>
                    </td>
                </tr>
            </template>
        </tbody>
        <tfoot>
            <tr>
                <td colspan="1">records found: <b x-text="RecordSet.length"></b></td>
                <td colspan="2"><button type="button" class="btn btn-primary" x-on:click="addNewRecord()">Add new category</button></td>
            </tr>
        </tfoot>
    </table>
    <template x-teleport="body">
        <aside x-data="CurrentRecord" id="ModalEditor" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true" data-bs-backdrop="static">
            <div class="modal-dialog">
                <div class="modal-content">
                    <input type="hidden" name="id" x-model="id" />
                    <header class="modal-header">
                        <h4 class="modal-title">Projects category record</h4>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </header>
                    <section class="modal-body">
                        <div class="mb-3">
                            <label class="required">Category name</label>
                            <input type="text" placeholder="Category name" x-model="name" maxlength="64" required="required" class="form-control" x-on:keyup.enter="saveRecord()" />
                        </div>
                        <div class="mb-3">
                            <label>Sub-Category</label>
                            <input type="text" placeholder="Sub-Category" x-model="subCategory" maxlength="64" class="form-control" x-on:keyup.enter="saveRecord()" />
                        </div>
                        <div>
                            <label class="input-group">
                                <span class="input-group-text"><input type="checkbox" x-model="isDiscontinued" /></span>
                                <span class="form-control">Category is retired: no longer applicable?</span>
                            </label>
                        </div>
                    </section>
                    <footer class="modal-footer">
                        <button type="button" class="btn btn-warning" data-bs-dismiss="modal">Cancel</button>
                        <button type="submit" class="btn btn-success" x-on:click="saveRecord()">Save category</button>
                    </footer>
                </div>
            </div>
        </aside>
    </template>
    <aside x-data="Messaging" class="toast-container position-fixed top-0 end-0 p-3">
        <div id="MessagingToast" class="toast" role="alert" aria-live="assertive" aria-atomic="true">
            <header class="toast-header text-bg-info">
                <i class="bi-info-circle me-2"></i>
                <strong class="me-auto" x-text="title">Notification</strong>
                <button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close"></button>
            </header>
            <div x-html="message" class="toast-body">
                Something worth noting has happened.
            </div>
        </div>
    </aside>
</section>
@Html.AntiForgeryToken()

@section scripts {
	<script type="text/javascript" src="~/Areas/Admin/TimeSheet/ProjectCategories.js"></script>
}
