@media (min-height: 700px) {
    textarea[name='Hugetext.Value'] {
        height: 400px;
    }
}

@media (min-height: 900px) {
    textarea[name='Hugetext.Value'] {
        height: 600px;
    }
}

@media (min-height: 1100px) {
    textarea[name='Hugetext.Value'] {
        height: 700px;
    }
}