﻿@using BeezMart.Caching.CRM
@model OrgStringModel
@{
	if (Model == null) throw new NullReferenceException("ViewModel is null.");
	IEnumerable<string> categories = await OrgStrings.GetCategoriesAsync();
	IEnumerable<OrgFieldModel> fieldTypes = await OrgStrings.GetFieldTypesAsync();
}
@Html.Raw(ViewBag.AppMessage)
<aside id="ModalEditString" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true" data-bs-backdrop="static">
	<div class="modal-dialog">
		<div class="modal-content">
			<form asp-action="_Edit" asp-controller="OrgStrings" method="post" id="frmStringDetail">
				<header class="modal-header">
					<h4 class="modal-title">Text attribute details</h4>
					<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
				</header>
				<section class="modal-body">
					<input type="hidden" name="ID" />
					<input type="hidden" name="OrganizationID" value="@Model.OrganizationID" />
					<div class="mb-3">
						<label for="ddlStringCategory" class="Required">Category</label>
						<select id="ddlStringCategory" onchange="javascript: ddlCategory_Change(this, 'StringList');" class="form-control">
							<option selected="selected">=== ATTRIBUTES WITH NO CATEGORY ===</option>
							@foreach (string category in categories) {
								<option>@category</option>
							}
						</select>
					</div>
					<div class="mb-3">
						<p>Please select the text attribute type you want to add</p>
						<ul id="StringList">
							@foreach (OrgFieldModel stringType in fieldTypes) {
								<li data-val-category="@stringType.Category"><label><input type="radio" name="FieldID" value="@stringType.ID" /> @stringType.Name</label></li>
							}
						</ul>
					</div>
					<div class="mb-3">
						<label for="txtStringValue">Text attribute value</label>
						<input type="text" id="txtStringValue" name="Value" maxlength="256" value="@Model.Value" class="form-control" />
					</div>
				</section>
				<footer class="modal-footer">
					<button type="button" class="btn btn-light" data-bs-dismiss="modal">Cancel</button>
					<button type="submit" class="btn btn-primary">Save attribute</button>
				</footer>
			</form>
		</div>
	</div>
</aside>


