﻿progress { margin-top: 1.0em; margin-bottom: 1.0em; display: none; }
#ChangeFilter { display: none; }
#SearchResults { margin-top: 1.0em; }
#SearchResults table { margin-top: 1.0em; }
#SearchResults table thead tr th:last-child { text-align: right; }
#SearchResults table tbody tr td:nth-child(1) { font-weight: 600; }
#SearchResults table tbody tr td:last-child { text-align: right; }
#SearchResults table tfoot tr td:last-child { font-size: 1.4em; text-align: right; }