progress {
    display: none;
}

#Document label a {
    margin-left: 1.0em;
}

#Links table.table td:last-child,
#Links table.table th:last-child {
    text-align: right;
}

#Links b {
    font-weight: 600;
}

#Links table.table td:last-child a:last-child {
    color: red;
}

#Links table.table tbody td:first-child {
    font-weight: 600;
}

#Links .card-header small {
    margin-left: 1.0em;
}

#FilesList table.table tbody tr td:nth-child(1) {
    width: 1.0em;
    color: #999999;
}

#FilesList table.table tbody tr td:nth-child(2) {
    font-weight: 600;
}

#FilesList table.table tbody tr td:nth-child(3) a:nth-child(1) {
    color: green;
    margin-right: 0.2em;
}

#frmFileUploadBrowse #SelectedFiles {
    margin-top: 0px;
    margin-bottom: 0px;
    margin-left: 1.0em;
    font-weight: 600;
}

#frmFileUploadDropzone {
    border: 3px dashed #C0C0C0;
    background: #F0F6FF;
    margin-top: 0.1em;
    border-radius: 5px;
    width: 100%;
    max-width: 100%;
    display: none;
}

#DropFilesHere {
    padding: 0.2em;
    min-height: 7.0em;
}

#DropFilesHereText {
    font-size: 1.6em;
    font-weight: 200;
    color: #909090;
}

#Invoices td:nth-child(3) {
    text-align: right;
}