﻿@{
    ViewBag.Title = "Application setup";
}

@section head {
	@*<link rel="stylesheet" href="~/Areas/Admin/Setup/AccessAccount.css" />*@
}

@section breadcrumb {
    <li class="breadcrumb-item">Application setup</li>
    <li class="breadcrumb-item active">ensuring access to app</li>
}

@if (MyApp.EnvSettings.AzureEntraAuthentication.Enabled)
{
    <section id="Azure-Entra">
        <div class="row">
            <div class="col-1 col-sm-2 col-xl-3">&nbsp;</div>
            <div class="col-10 col-sm-8 col-xl-6">
                <div class="card border-info">
                    <h4 class="card-header bg-info">Ensuring access to app</h4>
                    <div class="card-body">
                        <p>According to the environment configuration settings, the application is using Azure Entra ID accounts for authentication and authorization.</p>
                        <ol>
                            <li>Tenant Domain: <b>@MyApp.EnvSettings.AzureEntraAuthentication.Domain</b></li>
                            <li>Tenant ID: <b>@MyApp.EnvSettings.AzureEntraAuthentication.TenantId</b></li>
                            <li>BeezMart Client App ID: <b>@MyApp.EnvSettings.AzureEntraAuthentication.ClientId</b></li>
                        </ol>
                        <p>The application is using the following roles to authorize access to different areas:</p>
                        <ol>
                            <li>@BeezMart.Security.UserRoles.ApplicationAdministrator</li>
                            <li>@BeezMart.Security.UserRoles.UserForProjectContribution</li>
                            <li>@BeezMart.Security.UserRoles.UserForProjectManagement</li>
                            <li>@BeezMart.Security.UserRoles.UserForCRM</li>
                            <li>@BeezMart.Security.UserRoles.UserForFinance</li>
                            <li>@BeezMart.Security.UserRoles.UserForDocumentManagement</li>
                        </ol>
                        <p><b>Please ensure that the needed user accounts are present in your Azure Active Directory tenant, and they have the needed assigned application roles.</b></p>
                        <p>If your account is a <b>@BeezMart.Security.UserRoles.ApplicationAdministrator</b>, you'll be able to access the <b>Application Settings</b> below:</p>
                    </div>
                    <div class="card-footer submit">
                        <a asp-action="Settings" class="btn btn-success btn-lg">Application settings</a>
                    </div>
                </div>
            </div>
            <div class="col-1 col-sm-2 col-xl-3">&nbsp;</div>
        </div>
    </section>
}
else
{
    <section id="Local-Accounts">
        <div class="row">
            <div class="col-1 col-sm-2 col-xl-3">&nbsp;</div>
            <div class="col-10 col-sm-8 col-xl-6">
                <div class="card border-info">
                    <h4 class="card-header bg-info">Ensuring access to app</h4>
                    <div class="card-body">
                        <p>According to the environment configuration settings, the application is using user accounts stored in its own database.</p>
                        <p>A first user account must be created next, having the role <b>@BeezMart.Security.UserRoles.ApplicationAdministrator</b>.</p>
                        <p>This user account may be used to further create other accounts and assign them the necessary access roles.</p>
                    </div>
                    <div class="card-footer submit">
                        <a asp-action="AdminAccount" class="btn btn-success btn-lg">Create administrator account</a>
                    </div>
                </div>
            </div>
            <div class="col-1 col-sm-2 col-xl-3">&nbsp;</div>
        </div>
    </section>
}

