﻿@using BeezMart.Security;
@model BeezMart.Areas.Admin.ViewModels.Setup.AdminAccount_ViewModel

@{
    ViewBag.Title = "Administrative account";
    if (Model == null) throw new NullReferenceException("ViewModel is null.");
    if (Model.Administrators == null) throw new NullReferenceException("ViewModel.Administrators is null.");
    if (User.Identity == null) throw new NullReferenceException("No User/User.Identity context available for this request.");
}

@section head {
	<link rel="stylesheet" href="~/Areas/Admin/Setup/AdminAccount.css" />
}

@section breadcrumb {
    <li class="breadcrumb-item"><a asp-area="Admin" asp-controller="Setup" asp-action="Index">Application setup</a></li>
    <li class="breadcrumb-item active">securing access to application: default administrative account</li>
}

@Html.Raw(ViewBag.AppMessage)
<section id="Default-Admin-Account">
    <form asp-area="Admin" asp-action="AdminAccount" asp-controller="Setup" method="post">
        <div class="row">
            <div class="col-0 col-sm-1 col-md-2 col-lg-3 col-xl-3">&nbsp;</div>
            <div class="col-12 col-sm-10 col-md-8 col-lg-6 col-xl-6">
                <div class="card border-primary">
                    <h4 class="card-header bg-primary">Default administrative account</h4>
                    <div class="card-body">
                        <div class="alert alert-info alert-dismissible fade show">
                            <p class="mb-0">This application is automatically creating a built-in <b>Administrator</b> account during installation, before proceeding to configuration settings.</p>
                            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                        </div>
                        @if (Model.Administrators.Count() > 0)
                        {
                            <div class="alert alert-danger">
                                <p>It appears that this application already has user account(s) with administrative rights. A new administrator account will not be created here.</p>
                                @if (User.Identity.IsAuthenticated)
                                {
                                    <p>You should contact one of the existing administrator(s). They have the privileges to create new user accounts, including administrative ones.</p>
                                    <ul>
                                    @foreach (ApplicationUser user in Model.Administrators)
                                    {
                                        <li>@user.FirstName @user.LastName <b>@user.UserName</b> (@user.Email)</li>
                                    }
                                    </ul>
                                }
                            </div>
                        }
                        else
                        {
                            <div class="mb-3">
                                <label asp-for="@Model.EmailAddress">Account e-mail</label>
                                <input type="text" asp-for="@Model.EmailAddress" placeholder="Example: SysAdmin@Rodax.ro" maxlength="128" required="required" class="form-control form-control-lg required" />
                            </div>
                            <div class="mb-3">
                                <label asp-for="@Model.Password">Account password</label>&nbsp;<span>Suggestion: <a>@Model.SuggestedPassword</a></span>
                                <input type="password" asp-for="@Model.Password" placeholder="Example: #B33zM@art!" maxlength="64" required="required" class="form-control form-control-lg required" />
                            </div>
                            <div class="mb-3">
                                <label asp-for="@Model.PasswordConfirm">Confirm password</label>
                                <input type="password" asp-for="@Model.PasswordConfirm" placeholder="Example: #B33zM@art!" maxlength="64" required="required" class="form-control form-control-lg required" />
                            </div>
                            <div class="mb-3">
                                <label class="input-group">
                                    <span class="input-group-text"><input type="checkbox" asp-for="@Model.SendReminder" /></span>
                                    <span class="form-control">Send reminder e-mail</span>
                                </label>
                            </div>
                        
                        }
                    </div>
                    <div class="card-footer submit">
                        @if (Model.Administrators.Count() > 0)
                        {
                            <a asp-action="Settings" class="btn btn-primary">Application settings <i class="bi-chevron-right"></i></a>
                        }
                        else
                        {
                            <button type="submit" class="btn btn-success btn-lg">Create account <i class="bi-chevron-right"></i></button>
                        }
                    </div>
                </div>
            </div>
            <div class="col-0 col-sm-1 col-md-2 col-lg-3 col-xl-3">&nbsp;</div>
        </div>
    </form>
</section>

@section scripts {
	<script type="text/javascript" src="~/Areas/Admin/Setup/AdminAccount.js"></script>
}
