﻿@{
    ViewBag.Title = "Application setup";
}

@section head {
	<link rel="stylesheet" href="~/Areas/Admin/Setup/Index.css" />
}

@section breadcrumb {
    <li class="breadcrumb-item">Application setup</li>
    <li class="breadcrumb-item active">running for the first time</li>
}

<section id="Start-Installation">
    <div class="row">
        <div class="col-1 col-sm-2 col-xl-3">&nbsp;</div>
        <div class="col-10 col-sm-8 col-xl-6">
            <div class="card border-warning">
                <h4 class="card-header bg-warning">Initial configuration</h4>
                <div class="card-body">
                    <p>The application's specific database tables are missing, suggesting this is the first time you're running the application.</p>
                    <p>You'll have to take some first steps before using the application:</p>
                    <ol>
                        <li><b>Database setup</b><br />The database will be initialized: creating the tables for data, indexes, code and other objects.</li>
                        <li><b>Access accounts</b><br />Making sure that the application can be accessed by users and managed by an administrator.</li>
                        <li><b>Application settings</b><br />You'll need to input and review some initial configuration settings, affecting how the application works.</li>
                    </ol>
                </div>
                <div class="card-footer submit">
                    <a asp-action="Install" class="btn btn-success btn-lg">Let's start initial setup</a>
                </div>
            </div>
        </div>
        <div class="col-1 col-sm-2 col-xl-3">&nbsp;</div>
    </div>
</section>