﻿@using System.IO;
@model BeezMart.Areas.Admin.ViewModels.Setup.Install_ViewModel

@{
    ViewBag.Title = "BeezMart installation";
    if (Model == null) throw new NullReferenceException("ViewModel is null.");
    if (Model.TSQL_Script_Files == null) throw new NullReferenceException("ViewModel.TSQL_Script_Files is null.");
}

@section head {
	<link rel="stylesheet" href="~/Areas/Admin/Setup/Install.css" />
}

@section breadcrumb {
    <li class="breadcrumb-item"><a asp-area="Admin" asp-controller="Setup" asp-action="Index">Application setup</a></li>
    <li class="breadcrumb-item active">Database initialization</li>
}

@if (MyApp.DatabaseIsSetUp) {
    <section id="Installed">
        <div class="row">
            <div class="col-1 col-sm-2 col-xl-3">&nbsp;</div>
            <div class="col-10 col-sm-8 col-xl-6">
                <div class="card border-success">
                    <h4 class="card-header bg-success">Application is installed</h4>
                    <div class="card-body">
                        <p>The application database seems initialized: the [App].[Settings] table is present there.</p>
                        <p>The database initialization step will not be run again.</p>
                    </div>
                    <div class="card-footer submit">
                        <a asp-action="Settings" class="btn btn-primary">Go to configuration settings</a>
                    </div>
                </div>
            </div>
            <div class="col-1 col-sm-2 col-xl-3">&nbsp;</div>
        </div>
    </section>
}
else {
    <section id="Intro">
        <div class="row">
            <div class="col-1 col-sm-2 col-xl-3">&nbsp;</div>
            <div class="col-10 col-sm-8 col-xl-6">
                <div class="card border-warning">
                    <h4 class="card-header bg-warning">Database initialization</h4>
                    <div class="card-body">
                        <p>The application's database is not initialized: Expected database objects - such as tables and stored procedures - are not in the database.</p>
                        <p>The first step of the installation is to initialize the database: creating the data tables, indexes, functions, stored procedures, and other objects.</p>
                        <p>Please hit the button below to start this process.</p>
                    </div>
                    <div class="card-footer submit">
                        <button type="button" onclick="btnStart_Click();" class="btn btn-primary btn-lg">Start database initialization</button>
                    </div>
                </div>
            </div>
            <div class="col-1 col-sm-2 col-xl-3">&nbsp;</div>
        </div>
    </section>
    <section id="TsqlFiles">
        <div class="row">
            <div class="col-1 col-sm-2 col-xl-3">&nbsp;</div>
            <div class="col-10 col-sm-8 col-xl-6">
                <div class="card border-primary">
                    <h4 class="card-header bg-primary">Currently running...</h4>
                    <div class="card-body">
                        @foreach (FileInfo fileInfo in Model.TSQL_Script_Files)
                        {
                            <p>@string.Format("{0}/{1}", fileInfo.Directory?.Name, fileInfo.Name)</p>
                        }
                        <section id="ProgressIndicator">
                            <div class="progress">
                                <div class="progress-bar progress-bar-striped progress-bar-animated bg-primary active" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100" style="width: 0%">
                                    <span>0%</span>
                                </div>
                            </div>
                        </section>
                    </div>
                    <div class="card-footer submit">
                        <a id="btnNext" asp-action="AccessAccounts" class="btn btn-success btn-lg d-none">Next: Access and admin accounts <i class="bi-chevron-right"></i></a>
                    </div>
                </div>
            </div>
            <div class="col-1 col-sm-2 col-xl-3">&nbsp;</div>
        </div>
    </section>
    <section id="Next">
        <div style="margin-top: 2.0em; text-align: right;">
        </div>
    </section>
    <form asp-action="Install_RunScript" method="post" id="frmScript">
        <input type="hidden" name="ScriptFileName" />
    </form>
}

@section scripts {
	<script type="text/javascript" src="~/Areas/Admin/Setup/Install.js"></script>
}

