﻿@{
	ViewBag.Title = "Critical hosting settings";
}

@section head {
    @*<link rel="stylesheet" href="~/Areas/Admin/Setup/MissingConfigSettings.css" />*@
}

@section breadcrumb {
    <li class="breadcrumb-item"><a asp-area="Admin" asp-controller="Setup" asp-action="Index">Application setup</a></li>
    <li class="breadcrumb-item active">critical hosting settings</li>
}

@if (MyApp.MissingHostingConfigurationSettings == null || MyApp.MissingHostingConfigurationSettings.Count == 0)
{
    @if (MyApp.DatabaseIsSetUp)
    {
        <section class="alert alert-success">
        <h3 class="mb-4">Everything fine</h3>
        <p><b>Critical expected hosting settings are all in place.</b></p>
        <p>The application could not have run without these, but it seems everything is fine.</p>
        <p><b>The database of the app also seems properly initialized</b></p>
        <hr />
        <div class="Submit">
            <a asp-area="" asp-controller="Home" asp-action="Index" class="btn btn-success btn-lg">Start using the app</a>
            <a asp-action="Install" class="btn btn-primary btn-lg">Go to configuration settings</a>
        </div>
        </section>
    }
    else
    {
        <section class="alert alert-warning">
        <h3 class="mb-4">Database not initialized</h3>
        <p>Critical expected hosting settings are in place, but...</p>
        <p><b>The application's database is not initialized</b>:</p>
        <p>Expected database objects - such as tables and stored procedures - are not in the database.</p>
        <hr />
        <div class="Submit">
            <a asp-area="Admin" asp-controller="Setup" asp-action="Install" class="btn btn-primary btn-lg">Initialize the database</a>
        </div>
        </section>
    }
}
else
{
    <section class="alert alert-danger">
        <h3 class="mb-4">Warning!</h3>
        <p>Critical expected hosting settings are missing, displayed below. The application cannot run without these.</p>
        <p>Alert the application administrator. Settings should be added, then make sure the application is restarted.</p>
        <p>A look into <i>appSettings.json</i> file, in the root of the application, can give you an idea of what critical settings are expected.</p>
        <ul style="margin-top: 1.0em; margin-bottom: 1.0em;">
            @foreach (string expectedSetting in MyApp.MissingHostingConfigurationSettings)
            {
                <li>
                    <b>@expectedSetting</b><br />
                    Try, for example, adding an environment variable like below:<br />
                    <code>@expectedSetting.Replace(":", "__")="&lt;Add-config-value-here&gt;"</code>
                </li>
            }
        </ul>
        <p>Alternatively, the hosting settings can be editted in the <i>appSettings.json</i> file in the root of the application. But this file migth get overwritten if the application gets upgraded, for instance.</p>
    </section>
}

@section scripts {
    @*<script type="text/javascript" src="~/Areas/Admin/Setup/MissingConfigSettings.js"></script>*@
}

