﻿@{
	ViewBag.Title = "Application settings";
}

@section head {
	<link rel="stylesheet" href="~/Areas/Admin/Setup/Settings.css" />
}

@section breadcrumb {
    <li class="breadcrumb-item"><a asp-area="Admin" asp-controller="Setup" asp-action="Index">Application setup</a></li>
    <li class="breadcrumb-item active">edit application settings</li>
}

<section class="alert alert-warning">
    <button type="button" class="btn-close float-end" data-bs-dismiss="alert" aria-label="Close"></button>
    <h4>Warning</h4>
    <p class="lead">Please pay close attention to the settings that you're saving. Minimal checkings are done by the application for these settings, and saving wrong values will affect the stability, functionality, or performance.</p>
    <p class="mb-0">The safest way is to stick to the default formats and/or default values. Read the instructions or contact the application vendor for help if you're in doubt.</p>
</section>
<form asp-area="Admin" asp-controller="Setup" asp-action="Settings" method="post" role="form" id="ConfigSettings">
<nav id="Tab-Selectors" class="nav nav-tabs">
    <a class="nav-item nav-link" data-bs-toggle="tab" role="tab" href="#TabPage-CRM" aria-controls="TabPage-CRM">CRM</a>
    <a class="nav-item nav-link active" data-bs-toggle="tab" role="tab" href="#TabPage-Billing" aria-controls="TabPage-Billing" aria-expanded="true">Billing</a>
    <a class="nav-item nav-link" data-bs-toggle="tab" role="tab" href="#TabPage-Sales" aria-controls="TabPage-Sales">Sales</a>
    <a class="nav-item nav-link" data-bs-toggle="tab" role="tab" href="#TabPage-Archiving" aria-controls="TabPage-Archiving">Archiving</a>
</nav>
<section id="Tab-Pages" class="tab-content">
    <section id="TabPage-CRM" class="tab-pane fade" role="tabpanel" aria-labelledby="TabPage-CRM">
        <div class="row">
            <div class="col-sm-4 col-md-6 col-lg-4">
                <div class="mb-3">
                    <label>Default country</label>
                    <div class="input-group">
                        <input name="CRM.Default-CountryID" value="@MyApp.GetConfigSetting("CRM.Default-CountryID")" placeholder="Ex: GER" type="text" class="form-control" />
                        <button data-explain="<p>The international 3-letter code of a country.</p><p>When adding an organization, person or address, this will be the default country.</p>" title="About this field" type="button" class="input-group-text"><i class="bi-question-circle"></i></button>
                        <button data-default="ROM" title="Set default value" type="button" class="input-group-text"><i class="bi-gear"></i></button>
                    </div>
                </div>
            </div>
            <div class="col-sm-4 col-md-6 col-lg-4">
                <div class="mb-3">
                    <label>Max unfiltered rows</label>
                    <div class="input-group">
                        <input name="CRM.Search.Result.MaxCount.Unfiltered" value="@MyApp.GetConfigSetting("CRM.Search.Result.MaxCount.Unfiltered")" placeholder="Ex: 500" type="number" min="10" max="5000" step="1" class="form-control" />
                        <button data-explain="<p>A positive integer, preferrably between 50 and 1000.</p><p>When looking up persons or organizations in CRM without any filtering criteria, this will be the maximum number of records showing up.</p>" title="About this field" type="button" class="input-group-text"><i class="bi-question-circle"></i></button>
                        <button data-default="100" title="Set default value" type="button" class="input-group-text"><i class="bi-gear"></i></button>
                    </div>
                </div>
            </div>
            <div class="col-sm-4 col-md-6 col-lg-4">
                <div class="mb-3">
                    <label>Dashboard stats refresh rate</label>
                    <div class="input-group">
                        <input name="CRM.Dashboard.Stats.RefreshRate" value="@MyApp.GetConfigSetting("CRM.Dashboard.Stats.RefreshRate")" placeholder="Ex: 180" type="number" min="10" max="3600" step="1" class="form-control" />
                        <button data-explain="<p>A positive integer, preferrably between 60 and 600.</p><p>Tells how many seconds should the dashboard stats be cached, for performance reasons.</p><p>For example, 180 means the dashboard stats will be refreshed each 3 minutes.</p>" title="About this field" type="button" class="input-group-text"><i class="bi-question-circle"></i></button>
                        <button data-default="120" title="Set default value" type="button" class="input-group-text"><i class="bi-gear"></i></button>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section id="TabPage-Billing" class="tab-pane fade show active" role="tabpanel" aria-labelledby="TabPage-Billing">
        <div class="row">
            <div class="col-sm-4 col-md-6 col-lg-4">
                <section class="card border-warning">
                    <h5 class="card-header bg-warning text-dark">Invoicing defaults</h5>
                    <div class="card-body">
                        <div class="mb-3">
                            <label>Currency</label>
                            <div class="input-group">
                                <input name="Billing.Default-Currency" value="@MyApp.GetConfigSetting("Billing.Default-Currency")" placeholder="Ex: EUR" type="text" class="form-control" />
                                <button data-explain="<p>The international 3-letter code of a currency.</p><p>When starting an invoice, this value will be used as a default for pre-populating the currency fields.</p>" title="About this field" type="button" class="input-group-text"><i class="bi-question-circle"></i></button>
                                <button data-default="RON" title="Set default value" type="button" class="input-group-text"><i class="bi-gear"></i></button>
                            </div>
                        </div>
                        <div class="mb-3">
                            <label>VAT percentage</label>
                            <div class="input-group">
                                <input name="Billing.Default-VAT-Percentage" value="@MyApp.GetConfigSetting("Billing.Default-VAT-Percentage")" placeholder="Ex: 16.50" type="number" min="0" max="100" step="0.01" class="form-control" />
                                <button data-explain="<p>A positive decimal number between 0 and 100, in US format.</p><p>This will be the default VAT percentage for the invoices when pre-populating the fields.</p>" title="About this field" type="button" class="input-group-text"><i class="bi-question-circle"></i></button>
                                <button data-default="19.00" title="Set default value" type="button" class="input-group-text"><i class="bi-gear"></i></button>
                            </div>
                        </div>
                        <div class="mb-3">
                            <label>Payments allowance</label>
                            <div class="input-group">
                                <input name="Billing.Default-Payment-Allowance-In-Days" value="@MyApp.GetConfigSetting("Billing.Default-Payment-Allowance-In-Days")" placeholder="Ex: 14" type="number" min="0" max="365" step="1" class="form-control" />
                                <button data-explain="<p>A positive integer number: the default number of days allowed for an invoice to be payed.</p><p>By default, an invoice will include a due date: the default due date will be calculated adding this number of days to the issuing date.</p>" title="About this field" type="button" class="input-group-text"><i class="bi-question-circle"></i></button>
                                <button data-default="21" title="Set default value" type="button" class="input-group-text"><i class="bi-gear"></i></button>
                            </div>
                        </div>
                        <div class="mb-3">
                            <label>Auto serials</label>
                            <div class="input-group">
                                <select name="Billing.Auto-Serials" data-value="@MyApp.GetConfigSetting("Billing.Auto-Serials")" class="form-control">
                                    <option value="true">YES, auto generate</option>
                                    <option value="true">NO, manual entry</option>
                                </select>
                                <button data-explain="<p>When set to true, the newly created invoices will have auto-assigned serials.</p><p>Accounting ID field will be pre-populated with application-managed serials when the invoice is printed.</p>" title="About this field" type="button" class="input-group-text"><i class="bi-question-circle"></i></button>
                                <button data-default="true" title="Set default value" type="button" class="input-group-text"><i class="bi-gear"></i></button>
                            </div>
                        </div>
                        <div class="mb-3">
                            <label>Auto serials format</label>
                            <div class="input-group">
                                <input name="Billing.Auto-Serials-Format" value="@MyApp.GetConfigSetting("Billing.Auto-Serials-Format")" placeholder="Ex: BZMRT 001234" type="text" class="form-control" />
                                <button data-explain="<p>The format for the auto serials used on the invoices.</p><p>You should replace 'BZMRT' with your own customized short string; maximum 5-6 chars length recommended.</p><p>For example, with <b><i>BZMRT 001234</i></b>, the application would generate invoice accounting IDs starting with 'BZMRT 001234' and continuing through to 'BZMRT 999999'.</p>" title="About this field" type="button" class="input-group-text"><i class="bi-question-circle"></i></button>
                                <button data-default="" title="Set default value" type="button" class="input-group-text"><i class="bi-gear"></i></button>
                            </div>
                        </div>
                        <div class="mb-3">
                            <label>Validate issue date</label>
                            <div class="input-group">
                                <select name="Billing.Validate-Issue-Date" data-value="@MyApp.GetConfigSetting("Billing.Validate-Issue-Date")" class="form-control">
                                    <option value="true">YES, enforce consistency</option>
                                    <option value="false">NO, freely assign</option>
                                </select>
                                <button data-explain="<p>When set to true, invoices having auto-assigned serials will have their issue date checked against Accounting ID.</p><p>An older invoice cannot have a newer/higher Accounting ID.</p><p>Only works when <i>Auto serials use</i> is also set to <i>true</i>.</p>" title="About this field" type="button" class="input-group-text"><i class="bi-question-circle"></i></button>
                                <button data-default="true" title="Set default value" type="button" class="input-group-text"><i class="bi-gear"></i></button>
                            </div>
                        </div>
                    </div>
                </section>
            </div>
            <div class="col-sm-4 col-md-6 col-lg-4">
                <section class="card border-danger">
                    <h5 class="card-header bg-danger">Provider invoice fields</h5>
                    <div class="card-body">
                        <div class="mb-3">
                            <label>Organization name</label>
                            <div class="input-group">
                                <input name="Billing.Invoice.Provider-Name" value="@MyApp.GetConfigSetting("Billing.Invoice.Provider-Name")" placeholder="Ex: S.C. RODAX Management S.R.L." type="text" class="form-control" />
                                <button data-explain="<p>This field populates the invoice template - provider section - when an issued invoice is printed.</p>" title="About this field" type="button" class="input-group-text"><i class="bi-question-circle"></i></button>
                                <button data-default="" title="Set default value" type="button" class="input-group-text"><i class="bi-gear"></i></button>
                            </div>
                        </div>
                        <div class="mb-3">
                            <label>Registration</label>
                            <div class="input-group">
                                <input name="Billing.Invoice.Provider-Registration-Number" value="@MyApp.GetConfigSetting("Billing.Invoice.Provider-Registration-Number")" placeholder="Ex: J40 / 3306 / 07.07.2009" type="text" class="form-control" />
                                <button data-explain="<p>This field populates the invoice template - provider section - when an issued invoice is printed.</p>" title="About this field" type="button" class="input-group-text"><i class="bi-question-circle"></i></button>
                                <button data-default="" title="Set default value" type="button" class="input-group-text"><i class="bi-gear"></i></button>
                            </div>
                        </div>
                        <div class="mb-3">
                            <label>Tax or VAT ID</label>
                            <div class="input-group">
                                <input name="Billing.Invoice.Provider-Tax-ID" value="@MyApp.GetConfigSetting("Billing.Invoice.Provider-Tax-ID")" placeholder="Ex: RO 25751500" type="text" class="form-control" />
                                <button data-explain="<p>This field populates the invoice template - provider section - when an issued invoice is printed.</p>" title="About this field" type="button" class="input-group-text"><i class="bi-question-circle"></i></button>
                                <button data-default="" title="Set default value" type="button" class="input-group-text"><i class="bi-gear"></i></button>
                            </div>
                        </div>
                        <div class="mb-3">
                            <label>Fiscal address</label>
                            <div class="input-group">
                                <input name="Billing.Invoice.Provider-Address" value="@MyApp.GetConfigSetting("Billing.Invoice.Provider-Address")" placeholder="Ex: Str. Acvariului nr. 25A" type="text" class="form-control" />
                                <button data-explain="<p>This field populates the invoice template - provider section - when an issued invoice is printed.</p>" title="About this field" type="button" class="input-group-text"><i class="bi-question-circle"></i></button>
                                <button data-default="" title="Set default value" type="button" class="input-group-text"><i class="bi-gear"></i></button>
                            </div>
                        </div>
                        <div class="mb-3">
                            <label>City</label>
                            <div class="input-group">
                                <input name="Billing.Invoice.Provider-City" value="@MyApp.GetConfigSetting("Billing.Invoice.Provider-City")" placeholder="Ex: București" type="text" class="form-control" />
                                <button data-explain="<p>This field populates the invoice template - provider section - when an issued invoice is printed.</p>" title="About this field" type="button" class="input-group-text"><i class="bi-question-circle"></i></button>
                                <button data-default="" title="Set default value" type="button" class="input-group-text"><i class="bi-gear"></i></button>
                            </div>
                        </div>
                        <div class="mb-3">
                            <label>Province</label>
                            <div class="input-group">
                                <input name="Billing.Invoice.Provider-Province" value="@MyApp.GetConfigSetting("Billing.Invoice.Provider-Province")" placeholder="Ex: Sector 6" type="text" class="form-control" />
                                <button data-explain="<p>This field populates the invoice template - provider section - when an issued invoice is printed.</p>" title="About this field" type="button" class="input-group-text"><i class="bi-question-circle"></i></button>
                                <button data-default="" title="Set default value" type="button" class="input-group-text"><i class="bi-gear"></i></button>
                            </div>
                        </div>
                        <div class="mb-3">
                            <label>Bank account IBAN</label>
                            <div class="input-group">
                                <input name="Billing.Invoice.Provider-Bank-Account-IBAN" value="@MyApp.GetConfigSetting("Billing.Invoice.Provider-Bank-Account-IBAN")" placeholder="Ex: RO97 RTRL 0000 9060 8387 7654" type="text" class="form-control" />
                                <button data-explain="<p>This field populates the invoice template - provider section - when an issued invoice is printed.</p>" title="About this field" type="button" class="input-group-text"><i class="bi-question-circle"></i></button>
                                <button data-default="" title="Set default value" type="button" class="input-group-text"><i class="bi-gear"></i></button>
                            </div>
                        </div>
                        <div class="mb-3">
                            <label>Bank name</label>
                            <div class="input-group">
                                <input name="Billing.Invoice.Provider-Bank-Name" value="@MyApp.GetConfigSetting("Billing.Invoice.Provider-Bank-Name")" placeholder="Ex: Banca Transilvania" type="text" class="form-control" />
                                <button data-explain="<p>This field populates the invoice template - provider section - when an issued invoice is printed.</p>" title="About this field" type="button" class="input-group-text"><i class="bi-question-circle"></i></button>
                                <button data-default="" title="Set default value" type="button" class="input-group-text"><i class="bi-gear"></i></button>
                            </div>
                        </div>
                    </div>
                </section>
            </div>
            <div class="col-sm-4 col-md-6 col-lg-4">
                <section class="card">
                    <h5 class="card-header">Settings</h5>
                    <div class="card-body">
                        <div class="mb-3">
                            <label>Max unfiltered rows</label>
                            <div class="input-group">
                                <input name="Billing.Search.Result.MaxCount.Unfiltered" value="@MyApp.GetConfigSetting("Billing.Search.Result.MaxCount.Unfiltered")" placeholder="Ex: 500" type="text" class="form-control" />
                                <button data-explain="<p>A positive integer, preferrably between 50 and 1000.</p><p>When looking up invoices or other records without any filtering criteria, this will be the maximum number of records showing up.</p>" title="About this field" type="button" class="input-group-text"><i class="bi-question-circle"></i></button>
                                <button data-default="100" title="Set default value" type="button" class="input-group-text"><i class="bi-gear"></i></button>
                            </div>
                        </div>
                        <div class="mb-3">
                            <label>Default search timeframe</label>
                            <div class="input-group">
                                <input name="Billing.Search.Invoices.Default.MostRecentDaysCount" value="@MyApp.GetConfigSetting("Billing.Search.Invoices.Default.MostRecentDaysCount")" placeholder="Ex: 90" type="number" min="1" max="730" step="1" class="form-control" />
                                <button data-explain="<p>A positive integer, preferrably between 10 and 180.</p><p>When looking up invoices and no filter is defined, invoice records added in the last N days will be shown.</p><p>For example, if you set 90, invoice records added in the last 90 days will be shown by default.</p>" title="About this field" type="button" class="input-group-text"><i class="bi-question-circle"></i></button>
                                <button data-default="30" title="Set default value" type="button" class="input-group-text"><i class="bi-gear"></i></button>
                            </div>
                        </div>
                        <div class="mb-3">
                            <label>Dashboard stats refresh rate</label>
                            <div class="input-group">
                                <input name="Billing.Dashboard.Stats.RefreshRate" value="@MyApp.GetConfigSetting("Billing.Dashboard.Stats.RefreshRate")" placeholder="Ex: 360" type="number" min="10" max="1200" step="1" class="form-control" />
                                <button data-explain="<p>A positive integer, preferrably between 60 and 600.</p><p>Tells how many seconds should the dashboard stats be cached, for performance reasons.</p><p>For example, 180 means the dashboard stats will be refreshed each 3 minutes.</p>" title="About this field" type="button" class="input-group-text"><i class="bi-question-circle"></i></button>
                                <button data-default="240" title="Set default value" type="button" class="input-group-text"><i class="bi-gear"></i></button>
                            </div>
                        </div>
                        <div class="mb-3">
                            <label>Required fields for printing</label>
                            <div class="input-group">
                                <input value="Invoice fields" type="text" class="form-control" disabled="disabled" />
                                <button data-explain="<p>Before an invoices is printed, some info will be validated. This area specifies invoice fields that are checked during validation, before printing.</p><p>Invoice_Items, Issue_Date, Accounting_ID, VAT_Percentage, Currency, Customer_Name, Customer_Registration_Number and Customer_Tax_ID are required anyway for printing.</p><p>The rest of the fields are optionally validated as required, if specified here; these are:</p><p>Due_Date; Customer_City; Customer_Province; Customer_Address; Customer_Bank_Name; Customer_Bank_Account; Delegate_Name; Delegate_ID_Serial; Delegate_ID_Number; Delegate_ID_Issuing_Authority; Transport_Document_Number; Handover_Means; Handover_Vehicle; Handover_Hour; Handover_Minute; Exchange_Rate; Operator_Details; Comments;</p>" title="About this field" type="button" class="input-group-text"><i class="bi-question-circle"></i></button>
                                <button data-default="Due_Date; Customer_City; Customer_Province; Customer_Address; Customer_Bank_Name; Customer_Bank_Account; Delegate_Name; Delegate_ID_Serial; Delegate_ID_Number; Delegate_ID_Issuing_Authority; Transport_Document_Number; Handover_Means; Handover_Vehicle; Handover_Hour; Handover_Minute; Exchange_Rate; Operator_Details; Comments;" title="Set default value" type="button" class="input-group-text"><i class="bi-gear"></i></button>
                            </div>
                            <textarea name="Billing.Invoice.Required-Fields" placeholder="Semicolon-separated list of field names" rows="12" class="form-control">@MyApp.GetConfigSetting("Billing.Invoice.Required-Fields")</textarea>
                        </div>
                    </div>
                </section>
            </div>
        </div>
    </section>
    <section id="TabPage-Sales" class="tab-pane fade" role="tabpanel" aria-labelledby="TabPage-Sales">
        <div class="row">
            <div class="col-sm-4 col-md-6 col-lg-4">
                <div class="mb-3">
                    <label>Dates formatting (long)</label>
                    <div class="input-group">
                        <input name="Sales.Date-Format-Long" value="@MyApp.GetConfigSetting("Sales.Date-Format-Long")" placeholder="Ex: dddd, d-MMM-yyyy" type="text" class="form-control" />
                        <button data-explain="<p>yyyy/yy: year; M,MM/MMM,MMMM: month number/month name; d,dd/ddd,dddd: day number in month/day name in week; H,HH: hour; m,mm: minute; s,ss: second</p>" title="About this field" type="button" class="input-group-text"><i class="bi-question-circle"></i></button>
                        <button data-default="dddd, d-MMMM-yyyy" title="Set default value" type="button" class="input-group-text"><i class="bi-gear"></i></button>
                    </div>
                </div>
            </div>
            <div class="col-sm-4 col-md-6 col-lg-4">
                <div class="mb-3">
                    <label>Dates formatting (short)</label>
                    <div class="input-group">
                        <input name="Sales.Date-Format-Short" value="@MyApp.GetConfigSetting("Sales.Date-Format-Short")" placeholder="Ex: d/M/yyyy" type="text" class="form-control" />
                        <button data-explain="<p>yyyy/yy: year; M,MM/MMM,MMMM: month number/month name; d,dd/ddd,dddd: day number in month/day name in week; H,HH: hour; m,mm: minute; s,ss: second</p>" title="About this field" type="button" class="input-group-text"><i class="bi-question-circle"></i></button>
                        <button data-default="d/MMM/yyyy" title="Set default value" type="button" class="input-group-text"><i class="bi-gear"></i></button>
                    </div>
                </div>
            </div>
            <div class="col-sm-4 col-md-6 col-lg-4">
                <div class="mb-3">
                    <label>Unit prices formatting</label>
                    <div class="input-group">
                        <input name="Sales.Decimal-Format-Units" value="@MyApp.GetConfigSetting("Sales.Decimal-Format-Units")" placeholder="Ex: #,##0.000000" type="text" class="form-control" />
                        <button data-explain="<p>The formatting string for decimal numbers when expressing product pricing.</p><p>When selling products with small unit price, you might want to have more decimal digits.</p>" title="About this field" type="button" class="input-group-text"><i class="bi-question-circle"></i></button>
                        <button data-default="#,##0.0000" title="Set default value" type="button" class="input-group-text"><i class="bi-gear"></i></button>
                    </div>
                </div>
            </div>
            <div class="col-sm-4 col-md-6 col-lg-4">
                <div class="mb-3">
                    <label>Total prices formatting</label>
                    <div class="input-group">
                        <input name="Sales.Decimal-Format-Totals" value="@MyApp.GetConfigSetting("Sales.Decimal-Format-Totals")" placeholder="Ex: #,##0.00" type="text" class="form-control" />
                        <button data-explain="<p>The formatting string for decimal numbers when expressing pricing totals.</p><p>For instance, when expressing the total value of a sales order.</p>" title="About this field" type="button" class="input-group-text"><i class="bi-question-circle"></i></button>
                        <button data-default="#,##0.00" title="Set default value" type="button" class="input-group-text"><i class="bi-gear"></i></button>
                    </div>
                </div>
            </div>
            <div class="col-sm-4 col-md-6 col-lg-4">
                <div class="mb-3">
                    <label>Default unit measure</label>
                    <div class="input-group">
                        <input name="Sales.Default-Unit-Measure" value="@MyApp.GetConfigSetting("Sales.Default-Unit-Measure")" placeholder="Ex: ore" type="text" class="form-control" />
                        <button data-explain="<p>When selling, making a delivery or printing an invoice, this will be the default unit measure for products or services.</p>" title="About this field" type="button" class="input-group-text"><i class="bi-question-circle"></i></button>
                        <button data-default="buc" title="Set default value" type="button" class="input-group-text"><i class="bi-gear"></i></button>
                    </div>
                </div>
            </div>
            <div class="col-sm-4 col-md-6 col-lg-4">
                <div class="mb-3">
                    <label>Max unfiltered rows</label>
                    <div class="input-group">
                        <input name="Sales.Search.Result.MaxCount.Unfiltered" value="@MyApp.GetConfigSetting("Sales.Search.Result.MaxCount.Unfiltered")" placeholder="Ex: 500" type="number" min="10" max="5000" step="1" class="form-control" />
                        <button data-explain="<p>A positive integer, preferrably between 50 and 1000.</p><p>When looking up sales or project records without any filtering criteria, this will be the maximum number of records showing up.</p>" title="About this field" type="button" class="input-group-text"><i class="bi-question-circle"></i></button>
                        <button data-default="100" title="Set default value" type="button" class="input-group-text"><i class="bi-gear"></i></button>
                    </div>
                </div>
            </div>
            <div class="col-sm-4 col-md-6 col-lg-4">
                <div class="mb-3">
                    <label>Dashboard stats refresh rate</label>
                    <div class="input-group">
                        <input name="Sales.Dashboard.Stats.RefreshRate" value="@MyApp.GetConfigSetting("Sales.Dashboard.Stats.RefreshRate")" placeholder="Ex: 360" type="number" min="10" max="3600" step="1" class="form-control" />
                        <button data-explain="A positive integer, preferrably between 60 and 600. Tells how many seconds should the dashboard stats be cached, for performance reasons. For example, 180 means the dashboard stats will be refreshed each 3 minutes." title="About this field" type="button" class="input-group-text"><i class="bi-question-circle"></i></button>
                        <button data-default="240" title="Set default value" type="button" class="input-group-text"><i class="bi-gear"></i></button>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section id="TabPage-Archiving" class="tab-pane fade" role="tabpanel" aria-labelledby="TabPage-Archiving">
        <div class="row">
            <div class="col-sm-4 col-md-6 col-lg-4">
                <div class="mb-3">
                    <label>Max unfiltered rows</label>
                    <div class="input-group">
                        <input name="Archiving.Search.Result.MaxCount.Unfiltered" value="@MyApp.GetConfigSetting("Archiving.Search.Result.MaxCount.Unfiltered")" placeholder="Ex: 500" type="number" min="10" max="5000" step="1" class="form-control" />
                        <button data-explain="<p>A positive integer, preferrably between 50 and 1000.</p><p>When looking up archiving or document records without any filtering criteria, this will be the maximum number of records showing up.</p>" title="About this field" type="button" class="input-group-text"><i class="bi-question-circle"></i></button>
                        <button data-default="100" title="Set default value" type="button" class="input-group-text"><i class="bi-gear"></i></button>
                    </div>
                </div>
            </div>
            <!--
            <div class="col-sm-4 col-md-6 col-lg-4">
                <div class="mb-3">
                    <label></label>
                    <div class="input-group">
                        <input type="text" class="form-control" />
                        <button data-explain="</p><p>" title="About this field" type="button" class="input-group-text"><i class="bi-question-circle"></i></button>
                        <button data-default="" title="Set default value" type="button" class="input-group-text"><i class="bi-gear"></i></button>
                    </div>
                </div>
            </div>
            -->
        </div>
    </section>
</section>
<div class="Submit">
    <a asp-area="Admin" asp-controller="Home" asp-action="Index" class="btn btn-warning btn-lg">Cancel</a>
    <button type="submit" class="btn btn-primary btn-lg">Save settings</button>
</div>
</form>

@section modals {
    <aside id="ModalExplanations" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true" data-bs-backdrop="static">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title"></h4>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-info" data-bs-dismiss="modal">OK</button>
                </div>
            </div>
        </div>
    </aside>
}

@section scripts {
	<script type="text/javascript" src="~/Areas/Admin/Setup/Settings.js"></script>
}

