﻿@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section head { @RenderSection("head", required: false) }
@section breadcrumb { @RenderSection("breadcrumb", required: false) }
@section hero { @RenderSection("hero", required: false) }

<main class="d-flex flex-nowrap">
    <div class="sidebar-vr"></div>
    <article class="container-fluid py-3">
        @RenderBody()
    </article>
    <div class="sidebar-vr"></div>
</main>

@section modals { @RenderSection("modals", required: false) }
@section scripts { @RenderSection("scripts", required: false) }
