﻿@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section head { @RenderSection("head", required: false) }

<main class="d-flex flex-nowrap">
    <aside class="d-flex flex-column flex-shrink-0 sidebar sidebar-slim">
        <ul class="nav nav-pills flex-column mb-auto bg-body-tertiary border-end">
            @RenderSection("sidebar", required: true)
            @*
            <li class="nav-item"><a class="nav-link" href="/Search"><i class="bi-search"></i><span>Search</span></a></li>
            <li class="nav-item"><a class="nav-link" href="/Records"><i class="bi-table"></i><span>Records</span></a></li>
            <li class="nav-item"><a class="nav-link" href="/Settings"><i class="bi-wrench"></i><span>Settings</span></a></li>
            *@
        </ul>
        <ul class="nav nav-pills flex-column border-top border-bottom border-end sidebar-toggler bg-body-secondary">
            <li class="nav-item text-end">
                <button type="button" class="nav-link rounded-0 py-3 ms-auto" href="#" title="Expand or collapse side-bar">
                    <i class="bi-arrow-bar-right"></i>
                </button>
            </li>
        </ul>
    </aside>
    <div class="sidebar-vr"></div>
    <article class="w-100">
        @RenderSection("breadcrumb", required: false)
        @RenderSection("hero", required: false)
        <section class="container-fluid py-3">
            @RenderBody()
        </section>
    </article>
    <div class="sidebar-vr"></div>
</main>

@section modals { @RenderSection("modals", required: false) }
@section scripts { @RenderSection("scripts", required: false) }
