﻿<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no" />
    <title>@ViewBag.Title &bull; BeezMart</title>
    <meta name="description" content="Simple business management application, with CRM, invoicing, timesheet and document archiving. Get the application and source at https://bitbucket.org/Pingulea/BeezMart">
    <meta name="author" content="https://www.linkedin.com/in/ViorelAlexandru">
    <link rel="apple-touch-icon" sizes="180x180" href="/img/favicon/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/img/favicon/favicon-16x16.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/img/favicon/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="192x192" href="/img/favicon/android-chrome-192x192.png">
    <link rel="icon" type="image/png" sizes="512x512" href="/img/favicon/android-chrome-512x512.png">
    <link rel="manifest" href="/img/favicon/site.webmanifest">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.3.2/css/bootstrap.min.css" integrity="sha512-b2QcS5SsA8tZodcDtGRELiGv5SaKSk1vDHDaQRda0htPYWZ6046lr3kJ5bAAQdpV2mmA/4v0wQF9MyU6/pDIAg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-icons/1.11.3/font/bootstrap-icons.min.css" integrity="sha512-dPXYcDub/aeb08c63jRq/k6GaKccl256JQy/AnOq7CAnEZ9FzSL9wSbcZkMp4R26vBsMLFYH4kQ67/bbV8XaCQ==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    @*<link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/simple-line-icons/2.4.1/css/simple-line-icons.min.css" />*@
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.13.2/themes/base/jquery-ui.min.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.13.2/themes/base/theme.min.css" />
    @*<link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/css/toastr.min.css" />*@
    @*<link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/pace/1.0.2/themes/green/pace-theme-minimal.min.css" />*@
    @*    Bootstrap 4.0 CSS is included with CoreUI.css below. See http://CoreUI.io    *@
    <environment names="Development">
        <link rel="stylesheet" href="~/css/beezmart.css" />
    </environment>
    <environment names="Staging,Production">
        <link rel="stylesheet" href="~/css/beezmart.min.css" />
    </environment>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.1/jquery.min.js" integrity="sha512-v2CJ7UaYy4JwqLDIrZUI/4hqeoQieOmAZNXBeQyjo21dadnwR+8ZaIJVT8EE2iyI61OV8e6M8PP2/4hpQINQ/g==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.3.2/js/bootstrap.bundle.min.js" integrity="sha512-X/YkDZyjTf4wyc2Vy16YGCPHwAY8rZJY+POgokZjQB2mhIRFJCckEGc6YyX9eNsPfn0PzThEuNs+uaomE5CO6A==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.13.2/jquery-ui.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/alpinejs/3.13.6/cdn.min.js" integrity="sha512-AcEAzNrSR7XZHWM7WIIb8lmudhWhHavcvhqbsHmJ36IfjlNXblViVAyf81KSRtvQbeCxHAz6Np4Lo/+xZ0si/A==" crossorigin="anonymous" referrerpolicy="no-referrer" defer></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/1.6.7/axios.min.js" integrity="sha512-NQfB/bDaB8kaSXF8E77JjhHG5PM6XVRxvHzkZiwl3ddWCEPBa23T76MuWSwAJdMGJnmQqM0VeY9kFszsrBEFrQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    @*<script src="//cdnjs.cloudflare.com/ajax/libs/tether/1.4.3/js/tether.min.js"></script>*@
    @*<script src="//cdnjs.cloudflare.com/ajax/libs/pace/1.0.2/pace.min.js"></script>*@
    @*<script src="//cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"></script>*@
    @*<script src="//cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/js/toastr.min.js"></script>*@
    @*<script src="//cdnjs.cloudflare.com/ajax/libs/pace/1.0.2/pace.min.js"></script>*@
    <environment names="Development">
        <script src="~/js/beezmart.js"></script>
    </environment>
    <environment names="Staging,Production">
        <script src="~/js/beezmart.min.js" asp-append-version="true"></script>
    </environment>
    @RenderSection("head", required: false)
</head>
<body class="app header-fixed sidebar-fixed">
    <header class="navbar navbar-expand-xl border-bottom border-body bg-body-secondary">
        <nav class="container-fluid">
            <a id="MasterNav-BeezMart" class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index"><i class="bi-speedometer2"></i> BeezMart</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#BeezMartAreas" aria-controls="BeezMartAreas" aria-expanded="false" aria-label="Toggle header nav">
                <span class="navbar-toggler-icon"></span>
            </button>
            <nav class="collapse navbar-collapse" id="BeezMartAreas">
                <ul id="MasterNav-Modules" class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item px-3"><a class="nav-link" asp-area="CRM" asp-controller="Home" asp-action="Index">CRM</a></li>
                    <li class="nav-item px-3"><a class="nav-link" asp-area="Billing" asp-controller="Home" asp-action="Index">Billing</a></li>
                    <li class="nav-item px-3"><a class="nav-link" asp-area="TimeSheet" asp-controller="Home" asp-action="Index">TimeSheet</a></li>
                    <li class="nav-item px-3"><a class="nav-link" asp-area="Archiving" asp-controller="Home" asp-action="Index">Archive</a></li>
                </ul>
                <ul id="MasterNav-Auth" class="navbar-nav">
                    @if (User.Identity?.IsAuthenticated == true)
                    {
                        if (MyApp.EnvSettings.AzureEntraAuthentication.Enabled)
                        {
                            <li class="nav-item">
                                <a class="nav-link" title="Microsoft Azure Entra ID"><i class="bi-person-badge"></i> @User.Identity?.Name</a>
                            </li>
                            <li class="nav-item">
                                <a asp-area="MicrosoftIdentity" asp-controller="Account" asp-action="SignOut" class="nav-link" title="Sign out">Log out <i class="bi-box-arrow-right"></i></a>
                            </li>
                        }
                        else
                        {
                            <li class="nav-item">
                                <a class="nav-link" title="My account" asp-area="" asp-controller="Account" asp-action="Index"><i class="bi-person-badge"></i> @User.Identity.Name</a>
                            </li>
                            <li class="nav-item">
                                <form asp-area="" asp-controller="Account" asp-action="Logout" method="post" id="logoutForm">
                                    <button type="submit" class="nav-link" title="Sign out">Log out <i class="bi-box-arrow-right"></i></button>
                                </form>
                            </li>
                        }
                    }
                    else
                    {
                        if (MyApp.EnvSettings.AzureEntraAuthentication.Enabled)
                        {
                            <li class="nav-item">
                                <a asp-area="MicrosoftIdentity" asp-controller="Account" asp-action="SignIn" class="nav-link" title="Sign in"><i class="bi-box-arrow-in-right"></i> Log in</a>
                            </li>
                        }
                        else
                        {
                            <li class="nav-item">
                                <a asp-area="" asp-controller="Account" asp-action="Login" title="Sign in" class="nav-link"><i class="bi-box-arrow-in-right"></i> Log in</a>
                            </li>
                        }
                    }
                </ul>
            </nav>
        </nav>
    </header>
    @RenderSection("breadcrumb", required: false)
    @RenderSection("hero", required: false)
    @RenderBody()
    <footer class="navbar navbar-expand border-top text-muted">
        <nav class="collapse navbar-collapse">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item px-1"><a class="nav-link" href="https://bitbucket.org/Pingulea/beezmart/">BeezMart 4.5</a></li>
            </ul>
            <ul class="navbar-nav">
                <li class="nav-item px-3">
                    <div class="form-check-reverse form-switch">
                        <label class="form-check-label" for="darkMode">dark mode</label>
                        <input class="form-check-input" type="checkbox" role="checkbox" id="darkMode" data-bs-theme-value="dark" />
                    </div>
                </li>
            </ul>
        </nav>
    </footer>
    @RenderSection("modals", required: false)
    @RenderSection("scripts", required: false)
</body>
</html>
