﻿@model BeezMart.Utils.AppMessage
@{
	ViewBag.Title = "Server message";
}
@section head
{
	<link rel="stylesheet" href="~/Views/Shared/Message.css" />
}
<div class="AppMessage">
	@if (Model != null)
	{ <text>@Html.Raw(Model.ToHtml())</text> }
	@Html.Raw(ViewBag.AppMessage)
</div>
