﻿progress { display: none; }

#CustomerData #SaveCustomerDetails { display: none; }

#InvoiceItemsList thead tr th:nth-child(1) { text-align: right; }
#InvoiceItemsList thead tr th:nth-child(3) { text-align: center; }
#InvoiceItemsList thead tr th:nth-child(4) { text-align: right; }
#InvoiceItemsList thead tr th:nth-child(5) { text-align: right; }
#InvoiceItemsList thead tr th:nth-child(6) { text-align: right; }
#InvoiceItemsList thead tr th:nth-child(7) { text-align: right; }
#InvoiceItemsList thead tr th:nth-child(8) { text-align: right; }

#InvoiceItemsList tbody tr td:nth-child(1) { text-align: right; }
#InvoiceItemsList tbody tr td:nth-child(2) { font-weight: 600; }
#InvoiceItemsList tbody tr td:nth-child(3) { text-align: center; }
#InvoiceItemsList tbody tr td:nth-child(4) { text-align: right; }
#InvoiceItemsList tbody tr td:nth-child(5) { text-align: right; }
#InvoiceItemsList tbody tr td:nth-child(6) { text-align: right; }
#InvoiceItemsList tbody tr td:nth-child(7) { text-align: right; }
#InvoiceItemsList tbody tr td:nth-child(8) { text-align: right; }
#InvoiceItemsList tbody tr td:nth-child(8) a { cursor: no-drop; font-weight: bold; color: red; }

#InvoiceItems tfoot { text-align:right; font-weight:600; font-size: 1.1em; }
#InvoiceItems #TotalDue { font-size: 1.2em; padding-top: 0.2em; }
#InvoiceItems #TotalDue strong { font-weight: 600; }

label[for="Invoice_CustomerName"] a { margin-left:1.0em; font-weight: 600; }
label[for="Invoice_DelegateName"] a { margin-left:1.0em; font-weight: 600; }
label[for="Invoice_TransportDetail1"] a { margin-left:1.0em; font-weight: 600; }
label[for="Invoice_TransportDetail3"] a { margin-left:1.0em; font-weight: 600; }

#ModalLookupCustomer #ChooseCustomerType form { margin-top: 2.0em; }
#ModalCustomers thead th:last-child { text-align: right; }
#ModalCustomers tbody td:first-child { font-weight: 600; }
#ModalCustomers tbody td:last-child { text-align: right; }

#Delegates thead th:last-child { text-align:right; }
#Delegates tbody td:first-child { font-weight: 600; }
#Delegates tbody td:last-child { text-align:right; }
#Delegates tbody td:last-child span { cursor: no-drop; font-weight: bold; color: red; }

#Transports thead tr th:last-child { text-align:right; }
#Transports tbody td:first-child { font-weight: 600; }
#Transports tbody tr td:last-child { text-align:right; }
#Transports tbody tr td:last-child span { cursor: no-drop; font-weight: bold; color: red; }

#btnPrint { margin-right: 1.0em; }
