﻿#frmDuplicate { margin-top: 2.0em; }
.card-footer .btn { margin-top: 1.0em; margin-bottom: 1.0em; }

@media only screen and (min-width: 768px)
{
	#frmDuplicate { margin-bottom: 2.0em; }
	.card-footer .btn { margin-top: 0.0em; margin-bottom: 0.0em; }
}

@media only screen and (min-width: 992px)
{
	#frmDuplicate { margin-bottom: 3.0em; }
}

@media only screen and (min-width: 1200px)
{
	#frmDuplicate { margin-bottom: 4.0em; }
}
