﻿progress { display: none; }
#CustomerData #SaveCustomerDetails { display: none; }

#InvoiceType .nav-item > label { display: block; color: #101010; font-weight: 600; font-size: 1.1em; cursor: pointer; }
#InvoiceType .nav-item > label > span { margin-left: 0.4em; }

label[for="Invoice_CustomerName"] a { margin-left: 1.0em; font-weight: 600; }
label[for="Invoice_DelegateName"] a { margin-left: 1.0em; font-weight: 600; }
label[for="Invoice_TransportDetail1"] a { margin-left: 1.0em; font-weight: 600; }
label[for="Invoice_TransportDetail3"] a { margin-left: 1.0em; font-weight: 600; }

#ModalLookupCustomer #ChooseCustomerType form { margin-top: 2.0em; }
#ModalCustomers thead th:last-child { text-align: right; }
#ModalCustomers tbody td:first-child { font-weight: 600; }
#ModalCustomers tbody td:last-child { text-align: right; }

#Delegates thead th:last-child { text-align: right; }
#Delegates tbody td:first-child { font-weight: 600; }
#Delegates tbody td:last-child { text-align: right; }
#Delegates tbody td:last-child span { cursor: no-drop; font-weight: bold; color: red; }

#Transports thead tr th:last-child { text-align: right; }
#Transports tbody td:first-child { font-weight: 600; }
#Transports tbody tr td:last-child { text-align: right; }
#Transports tbody tr td:last-child span { cursor: no-drop; font-weight: bold; color: red; }


