﻿#Preview { background-color: #fefefe; padding-top: 1.0em; padding-bottom: 1.0em; }

@media only screen and (min-width: 768px) { 

}

@media only screen and (min-width: 992px) {
}

@media only screen and (min-width: 1200px) {
}
