﻿#btnAdvancedSearch { padding-top: 0.8em; margin-bottom: 0.8em; }
progress { margin-top: 1.0em; margin-bottom: 1.0em; display: none; }
#ChangeFilter { display: none; }
#Invoices { margin-top: 1.0em; display: none; }
#Invoices table.table { margin-top: 1.0em; }
#Invoices table.table thead tr th:last-child { text-align: right; }
#Invoices table.table thead tr th:nth-child(2) { text-align: center; }
#Invoices table.table tbody tr td:nth-child(1) { font-weight: 600; }
#Invoices table.table tbody tr td:nth-child(2) { text-align: center; cursor: help; }
#Invoices table.table tbody tr td:nth-child(4) { text-align: right; }
#Invoices table.table tbody tr td:nth-child(5) { text-align: right; }
#Invoices table.table tfoot tr td:last-child { text-align: right; }

#Legend { margin-top: 2.0em; }
.InvoiceStatus { font-weight: 600; margin-left: 1.0em; margin-right: 1.0em; }
.InvoiceStatus:first-child { margin-left: 0; }