﻿progress { display: none; }
#Currencies { margin-top: 1.0em; margin-bottom: 1.0em; }
#Currencies .btn { font-weight: 600; }
#Currencies .btn span { font-weight:normal; margin-left: 0.2em; }
#Invoices { margin-top: 1.0em; }
table.table { margin-top: 1.0em; }
table.table thead tr th:last-child { text-align:right; }
table.table tbody tr td:nth-child(1) { font-weight:600; }
table.table tbody tr td:nth-child(3) { text-align:right; }