﻿progress { display: none; }
#Title .card-header span { margin-left: 1.0em; margin-right: 1.0em; }
#Title .card-body .col-sm-6:last-child { text-align: right; }

#Status li.disabled a { color: #FFD0D0; text-decoration:line-through; }

#Fields tr { vertical-align: top; }
#Fields tr td:first-child { padding-right: 1.0em; color: gray; }
#Fields tr td:last-child { font-weight: 600; }

#InvoiceItems thead tr { color: gray; }
#InvoiceItems thead tr th:nth-child(1) { text-align:right; }
#InvoiceItems thead tr th:nth-child(3) { text-align:center; }
#InvoiceItems thead tr th:nth-child(4) { text-align:right; }
#InvoiceItems thead tr th:nth-child(5) { text-align:right; }
#InvoiceItems thead tr th:nth-child(6) { text-align:right; }
#InvoiceItems thead tr th:nth-child(7) { text-align:right; }
#InvoiceItems thead tr th:nth-child(8) { text-align:right; }
 
#InvoiceItems tbody tr td:nth-child(1) { text-align:right; }
#InvoiceItems tbody tr td:nth-child(2) { font-weight:600; }
#InvoiceItems tbody tr td:nth-child(3) { text-align:center; }
#InvoiceItems tbody tr td:nth-child(4) { text-align:right; }
#InvoiceItems tbody tr td:nth-child(5) { text-align:right; }
#InvoiceItems tbody tr td:nth-child(6) { text-align:right; }
#InvoiceItems tbody tr td:nth-child(7) { text-align:right; }
#InvoiceItems tbody tr td:nth-child(8) { text-align:right; }
#InvoiceItems tbody tr td:last-child a { cursor: no-drop; font-weight: bold; color: red; }

#InvoiceItems tfoot { text-align: right; font-weight: 600; font-size: 1.1em; }
#InvoiceItems #TotalDue { font-size: 1.2em; padding-top: 0.2em; }
#InvoiceItems #TotalDue strong { font-weight: 600; }

#btnDetails { padding-top: 0.4em; }

#Operations { margin-top: 2.0em; margin-bottom: 2.0em; }

#Payments thead tr { color: gray; }
#Payments thead tr th:nth-child(2) { text-align:right; }
#Payments thead tr th:last-child { text-align:right; }

#Payments tbody tr td:nth-child(2) { text-align:right; }
#Payments tbody tr td:last-child { text-align:right; }
#Payments tbody tr td:last-child a { cursor: no-drop; font-weight: bold; color: red; }

#Payments tfoot tr td { text-align:left; font-size:1.2em; }

#Operations { text-align: center; }

#ModalPrintAndLock div.modal-body span { font-weight: 600; color: navy; }
#ModalChangeStatusMessage div.modal-body span { font-weight:600; }