﻿@{
	ViewBag.Title = "Organization segments";
}

@section head {
	<link rel="stylesheet" href="~/Areas/Admin/CrmOrgs/Segments.css" />
}

@section breadcrumb {
	<li class="breadcrumb-item"><a asp-area="Admin" asp-controller="Home" asp-action="Index">Administration</a></li>
	<li class="breadcrumb-item"><a asp-area="Admin" asp-controller="CrmOrgs" asp-action="Index">CRM Organizations</a></li>
	<li class="breadcrumb-item active">segments</li>
}

<h1>Segments for organizations</h1>
<section x-data="MyDataTable">
    <progress id="prgrsItems" x-show="InProgress"></progress>
    <table id="Items" class="table table-hover table-striped table-responsive-md">
        <thead>
            <tr>
                <th>Segment name</th>
                <th>Descripton or usage</th>
                <th title="Count of organizations in this segment">Orgs</th>
                <th>&times;</th>
            </tr>
        </thead>
        <tbody>
            <template x-for="(row, rowIndex) in RecordSet">
                <tr x-bind:data-record="row.id">
                    <td><a x-text="row.name" href="#" x-on:click="editRecord(rowIndex)"></a></td>
                    <td x-text="row.comments"></td>
                    <td x-text="row.orgsCount"></td>
                    <td><a x-on:click="dropRecord(rowIndex)">&times;</a></td>
                </tr>
            </template>
        </tbody>
        <tfoot>
            <tr>
                <td colspan="2">records found: <b x-text="RecordSet.length"></b></td>
                <td colspan="2"><button type="button" class="btn btn-primary" x-on:click="addNewRecord()">Add new segment</button></td>
            </tr>
        </tfoot>
    </table>
    <template x-teleport="body">
        <aside x-data="CurrentRecord" id="ModalEditor" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true" data-bs-backdrop="static">
            <div class="modal-dialog">
                <div class="modal-content">
                    <input type="hidden" name="id" x-model="id" />
                    <header class="modal-header">
                        <h4 class="modal-title">Edit segment properties</h4>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </header>
                    <section class="modal-body">
                        <div class="mb-3">
                            <label class="required">Name</label>
                            <input type="text" placeholder="Segment name" x-model="name" required="required" class="form-control" x-on:keyup.enter="saveRecord()" />
                        </div>
                        <div class="mb-3">
                            <label>Description</label>
                            <textarea placeholder="Some comments for this segment, usage rules or guidelines" rows="3" x-model="comments" class="form-control" x-on:keyup.enter="saveRecord()"></textarea>
                        </div>
                    </section>
                    <footer class="modal-footer">
                        <button type="button" class="btn btn-warning" data-bs-dismiss="modal">Cancel</button>
                        <button type="submit" class="btn btn-success" x-on:click="saveRecord()">Save segment</button>
                    </footer>
                </div>
            </div>
        </aside>
    </template>
    <aside x-data="Messaging" class="toast-container position-fixed top-0 end-0 p-3">
        <div id="MessagingToast" class="toast" role="alert" aria-live="assertive" aria-atomic="true">
            <header class="toast-header text-bg-info">
                <i class="bi-info-circle me-2"></i>
                <strong class="me-auto" x-text="title">Notification</strong>
                <button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close"></button>
            </header>
            <div x-html="message" class="toast-body">
                Something worth noting has happened.
            </div>
        </div>
    </aside>
</section>
@Html.AntiForgeryToken()

@section scripts {
    <script type="text/javascript" src="~/Areas/Admin/CrmOrgs/Segments.js"></script>
}
