﻿@{
    ViewBag.Title = "Organization-to-person relation taxonomy";
}

@section breadcrumb {
	<li class="breadcrumb-item"><a asp-action="Index" asp-controller="Home" asp-area="Admin">Administration</a></li>
	<li class="breadcrumb-item active">CRM job types</li>
}

@section head {
	<link rel="stylesheet" href="~/Areas/Admin/CrmJobTypes/Index.css" />
}

<h1>Job types</h1>
<p>Edit the categories for job titles or job positions persons may have in an organization. These categories are used to select marketing audiences.</p>
<section x-data="MyDataTable">
    <progress id="prgrsItems" x-show="InProgress"></progress>
    <table id="Items" class="table table-hover table-striped table-responsive-md">
        <thead>
            <tr>
                <th>Position</th>
                <th>Category</th>
                <th>Descripton or usage</th>
                <th title="The job type is no longer applicable; it will not appear anymore in the selection list">Retired</th>
                <th>&times;</th>
            </tr>
        </thead>
        <tbody>
            <template x-for="(row, rowIndex) in RecordSet">
                <tr x-bind:data-record="row.id">
                    <td><a x-text="row.name" href="#" x-on:click="editRecord(rowIndex)"></a></td>
                    <td x-text="row.category"></td>
                    <td x-text="row.comments"></td>
                    <td>
                        <template x-if="row.discontinued"><b class="bi-check-circle text-warning"></b></template>
                        <template x-if="!row.discontinued"><b class="bi-x-circle text-secondary"></b></template>
                    </td>
                    <td><a x-on:click="dropRecord(rowIndex)">&times;</a></td>
                </tr>
            </template>
        </tbody>
        <tfoot>
            <tr>
                <td colspan="2">records found: <b x-text="RecordSet.length"></b></td>
                <td colspan="3"><button type="button" class="btn btn-primary" x-on:click="addNewRecord()">Add new job type</button></td>
            </tr>
        </tfoot>
    </table>
    <template x-teleport="body">
        <aside x-data="CurrentRecord" id="ModalEditor" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true" data-bs-backdrop="static">
            <div class="modal-dialog">
                <div class="modal-content">
                    <input type="hidden" name="id" x-model="id" />
                    <header class="modal-header">
                        <h4 class="modal-title">Job type record</h4>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </header>
                    <section class="modal-body">
                        <div class="mb-3">
                            <label class="required">Name</label>
                            <input type="text" placeholder="The specific job type; eg: Financial Manager" x-model="name" maxlength="64" required="required" class="form-control" x-on:keyup.enter="saveRecord()" />
                        </div>
                        <div class="mb-3">
                            <label>Category</label>
                            <input type="text" placeholder="The larger category; eg Upper Management" x-model="category" maxlength="64" class="form-control" x-on:keyup.enter="saveRecord()" />
                        </div>
                        <div class="mb-3">
                            <label>Description</label>
                            <textarea placeholder="Some comments for this job type, usage rules or guidelines" rows="3" maxlength="512" x-model="comments" class="form-control" x-on:keyup.enter="saveRecord()"></textarea>
                        </div>
                        <div>
                            <label class="input-group">
                                <span class="input-group-text"><input type="checkbox" x-model="discontinued" /></span>
                                <span class="form-control">Job type is retired: no longer applicable?</span>
                            </label>
                        </div>
                    </section>
                    <footer class="modal-footer">
                        <button type="button" class="btn btn-warning" data-bs-dismiss="modal">Cancel</button>
                        <button type="submit" class="btn btn-success" x-on:click="saveRecord()">Save job type</button>
                    </footer>
                </div>
            </div>
        </aside>
    </template>
    <aside x-data="Messaging" class="toast-container position-fixed top-0 end-0 p-3">
        <div id="MessagingToast" class="toast" role="alert" aria-live="assertive" aria-atomic="true">
            <header class="toast-header text-bg-info">
                <i class="bi-info-circle me-2"></i>
                <strong class="me-auto" x-text="title">Notification</strong>
                <button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close"></button>
            </header>
            <div x-html="message" class="toast-body">
                Something worth noting has happened.
            </div>
        </div>
    </aside>
</section>
@Html.AntiForgeryToken()

@section scripts {
	<script type="text/javascript" src="~/Areas/Admin/CrmJobTypes/Index.js"></script>
}