﻿#Primary-Tasks {
    margin-top: 2.0em;
}

    #Primary-Tasks .btn {
        margin-top: 1.0em;
        margin-bottom: 1.0em;
    }

    #Primary-Tasks .card {
        margin-top: 1.0em;
        margin-bottom: 1.0em;
    }

@media (min-height: 700px) {
    #Primary-Tasks {
        margin-top: 4.0em;
    }
}

@media (min-height: 900px) {
    #Primary-Tasks {
        margin-top: 6.0em;
    }
}

@media (min-height: 1100px) {
    #Primary-Tasks {
        margin-top: 8.0em;
    }
}