progress { display: none; }
#ModalLookupCustomer #ChooseCustomerType form {
    margin-top: 2.0em;
}

#ModalCustomers table.table tbody td:first-child { font-weight: 600; }

#ModalProjects table.table tbody td:first-child { font-weight: 600; }