table.table { margin-top: 1.0em; }
table.table thead tr th:last-child { text-align: right; }
table.table tbody tr td:nth-child(1) { font-weight: 600; }
table.table tbody tr td:last-child { text-align: right; }
table.table tfoot tr td:first-child { text-align: left; }
table.table tfoot tr td:last-child { text-align: right; }