﻿@using BeezMart.Entities.TimeSheet
@model List<ActivityModel>
@{
	if (Model == null) throw new NullReferenceException("ViewModel is null.");
}
@Html.Raw(ViewBag.AppMessage)
<table class="table table-striped table-hover">
    <thead>
        <tr>
            <th><input type="checkbox" /></th>
            <th>Title</th>
            <th>Customer name</th>
            <th>Start</th>
            <th>End</th>
        </tr>
    </thead>
    <tbody>
        @foreach (ActivityModel activity in Model) {
            <tr data-id="@activity.ID">
                <td><input type="checkbox" name="EntityReferences" /></td>
                <td title="@activity.Status"><a>@activity.Title</a></td>
                <td title="@activity.ProjectTitle">
                    @if (activity.OrganizationID.HasValue) {
                        <a data-orgs="@activity.OrganizationID">@activity.CustomerName</a>
                    }
                    else {
                        if (activity.PersonID.HasValue) {
                            <a data-pers="@activity.PersonID">@activity.CustomerName</a>
                        }
                        else {
                            <text>@activity.CustomerName</text>
                        }
                    }
                </td>
                <td>@Html.FormatValue(activity.ScheduledStart, "{0:yyyy-MM-dd}")</td>
                <td>@Html.FormatValue(activity.ScheduledEnd, "{0:yyyy-MM-dd}")</td>
            </tr>
        }
    </tbody>
    <tfoot>
        <tr>
            <td colspan="5">records found: <b>@Model.Count</b></td>
        </tr>
    </tfoot>
</table>
