﻿@using BeezMart.Entities.CRM
@model List<PersonModel>
@{
	if (Model == null) throw new NullReferenceException("ViewModel is null.");
}
@Html.Raw(ViewBag.AppMessage)
<table class="table table-hover table-striped">
    <thead>
        <tr>
            <th><input type="checkbox" /></th>
            <th>Person</th>
            <th>Segment</th>
            <th>Headquarter</th>
        </tr>
    </thead>
    <tbody>
        @foreach (PersonModel pers in Model) {
            <tr data-id="@pers.ID">
                <td><input type="checkbox" name="EntityReferences" /></td>
                <td><a title="@pers.Nicknames">@pers.FirstName @pers.LastName</a></td>
                <td>@pers.Home_City</td>
                <td>@pers.Segment</td>
            </tr>
        }
    </tbody>
    <tfoot>
        <tr>
            <td colspan="3">records found: <b>@Model.Count.ToString("#,##0")</b></td>
        </tr>
    </tfoot>
</table>
