﻿@using BeezMart.Entities.CRM
@model List<OrganizationModel>
@{
	if (Model == null) throw new NullReferenceException("ViewModel is null.");
}
@Html.Raw(ViewBag.AppMessage)
<table class="table table-hover table-striped">
    <thead>
        <tr>
            <th><input type="checkbox" /></th>
            <th>Organization</th>
            <th>Segment</th>
            <th>Headquarter</th>
        </tr>
    </thead>
    <tbody>
        @foreach (OrganizationModel org in Model) {
            <tr data-id="@org.ID">
                <td><input type="checkbox" name="EntityReferences" /></td>
                <td><a title="@org.AlternateNames">@org.Name</a></td>
                <td>@org.HQ_City</td>
                <td>@org.Segment</td>
            </tr>
        }
    </tbody>
    <tfoot>
        <tr>
            <td colspan="3">records found: <b>@Model.Count.ToString("#,##0")</b></td>
        </tr>
    </tfoot>
</table>
