﻿@using BeezMart.Entities.TimeSheet
@model List<ProjectModel>
@{
	if (Model == null) throw new NullReferenceException("ViewModel is null.");
}
@Html.Raw(ViewBag.AppMessage)
<table class="table table-striped table-hover">
    <thead>
        <tr>
            <th><input type="checkbox" /></th>
            <th>Title</th>
            <th>Customer name</th>
            <th>Start</th>
            <th>End</th>
        </tr>
    </thead>
    <tbody>
        @foreach (ProjectModel project in Model) {
            <tr data-id="@project.ID">
                <td><input type="checkbox" name="EntityReferences" /></td>
                <td title="@project.Status"><a>@project.Title</a></td>
                <td>
                    @if (project.OrganizationID.HasValue) {
                        <a data-orgs="@project.OrganizationID">@project.CustomerName</a>
                    }
                    else {
                        if (project.PersonID.HasValue) {
                            <a data-pers="@project.PersonID">@project.CustomerName</a>
                        }
                        else {
                            <text>@project.CustomerName</text>
                        }
                    }
                </td>
                <td>@Html.FormatValue(project.ScheduledStart, "{0:yyyy-MM-dd}")</td>
                <td>@Html.FormatValue(project.ScheduledEnd, "{0:yyyy-MM-dd}")</td>
            </tr>
        }
    </tbody>
    <tfoot>
        <tr>
            <td colspan="4">records found: <b>@Model.Count</b></td>
        </tr>
    </tfoot>
</table>
