﻿@using BeezMart.Entities.Billing
@model List<InvoiceModel>
@{
	if (Model == null) throw new NullReferenceException("ViewModel is null.");
}
@Html.Raw(ViewBag.AppMessage)
<table class="table table-striped table-hover">
    <thead>
        <tr>
            <th><input type="checkbox" /></th>
            <th>Issue date &bull; Accounting ID</th>
            <th>status &bull; type</th>
            <th>Customer name</th>
            <th>Total due</th>
        </tr>
    </thead>
    <tbody>
        @foreach (InvoiceModel invoice in Model) {
            <tr data-id="@invoice.ID">
                <td><input type="checkbox" name="EntityReferences" /></td>
                <td><a>@Html.FormatValue(invoice.IssueDate, "{0:yyyy-MM-dd}") &bull; @(string.IsNullOrWhiteSpace(invoice.AccountingID) ? "[ID NOT SET]" : invoice.AccountingID)</a></td>
                <td class="@invoice.Status"></td>
                <td>
                    @if (invoice.OrganizationID.HasValue) {
                        <a data-orgs="@invoice.OrganizationID">@invoice.CustomerName</a>
                    }
                    else {
                        if (invoice.PersonID.HasValue) {
                            <a data-pers="@invoice.PersonID">@invoice.CustomerName</a>
                        }
                        else {
                            <text>@invoice.CustomerName</text>
                        }
                    }
                </td>
                <td title="@invoice.Type"><b>@Html.FormatValue(invoice.TotalDue, "{0:#,##0.00}")</b> @invoice.Currency</td>
            </tr>
        }
    </tbody>
    <tfoot>
        <tr>
            <td colspan="4">records found: <b>@Model.Count</b></td>
        </tr>
    </tfoot>
</table>
