﻿@model List<DocumentModel>
@{
	if (Model == null) throw new NullReferenceException("ViewModel is null.");
}
@Html.Raw(ViewBag.AppMessage)
<table class="table table-striped table-hover table-sm">
    <tbody>
        @foreach (DocumentModel document in Model)
        {
            <tr>
                <td class="@document.Status"><a>@document.Title</a></td>
                <td>@document.CategoryName</td>
                <td>@document.AddedOn</td>
                <td>@document.DocumentDate</td>
            </tr>
        }
    </tbody>
    <tfoot>
        <tr>
            <td colspan="3">records found: <b>@Model.Count.ToString("#,##0")</b></td>
        </tr>
    </tfoot>
</table>