﻿@using BeezMart.Entities.Billing
@model List<InvoiceModel>
@{
	if (Model == null) throw new NullReferenceException("ViewModel is null.");
}
@Html.Raw(ViewBag.AppMessage)
<table class="table table-striped table-hover table-sm">
    <tbody>
        @foreach (InvoiceModel invoice in Model)
        {
        <tr data-id="@invoice.ID">
            <td title="@invoice.Status"><a>@Html.FormatValue(invoice.IssueDate, "{0:yyyy-MM-dd}") &bull; @(string.IsNullOrWhiteSpace(invoice.AccountingID) ? "[ID NOT SET]" : invoice.AccountingID)</a></td>
            <td>@invoice.CustomerName</td>
            <td><b>@Html.FormatValue(invoice.TotalDue, "{0:#,##0.00}")</b> @invoice.Currency</td>
            <td><a title="Delete"><b class="bi-trash"></b></a></td>
        </tr>
        }
    </tbody>
    <tfoot>
        <tr>
            <td colspan="4">records found: <b>@Model.Count.ToString("#,##0")</b></td>
        </tr>
    </tfoot>
</table>