﻿@using BeezMart.Entities.CRM
@model BeezMart.Areas.Archiving.ViewModels.DocLinks.LinkProjects_ViewModel

@{
	ViewBag.Title = "Lookup projects to link";
	if (Model == null || Model.Document == null) throw new NullReferenceException("ViewModel is null or ViewModel.Document is null.");
}

@section head {
	<link rel="stylesheet" href="~/Areas/Archiving/DocLinks/LinkProjects.css" />
}

@section breadcrumb {
		<li class="breadcrumb-item"><a asp-area="Archiving" asp-controller="Home" asp-action="Index">Archiving</a></li>
		<li class="breadcrumb-item"><a asp-area="Archiving" asp-controller="Documents" asp-action="Index">Documents</a></li>
		<li class="breadcrumb-item"><a asp-area="Archiving" asp-controller="Documents" asp-action="View" asp-route-ID="@Model.Document.ID">@Model.Document.Title</a></li>
		<li class="breadcrumb-item active">link projects</li>
}

@Html.Raw(ViewBag.AppMessage)
<div id="ChangeFilter">
	<button onclick="javascript: btnChangeFilter_Click();" type="button" class="btn btn-primary">Search again: change filter</button>
</div>
<section id="SearchForm">
	<form asp-action="_LinkProjects" method="get">
		<fieldset class="card">
			<h2 class="card-header">Link projects...</h2>
			<div class="card-body">
				<div class="row">
					<div class="col-sm-12 mb-3">
						<label asp-for="@Model.Title">Project title</label>
						<div class="input-group">
							<input type="text" asp-for="@Model.Title" maxlength="256" class="form-control" placeholder="Search by project title" />
							<span class="input-group-text" title="Exact match&#13;When checked, search will not append and prepend * wildcard to title criteria" style="cursor:help;">
								<input type="checkbox" asp-for="@Model.Exact" />
							</span>
						</div>
					</div>
					<div class="col-sm-6 mb-3">
						<label asp-for="@Model.Customer">Customer name like...</label>
						<input type="text" asp-for="@Model.Customer" maxlength="256" class="form-control" placeholder="Name filter pattern" />
					</div>
					<div class="col-sm-6 mb-3">
						<label asp-for="@Model.PM">Search by Project Manager</label>
                        <input type="text" asp-for="@Model.PM" maxlength="256" class="form-control" placeholder="Name of the project manager" />
					</div>
				</div>
			</div>
			<div class="card-footer submit">
				<button type="submit" id="btnSearch" class="btn btn-primary">Search projects</button>
			</div>
		</fieldset>
	</form>
</section>
<form asp-action="Link" method="POST">
	<progress></progress>
	<section id="SearchResults">

	</section>
	<input type="hidden" name="ReturnUrl" value="@Url.Action("View", "Documents", new { ID=Model.Document.ID})" />
	<input type="hidden" name="EntityType" value="@Model.EntityType" />
	<input type="hidden" name="DocumentID" value="@Model.Document.ID" />
	<div class="Submit">
		<button type="submit" class="btn btn-primary">Link selected</button>
	</div>
</form>
<input type="hidden" id="hdnTimeSheetProjectsViewUrl" value="@Url.Action("View", "Projects", new { Area="TimeSheet", ProjectID="" })" />
<input type="hidden" id="hdnCrmOrgsViewUrl" value="@Url.Action("View", "Organizations", new { Area="CRM", OrganizationID="" })" />
<input type="hidden" id="hdnCrmPersViewUrl" value="@Url.Action("View", "Persons", new { Area="CRM", PersonID="" })" />

@section scripts {
	<script type="text/javascript" src="~/Areas/Archiving/DocLinks/LinkProjects.js"></script>
}
