﻿@using BeezMart.Entities.Billing
@using BeezMart
@model BeezMart.Areas.Archiving.ViewModels.DocLinks.LinkInvoices_ViewModel

@{
	ViewBag.Title = "Lookup invoices to link";
	string DefaultCurrency = MyApp.ConfigSettings["Billing.Default-Currency"];
	if (Model == null || Model.Document == null) throw new NullReferenceException("ViewModel is null or ViewModel.Document is null.");
}

@section head {
	<link rel="stylesheet" href="~/Areas/Archiving/DocLinks/LinkInvoices.css" />
}

@section breadcrumb {
		<li class="breadcrumb-item"><a asp-area="Archiving" asp-controller="Home" asp-action="Index">Archiving</a></li>
		<li class="breadcrumb-item"><a asp-area="Archiving" asp-controller="Documents" asp-action="Index">Documents</a></li>
		<li class="breadcrumb-item"><a asp-area="Archiving" asp-controller="Documents" asp-action="View" asp-route-ID="@Model.Document.ID">@Model.Document.Title</a></li>
		<li class="breadcrumb-item active">link invoices</li>
}

@Html.Raw(ViewBag.AppMessage)
<div id="ChangeFilter">
	<button onclick="javascript: btnChangeFilter_Click();" type="button" class="btn btn-primary">Search again: change filter</button>
</div>
<section id="SearchForm">
	<form asp-action="_LinkInvoices" method="get">
		<fieldset class="card">
			<h2 class="card-header">Link invoices...</h2>
			<div class="card-body">
				<div class="row">
					<div class="mb-3 col-12 col-sm-6 col-lg-8">
						<label asp-for="@Model.Customer">Customer name like...</label>
						<div class="input-group">
							<input type="text" asp-for="@Model.Customer" maxlength="256" placeholder="Name filter pattern" class="form-control" />
							<span class="input-group-text" title="Exact match&#13;When checked, search will not append and prepend * wildcard to customer name criteria" style="cursor:help;">
								<input type="checkbox" asp-for="@Model.Exact" />
							</span>
						</div>
					</div>
					<div class="mb-3 col-6 col-sm-3 col-lg-2">
						<label asp-for="@Model.After">Issued after</label>
						<div class="input-group">
							<input type="text" asp-for="@Model.After" asp-format="{0:yyyy-MM-dd}" maxlength="16" placeholder="yyyy-mm-dd" class="form-control Calendar" />
							<span class="input-group-text Calendar"><b class="bi-calendar3"></b></span>
						</div>
					</div>
					<div class="mb-3 col-6 col-sm-3 col-lg-2">
						<label asp-for="@Model.Before">Issued before</label>
						<div class="input-group">
							<input type="text" asp-for="@Model.Before" asp-format="{0:yyyy-MM-dd}" maxlength="16" placeholder="yyyy-mm-dd" class="form-control Calendar" />
							<span class="input-group-text Calendar"><b class="bi-calendar3"></b></span>
						</div>
					</div>
				</div>
				<div id="AdvancedSearch">
					<div class="mb-3">
						<label asp-for="@Model.IDs">Search by Invoice ID references</label>
						<input type="text" asp-for="@Model.IDs" maxlength="1024" placeholder="Comma-separated IDs from database; negative or positive integer numbers" class="form-control" />
					</div>
					<div class="mb-3">
						<label asp-for="@Model.AccIDs">Search by Accounting No references</label>
						<input type="text" asp-for="@Model.AccIDs" maxlength="1024" placeholder="Semicolon-separated IDs as printed on invoices; strings with serials" class="form-control" />
					</div>
					<div class="row">
						<div class="mb-3 col-sm-4">
							<label asp-for="@Model.Curr">Currency</label>
							<input type="text" asp-for="@Model.Curr" maxlength="3" placeholder="Ex: @DefaultCurrency" class="form-control" />
						</div>
						<div class="mb-3 col-sm-8">
							<label>Invoice status</label>
							<select name="Status" data-selected="@Model.Status" class="form-control">
								<option value="" selected="selected">=== SELECT TO FILTER BY STATUS ===</option>
								<option value="@InvoiceStatus.Draft">DRAFT, still working on it</option>
								<option value="@InvoiceStatus.Validated">VALIDATED, ready to print and send</option>
								<option value="@InvoiceStatus.SentToCustomer">PENDING, sent to customer</option>
								<option value="@InvoiceStatus.Cancelled">CANCELLED, null and void</option>
								<option value="@InvoiceStatus.Closed">CLOSED, paid and archived</option>
							</select>
						</div>
					</div>
				</div>
			</div>
			<div class="card-footer">
				<div class="row">
					<div class="col-6" id="btnAdvancedSearch"><a>Advanced search</a></div>
					<div class="col-6 Submit"><button type="submit" class="btn btn-success pull-right">Search invoices</button></div>
				</div>
			</div>
		</fieldset>
	</form>
</section>
<form asp-action="Link" method="POST">
	<progress></progress>
	<section id="SearchResults">

	</section>
	<input type="hidden" name="ReturnUrl" value="@Url.Action("View", "Documents", new { ID=Model.Document.ID})" />
	<input type="hidden" name="EntityType" value="@Model.EntityType" />
	<input type="hidden" name="DocumentID" value="@Model.Document.ID" />
	<div class="Submit">
		<button type="submit" class="btn btn-primary">Link selected</button>
	</div>
</form>
<section id="Legend">
	<p>Invoice status:
		@*
		<label class="InvoiceStatus Draft"><i class="bi-list-task"></span> Draft</label>
		<label class="InvoiceStatus Validated"><i class="bi-list-task"></span> Validated</label>
		<label class="InvoiceStatus SentToCustomer"><i class="bi-list-task"></span> SentToCustomer</label>
		<label class="InvoiceStatus Closed"><i class="bi-list-task"></span> Closed</label>
		<label class="InvoiceStatus Cancelled"><i class="bi-list-task"></span> Cancelled</label>
		*@
		<label class="InvoiceStatus text-primary"><i class="bi-list-task"></i> Draft</label>
		<label class="InvoiceStatus text-info"><i class="bi-list-task"></i> Validated</label>
		<label class="InvoiceStatus text-warning"><i class="bi-list-task"></i> SentToCustomer</label>
		<label class="InvoiceStatus text-success"><i class="bi-list-task"></i> Closed</label>
		<label class="InvoiceStatus text-secondary"><i class="bi-list-task"></i> Cancelled</label>
	</p>
</section>
<input type="hidden" id="hdnBillingInvoicesViewUrl" value="@Url.Action("View", "Invoices", new { Area="Billing", InvoiceID="" })" />
<input type="hidden" id="hdnCrmOrgsViewUrl" value="@Url.Action("View", "Organizations", new { Area="CRM", OrganizationID="" })" />
<input type="hidden" id="hdnCrmPersViewUrl" value="@Url.Action("View", "Persons", new { Area="CRM", PersonID="" })" />

@section scripts {
	<script type="text/javascript" src="~/Areas/Archiving/DocLinks/LinkInvoices.js"></script>
}
