﻿@using BeezMart.Entities.CRM
@model BeezMart.Areas.Archiving.ViewModels.DocLinks.LinkPersons_ViewModel

@{
	ViewBag.Title = "Lookup persons to link";
	if (Model == null || Model.Document == null) throw new NullReferenceException("ViewModel is null or ViewModel.Document is null.");
}

@section head {
	<link rel="stylesheet" href="~/Areas/Archiving/DocLinks/LinkPersons.css" />
}

@section breadcrumb {
		<li class="breadcrumb-item"><a asp-area="Archiving" asp-controller="Home" asp-action="Index">Archiving</a></li>
		<li class="breadcrumb-item"><a asp-area="Archiving" asp-controller="Documents" asp-action="Index">Documents</a></li>
		<li class="breadcrumb-item"><a asp-area="Archiving" asp-controller="Documents" asp-action="View" asp-route-ID="@Model.Document.ID">@Model.Document.Title</a></li>
		<li class="breadcrumb-item active">link persons</li>
}

@Html.Raw(ViewBag.AppMessage)
<div id="ChangeFilter">
	<button onclick="javascript: btnChangeFilter_Click();" type="button" class="btn btn-primary">Search again: change filter</button>
</div>
<section id="SearchForm">
	<form asp-action="_LinkPersons" method="get">
		<fieldset class="card">
			<h2 class="card-header">Link persons...</h2>
			<div class="card-body">
				<div class="row">
					<div class="col-sm-12 mb-3">
						<label for="Name">Having name like...</label>
						<div class="input-group">
							<input type="text" name="Name" maxlength="128" placeholder="Name filter pattern" class="form-control form-control-lg" />
							<span class="input-group-text" title="Exact match&#13;When checked, search will not append and prepend * wildcard to org name criteria" style="cursor:help;">
								<input asp-for="Exact" type="checkbox" />
							</span>
						</div>
					</div>
					<div class="col-sm-6 mb-3">
						<label for="Contact">Having contact detail like...</label>
						<input type="text" name="Contact" maxlength="64" placeholder="phone / fax / e-mail / website / etc" class="form-control" />
					</div>
					<div class="col-sm-6 mb-3">
						<label for="City">Having an address in city...</label>
						<input type="text" name="City" maxlength="64" placeholder="city name like ..." class="form-control" />
					</div>
				</div>
			</div>
			<div class="card-footer submit">
				<button type="submit" id="btnSearch" class="btn btn-primary">Search persons</button>
			</div>
		</fieldset>
	</form>
</section>
<form asp-action="Link" method="POST">
	<progress></progress>
	<section id="SearchResults">

	</section>
	<input type="hidden" name="ReturnUrl" value="@Url.Action("View", "Documents", new { ID=Model.Document.ID})" />
	<input type="hidden" name="EntityType" value="@Model.EntityType" />
	<input type="hidden" name="DocumentID" value="@Model.Document.ID" />
	<div class="Submit">
		<button type="submit" class="btn btn-primary">Link selected</button>
	</div>
</form>
<input type="hidden" id="hdnCrmPersViewUrl" value="@Url.Action("View", "Persons", new { Area="CRM", PersonID="" })" />

@section scripts {
	<script type="text/javascript" src="~/Areas/Archiving/DocLinks/LinkPersons.js"></script>
}
