﻿@using BeezMart.Entities.CRM
@model BeezMart.Areas.Archiving.ViewModels.DocLinks.LinkActivities_ViewModel

@{
	ViewBag.Title = "Lookup activities to link";
    if (Model == null) throw new NullReferenceException("ViewModel is null.");
    if (Model.Document == null) throw new NullReferenceException("ViewModel.Document is null.");
}

@section head {
	<link rel="stylesheet" href="~/Areas/Archiving/DocLinks/LinkActivities.css" />
}

@section breadcrumb {
		<li class="breadcrumb-item"><a asp-area="Archiving" asp-controller="Home" asp-action="Index">Archiving</a></li>
		<li class="breadcrumb-item"><a asp-area="Archiving" asp-controller="Documents" asp-action="Index">Documents</a></li>
		<li class="breadcrumb-item"><a asp-area="Archiving" asp-controller="Documents" asp-action="View" asp-route-ID="@Model.Document.ID">@Model.Document.Title</a></li>
		<li class="breadcrumb-item active">link activities</li>
}

@Html.Raw(ViewBag.AppMessage)
<div id="ChangeFilter">
	<button onclick="javascript: btnChangeFilter_Click();" type="button" class="btn btn-primary">Search again: change filter</button>
</div>
<section id="SearchForm">
	<form asp-action="_LinkActivities" method="get">
		<fieldset class="card">
			<h2 class="card-header">Link activities...</h2>
            <div class="card-body">
                <div class="mb-3">
                    <label asp-for="@Model.Title">Activity title</label>
                    <div class="input-group">
                        <input type="text" asp-for="@Model.Title" maxlength="1024" class="form-control" placeholder="Search by activity title" />
                        <span class="input-group-text" title="Exact match&#13;When checked, search will not append and prepend * wildcard to title criteria" style="cursor:help;">
                            <input type="checkbox" asp-for="@Model.Exact" />
                        </span>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12 col-sm-6 col-lg-8">
                        <div class="mb-3">
                            <label asp-for="@Model.Customer">Customer name like...</label>
                            <input type="text" asp-for="@Model.Customer" maxlength="256" class="form-control" placeholder="Name filter pattern" />
                        </div>
                    </div>
                    <div class="col-6 col-sm-3 col-lg-2">
                        <div class="mb-3">
                            <label asp-for="@Model.After" title="Started (or scheduled) after...">After</label>
                            <div class="input-group">
                                <input type="text" asp-for="@Model.After" asp-format="{0:yyyy-MM-dd}" maxlength="16" placeholder="yyyy-mm-dd" class="form-control Calendar" />
                                <span class="input-group-text Calendar"><b class="bi-calendar3"></b></span>
                            </div>
                        </div>
                    </div>
                    <div class="col-6 col-sm-3 col-lg-2">
                        <div class="mb-3">
                            <label asp-for="@Model.Before" title="Ended (or scheduled) before...">Before</label>
                            <div class="input-group">
                                <input type="text" asp-for="@Model.Before" asp-format="{0:yyyy-MM-dd}" maxlength="16" placeholder="yyyy-mm-dd" class="form-control Calendar" />
                                <span class="input-group-text Calendar"><b class="bi-calendar3"></b></span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="mb-3">
                    <label asp-for="@Model.Prj">Project name like...</label>
                    <input type="text" asp-for="@Model.Prj" maxlength="256" class="form-control" placeholder="Project title filter pattern" />
                </div>
            </div>
			<div class="card-footer submit">
				<button type="submit" id="btnSearch" class="btn btn-primary">Search activities</button>
			</div>
		</fieldset>
	</form>
</section>
<form asp-action="Link" method="POST">
	<progress></progress>
	<section id="SearchResults">

	</section>
	<input type="hidden" name="ReturnUrl" value="@Url.Action("View", "Documents", new { ID=Model.Document.ID})" />
	<input type="hidden" name="EntityType" value="@Model.EntityType" />
	<input type="hidden" name="DocumentID" value="@Model.Document.ID" />
	<div class="Submit">
		<button type="submit" class="btn btn-primary">Link selected</button>
	</div>
</form>
<input type="hidden" id="hdnTimeSheetActivitiesViewUrl" value="@Url.Action("View", "Activities", new { Area="TimeSheet", ActivityID="" })" />
<input type="hidden" id="hdnCrmOrgsViewUrl" value="@Url.Action("View", "Organizations", new { Area="CRM", OrganizationID="" })" />
<input type="hidden" id="hdnCrmPersViewUrl" value="@Url.Action("View", "Persons", new { Area="CRM", PersonID="" })" />

@section scripts {
	<script type="text/javascript" src="~/Areas/Archiving/DocLinks/LinkActivities.js"></script>
}
