﻿@using BeezMart.Entities.CRM
@model List<OrganizationModel>
@{
	if (Model == null) throw new NullReferenceException("ViewModel is null.");
}
@Html.Raw(ViewBag.AppMessage)
<table class="table table-striped table-hover table-sm">
    <tbody>
        @foreach (OrganizationModel organization in Model)
        {
        <tr data-id="@organization.ID">
            <td><a title="@organization.AlternateNames">@organization.Name</a></td>
            <td>@organization.HQ_City</td>
            <td><a title="Delete"><b class="bi-trash"></b></a></td>
        </tr>
        }
    </tbody>
    <tfoot>
        <tr>
            <td colspan="3">records found: <b>@Model.Count.ToString("#,##0")</b></td>
        </tr>
    </tfoot>
</table>