﻿@using BeezMart.Entities.CRM
@model List<PersonModel>
@{
	if (Model == null) throw new NullReferenceException("ViewModel is null.");
}
@Html.Raw(ViewBag.AppMessage)
<table class="table table-striped table-hover table-sm">
    <tbody>
        @foreach (PersonModel pers in Model)
        {
        <tr data-id="@pers.ID">
            <td><a>@pers.FirstName @pers.LastName</a></td>
            <td>@pers.Home_City</td>
            <td><a title="Delete"><b class="bi-trash"></b></a></td>
        </tr>
        }
    </tbody>
    <tfoot>
        <tr>
            <td colspan="3">records found: <b>@Model.Count.ToString("#,##0")</b></td>
        </tr>
    </tfoot>
</table>