﻿@using BeezMart.Entities.TimeSheet
@model List<ProjectModel>
@{
	if (Model == null) throw new NullReferenceException("ViewModel is null.");
}
@Html.Raw(ViewBag.AppMessage)
<table class="table table-striped table-hover table-sm">
    <tbody>
        @foreach (ProjectModel project in Model)
        {
        <tr data-id="@project.ID">
            <td><a>@project.Title</a></td>
            <td>@Html.FormatValue(project.ScheduledStart, "{0:yyyy-MM-dd}")</td>
            <td><a title="Delete"><b class="bi-trash"></b></a></td>
        </tr>
        }
    </tbody>
    <tfoot>
        <tr>
            <td colspan="3">records found: <b>@Model.Count.ToString("#,##0")</b></td>
        </tr>
    </tfoot>
</table>