﻿@{
    Layout = "~/Views/Shared/_LayoutSideBar.cshtml";
}

@section head { @RenderSection("head", required: false) }

@section sidebar {
    <li class="nav-item"><a class="nav-link text-info" asp-area="TimeSheet" asp-controller="Projects" asp-action="Index"><i class="bi-briefcase-fill"></i><span>Projects</span></a></li>
    <li class="nav-item"><a class="nav-link" asp-area="TimeSheet" asp-controller="Projects" asp-action="Add"><i class="bi-plus-circle"></i><span>Add new</span></a></li>
    <li class="nav-item"><a class="nav-link" asp-area="TimeSheet" asp-controller="Projects" asp-action="Search"><i class="bi-search"></i><span>Search</span></a></li>
    <li class="nav-item"><a class="nav-link text-info" asp-area="TimeSheet" asp-controller="Activities" asp-action="Index"><i class="bi-card-checklist"></i><span>Activities</span></a></li>
    <li class="nav-item"><a class="nav-link" asp-area="TimeSheet" asp-controller="Activities" asp-action="MyRecent"><i class="bi-sort-down"></i><span>My recent</span></a></li>
    <li class="nav-item"><a class="nav-link" asp-area="TimeSheet" asp-controller="Activities" asp-action="Recent"><i class="bi-sort-down"></i><span>Recent, all</a></span></li>
    <li class="nav-item"><a class="nav-link" asp-area="TimeSheet" asp-controller="Activities" asp-action="CurrentProjects"><i class="bi-boxes"></i><span>By project</span></a></li>
    <li class="nav-item"><a class="nav-link" asp-area="TimeSheet" asp-controller="Activities" asp-action="Add"><i class="bi-plus-circle"></i><span>Add new</span></a></li>
    <li class="nav-item"><a class="nav-link" asp-area="TimeSheet" asp-controller="Activities" asp-action="Search"><i class="bi-search"></i><span>Search</span></a></li>
}

@section breadcrumb {
    @if (IsSectionDefined("breadcrumb"))
    {
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                @RenderSection("breadcrumb", required: false)
            </ol>
        </nav>
    }
}

@section hero { @RenderSection("hero", required: false) }

@RenderBody()

@section modals { @RenderSection("modals", required: false) }
@section scripts { @RenderSection("scripts", required: false) }
