﻿@{
	Layout = "~/Views/Shared/_LayoutSideBar.cshtml";
}

@section head { @RenderSection("head", required: false) }

@section sidebar {
    <li class="nav-item"><a class="nav-link text-info" asp-area="CRM" asp-controller="Organizations" asp-action="Index"><i class="bi-buildings"></i><span>Organizations</span></a></li>
    <li class="nav-item"><a class="nav-link" asp-area="CRM" asp-controller="Organizations" asp-action="Search"><i class="bi-search"></i><span>Search</span></a></li>
    <li class="nav-item"><a class="nav-link" asp-area="CRM" asp-controller="Organizations" asp-action="Lookup"><i class="bi-list-ul"></i><span>Working set</span></a></li>
    <li class="nav-item"><a class="nav-link" asp-area="CRM" asp-controller="Organizations" asp-action="Add"><i class="bi-plus-circle"></i><span>Add new</span></a></li>
    <li class="nav-item"><a class="nav-link" asp-area="CRM" asp-controller="Organizations" asp-action="Merge"><i class="bi-sign-merge-left"></i><span>Merge</span></a></li>
    <li class="nav-item"><a class="nav-link text-info" asp-area="CRM" asp-controller="Persons" asp-action="Index"><i class="bi-people"></i><span>Individuals</span></a></li>
    <li class="nav-item"><a class="nav-link" asp-area="CRM" asp-controller="Persons" asp-action="Search"><i class="bi-search"></i><span>Search</span></a></li>
    <li class="nav-item"><a class="nav-link" asp-area="CRM" asp-controller="Persons" asp-action="Lookup"><i class="bi-list-ul"></i><span>Working set</span></a></li>
    <li class="nav-item"><a class="nav-link" asp-area="CRM" asp-controller="Persons" asp-action="Add"><i class="bi-plus-circle"></i><span>Add new</span></a></li>
    <li class="nav-item"><a class="nav-link" asp-area="CRM" asp-controller="Persons" asp-action="Merge"><i class="bi-sign-merge-left"></i><span>Merge</span></a></li>
}

@section breadcrumb {
    @if (IsSectionDefined("breadcrumb"))
    {
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                @RenderSection("breadcrumb", required: false)
            </ol>
        </nav>
    }
}

@section hero { @RenderSection("hero", required: false) }

@RenderBody()

@section modals { @RenderSection("modals", required: false) }
@section scripts { @RenderSection("scripts", required: false) }
