table#Items { width: 100%; }
table#Items thead th:nth-child(4) { text-align: center; }
table#Items thead th:nth-child(5) { text-align: center; }
table#Items thead th[title] { cursor: help; }
table#Items tbody tr td:nth-child(1) { font-weight: 600; }
table#Items tbody tr td:nth-child(4) { text-align: center; }
table#Items tbody tr td:nth-child(5) { text-align: center; }
table#Items tfoot td:last-child { text-align: right; }
