﻿table#Items { width: 100%; }
table#Items thead th:nth-child(3) { text-align: right; }
table#Items thead th:last-child { text-align: right; }
table#Items thead th[title] { cursor: help; }
table#Items tbody tr td:first-child { font-weight: 600; }
table#Items tbody tr td:nth-child(3) { text-align: right; }
table#Items tbody tr td:last-child { text-align: right; }
table#Items tbody tr td:last-child a { cursor: no-drop; font-weight: bold; color: #ff6a00; }
table#Items tfoot td:last-child { text-align: right; }
