﻿@model BeezMart.Areas.Billing.ViewModels.InvoiceItems.Edit_ViewModel
@{
	if (Model == null) throw new NullReferenceException("ViewModel is null.");
}
<aside id="ModalEditInvoiceItem" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true" data-bs-backdrop="static">
	<div class="modal-dialog">
		<div class="modal-content">
            <header class="modal-header">
                <h4 class="modal-title">Invoice item</h4>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </header>
			<form asp-action="_OnInvoiceSave" asp-controller="InvoiceItems" method="post" data-source="@Url.Action("_GetItem", "InvoiceItems", new { ItemID="[Replace-At-Runtime]" })">
				<input type="hidden" name="ID" data-bound="id" />
				<input type="hidden" name="InvoiceID" value="@Model.InvoiceID" data-bound="invoiceID" />
				<input type="hidden" name="ProductCatalogItemID" data-bound="productCatalogItemID" />
				<input type="hidden" name="ProductCatalogCategoryID" data-bound="productCatalogCategoryID" />
				<input type="hidden" name="ProductOrService" value="P" data-bound="productOrService" />
				<input type="hidden" name="SalesOrderItemID" data-bound="salesOrderItemID" />
				<input type="hidden" name="DeliveryDocumentID" data-bound="deliveryDocumentID" />
				<input type="hidden" name="DeliveryDocumentItemID" data-bound="deliveryDocumentItemID" />
                <section class="modal-body">
                    <p>Fill in the invoice item fields</p>
                    <progress></progress>
                    <div class="row">
                        <div class="mb-3 col-12">
                            <label class="required">Item name</label>
                            <textarea name="Name" placeholder="Product or service..." required="required" rows="5" maxlength="1024" data-bound="name" class="form-control"></textarea>
                        </div>
                        <div class="mb-3 col-4">
                            <label class="required">Quantity</label>
                            <input type="number" name="Quantity" value="1" placeholder="integer number" maxlength="16" data-bound="quantity" class="form-control" />
                        </div>
                        <div class="mb-3 col-4">
                            <label class="required" title="Unit Measure">U.M.</label>
                            <input type="text" name="UnitMeasure" value="@Model.DefaultUnitMeasure" data-default="@Model.DefaultUnitMeasure" placeholder="Ex: pcs" maxlength="16" data-bound="unitMeasure" class="form-control" />
                        </div>
                        <div class="mb-3 col-4">
                            <label class="required">Unit price</label>
                            <input type="number" name="UnitPrice" placeholder="Ex: 1234.60" maxlength="16" data-bound="unitPrice" class="form-control" />
                        </div>
                    </div>
                </section>
				<footer class="modal-footer">
					<button type="button" class="btn btn-primary" onclick="btnSaveInvoiceItem_Click();">Save item</button>
					<button type="button" class="btn btn-light" data-bs-dismiss="modal">Cancel</button>
				</footer>
			</form>
		</div>
	</div>
</aside>
<form asp-action="_OnInvoiceDelete" asp-controller="InvoiceItems" method="delete" id="frmDelInvoiceItem">
	<input type="hidden" name="ItemID" />
	<input type="hidden" name="InvoiceID" value="@Model.InvoiceID" />
</form>
<aside id="ModalProductPortfolio" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true" data-bs-backdrop="static">
	<div class="modal-dialog">
		<div class="modal-content">
			<header class="modal-header">
				<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
				<h4 class="modal-title">Product or service from portfolio</h4>
				<p>Pre-populate invoice item details from existing portfolio products or services</p>
			</header>
			<section class="modal-body">
				<progress id="prgrsSearchPortfolio"></progress>
				<div id="SearchResultPortfolio"></div>
			</section>
			<footer class="modal-footer">
				<button type="button" class="btn btn-primary">Search</button>
				<button type="button" class="btn btn-light" data-bs-dismiss="modal">Cancel</button>
			</footer>
		</div>
	</div>
</aside>
