﻿@model BeezMart.Areas.Billing.ViewModels.InvoiceItems.Index_ViewModel
@{
	if (Model == null) throw new NullReferenceException("ViewModel is null.");
	if (Model.Invoice == null) throw new NullReferenceException("ViewModel.Invoice is null.");
	if (Model.InvoiceItems == null) throw new NullReferenceException("ViewModel.InvoiceItems is null.");
	int ItemCount = 0;
	decimal itemVAT = 0;
	string FormatPriceUnits = MyApp.ConfigSettings["Sales.Decimal-Format-Units"];
	string FormatPriceTotals = MyApp.ConfigSettings["Sales.Decimal-Format-Totals"];
	decimal InvoiceTotalVAT = 0;
	decimal InvoiceTotalPrice = 0;
	decimal InvoiceTotalDue = 0;
}
@Html.Raw(ViewBag.AppMessage)
<table class="table table-hover table-striped table-responsive-md" data-invoice-status="@Model.Invoice.Status">
	<thead>
		<tr>
			<th>Itm</th>
			<th>Item name</th>
			<th title="Unit measure">U.M.</th>
			<th title="Quantity">Qty</th>
			<th>Unit price</th>
			<th>Total</th>
			<th title="VAT amount per item">VAT</th>
			<th><span>&times;</span></th>
		</tr>
	</thead>
	<tbody>
		@foreach (InvoiceItemModel item in Model.InvoiceItems)
		{
			ItemCount++;
			itemVAT = item.TotalPrice * Model.Invoice.VATpercentage / 100;
			InvoiceTotalVAT += itemVAT;
			InvoiceTotalPrice += item.TotalPrice;
			InvoiceTotalDue += itemVAT + item.TotalPrice;
			<tr data-record="@item.ID">
				<td>@ItemCount</td>
				<td><a>@item.Name</a></td>
				<td>@item.UnitMeasure</td>
				<td>@item.Quantity.ToString("#,##0")</td>
				<td>@item.UnitPrice.ToString(FormatPriceUnits)</td>
				<td>@item.TotalPrice.ToString(FormatPriceTotals)</td>
				<td>@itemVAT.ToString(FormatPriceTotals)</td>
				<td><a>&times;</a></td>
			</tr>
		}
	</tbody>
	<tfoot>
		<tr data-value="@InvoiceTotalDue" data-value-formatted="@InvoiceTotalDue.ToString(FormatPriceTotals)">
            <td colspan="5">SUB-TOTALS</td>
			<td>@InvoiceTotalPrice.ToString(FormatPriceTotals)</td>
			<td>@InvoiceTotalVAT.ToString(FormatPriceTotals)</td>
			<td></td>
		</tr>
	</tfoot>
</table>
