﻿@{
    Layout = "~/Views/Shared/_LayoutSideBar.cshtml";
}

@section head { @RenderSection("head", required: false) }

@section sidebar {
    <li class="nav-item open"><a class="nav-link nav-link-primary" asp-area="Admin" asp-controller="Home" asp-action="Index"><i class="bi-sliders"></i><span>Admin area</span></a></li>
    @if (!MyApp.EnvSettings.AzureEntraAuthentication.Enabled)
    {
    <li class="nav-item"><a class="nav-link" asp-area="Admin" asp-controller="Users" asp-action="Index"><i class="bi-people"></i><span>User accounts</span></a></li>
    <li class="nav-item"><a class="nav-link" asp-area="Admin" asp-controller="Users" asp-action="Add"><i class="bi-person-add"></i><span>Add account</span></a></li>
    }
    <li class="nav-item"><a class="nav-link" asp-area="Admin" asp-controller="CrmOrgs" asp-action="Index"><i class="bi-buildings"></i><span>CRM Organizations</span></a></li>
    <li class="nav-item"><a class="nav-link" asp-area="Admin" asp-controller="CrmPers" asp-action="Index"><i class="bi-person-vcard"></i><span>CRM Persons</span></a></li>
    <li class="nav-item"><a class="nav-link" asp-area="Admin" asp-controller="CrmJobTypes" asp-action="Index"><i class="bi-diagram-3"></i><span>Job taxonomy</span></a></li>
    <li class="nav-item"><a class="nav-link" asp-area="Admin" asp-controller="TimeSheet" asp-action="Index"><i class="bi-list-check"></i><span>TimeSheet</span></a></li>
    <li class="nav-item"><a class="nav-link" asp-area="Admin" asp-controller="ArchivingDocuments" asp-action="Index"><i class="bi-files-alt"></i><span>Archiving</span></a></li>
    <li class="nav-item"><a class="nav-link" asp-area="Admin" asp-controller="Setup" asp-action="Settings"><i class="bi-gear"></i><span>Settings</span></a></li>
}

@section breadcrumb {
    @if (IsSectionDefined("breadcrumb"))
    {
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                @RenderSection("breadcrumb", required: false)
            </ol>
        </nav>
    }
}

@section hero { @RenderSection("hero", required: false) }

@RenderBody()

@section modals { @RenderSection("modals", required: false) }
@section scripts { @RenderSection("scripts", required: false) }
