﻿@{
    Layout = "~/Views/Shared/_LayoutSideBar.cshtml";
}

@section head { @RenderSection("head", required: false) }

@section sidebar {
    <li class="nav-item"><a class="nav-link text-info" asp-area="Billing" asp-controller="Invoices" asp-action="Index"><i class="bi-receipt-cutoff"></i><span>Invoices</span></a></li>
    <li class="nav-item"><a class="nav-link" asp-area="Billing" asp-controller="Invoices" asp-action="Start"><i class="bi-fast-forward-circle"></i><span>Start new</span></a></li>
    <li class="nav-item"><a class="nav-link" asp-area="Billing" asp-controller="Invoices" asp-action="Add"><i class="bi-plus-circle"></i><span>Add new</span></a></li>
    <li class="nav-item"><a class="nav-link" asp-area="Billing" asp-controller="Invoices" asp-action="Recent"><i class="bi-list-ul"></i><span>Recent</span></a></li>
    <li class="nav-item"><a class="nav-link" asp-area="Billing" asp-controller="Invoices" asp-action="Drafts"><i class="bi-pencil"></i><span>Drafts</span></a></li>
    <li class="nav-item"><a class="nav-link" asp-area="Billing" asp-controller="Invoices" asp-action="Validated"><i class="bi-hand-thumbs-up"></i><span>Validated</span></a></li>
    <li class="nav-item"><a class="nav-link" asp-area="Billing" asp-controller="Invoices" asp-action="Pending"><i class="bi-hourglass-split"></i><span>Pending</span></a></li>
    <li class="nav-item"><a class="nav-link" asp-area="Billing" asp-controller="Invoices" asp-action="Overdue"><i class="bi-alarm"></i><span>Overdue</span></a></li>
    <li class="nav-item"><a class="nav-link" asp-area="Billing" asp-controller="Invoices" asp-action="Search"><i class="bi-search"></i><span>Search</span></a></li>
}

@section breadcrumb {
    @if (IsSectionDefined("breadcrumb"))
    {
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                @RenderSection("breadcrumb", required: false)
            </ol>
        </nav>
    }
}

@section hero { @RenderSection("hero", required: false) }

@RenderBody()

@section modals { @RenderSection("modals", required: false) }
@section scripts { @RenderSection("scripts", required: false) }
