﻿@using BeezMart.Entities.Geography
@using BeezMart.Entities.CRM

@model BeezMart.Areas.CRM.ViewModels.PersSites.Add_ViewModel

@{
	if (Model == null) throw new NullReferenceException("ViewModel. is null.");
	if (Model.PersSite == null) throw new NullReferenceException("ViewModel.PersSite is null.");
	if (Model.Person == null) throw new NullReferenceException("ViewModel.Person is null.");
	ViewBag.Title = "Add address for person";
	byte contactStatus = (byte)Model.PersSite.ContactStatus;
	List<Country> countries = await BeezMart.DAL.Geography.Countries.ListAsync();
}

@section head {
	<link rel="stylesheet" href="~/Areas/CRM/PersSites/Add.css" />
}

@section breadcrumb {
    <li class="breadcrumb-item"><a asp-area="CRM" asp-controller="Home" asp-action="Index">CRM</a></li>
    <li class="breadcrumb-item"><a asp-area="CRM" asp-controller="Persons" asp-action="Index">Persons</a></li>
    <li class="breadcrumb-item"><a asp-area="CRM" asp-controller="Persons" asp-action="View" asp-route-PersonID="@Model.Person.ID">@Model.Person.FirstName @Model.Person.LastName</a></li>
    <li class="breadcrumb-item"><a asp-area="CRM" asp-controller="PersSites" asp-action="Index" asp-route-PersonID="@Model.Person.ID">Locations</a></li>
    <li class="breadcrumb-item active">add new</li>
}

@Html.Raw(ViewBag.AppMessage)
<form method="post" asp-action="Add" id="frmEditPersSite" role="form" class="container">
	<input type="hidden" name="PersSite.ID" value="@Model.PersSite.ID" />
	<input type="hidden" name="PersSite.PersonID" value="@Model.PersSite.PersonID" />
	<input type="hidden" name="NextURL" value="@Model.NextURL" />
	<fieldset class="card">
		<h4 class="card-header">Add location address. <small>@Model.Person.FirstName @Model.Person.LastName</small></h4>
		<div class="card-body">
			<div class="row">
				<div class="col-sm-4">
					<div class="mb-3">
						<label for="PersSite_City" class="required" title="City is a required field for saving an address">City</label>
						<input type="text"  id="PersSite_City" name="PersSite.City" value="@Model.PersSite.City" maxlength="64" placeholder="City name..." required="required" class="form-control required form-control-lg" />
					</div>
				</div>
				<div class="col-sm-4">
					<div class="mb-3">
						<label for="PersSite_Country">Country</label>
						<select  id="PersSite_Country" name="PersSite.Country" data-selected="@Model.Person.CountryOfOrigin" class="form-control form-control-lg">
							<option value="">=== PLEASE SELECT ===</option>
							@foreach (Country country in countries) {
								<option value="@country.ID">@country.Name</option>
							}
						</select>
					</div>
				</div>
				<div class="col-sm-4">
					<div class="mb-3">
						<label for="PersSite_StateProvince">State or province</label>
						<input type="text"  id="PersSite_StateProvince" name="PersSite.StateProvince" value="@Model.PersSite.StateProvince" maxlength="128" placeholder="State, province or county" class="form-control form-control-lg" />
					</div>
				</div>
				<div class="col-sm-4">
					<div class="mb-3">
						<label for="PersSite_StreetAddress1">Address line 1</label>
						<input type="text"  id="PersSite_StreetAddress1" name="PersSite.StreetAddress1" value="@Model.PersSite.StreetAddress1" maxlength="128" placeholder="Address, line 1..." class="form-control" />
					</div>
				</div>
				<div class="col-sm-4">
					<div class="mb-3">
						<label for="PersSite_StreetAddress2">Address line 2</label>
						<input type="text"  id="PersSite_StreetAddress2" name="PersSite.StreetAddress2" value="@Model.PersSite.StreetAddress2" maxlength="128" placeholder="Address, line 2..." class="form-control" />
					</div>
				</div>
				<div class="col-sm-4">
					<div class="mb-3">
						<label for="PersSite_StreetAddress3">Address line 3</label>
						<input type="text"  id="PersSite_StreetAddress3" name="PersSite.StreetAddress3" value="@Model.PersSite.StreetAddress3" maxlength="128" placeholder="Address, line 3..." class="form-control" />
					</div>
				</div>
				<div class="col-sm-4">
					<div class="mb-3">
						<label for="PersSite_Department">Company department</label>
						<input type="text"  id="PersSite_Department" name="PersSite.Department" value="@Model.PersSite.Department" maxlength="128" placeholder="Company department" class="form-control input-sm" />
					</div>
				</div>
				<div class="col-sm-4">
					<div class="mb-3">
						<label for="PersSite_ZipPostCode">Zip or postal code</label>
						<input type="text"  id="PersSite_ZipPostCode" name="PersSite.ZipPostCode" value="@Model.PersSite.ZipPostCode" maxlength="32" placeholder="Zip or post code" class="form-control input-sm" />
					</div>
				</div>
				<div class="col-sm-4">
					<div class="mb-3">
						<label for="PersSite_Region">Region</label>
						<input type="text"  id="PersSite_Region" name="PersSite.Region" value="@Model.PersSite.Region" maxlength="64" placeholder="Region, land..." class="form-control input-sm" />
					</div>
				</div>
				<div class="col-sm-12">
					<div class="mb-3">
						<label for="PersSite_Directions">Directions on how to get there</label>
						<input type="text"  id="PersSite_Directions" name="PersSite.Directions" value="@Model.PersSite.Directions" maxlength="128" placeholder="Internal notes on how to get there" class="form-control input-sm" />
					</div>
				</div>
				<div class="col-sm-8">
					<div class="mb-3">
						<label for="PersSite_SiteName">Site name</label>
						<input type="text"  id="PersSite_SiteName" name="PersSite.SiteName" value="@Model.PersSite.SiteName" maxlength="128" placeholder="Denominator for site" class="form-control input-sm" />
					</div>
				</div>
				<div class="col-sm-4">
					<div class="mb-3">
						<label for="PersSite_ContactStatus">Site address status</label>
						<select  id="PersSite_ContactStatus" name="PersSite.ContactStatus" data-selected="@contactStatus" class="form-control input-sm">
							<option value="1">Unconfirmed</option>
							<option value="2">Confirmed</option>
							<option value="3">Incomplete</option>
							<option value="4">Invalid</option>
							<option value="5">NonExisting</option>
							<option value="6">ToBeChanged</option>
							<option value="7">HavingProblems</option>
						</select>
					</div>
				</div>
			</div>
			<div id="IsHomeBillShip">
				<div class="mb-3">
					<label class="input-group">
						<span class="input-group-text"><input type="checkbox" asp-for="IsHome" /></span>
						<span class="form-control">This is the home address of the person, the main residence site</span>
					</label>
				</div>
				<div class="mb-3">
					<label class="input-group">
						<span class="input-group-text"><input type="checkbox" asp-for="IsBilling" /></span>
						<span class="form-control">Use the address for billing, or issuing invoices to person</span>
					</label>
				</div>
				<div class="mb-3">
					<label class="input-group">
						<span class="input-group-text"><input type="checkbox" asp-for="IsShipping" /></span>
						<span class="form-control">This is the address for shipping, when we deliver merchandise to person</span>
					</label>
				</div>
			</div>
		</div>
		<div class="card-footer">
			<progress></progress>
			<div class="submit">
				<a href="@Model.NextURL" class="btn btn-warning">Cancel</a>
				<button type="button" id="btnSubmit" onclick="javascript: btnSubmit_Click();" class="btn btn-primary">Save location address</button>
			</div>
		</div>
	</fieldset>
</form>
<input type="hidden" id="hdnStatesProvincesUrl" value="@Url.Action("StatesProvinces", "Enums")" />

@section scripts {
	<script type="text/javascript" src="~/Areas/CRM/PersSites/Add.js"></script>
}
