﻿@model BeezMart.Areas.CRM.ViewModels.PersSites.Index_ViewModel

@{
	if (Model == null) throw new NullReferenceException("ViewModel. is null.");
	if (Model.PersSites == null) throw new NullReferenceException("ViewModel.PersSites is null.");
	if (Model.Person == null) throw new NullReferenceException("ViewModel.Person is null.");
    ViewBag.Title = "Person sites, locations";
}

@section breadcrumb {
	<li class="breadcrumb-item"><a asp-area="CRM" asp-controller="Home" asp-action="Index">CRM</a></li>
	<li class="breadcrumb-item"><a asp-area="CRM" asp-controller="Persons" asp-action="Index">Persons</a></li>
	<li class="breadcrumb-item"><a asp-area="CRM" asp-controller="Persons" asp-action="View" asp-route-PersonID="@Model.Person.ID">@Model.Person.FirstName @Model.Person.LastName</a></li>
	<li class="breadcrumb-item active">Locations</li>
}

<section id="Records" class="card">
    <h4 class="card-header">@Model.Person.FirstName @Model.Person.LastName. <small>Locations</small></h4>
    <div class="card-body">
        <table class="table table-hover table-striped">
			<thead>
				<tr>
					<th>Location name, City</th>
					<th>State or province</th>
					<th>Address line 1</th>
					<th>Cntry</th>
				</tr>
			</thead>
			<tbody>
				@foreach (PersSiteModel address in Model.PersSites) {
					<tr>
						<td>@Html.FormatValue(address.SiteName, "{0}, ")<b><a asp-action="View" asp-controller="PersSites" asp-route-SiteAddressID="@address.ID">@address.City</a></b></td>
						<td>@address.StateProvince</td>
						<td>@address.StreetAddress1</td>
						<td>@address.Country</td>
					</tr>
				}
			</tbody>
			<tfoot>
				<tr>
					<td colspan="4">records found: <b>@Model.PersSites.Count</b></td>
				</tr>
			</tfoot>
		</table>
    </div>
    <div class="card-footer">
        <a asp-action="Add" asp-controller="PersSites" asp-route-PersonID="@Model.Person.ID" class="btn btn-primary">Add new</a>
    </div>
</section>
