﻿@model BeezMart.Areas.CRM.ViewModels.PersSites.View_ViewModel

@{
    if (Model == null) throw new NullReferenceException("ViewModel. is null.");
    if (Model.PersSite == null) throw new NullReferenceException("ViewModel.PersSite is null.");
    if (Model.Person == null) throw new NullReferenceException("ViewModel.Person is null.");
    ViewBag.Title = "Person site, address";
    byte contactStatus = (byte)Model.PersSite.ContactStatus;
}

@section head {
    <link rel="stylesheet" href="~/Areas/CRM/PersSites/View.css" />
}

@section breadcrumb {
    <li class="breadcrumb-item"><a asp-area="CRM" asp-controller="Home" asp-action="Index">CRM</a></li>
    <li class="breadcrumb-item"><a asp-area="CRM" asp-controller="Persons" asp-action="Index">Persons</a></li>
    <li class="breadcrumb-item"><a asp-action="View" asp-controller="Persons" asp-area="CRM" asp-route-PersonID="@Model.Person.ID">@Model.Person.FirstName @Model.Person.LastName</a></li>
    <li class="breadcrumb-item"><a asp-action="Index" asp-controller="PersSites" asp-area="CRM" asp-route-PersonID="@Model.Person.ID">Locations</a></li>
    <li class="breadcrumb-item active">view</li>
}

@ViewBag.AppMessage
<fieldset class="card">
    <h4 class="card-header">
        @if (string.IsNullOrEmpty(Model.PersSite.SiteName)) {
            <text>@Model.PersSite.City @Html.Raw(Html.FormatValue(Model.PersSite.StreetAddress1, "&bull; {0}"))</text>
        }
        else {
            <text>@Model.PersSite.SiteName</text>
        }
    </h4>
     <div class="card-body">
        <div class="row">
            <div class="col-sm-4">
                <div class="mb-3">
                    <label for="PersSite_City" class="required" title="City is a required field for saving an address">City</label>
                    <input type="text" id="PersSite_City" name="PersSite.City" value="@Model.PersSite.City" maxlength="64" placeholder="City name..." readonly="readonly" required="required" class="form-control required form-control-lg" />
                </div>
            </div>
            <div class="col-sm-4">
                <div class="mb-3">
                    <label for="PersSite_Country">Country</label>
                    <input type="text" id="PersSite_Country" name="PersSite.Country" value="@Model.PersSite.Country" maxlength="64" placeholder="Country..." readonly="readonly" required="required" class="form-control required form-control-lg" />
                </div>
            </div>
            <div class="col-sm-4">
                <div class="mb-3">
                    <label for="PersSite_StateProvince">State or province</label>
                    <input type="text" id="PersSite_StateProvince" name="PersSite.StateProvince" value="@Model.PersSite.StateProvince" maxlength="128" readonly="readonly" placeholder="State, province or county" class="form-control form-control-lg" />
                </div>
            </div>
            <div class="col-sm-4">
                <div class="mb-3">
                    <label for="PersSite_StreetAddress1">Address line 1</label>
                    <input type="text" id="PersSite_StreetAddress1" name="PersSite.StreetAddress1" value="@Model.PersSite.StreetAddress1" maxlength="128" readonly="readonly" placeholder="Address, line 1..." class="form-control" />
                </div>
            </div>
            <div class="col-sm-4">
                <div class="mb-3">
                    <label for="PersSite_StreetAddress2">Address line 2</label>
                    <input type="text" id="PersSite_StreetAddress2" name="PersSite.StreetAddress2" value="@Model.PersSite.StreetAddress2" maxlength="128" readonly="readonly" placeholder="Address, line 2..." class="form-control" />
                </div>
            </div>
            <div class="col-sm-4">
                <div class="mb-3">
                    <label for="PersSite_StreetAddress3">Address line 3</label>
                    <input type="text" id="PersSite_StreetAddress3" name="PersSite.StreetAddress3" value="@Model.PersSite.StreetAddress3" maxlength="128" readonly="readonly" placeholder="Address, line 3..." class="form-control" />
                </div>
            </div>
            <div class="col-sm-4">
                <div class="mb-3">
                    <label for="PersSite_Department">Company department</label>
                    <input type="text" id="PersSite_Department" name="PersSite.Department" value="@Model.PersSite.Department" maxlength="128" readonly="readonly" placeholder="Company department" class="form-control input-sm" />
                </div>
            </div>
            <div class="col-sm-4">
                <div class="mb-3">
                    <label for="PersSite_ZipPostCode">Zip or postal code</label>
                    <input type="text" id="PersSite_ZipPostCode" name="PersSite.ZipPostCode" value="@Model.PersSite.ZipPostCode" maxlength="32" readonly="readonly" placeholder="Zip or post code" class="form-control input-sm" />
                </div>
            </div>
            <div class="col-sm-4">
                <div class="mb-3">
                    <label for="PersSite_Region">Region</label>
                    <input type="text" id="PersSite_Region" name="PersSite.Region" value="@Model.PersSite.Region" maxlength="64" readonly="readonly" placeholder="Region, land..." class="form-control input-sm" />
                </div>
            </div>
            <div class="col-sm-12">
                <div class="mb-3">
                    <label for="PersSite_Directions">Directions on how to get there</label>
                    <input type="text" id="PersSite_Directions" name="PersSite.Directions" value="@Model.PersSite.Directions" maxlength="128" readonly="readonly" placeholder="Internal notes on how to get there" class="form-control input-sm" />
                </div>
            </div>
            <div class="col-sm-8">
                <div class="mb-3">
                    <label for="PersSite_SiteName">Site name</label>
                    <input type="text" id="PersSite_SiteName" name="PersSite.SiteName" value="@Model.PersSite.SiteName" maxlength="128" readonly="readonly" placeholder="Denominator for site" class="form-control input-sm" />
                </div>
            </div>
            <div class="col-sm-4">
                <div class="mb-3">
                    <label for="PersSite_ContactStatus">Site address status</label>
                    <select id="PersSite_ContactStatus" name="PersSite.ContactStatus" data-selected="@contactStatus" disabled="disabled" class="form-control input-sm">
                        <option value="1">Unconfirmed</option>
                        <option value="2">Confirmed</option>
                        <option value="3">Incomplete</option>
                        <option value="4">Invalid</option>
                        <option value="5">NonExisting</option>
                        <option value="6">ToBeChanged</option>
                        <option value="7">HavingProblems</option>
                    </select>
                </div>
            </div>
        </div>
        <div id="IsHomeBillShip">
            <div class="mb-3">
                <label class="input-group">
                    <span class="input-group-text"><input type="checkbox" asp-for="IsHome" disabled="disabled" /></span>
                    <span class="form-control">This is the home address of the person, the main residence site</span>
                </label>
            </div>
            <div class="mb-3">
                <label class="input-group">
                    <span class="input-group-text"><input type="checkbox" asp-for="IsBilling" disabled="disabled" /></span>
                    <span class="form-control">Use the address for billing, or issuing invoices to person</span>
                </label>
            </div>
            <div class="mb-3">
                <label class="input-group">
                    <span class="input-group-text"><input type="checkbox" asp-for="IsShipping" disabled="disabled" /></span>
                    <span class="form-control">This is the address for shipping, when we deliver merchandise to person</span>
                </label>
            </div>
        </div>
    </div>
    <div class="card-footer submit">
        <a asp-action="View" asp-controller="Persons" asp-route-PersonID="@Model.Person.ID" class="btn btn-success">&laquo; Back to person</a>
        <button type="button" onclick="javascript: btnDelete_Click();" class="btn btn-danger">Delete</button>
        <a asp-action="Edit" asp-controller="PersSites" asp-route-SiteAddressID="@Model.PersSite.ID" class="btn btn-primary">Edit address fields</a>
    </div>
</fieldset>

@section scripts {
    <script type="text/javascript" src="~/Areas/CRM/PersSites/View.js"></script>
}
