﻿@model BeezMart.Areas.Billing.ViewModels.Payments._OnInvoiceDelete_ViewModel
@{
	if (Model == null) throw new NullReferenceException("ViewModel is null.");
}
@Html.Raw(Model.Message)
<input type="hidden" id="hdnPaymentDelete_InvoiceStatus" value="@Model.InvoiceStatus.ToString()" />
<input type="hidden" id="hdnPaymentDelete_ReviewInvoice" value="@Model.ReviewInvoice.ToString().ToLower()" />
<input type="hidden" id="hdnPaymentDelete_RemainingToBePayed" value="@Model.RemainingToBePayed.ToString("#,##0.00")" />
