﻿@model BeezMart.Areas.Billing.ViewModels.Payments._OnInvoiceSave_ViewModel
@{
	if (Model == null) throw new NullReferenceException("ViewModel is null.");
}
@Html.Raw(Model.Message)
<input type="hidden" id="hdnPaymentSave_ReadyToClose" value="@Model.ReadyToClose.ToString().ToLower()" />
<input type="hidden" id="hdnPaymentSave_RemainingToBePayed" value="@Model.RemainingToBePayed.ToString("#,##0.00")" />
<input type="hidden" id="hdnPaymentSave_InvoiceStatus" value="@Model.InvoiceStatus" />

