﻿@model List<PaymentModel>
@{
	if (Model == null) throw new NullReferenceException("ViewModel is null.");
}
<table class="table table-hover table-striped table-responsive-md">
	<thead>
		<tr>
			<th>Payed on</th>
			<th>Amount</th>
			<th colspan="2">Invoice, date</th>
			<th>Customer name</th>
			<th>&times;</th>
		</tr>
	</thead>
	<tbody>
		@foreach (PaymentModel payment in Model)
		{
			<tr data-record="@payment.ID">
				<td><a>@Html.FormatValue(payment.PaymentDate, "{0:yyyy-MM-dd}")</a></td>
				<td>@Html.FormatValue(payment.Amount, "{0:#,##0.00}") @payment.Currency</td>
				<td>@payment.InvoiceAccountingID</td>
				<td><a data-id="@payment.InvoiceID">@Html.FormatValue(payment.InvoiceIssueDate, "{0:yyyy-MM-dd}")</a></td>
				<td>
					@if (payment.OrganizationID.HasValue) { <a data-orgs="@payment.OrganizationID">@payment.CustomerName</a> }
					else
					{
						if (payment.PersonID.HasValue) { <a data-pers="@payment.PersonID">@payment.CustomerName</a> }
						else { <text>@payment.CustomerName</text> }
					}
				</td>
				<td><a>&times;</a></td>
			</tr>
		}
	</tbody>
	<tfoot>
		<tr>
			<td colspan="6">records found: <b>@Model.Count.ToString("#,##0")</b></td>
		</tr>
	</tfoot>
</table>

