﻿@model BeezMart.Areas.Billing.ViewModels.Payments._OnIndexSave_ViewModel
@{
	if (Model == null) throw new NullReferenceException("ViewModel is null.");
}
@Html.Raw(Model.Message)
<input type="hidden" id="hdnReadyToClose" value="@Model.ReadyToClose.ToString().ToLower()" />
<input type="hidden" id="hdnRemainingToBePayed" value="@Model.RemainingToBePayed.ToString("#,##0.00")" />
<input type="hidden" id="hdnInvoiceID" value="@Model.InvoiceID" />
<input type="hidden" id="hdnInvoiceStatus" value="@Model.InvoiceStatus" />