﻿@model List<PaymentModel>
@{
	if (Model == null) throw new NullReferenceException("ViewModel is null.");
}
@Html.Raw(ViewBag.AppMessage)
@{
	decimal PaidAmount = 0M;
	decimal TotalDue = (decimal)ViewBag.TotalDue;
	decimal RemainingToPay = TotalDue;
	foreach (PaymentModel payment in Model)
	{
		PaidAmount += payment.Amount;
		RemainingToPay -= payment.Amount;
	}

}
<div class="progress">
	<div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100" style="width: 70%">70% paid</div>
</div>
<table class="table table-hover table-striped table-responsive-md">
	<thead>
		<tr>
			<th>Date paid</th>
			<th>Amount</th>
			<th>Comments</th>
			<th>&times;</th>
		</tr>
	</thead>
	<tbody>
		@foreach (PaymentModel payment in Model) {
			<tr data-record="@payment.ID">
				<td><a>@Html.FormatValue(payment.PaymentDate, "{0:dddd, yyyy-MM-dd}")</a></td>
				<td><b>@Html.FormatValue(payment.Amount, "{0:#,##0.00}")</b> @payment.Currency</td>
				<td>@payment.Comments</td>
				<td><a>&times;</a></td>
			</tr>
		}
	</tbody>
	<tfoot>
		<tr>
			<td colspan="4" data-value="@PaidAmount" data-remaining="@RemainingToPay.ToString("#,##0.00")">paid amount: <b>@PaidAmount.ToString("#,##0.00")</b> &bull; remaining: @RemainingToPay.ToString("#,##0.00")</td>
		</tr>
	</tfoot>
</table>