﻿@model BeezMart.Areas.Billing.ViewModels.Payments._OnInvoiceEdit_ViewModel
@{
	if (Model == null) throw new NullReferenceException("ViewModel is null.");
}
<aside id="ModalEditPayment" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true" data-bs-backdrop="static">
	<div class="modal-dialog">
		<div class="modal-content">
            <header class="modal-header">
                <h4 class="modal-title">Add payment to invoice</h4>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </header>
			<form asp-action="_OnInvoiceSave" asp-controller="Payments" method="post" data-source="@Url.Action("_GetPayment", "Payments", new { PaymentID="[Replace-At-Runtime]" })">
				<input type="hidden" name="ID" data-bound="ID" />
				<input type="hidden" name="InvoiceID" value="@Model.InvoiceID" />
				<input type="hidden" name="PaymentCheckID" data-bound="PaymentCheckID" />
                <section class="modal-body">
                    <progress></progress>
                    <div class="row">
                        <div class="col-6">
                            <label>Payment date</label>
                            <input type="hidden" name="PaymentDate" value="@Html.FormatValue(DateTime.Now, "{0:yyyy-MM-dd}")" data-bound="PaymentDate" />
                            <div id="PaymentDateCalendar"></div>
                        </div>
                        <div class="col-6">
                            <div class="mb-3">
                                <label class="required">Amount</label>
                                <input type="text" name="Amount" value="0" step="0.01" min="0" placeholder="decimal number" maxlength="16" data-bound="Amount" class="form-control" />
                            </div>
                            <div class="mb-3">
                                <label class="required">Currency</label>
                                <input type="text" name="Currency" data-default="@Model.DefaultCurrency" placeholder="Ex: EUR" maxlength="3" data-bound="Currency" class="form-control" />
                            </div>
                        </div>
                    </div>
                    <div class="mb-3">
                        <label>Comments</label>
                        <textarea name="Comments" rows="5" maxlength="1024" data-bound="Comments" class="form-control"></textarea>
                    </div>
                </section>
				<footer class="modal-footer">
					<button type="submit" class="btn btn-success">Save payment</button>
					<button type="button" class="btn btn-warning" id="btnCloseInvoice1" onclick="btnCloseInvoice_Click();">Close invoice</button>
					<button type="button" class="btn btn-light" data-bs-dismiss="modal">Cancel</button>
				</footer>
			</form>
		</div>
	</div>
</aside>
<aside id="ModalPaymentMessage" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true" data-bs-backdrop="static">
	<div class="modal-dialog">
		<div class="modal-content">
            <header class="modal-header">
                <h4 class="modal-title">Invoice payment result</h4>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </header>
			<section class="modal-body">
				<div id="AddPaymentMessage">

				</div>
			</section>
			<footer class="modal-footer">
				<button type="button" class="btn btn-warning" id="btnCloseInvoice2" onclick="btnCloseInvoice_Click();">Close invoice</button>
				<button type="button" class="btn btn-light" data-bs-dismiss="modal">Done</button>
			</footer>
		</div>
	</div>
</aside>
<form asp-action="_OnInvoiceDelete" asp-controller="Payments" method="delete" id="frmDeletePayment">
	<input type="hidden" name="PaymentID" />
	<input type="hidden" name="InvoiceID" value="@Model.InvoiceID" />
</form>
<aside id="ModalPaymentDelete" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true" data-bs-backdrop="static">
	<div class="modal-dialog">
		<div class="modal-content">
            <header class="modal-header">
                <h4 class="modal-title">Payment deletion result</h4>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </header>
            <section class="modal-body">
                <progress></progress>
                <div id="PaymentDeleteMessage">

                </div>
            </section>
			<footer class="modal-footer">
				<a class="btn btn-info" asp-action="View" asp-controller="Invoices" asp-route-InvoiceID="@Model.InvoiceID">Review invoice</a>
				<button type="button" class="btn btn-light" data-bs-dismiss="modal">Done</button>
			</footer>
		</div>
	</div>
</aside>