﻿@model BeezMart.Areas.Billing.ViewModels.Payments._OnIndexDelete_ViewModel
@{
	if (Model == null) throw new NullReferenceException("ViewModel is null.");
}
@Html.Raw(Model.Message)
<input type="hidden" id="hdnInvoiceStatus" value="@Model.InvoiceStatus.ToString()" />
<input type="hidden" id="hdnReviewInvoice" value="@Model.ReviewInvoice.ToString().ToLower()" />
<input type="hidden" id="hdnRemainingToBePayed" value="@Model.RemainingToBePayed.ToString("#,##0.00")" />