﻿@model BeezMart.Areas.Billing.ViewModels.Payments.Index_ViewModel

@{
	ViewBag.Title = "Payments for invoices";
	if (Model == null) throw new NullReferenceException("ViewModel is null.");
}

@section head {
	<link rel="stylesheet" href="~/Areas/Billing/Payments/Index.css" />
}

@section breadcrumb {
		<li class="breadcrumb-item"><a asp-area="Billing" asp-controller="Home" asp-action="Index">Billing</a></li>
		<li class="breadcrumb-item"><a asp-area="Billing" asp-controller="Invoices" asp-action="Index">Invoices</a></li>
		<li class="breadcrumb-item active">add new</li>
}

<fieldset>
	<legend>Payments recorded during...</legend>
	<form asp-action="Index" method="get" id="frmLookup">
		<div class="row">
			<div class="col-sm-4 col-6 mb-3">
				<label>From date</label>
				<div class="input-group">
					<input type="text" asp-for="@Model.FromDate" asp-format="{0:yyyy-MM-dd}" placeholder="yyyy-mm-dd" class="form-control Calendar" />
                    <span class="input-group-text Calendar"><b class="bi-calendar3"></b></span>
				</div>
			</div>
			<div class="col-sm-4 col-6 mb-3">
				<label>To date</label>
				<div class="input-group">
					<input type="text" asp-for="@Model.ToDate" asp-format="{0:yyyy-MM-dd}" placeholder="yyyy-mm-dd" class="form-control Calendar" />
                    <span class="input-group-text Calendar"><b class="bi-calendar3"></b></span>
				</div>
			</div>
		</div>
		<div class="Submit">
			<button type="submit" class="btn btn-success btn-lg">Lookup</button>
		</div>
	</form>
</fieldset>
<progress id="prgrsPayments"></progress>
<section id="Payments" data-source="@Url.Action("_OnIndexList", new { FromDate = Model.FromDate, ToDate = Model.ToDate })">
	@await Component.InvokeAsync("OnIndexList", new { FromDate = Model.FromDate, ToDate = Model.ToDate })
</section>
<form asp-action="_OnIndexDelete" asp-controller="Payments" method="delete" id="frmDeletePayment">
	<input type="hidden" name="PaymentID" />
	<input type="hidden" name="InvoiceID" />
</form>
<input type="hidden" id="hdnInvoiceViewUrl" value="@Url.Action("View", "Invoices")" />
<input type="hidden" id="hdnCrmOrgsViewUrl" value="@Url.Action("View", "Organizations", new { Area="CRM" })" />
<input type="hidden" id="hdnCrmPersViewUrl" value="@Url.Action("View", "Persons", new { Area="CRM" })" />

@section modals {
    <aside id="ModalEditPayment" class="modal fade" data-source="@Url.Action("_GetPayment", new { PaymentID = "[Populate_At_Runtime]" })" tabindex="-1" role="dialog" aria-hidden="true" data-bs-backdrop="static">
        <div class="modal-dialog">
            <div class="modal-content">
                <header class="modal-header">
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    <h4 class="modal-title">Edit payment or close invoice</h4>
                    <progress></progress>
                </header>
                <form asp-action="_OnIndexSave" asp-controller="Payments" method="post">
                    <input type="hidden" name="ID" data-bound="ID" />
                    <input type="hidden" name="InvoiceID" data-bound="InvoiceID" />
                    <input type="hidden" name="PaymentCheckID" data-bound="PaymentCheckID" />
                    <section class="modal-body">
                        <div class="row">
                            <div class="col-6">
                                <label>Payment date</label>
                                <input type="hidden" name="PaymentDate" value="@Html.FormatValue(DateTime.Now, "{0:yyyy-MM-dd}")" data-bound="PaymentDate" />
                                <div id="PaymentDateCalendar"></div>
                            </div>
                            <div class="col-6">
                                <div class="mb-3">
                                    <label class="required">Amount</label>
                                    <input type="number" name="Amount" value="0" step="0.01" min="0" placeholder="decimal number" maxlength="16" data-bound="Amount" class="form-control" />
                                </div>
                                <div class="mb-3">
                                    <label class="required">Currency</label>
                                    <input type="text" name="Currency" data-default="@MyApp.ConfigSettings["Billing.Default-Currency"]" placeholder="Ex: EUR" maxlength="3" data-bound="Currency" class="form-control" />
                                </div>
                            </div>
                        </div>
                        <div class="mb-3">
                            <label>Comments</label>
                            <textarea name="Comments" rows="5" maxlength="1024" data-bound="Comments"></textarea>
                        </div>
                    </section>
                    <footer class="modal-footer">
                        <button type="submit" class="btn btn-success">Save payment</button>
                        <button type="button" class="btn btn-light" data-bs-dismiss="modal">Cancel</button>
                    </footer>
                </form>
            </div>
        </div>
    </aside>
    <aside id="ModalPaymentMessage" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true" data-bs-backdrop="static">
        <div class="modal-dialog">
            <div class="modal-content">
                <header class="modal-header">
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    <h4 class="modal-title">Invoice payment result</h4>
                </header>
                <section class="modal-body">
                    <div id="EditPaymentMessage"></div>
                </section>
                <footer class="modal-footer">
                    <a class="btn btn-info">Review invoice</a>
                    <button type="button" class="btn btn-light" data-bs-dismiss="modal">Done</button>
                </footer>
            </div>
        </div>
    </aside>
    <aside id="ModalPaymentDelete" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true" data-bs-backdrop="static">
        <div class="modal-dialog">
            <div class="modal-content">
                <header class="modal-header">
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    <h4 class="modal-title">Payment deletion result</h4>
                    <progress></progress>
                </header>
                <section class="modal-body">
                    <div id="PaymentDeleteMessage">

                    </div>
                </section>
                <footer class="modal-footer">
                    <a class="btn btn-info">Review invoice</a>
                    <button type="button" class="btn btn-light" data-bs-dismiss="modal">Done</button>
                </footer>
            </div>
        </div>
    </aside>
}

@section scripts {
	<script type="text/javascript" src="~/Areas/Billing/Payments/Index.js"></script>
}