@model List<DocumentModel>
@{
	if (Model == null) throw new NullReferenceException("ViewModel is null.");
}
@Html.Raw(ViewBag.AppMessage)
<table class="table table-hover table-striped table-responsive-md">
	<thead>
        <tr>
            <th>Document title</th>
            <th>Date</th>
            <th>Status</th>
            <th>External ID</th>
        </tr>
    </thead>
    <tbody>
        @foreach (DocumentModel document in Model) {
            <tr data-id="@document.ID">
                <td><a>@document.Title</a></td>
                <td>@Html.FormatValue(document.DocumentDate, "{0:yyyy-MM-dd}")</td>
                <td class="@document.Status">@document.Status</td>
                <td>@document.ExternalID</td>
            </tr>
        }
    </tbody>
	<tfoot>
		<tr>
            <td colspan="1">
                <button type="button" class="btn btn-sm btn-outline-secondary" onclick="MyPage.Export()" title="Export from database to Excel file"><b class="bi-file-earmark-spreadsheet"></b></button>
				<button type="button" class="btn btn-sm btn-outline-secondary" onclick="MyPage.DirectLink()" title="Direct link to this search result" id="btnDirectLink"><b class="bi-link-45deg"></b></button>
            </td>
			<td colspan="3">records found: <b>@Model.Count.ToString("#,##0")</b></td>
		</tr>
	</tfoot>
</table>

