﻿@using BeezMart.Caching.Archiving
@model BeezMart.Areas.Archiving.ViewModels.Documents.Add_ViewModel

@{
    ViewBag.Title = "New document record";
    if (Model == null || Model.Document == null) throw new NullReferenceException("ViewModel is null or ViewModel.Document is null.");
    List<DocumentModel.CategoryModel> documentCategories = await DocumentCategories.GetSubCategoriesAsync();
}

@section head {
    <link rel="stylesheet" href="~/Areas/Archiving/Documents/Add.css" />
}

@section breadcrumb {
    <li class="breadcrumb-item"><a asp-area="Archiving" asp-controller="Home" asp-action="Index">Archiving</a></li>
    <li class="breadcrumb-item"><a asp-area="Archiving" asp-controller="Documents" asp-action="Index">Documents</a></li>
    <li class="breadcrumb-item active">add new</li>
}

@Html.Raw(ViewBag.AppMessage)
<form asp-action="Add" method="post">
    <input type="hidden" asp-for="@Model.Document.ID" />
    <section id="Record" class="card mb-3">
        <h4 class="card-header">Add new document</h4>
        <div class="card-body">
            <div class="row">
                <div class="mb-3 col-sm-12">
                    <label asp-for="@Model.Document.Title" class="required">Name</label>
                    <input type="text" asp-for="@Model.Document.Title" placeholder="Name or title for reference" maxlength="256" required="required" class="form-control form-control-lg" />
                </div>
                <div class="mb-3 col-sm-6">
                    <label asp-for="@Model.Document.CategoryID">Category</label>
                    <select name="Document.CategoryID" data-selected="@Model.Document.CategoryID" class="form-control">
                        <option value="">== PLEASE SELECT CATEGORY ==</option>
                        @foreach (DocumentModel.CategoryModel category in documentCategories)
                        {
                            <option value="@category.ID">@category.Name :: @category.SubCategory</option>
                        }
                    </select>
                </div>
                <div class="mb-3 col-sm-6">
                    <label>Status</label>
                    <select name="Document.Status" data-selected="@Model.Document.Status" class="form-control">
                        <option value="@DocumentStatus.Undefined">== SELECT STATUS ==</option>
                        <option value="@DocumentStatus.Draft">DRAFT, work in progress</option>
                        <option value="@DocumentStatus.Final">FINAL, or now applicable</option>
                        <option value="@DocumentStatus.Superseded">SUPERSEDED, by other document</option>
                        <option value="@DocumentStatus.Expired">EXPIRED, or no longer applicable</option>
                        <option value="@DocumentStatus.Cancelled">CANCELLED, mo longer in effect</option>
                        <option value="@DocumentStatus.Deleted">DELETED, as in Recycle Bin</option>
                    </select>
                </div>
                <div class="mb-3 col-sm-6 col-lg-3">
                    <label asp-for="@Model.Document.DocumentDate">Document date</label>
                    <div class="input-group">
                        <input type="text" asp-for="@Model.Document.DocumentDate" asp-format="{0:yyyy-MM-dd}" maxlength="16" placeholder="yyyy-mm-dd" class="form-control Calendar" />
                        <span class="input-group-text Calendar"><b class="bi-calendar3"></b></span>
                    </div>
                </div>
                <div class="mb-3 col-sm-6 col-lg-3">
                    <label asp-for="@Model.Document.AddedOn">Added on</label>
                    <div class="input-group">
                        <input type="text" asp-for="@Model.Document.AddedOn" asp-format="{0:yyyy-MM-dd}" maxlength="16" placeholder="yyyy-mm-dd" class="form-control Calendar" />
                        <span class="input-group-text Calendar"><b class="bi-calendar3"></b></span>
                    </div>
                </div>
                <div class="mb-3 col-sm-6 col-lg-3">
                    <label asp-for="@Model.Document.ExpiringDate">Expires on</label>
                    <div class="input-group">
                        <input type="text" asp-for="@Model.Document.ExpiringDate" asp-format="{0:yyyy-MM-dd}" maxlength="16" placeholder="yyyy-mm-dd" class="form-control Calendar" />
                        <span class="input-group-text Calendar"><b class="bi-calendar3"></b></span>
                    </div>
                </div>
                <div class="mb-3 col-sm-6 col-lg-3">
                    <label asp-for="@Model.Document.ExternalID">External ID</label>
                    <input type="text" asp-for="@Model.Document.ExternalID" placeholder="Reference, if applicable" maxlength="128" class="form-control" />
                </div>
                <div class="mb-3 col-sm-12">
                    <label asp-for="@Model.Document.ExternalUrl">External URL</label>
                    <input type="text" asp-for="@Model.Document.ExternalUrl" placeholder="External pointer or link for details" maxlength="256" class="form-control" />
                </div>
            </div>
        </div>
        <div class="card-footer submit">
            <a asp-action="Index" class="btn btn-warning">Cancel</a>
            <button type="submit" class="btn btn-primary">Save &amp; continue</button>
        </div>
    </section>
    <section id="DocumentBody" class="card">
        <h5 class="card-header">Document notes or content</h5>
        <div class="card-body">
            <textarea asp-for="@Model.Document.Body" cols="30" rows="30" placeholder="Document notes or content" class="form-control"></textarea>
        </div>
        <div class="card-footer submit">
            <a asp-action="Index" class="btn btn-warning">Cancel</a>
            <button type="submit" class="btn btn-primary">Save &amp; continue</button>
        </div>
    </section>
</form>

@section scripts {
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/tinymce/5.10.9/tinymce.min.js"></script>
    <script src="~/Areas/Archiving/Documents/Add.js" type="text/javascript"></script>
}
