﻿@using BeezMart.Caching.Archiving
@model BeezMart.Areas.Archiving.ViewModels.Documents.Search_ViewModel

@{
    ViewBag.Title = "Lookup documents";
    if (Model == null) throw new NullReferenceException("ViewModel is null.");
    List<DocumentModel.CategoryModel> documentCategories = await DocumentCategories.GetSubCategoriesAsync();
}

@section head {
    <link rel="stylesheet" href="~/Areas/Archiving/Documents/Search.css" />
}

@section breadcrumb {
    <li class="breadcrumb-item"><a asp-area="Archiving" asp-controller="Home" asp-action="Index">Archiving</a></li>
    <li class="breadcrumb-item"><a asp-area="Archiving" asp-controller="Documents" asp-action="Index">Documents</a></li>
    <li class="breadcrumb-item active">search</li>
}

@Html.Raw(ViewBag.AppMessage)
<div id="ChangeFilter" class="submit">
	<button onclick="javascript: btnChangeFilter_Click();" type="button" class="btn btn-primary">Search again: change filter</button>
</div>
<section id="SearchForm" class="card">
    <form asp-action="_Search" method="get">
        <h4 class="card-header">Documents filtering criteria</h4>
        <div class="card-body">
            <div class="mb-3">
                <label asp-for="@Model.Title">Document title</label>
                <div class="input-group">
                    <input type="text" asp-for="@Model.Title" maxlength="256" class="form-control" placeholder="Search by document title" />
                    <span class="input-group-text" title="Exact match&#13;When checked, search will not append and prepend * wildcard to customer name criteria" style="cursor:help;">
                        <input type="checkbox" asp-for="@Model.Exact" />
                    </span>
                </div>
            </div>
            <div class="row">
                <div class="col-12 col-sm-6">
                    <div class="mb-3">
                        <label asp-for="@Model.ExtID">External identificator like...</label>
                        <input type="text" asp-for="@Model.ExtID" maxlength="256" class="form-control" placeholder="Fill in to search by this field" />
                    </div>
                </div>
                <div class="col-6 col-sm-3">
                    <div class="mb-3">
                        <label asp-for="@Model.After" title="Document date (or added) after...">Timeframe start</label>
                        <div class="input-group">
                            <input type="text" asp-for="@Model.After" asp-format="{0:yyyy-MM-dd}" maxlength="16" placeholder="yyyy-mm-dd" class="form-control Calendar" />
                            <span class="input-group-text Calendar"><b class="bi-calendar3"></b></span>
                        </div>
                    </div>
                </div>
                <div class="col-6 col-sm-3">
                    <div class="mb-3">
                        <label asp-for="@Model.Before" title="Document date (or added) before...">Timeframe end</label>
                        <div class="input-group">
                            <input type="text" asp-for="@Model.Before" asp-format="{0:yyyy-MM-dd}" maxlength="16" placeholder="yyyy-mm-dd" class="form-control Calendar" />
                            <span class="input-group-text Calendar"><b class="bi-calendar3"></b></span>
                        </div>
                    </div>
                </div>
            </div>
            <div id="Advanced-Search" class="collapse">
                <div class="mb-3">
                    <label>Search by Document ID references</label>
                    <input type="text" asp-for="@Model.IDs" maxlength="1024" class="form-control" placeholder="Comma-separated IDs from database; negative or positive integer numbers" />
                </div>
                <div class="mb-3">
                    <label>External URL</label>
                    <input type="text" asp-for="@Model.ExtURL" maxlength="256" class="form-control" placeholder="Fill in to search by this field" />
                </div>
                <div class="row">
                    <div class="col-sm-6 col-md-8">
                        <div class="mb-3">
                            <label asp-for="@Model.Category">Category</label>
                            <select asp-for="@Model.Category" data-selected="@Model.Category" class="form-control">
                                <option value="">== PLEASE SELECT CATEGORY ==</option>
                                @foreach (DocumentModel.CategoryModel category in documentCategories) {
                                    <option value="@category.ID">@category.Name :: @category.SubCategory</option>
                                }
                            </select>
                        </div>
                    </div>
                    <div class="col-sm-6 col-md-4">
                        <div class="mb-3">
                            <label asp-for="@Model.Status">Status</label>
                            <select asp-for="@Model.Status" data-selected="@Model.Status" class="form-control">
                                <option value="">== SELECT STATUS ==</option>
                                <option value="@DocumentStatus.Undefined">Undefined</option>
                                <option value="@DocumentStatus.Draft">DARFT (work in progress)</option>
                                <option value="@DocumentStatus.Final">FINAL (in effect)</option>
                                <option value="@DocumentStatus.Superseded">Superseded</option>
                                <option value="@DocumentStatus.Expired">Expired</option>
                                <option value="@DocumentStatus.Cancelled">Cancelled</option>
                                <option value="@DocumentStatus.Deleted">Deleted</option>
                            </select>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="card-footer">
            <div class="row">
                <div class="col-6" id="btnAdvancedSearch"><a data-bs-target="#Advanced-Search" data-bs-toggle="collapse" class="btn btn-link text-decoration-none">Advanced search <i class="bi-chevron-down"></i></a></div>
                <div class="col-6 submit"><button type="submit" class="btn btn-success btn-lg"><b class="bi-search me-2"></b> Search documents</button></div>
            </div>
        </div>
    </form>
</section>
<progress></progress>
<section id="SearchResults">

</section>
<input type="hidden" id="hdnFilterIsSet" value="@Model.FilterIsSet.ToString().ToLower()" />
<input type="hidden" id="hdnDocumentViewUrl" value="@Url.Action("View")" />

@section scripts {
    <script src="~/Areas/Archiving/Documents/Search.js" type="text/javascript"></script>
}