﻿@model BeezMart.Areas.Archiving.ViewModels.Documents.View_ViewModel

@{
    ViewBag.Title = "Document details";
    if (Model == null || Model.Document == null) throw new NullReferenceException("ViewModel is null or ViewModel.Document is null.");
    Dictionary<string, string> StatusName = new Dictionary<string, string> { };
    StatusName.Add(DocumentStatus.Undefined.ToString(), "== UNDEFINED STATUS ==");
    StatusName.Add(DocumentStatus.Draft.ToString(), "DRAFT, work in progress");
    StatusName.Add(DocumentStatus.Final.ToString(), "FINAL, or now applicable");
    StatusName.Add(DocumentStatus.Superseded.ToString(), "SUPERSEDED, by other document");
    StatusName.Add(DocumentStatus.Expired.ToString(), "EXPIRED, or no longer applicable");
    StatusName.Add(DocumentStatus.Cancelled.ToString(), "CANCELLED, no longer in effect");
    StatusName.Add(DocumentStatus.Deleted.ToString(), "DELETED, as in Recycle Bin");
}

@section head {
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/dropzone/5.1.1/min/dropzone.min.css" crossorigin="anonymous">
    <link rel="stylesheet" href="~/Areas/Archiving/Documents/View.css" />
}

@section breadcrumb {
    <li class="breadcrumb-item"><a asp-area="Archiving" asp-controller="Home" asp-action="Index">Archiving</a></li>
    <li class="breadcrumb-item"><a asp-area="Archiving" asp-controller="Documents" asp-action="Index">Documents</a></li>
    <li class="breadcrumb-item active">@Model.Document.Title</li>
}

@Html.Raw(ViewBag.AppMessage)
<section id="Document" class="card mb-3">
    <h4 class="card-header"><small>@Html.FormatValue(Model.Document.DocumentDate, "{0:yyyy-MM-dd}")</small> @Model.Document.Title</h4>
    <div class="card-body">
        <div class="row">
            <div class="col-sm-6">
                <div class="mb-3">
                    <label>Category</label>
                    <input type="text" asp-for="@Model.DocumentCategoryName" class="form-control" readonly="readonly" />
                </div>
            </div>
            <div class="col-sm-6">
                <div class="mb-3">
                    <label>Status</label>
                    <input type="text" asp-for="@StatusName[Model.Document.Status.ToString()]" class="form-control" readonly="readonly" />
                </div>
            </div>
        </div>
        <div id="Details" class="collapse">
            <div class="row">
                <div class="col-sm-6 col-lg-3">
                    <div class="mb-3">
                        <label>Document date</label>
                        <input type="text" asp-for="@Model.Document.DocumentDate" asp-format="{0:yyyy-MM-dd}" class="form-control" readonly="readonly" />
                    </div>
                </div>
                <div class="col-sm-6 col-lg-3">
                    <div class="mb-3">
                        <label>Added on</label>
                        <input type="text" asp-for="@Model.Document.AddedOn" asp-format="{0:yyyy-MM-dd}" class="form-control" readonly="readonly" />
                    </div>
                </div>
                <div class="col-sm-6 col-lg-3">
                    <div class="mb-3">
                        <label>Expires on</label>
                        <input type="text" asp-for="@Model.Document.ExpiringDate" asp-format="{0:yyyy-MM-dd}" class="form-control" readonly="readonly" />
                    </div>
                </div>
                <div class="col-sm-6 col-lg-3">
                    <div class="mb-3">
                        <label>External ID</label>
                        <input type="text" asp-for="@Model.Document.ExternalID" class="form-control" readonly="readonly" />
                    </div>
                </div>
            </div>
            <div class="mb-3">
                <label>External URL</label>
                <input type="text" asp-for="@Model.Document.ExternalUrl" class="form-control" readonly="readonly" />
            </div>
        </div>
    </div>
    <div class="card-footer">
        <div class="row">
            <div class="col-6" id="btnDetails"><a data-bs-toggle="collapse" href="#Details" role="button" aria-expanded="false" aria-controls="Details" class="btn btn-link text-decoration-none">Details <i class="bi-chevron-down"></i></a></div>
            <div class="col-6 submit">
                <a asp-action="Index" class="btn btn-info">Back to documents list</a>
                @if (User.IsInRole(BeezMart.Security.UserRoles.UserForDocumentManagement))
                {
                    <a asp-action="Edit" asp-route-ID="@Model.Document.ID" class="btn btn-primary">Edit record <b class="bi-pencil"></b></a>
                }
            </div>
        </div>
    </div>
</section>
<section id="Links">
    <div class="row">
        <div class="col-sm-6">
            <section id="Files" class="card mb-3">
                <h5 class="card-header">
                    Document files
                    <small><span class="badge bg-info">N</span></small>
                </h5>
                <form id="frmFileUploadBrowse" asp-action="Upload" asp-controller="Files" method="post" enctype="multipart/form-data">
                    <div class="card-body">
                        <progress></progress>
                        <div id="FilesList" data-source="@Url.Action("Index", "Files", new { DocumentID = Model.Document.ID, AddedOn = Model.Document.AddedOn.ToString("yyyy-MM-dd") })">

                        </div>
                        <div class="my-3">
                            <label class="form-label" for="BrowseFilesToUpload">Browse for files on your computer to upload</label>
                            <input type="file" name="Files" id="BrowseFilesToUpload" multiple="multiple" onchange="MyPage.Events.inputFilesBrowse_Changed();" class="form-control" />
                        </div>
                    </div>
                    <div class="card-footer">
                        <p id="SelectedFiles"></p>
                        <input type="hidden" name="DocumentID" value="@Model.Document.ID" />
                        <input type="hidden" name="AddedOn" value="@Model.Document.AddedOn.ToString("yyyy-MM-dd")" />
                        <div class="submit">
                            @*<a asp-action="Upload" class="btn btn-secondary btn-sm">LARGE FILES...</a>*@
                            <button type="submit" class="btn btn-primary btn-sm">UPLOAD NOW</button>
                        </div>
                    </div>
                </form>
                <form id="frmFileDelete" asp-action="Delete" asp-controller="Files" method="delete">
                    <input type="hidden" name="FileName" />
                    <input type="hidden" name="DocumentID" value="@Model.Document.ID" />
                    <input type="hidden" name="AddedOn" value="@Model.Document.AddedOn.ToString("yyyy-MM-dd")" />
                </form>
                <form id="frmFileUploadDropzone" asp-action="DropZone" asp-controller="Files" method="post" enctype="multipart/form-data">
                    <div id="DropFilesHere" class="text-center">
                        <span id="DropFilesHereText">drop files here or click to upload <br />(not implemented)</span>
                    </div>
                </form>
            </section>
        </div>
        <div class="col-sm-6">
            <section id="Organizations" class="card mb-3">
                <h5 class="card-header">Related organizations <a asp-action="LinkOrganizations" asp-controller="DocLinks" asp-route-DocumentID="@Model.Document.ID" class="btn btn-gray-200 btn-sm pull-right">add new link(s)</a></h5>
                <div class="card-body">
                    <progress></progress>
                    <div id="ListOfOrganizations" data-source="@Url.Action("Organizations", "DocLinks", new { DocumentID = Model.Document.ID })">
                    </div>
                </div>
                <form id="frmOrganizationsDelete" asp-action="UnlinkOrganization" asp-controller="DocLinks" method="delete">
                    <input type="hidden" name="OrganizationID" />
                    <input type="hidden" name="DocumentID" value="@Model.Document.ID" />
                </form>
            </section>
            <section id="Persons" class="card mb-3">
                <h5 class="card-header">Related persons <a asp-action="LinkPersons" asp-controller="DocLinks" asp-route-DocumentID="@Model.Document.ID" class="btn btn-gray-200 btn-sm pull-right">add new link(s)</a></h5>
                <div class="card-body">
                    <progress></progress>
                    <div id="ListOfPersons" data-source="@Url.Action("Persons", "DocLinks", new { DocumentID = Model.Document.ID })">
                    </div>
                </div>
                <form id="frmPersonsDelete" asp-action="UnlinkPerson" asp-controller="DocLinks" method="delete">
                    <input type="hidden" name="PersonID" />
                    <input type="hidden" name="DocumentID" value="@Model.Document.ID" />
                </form>
            </section>
            <section id="Projects" class="card mb-3">
                <h5 class="card-header">Related projects <a asp-action="LinkProjects" asp-controller="DocLinks" asp-route-DocumentID="@Model.Document.ID" class="btn btn-gray-200 btn-sm pull-right">add new link(s)</a></h5>
                <div class="card-body">
                    <progress></progress>
                    <div id="ListOfProjects" data-source="@Url.Action("Projects", "DocLinks", new { DocumentID = Model.Document.ID })">
                    </div>
                </div>
                <form id="frmProjectsDelete" asp-action="UnlinkProject" asp-controller="DocLinks" method="delete">
                    <input type="hidden" name="ProjectID" />
                    <input type="hidden" name="DocumentID" value="@Model.Document.ID" />
                </form>
            </section>
            <section id="Activities" class="card mb-3">
                <h5 class="card-header">Related project activities <a asp-action="LinkActivities" asp-controller="DocLinks" asp-route-DocumentID="@Model.Document.ID" class="btn btn-gray-200 btn-sm pull-right">add new link(s)</a></h5>
                <div class="card-body">
                    <progress></progress>
                    <div id="ListOfActivities" data-source="@Url.Action("Activities", "DocLinks", new { DocumentID = Model.Document.ID })">
                    </div>
                </div>
                <form id="frmActivitiesDelete" asp-action="UnlinkActivity" asp-controller="DocLinks" method="delete">
                    <input type="hidden" name="ActivityID" />
                    <input type="hidden" name="DocumentID" value="@Model.Document.ID" />
                </form>
            </section>
        </div>
    </div>
    <section id="Invoices" class="card">
        <h5 class="card-header">Related invoices <a asp-action="LinkInvoices" asp-controller="DocLinks" asp-route-DocumentID="@Model.Document.ID" class="btn btn-gray-200 btn-sm pull-right">add new link(s)</a></h5>
        <div class="card-body">
            <progress></progress>
            <div id="ListOfInvoices" data-source="@Url.Action("Invoices", "DocLinks", new { DocumentID = Model.Document.ID })">
            </div>
        </div>
        <form id="frmInvoicesDelete" asp-action="UnlinkInvoice" asp-controller="DocLinks" method="delete">
            <input type="hidden" name="InvoiceID" />
            <input type="hidden" name="DocumentID" value="@Model.Document.ID" />
        </form>
    </section>
</section>
<input type="hidden" id="hdnDownloadFileUrl" value="@Url.Action("Download", "Files", new { area="Archiving", DocumentID = Model.Document.ID, AddedOn = Model.Document.AddedOn.ToString("yyyy-MM-dd") })" />
<input type="hidden" id="hdnViewOrganizationUrl" value="@Url.Action("View", "Organizations", new { area="CRM", OrganizationID="populate-at-runtime" })" />
<input type="hidden" id="hdnViewPersonUrl" value="@Url.Action("View", "Persons", new { area="CRM", PersonID="populate-at-runtime" })" />
<input type="hidden" id="hdnViewInvoiceUrl" value="@Url.Action("View", "Invoices", new { area="Billing", InvoiceID="populate-at-runtime" })" />
<input type="hidden" id="hdnViewProjectUrl" value="@Url.Action("View", "Projects", new { area="TimeShet", ProjectID="populate-at-runtime" })" />
<input type="hidden" id="hdnViewActivityUrl" value="@Url.Action("View", "Activities", new { area="TimeSheet", ActivityID="populate-at-runtime" })" />

@section modals {
    <aside id="ModalRenameFile" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true" data-bs-backdrop="static">
        <div class="modal-dialog">
            <div class="modal-content">
                <form id="frmFileRename" asp-action="Rename" asp-controller="Files" method="post">
                    <header class="modal-header">
                        <h4 class="modal-title">Rename file</h4>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        <progress></progress>
                    </header>
                    <section class="modal-body">
                        <div class="mb-3">
                            <label>New file name</label>
                            <input type="text" name="NewFileName" placeholder="Please type a file name" maxlength="128" class="form-control" />
                        </div>
                        <input type="hidden" name="OldFileName" />
                        <input type="hidden" name="DocumentID" value="@Model.Document.ID" />
                        <input type="hidden" name="AddedOn" value="@Model.Document.AddedOn.ToString("yyyy-MM-dd")" />
                    </section>
                    <footer class="modal-footer">
                        <button type="button" class="btn btn-warning" data-bs-dismiss="modal">Cancel</button>
                        <button type="button" class="btn btn-primary" onclick="MyPage.Events.btnRename_Click();">Rename file</button>
                    </footer>
                </form>
            </div>
        </div>
    </aside>
}

@section scripts {
    <script src="https://cdnjs.cloudflare.com/ajax/libs/dropzone/5.9.3/min/dropzone.min.js"></script>
    <script src="~/Areas/Archiving/Documents/View.js" type="text/javascript"></script>
}