﻿@model List<ProjectModel>
@{
	if (Model == null) throw new NullReferenceException("ViewModel is null.");
}
@Html.Raw(ViewBag.AppMessage)
<table class="table table-hover table-striped table-responsive-md">
	<thead>
		<tr>
			<th>Project name</th>
			<th>Customer</th>
			<th>Time-frame</th>
			<th>Status</th>
		</tr>
	</thead>
	<tbody>
		@foreach (ProjectModel project in Model) {
			<tr data-id="@project.ID">
				<td><a>@project.Title</a></td>
				<td>
					@if (project.OrganizationID.HasValue)
					{
						<a data-orgs="@project.OrganizationID">@project.CustomerName</a>
					}
					else
					{
						if (project.PersonID.HasValue)
						{
							<a data-pers="@project.PersonID">@project.CustomerName</a>
						}
						else
						{
							<text>@project.CustomerName</text>
						}
					}
				</td>
				<td>@Html.FormatValue(project.ScheduledStart, "{0:yyyy-MM-dd}") to @Html.FormatValue(project.ScheduledEnd, "{0:yyyy-MM-dd}")</td>
				<td class="@project.Status">@project.Status</td>
			</tr>
		}
	</tbody>
	<tfoot>
		<tr>
			<td colspan="1">
				<button type="button" class="btn btn-sm btn-outline-secondary" onclick="MyPage.Export()" title="Export from database to Excel file"><b class="bi-file-earmark-spreadsheet"></b></button>
				<button type="button" class="btn btn-sm btn-outline-secondary" onclick="MyPage.DirectLink()" title="Direct link to this search result"><b class="bi-link-45deg"></b></button>
			</td>
			<td colspan="3">records found: <b>@Model.Count.ToString("#,##0")</b></td>
		</tr>
	</tfoot>
</table>

