﻿@using BeezMart.Caching.TimeSheet
@model BeezMart.Areas.TimeSheet.ViewModels.Projects.Add_ViewModel

@{
    ViewBag.Title = "New project record";
    if (Model == null || Model.Project == null) throw new NullReferenceException("ViewModel is null or ViewModel.Project is null.");
    IEnumerable<ProjectModel.CategoryModel> subCategories = await ProjectCategories.GetSubCategoriesAsync();
}

@section head {
    <link rel="stylesheet" href="~/Areas/TimeSheet/Projects/Add.css" />
}

@section breadcrumb {
    <li class="breadcrumb-item"><a asp-area="TimeSheet" asp-controller="Home" asp-action="Index">TimeSheet</a></li>
    <li class="breadcrumb-item"><a asp-area="TimeSheet" asp-controller="Projects" asp-action="Index">Projects</a></li>
    <li class="breadcrumb-item active">add new</li>
}

@Html.Raw(ViewBag.AppMessage)
<form asp-action="Add" method="post">
    <input type="hidden" asp-for="@Model.Project.ID" />
    <input type="hidden" asp-for="@Model.Project.OrganizationID" />
    <input type="hidden" asp-for="@Model.Project.PersonID" />
    <section id="Record" class="card mb-3">
        <h4 class="card-header">Add project record</h4>
        <div class="card-body">
            <div class="mb-3">
                <label asp-for="@Model.Project.Title" class="required">Name</label>
                <input type="text" asp-for="@Model.Project.Title" placeholder="Name or title for reference" maxlength="256" required="required" class="form-control form-control-lg" />
            </div>
            <div class="row">
                <div class="col-sm-6">
                    <div class="mb-3">
                        <label asp-for="@Model.Project.CategoryID">Category</label>
                        <select name="Project.CategoryID" data-selected="@Model.Project.CategoryID" class="form-control">
                            <option value="">== PLEASE SELECT CATEGORY ==</option>
                            @foreach (ProjectModel.CategoryModel category in subCategories) {
                                <option value="@category.ID">@category.Name :: @category.SubCategory</option>
                            }
                        </select>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="mb-3">
                        <label>Status</label>
                        <select name="Project.Status" data-selected="@Model.Project.Status" class="form-control">
                            <option value="@ProjectStatus.Undefined">== SELECT STATUS ==</option>
                            <option value="@ProjectStatus.Dreaming">Just dreaming</option>
                            <option value="@ProjectStatus.Concept">Concept or piloting</option>
                            <option value="@ProjectStatus.Planned">Planned, budgeted, timelined</option>
                            <option value="@ProjectStatus.InExecution">In execution</option>
                            <option value="@ProjectStatus.Finalized">Finalized</option>
                            <option value="@ProjectStatus.CustomerApproved">Approved by customer, to be billed and paid</option>
                            <option value="@ProjectStatus.Billed">Billed to customer</option>
                            <option value="@ProjectStatus.Paid">Fully paid by the customer</option>
                            <option value="@ProjectStatus.ClosedAndArchived">Closed and archived</option>
                            <option value="@ProjectStatus.Cancelled">Cancelled</option>
                        </select>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="mb-3">
                        <label asp-for="@Model.Project.CustomerName" class="required">Customer name <a data-bs-toggle="modal" data-bs-target="#ModalLookupCustomer" class="badge rounded-pill bg-secondary ms-4 text-decoration-none">Take from CRM</a></label>
                        <input type="text" asp-for="@Model.Project.CustomerName" placeholder="The customer company or person for this project" maxlength="256" required="required" class="form-control" />
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="mb-3">
                        <label asp-for="@Model.Project.ProjectManager">Project manager</label>
                        <input type="text" asp-for="@Model.Project.ProjectManager" placeholder="Name of the owning project manager" maxlength="256" class="form-control" />
                    </div>
                </div>
            </div>
            <div id="MoreMetadata" class="collapse">
                <div class="row">
                    <div class="col-md-6">
                        <div class="mb-3">
                            <label asp-for="@Model.Project.EndCustomer">End customer</label>
                            <input type="text" asp-for="@Model.Project.EndCustomer" placeholder="The actual beneficiary of the project" maxlength="256" class="form-control" />
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="mb-3">
                            <label asp-for="@Model.Project.ContactDetails">Contact details</label>
                            <input type="text" asp-for="@Model.Project.ContactDetails" placeholder="Contact details for PM" maxlength="256" class="form-control" />
                        </div>
                    </div>
                    <div class="col-sm-6 col-lg-3">
                        <div class="mb-3">
                            <label asp-for="@Model.Project.ScheduledStart">Scheduled start</label>
                            <div class="input-group">
                                <input type="text" asp-for="@Model.Project.ScheduledStart" asp-format="{0:yyyy-MM-dd}" maxlength="16" placeholder="yyyy-mm-dd" class="form-control Calendar" />
                                <span class="input-group-text Calendar"><b class="bi-calendar3"></b></span>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6 col-lg-3">
                        <div class="mb-3">
                            <label asp-for="@Model.Project.ScheduledEnd">Scheduled end</label>
                            <div class="input-group">
                                <input type="text" asp-for="@Model.Project.ScheduledEnd" asp-format="{0:yyyy-MM-dd}" maxlength="16" placeholder="yyyy-mm-dd" class="form-control Calendar" />
                                <span class="input-group-text Calendar"><b class="bi-calendar3"></b></span>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6 col-lg-3">
                        <div class="mb-3">
                            <label asp-for="@Model.Project.StartedOn">Started on</label>
                            <div class="input-group">
                                <input type="text" asp-for="@Model.Project.StartedOn" asp-format="{0:yyyy-MM-dd}" maxlength="16" placeholder="yyyy-mm-dd" class="form-control Calendar" />
                                <span class="input-group-text Calendar"><b class="bi-calendar3"></b></span>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6 col-lg-3">
                        <div class="mb-3">
                            <label asp-for="@Model.Project.EndedOn">Ended on</label>
                            <div class="input-group">
                                <input type="text" asp-for="@Model.Project.EndedOn" asp-format="{0:yyyy-MM-dd}" maxlength="16" placeholder="yyyy-mm-dd" class="form-control Calendar" />
                                <span class="input-group-text Calendar"><b class="bi-calendar3"></b></span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="card-footer">
            <div class="row">
                <div id="btnMoreMetadata" class="col-sm-4">
                    <a class="btn btn-link text-decoration-none" data-bs-target="#MoreMetadata" data-bs-toggle="collapse">Details <b class="bi-chevron-down"></b></a>
                </div>
                <div class="col-sm-8 submit">
                    <a asp-action="Index" class="btn btn-warning">Cancel</a>
                    <button type="submit" class="btn btn-primary">Save record</button>
                </div>
            </div>
        </div>
    </section>
    <section id="Details" class="card">
        <h5 class="card-header">Notes on this project</h5>
        <div class="card-body">
            <textarea asp-for="@Model.Project.Details" cols="30" rows="30" placeholder="More in-depth information about the project" maxlength="2048" class="form-control"></textarea>
        </div>
        <div class="card-footer submit">
            <a asp-action="Index" class="btn btn-warning">Cancel</a>
            <button type="submit" class="btn btn-primary">Save record</button>
        </div>
    </section>
</form>

@section modals {
    <aside id="ModalLookupCustomer" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true" data-bs-backdrop="static">
        <div class="modal-dialog">
            <div class="modal-content">
                <header class="modal-header">
                    <h4 class="modal-title">Lookup for existing customer</h4>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </header>
                <section class="modal-body">
                    <p>Pre-populate customer details with existing data from CRM module</p>
                    <div id="ChooseCustomerType">
                        <ul class="nav nav-tabs">
                            <li class="nav-item"><a href="#Orgs" data-bs-toggle="tab" class="nav-link active">Organizations</a></li>
                            <li class="nav-item"><a href="#Pers" data-bs-toggle="tab" class="nav-link">Persons</a></li>
                        </ul>
                        <div class="tab-content">
                            <div class="tab-pane active" id="Orgs">
                                <form id="frmLookupOrgs" asp-action="_PickOrgs" asp-controller="Customers" method="get">
                                    <div class="mb-3">
                                        <div class="input-group">
                                            <input type="text" name="OrgsNamePattern" placeholder="Organization name contains..." class="form-control">
                                            <span class="input-group-text" title="Exact match&#13;When checked, search will not append and prepend * wildcard to org name criteria" style="cursor:help;">
                                                <input type="checkbox" name="ExactMatch" />
                                            </span>
                                            <button type="submit" class="input-group-text">Lookup</button>
                                        </div>
                                    </div>
                                </form>
                            </div>
                            <div class="tab-pane" id="Pers">
                                <form id="frmLookupPers" asp-action="_PickPers" asp-controller="Customers" method="get">
                                    <div class="mb-3">
                                        <div class="input-group">
                                            <input type="text" name="PersNamePattern" placeholder="Person name contains..." class="form-control">
                                            <span class="input-group-text" title="Exact match&#13;When checked, search will not append and prepend * wildcard to pers name criteria" style="cursor:help;">
                                                <input type="checkbox" name="ExactMatch" />
                                            </span>
                                            <button type="submit" class="input-group-text">Lookup</button>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </section>
                <footer class="modal-footer">
                    <button type="button" class="btn btn-warning" data-bs-dismiss="modal">Cancel</button>
                </footer>
            </div>
        </div>
    </aside>
    <aside id="ModalCustomers" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true" data-bs-backdrop="static">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <header class="modal-header">
                    <h4 class="modal-title">Pick existing customer</h4>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </header>
                <section class="modal-body">
                    <p>Pre-populate customer details with existing data from CRM module</p>
                    <progress></progress>
                    <div id="SearchResultCustomers">
                    </div>
                </section>
                <footer class="modal-footer">
                    <button type="button" class="btn btn-primary" onclick="btnCustomersSearchAgain_Click();">Search again</button>
                    <button type="button" class="btn btn-light" data-bs-dismiss="modal">Cancel</button>
                </footer>
            </div>
        </div>
    </aside>
}

@section scripts {
	<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/tinymce/5.10.9/tinymce.min.js"></script>
    <script src="~/Areas/TimeSheet/Projects/Add.js" type="text/javascript"></script>
}
