﻿@model BeezMart.Areas.TimeSheet.ViewModels.Projects.Index_ViewModel

@{
    ViewBag.Title = "Projects";
    if (Model == null || Model.Projects == null) throw new NullReferenceException("ViewModel is null or ViewModel.Projects is null.");
}

@section head {
    <link rel="stylesheet" href="~/Areas/TimeSheet/Projects/Index.css" />
}

@section breadcrumb {
    <li class="breadcrumb-item"><a asp-area="TimeSheet" asp-controller="Home" asp-action="Index">TimeSheet</a></li>
    <li class="breadcrumb-item active"><a asp-area="TimeSheet" asp-controller="Projects" asp-action="Index">Projects</a></li>
}

@Html.Raw(ViewBag.AppMessage)
<section id="Projects" class="card">
    <h4 class="card-header">Current projects <small>The active projects in the current timeframe: now +/- 3 month</small></h4>
    <div class="card-body">
        <table class="table table-striped table-hover table-responsive-md">
            <thead>
                <tr>
                    <th>Project name</th>
                    <th>Customer</th>
                    <th>Category</th>
                    <th>Time-frame</th>
                    <th>Status</th>
                </tr>
            </thead>
            <tbody>
                @foreach (ProjectModel project in @Model.Projects)
                {
                    <tr data-id="@project.ID">
                        <td><a>@project.Title</a></td>
                        <td>
                            @if (project.OrganizationID.HasValue)
                            {
                                <a data-orgs="@project.OrganizationID">@project.CustomerName</a>
                            }
                            else
                            {
                                if (project.PersonID.HasValue) 
                                {
                                    <a data-pers="@project.PersonID">@project.CustomerName</a>
                                }
                                else
                                {
                                    <text>@project.CustomerName</text>
                                }
                            }
                        </td>
                        <td>
                            @if (project.CategoryID.HasValue)
                            {
                                <text>@Model.CategoryNames[project.CategoryID.Value]</text>
                            }
                        </td>
                        <td>@Html.FormatValue(project.ScheduledStart, "{0:yyyy-MM-dd}") to @Html.FormatValue(project.ScheduledEnd, "{0:yyyy-MM-dd}")</td>
                        <td class="@project.Status">@project.Status</td>
                    </tr>
                }
            </tbody>
            <tfoot>
                <tr>
                    <td colspan="5">records found: <b>@Model.Projects.Count.ToString("#,##0")</b></td>
                </tr>
            </tfoot>
        </table>
    </div>
    <div class="card-footer submit">
        @if (User.IsInRole(BeezMart.Security.UserRoles.UserForProjectManagement))
        {
            <a asp-action="Add" class="btn btn-primary me-3"><b class="bi-plus-circle me-2"></b> Add a new project</a>
        }
        <a asp-controller="Activities" asp-action="Index" class="btn btn-info"><b class="bi-list"></b> Activities</a>
    </div>
</section>
<input type="hidden" id="hdnProjectViewUrl" value="@Url.Action("View")" />
<input type="hidden" id="hdnCrmOrgsViewUrl" value="@Url.Action("View", "Organizations", new { Area="CRM" })" />
<input type="hidden" id="hdnCrmPersViewUrl" value="@Url.Action("View", "Persons", new { Area="CRM" })" />

@section scripts {
    <script src="~/Areas/TimeSheet/Projects/Index.js" type="text/javascript"></script>
}