﻿@using BeezMart.Caching.TimeSheet
@model BeezMart.Areas.TimeSheet.ViewModels.Projects.Search_ViewModel

@{
    ViewBag.Title = "Lookup projects";
    if (Model == null) throw new NullReferenceException("ViewModel is null.");
    IEnumerable<ProjectModel.CategoryModel> subCategories = await ProjectCategories.GetSubCategoriesAsync();
}

@section head {
    <link rel="stylesheet" href="~/Areas/TimeSheet/Projects/Search.css" />
}

@section breadcrumb {
    <li class="breadcrumb-item"><a asp-area="TimeSheet" asp-controller="Home" asp-action="Index">TimeSheet</a></li>
    <li class="breadcrumb-item"><a asp-area="TimeSheet" asp-controller="Projects" asp-action="Index">Projects</a></li>
    <li class="breadcrumb-item active">search</li>
}

@Html.Raw(ViewBag.AppMessage)
<div id="ChangeFilter" class="submit">
	<button onclick="javascript: btnChangeFilter_Click();" type="button" class="btn btn-primary">Search again: change filter</button>
</div>
<section id="SearchForm" class="card">
    <form asp-action="_Search" method="get">
        <h4 class="card-header">Projects filtering criteria</h4>
        <div class="card-body">
            <div class="mb-3">
                <label asp-for="@Model.Title">Project title</label>
                <div class="input-group">
                    <input type="text" asp-for="@Model.Title" maxlength="256" class="form-control" placeholder="Search by project title" />
                    <span class="input-group-text" title="Exact match&#13;When checked, search will not append and prepend * wildcard to title criteria" style="cursor:help;">
                        <input type="checkbox" asp-for="@Model.Exact" />
                    </span>
                </div>
            </div>
            <div class="row">
                <div class="col-12 col-sm-6 col-lg-8">
                    <div class="mb-3">
                        <label asp-for="@Model.Customer">Customer name like...</label>
                        <input type="text" asp-for="@Model.Customer" maxlength="256" class="form-control" placeholder="Name filter pattern" />
                    </div>
                </div>
                <div class="col-6 col-sm-3 col-lg-2">
                    <div class="mb-3">
                        <label asp-for="@Model.After" title="Started (or scheduled) after...">After</label>
                        <div class="input-group">
                            <input type="text" asp-for="@Model.After" asp-format="{0:yyyy-MM-dd}" maxlength="16" placeholder="yyyy-mm-dd" class="form-control Calendar" />
                            <span class="input-group-text Calendar"><b class="bi-calendar3"></b></span>
                        </div>
                    </div>
                </div>
                <div class="col-6 col-sm-3 col-lg-2">
                    <div class="mb-3">
                        <label asp-for="@Model.Before" title="Ended (or scheduled) before...">Before</label>
                        <div class="input-group">
                            <input type="text" asp-for="@Model.Before" asp-format="{0:yyyy-MM-dd}" maxlength="16" placeholder="yyyy-mm-dd" class="form-control Calendar" />
                            <span class="input-group-text Calendar"><b class="bi-calendar3"></b></span>
                        </div>
                    </div>
                </div>
            </div>
            <div id="Advanced-Search" class="collapse">
                <div class="mb-3">
                    <label>Search by Project ID references</label>
                    <input type="text" asp-for="@Model.IDs" maxlength="1024" class="form-control" placeholder="Comma-separated IDs from database; negative or positive integer numbers" />
                </div>
                <div class="row">
                    <div class="col-sm-6">
                        <div class="mb-3">
                            <label>Search by Project Manager</label>
                            <input type="text" asp-for="@Model.ProjectManager" maxlength="256" class="form-control" placeholder="Name of the project manager" />
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="mb-3">
                            <label>Contact details</label>
                            <input type="text" asp-for="@Model.ContactDetails" maxlength="256" class="form-control" placeholder="Contact details for the project" />
                        </div>
                    </div>
                    <div class="col-sm-6 col-md-8">
                        <div class="mb-3">
                            <label asp-for="@Model.Category">Category</label>
                            <select asp-for="@Model.Category" data-selected="@Model.Category" class="form-control">
                                <option value="">== PLEASE SELECT CATEGORY ==</option>
                                @foreach (ProjectModel.CategoryModel category in subCategories) {
                                    <option value="@category.ID">@category.Name :: @category.SubCategory</option>
                                }
                            </select>
                        </div>
                    </div>
                    <div class="col-sm-6 col-md-4">
                        <div class="mb-3">
                            <label asp-for="@Model.Status">Status</label>
                            <select asp-for="@Model.Status" data-selected="@Model.Status" class="form-control">
                                <option value="">== SELECT STATUS ==</option>
                                <option value="@ProjectStatus.Undefined">Undefined</option>
                                <option value="@ProjectStatus.Dreaming">Just dreaming</option>
                                <option value="@ProjectStatus.Concept">Concept or piloting</option>
                                <option value="@ProjectStatus.Planned">Planned, budgeted, timelined</option>
                                <option value="@ProjectStatus.InExecution">In execution</option>
                                <option value="@ProjectStatus.Finalized">Finalized</option>
                                <option value="@ProjectStatus.CustomerApproved">Approved by customer, to be billed and paid</option>
                                <option value="@ProjectStatus.Billed">Billed to customer</option>
                                <option value="@ProjectStatus.Paid">Fully paid by the customer</option>
                                <option value="@ProjectStatus.ClosedAndArchived">Closed and archived</option>
                                <option value="@ProjectStatus.Cancelled">Cancelled</option>
                            </select>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="card-footer">
            <div class="row">
                <div class="col pt-1" id="btnAdvancedSearch"><a data-bs-target="#Advanced-Search" data-bs-toggle="collapse" class="btn btn-link text-decoration-none">Advanced search <b class="bi-chevron-down"></b></a></div>
                <div class="col submit"><button type="submit" class="btn btn-success btn-lg"><b class="bi-search me-2"></b> Search projects</button></div>
            </div>
        </div>
    </form>
</section>
<progress></progress>
<section id="SearchResults">

</section>
<input type="hidden" id="hdnFilterIsSet" value="@Model.FilterIsSet.ToString().ToLower()" />
<input type="hidden" id="hdnProjectViewUrl" value="@Url.Action("View")" />
<input type="hidden" id="hdnCrmOrgsViewUrl" value="@Url.Action("View", "Organizations", new { Area="CRM" })" />
<input type="hidden" id="hdnCrmPersViewUrl" value="@Url.Action("View", "Persons", new { Area="CRM" })" />

@section scripts {
    <script src="~/Areas/TimeSheet/Projects/Search.js" type="text/javascript"></script>
}