﻿@model BeezMart.Areas.TimeSheet.ViewModels.Projects.View_ViewModel

@{
    ViewBag.Title = "Project details";
    if (Model == null || Model.Project == null) throw new NullReferenceException("ViewModel is null or ViewModel.Project is null.");
    Dictionary<string, string> StatusName = new Dictionary<string, string> { };
    StatusName.Add(ProjectStatus.Undefined.ToString(), "== UNDEFINED STATUS ==");
    StatusName.Add(ProjectStatus.Dreaming.ToString(), "Just dreaming");
    StatusName.Add(ProjectStatus.Concept.ToString(), "Concept or piloting");
    StatusName.Add(ProjectStatus.Planned.ToString(), "Planned, budgeted, timelined");
    StatusName.Add(ProjectStatus.InExecution.ToString(), "In execution");
    StatusName.Add(ProjectStatus.Finalized.ToString(), "Finalized");
    StatusName.Add(ProjectStatus.CustomerApproved.ToString(), "Approved by customer, to be billed and paid");
    StatusName.Add(ProjectStatus.Billed.ToString(), "Billed to customer");
    StatusName.Add(ProjectStatus.Paid.ToString(), "Fully paid by the customer");
    StatusName.Add(ProjectStatus.ClosedAndArchived.ToString(), "Closed and archived");
    StatusName.Add(ProjectStatus.Cancelled.ToString(), "Cancelled");
}

@section head {
    <link rel="stylesheet" href="~/Areas/TimeSheet/Projects/View.css" />
}

@section breadcrumb {
    <li class="breadcrumb-item"><a asp-area="TimeSheet" asp-controller="Home" asp-action="Index">TimeSheet</a></li>
    <li class="breadcrumb-item"><a asp-area="TimeSheet" asp-controller="Projects" asp-action="Index">Projects</a></li>
    <li class="breadcrumb-item active">@Model.Project.Title</li>
}

@Html.Raw(ViewBag.AppMessage)
<section id="Project" class="card mb-3">
    <h4 class="card-header">@Model.Project.Title <small>@Html.FormatValue(Model.Project.ScheduledStart, "{0:yyyy-MM}") to @Html.FormatValue(Model.Project.ScheduledEnd, "{0:yyyy-MM}")</small></h4>
    <div class="card-body">
        <div class="row">
            <div class="col-sm-6">
                <div class="mb-3">
                    <label>Category</label>
                    <input type="text" asp-for="@Model.ProjectCategoryName" class="form-control" readonly="readonly" />
                </div>
            </div>
            <div class="col-sm-6">
                <div class="mb-3">
                    <label>Status</label>
                    <input type="text" asp-for="@StatusName[Model.Project.Status.ToString()]" class="form-control" readonly="readonly" />
                </div>
            </div>
            <div class="col-md-6">
                <div class="mb-3">
                    @if (Model.Project.OrganizationID.HasValue) 
                    {
                        <label>Customer name <a asp-area="CRM" asp-controller="Organizations" asp-action="View" asp-route-OrganizationID="@Model.Project.OrganizationID" target="_blank" class="badge rounded-pill bg-secondary ms-4 text-decoration-none">View in CRM</a></label>
                    }
                    else if (Model.Project.PersonID.HasValue)
                    {
                        <label>Customer name <a asp-area="CRM" asp-controller="Persons" asp-action="View" asp-route-PersonID="@Model.Project.PersonID" target="_blank" class="badge rounded-pill bg-secondary ms-4 text-decoration-none">View in CRM</a></label>
                    }
                    else
                    {
                        <label>Customer name</label>
                    }
                    <input type="text" asp-for="@Model.Project.CustomerName" class="form-control" readonly="readonly" />
                </div>
            </div>
            <div class="col-md-6">
                <div class="mb-3">
                    <label>Project manager</label>
                    <input type="text" asp-for="@Model.Project.ProjectManager" class="form-control" readonly="readonly" />
                </div>
            </div>
        </div>
        <div id="MoreMetadata" class="collapse">
            <div class="row">
                <div class="col-md-6">
                    <div class="mb-3">
                        <label>End customer</label>
                        <input type="text" asp-for="@Model.Project.EndCustomer" class="form-control" readonly="readonly" />
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="mb-3">
                        <label>Contact details</label>
                        <input type="text" asp-for="@Model.Project.ContactDetails" class="form-control" readonly="readonly" />
                    </div>
                </div>
                <div class="col-sm-6 col-lg-3">
                    <div class="mb-3">
                        <label>Scheduled start</label>
                        <input type="text" asp-for="@Model.Project.ScheduledStart" asp-format="{0:yyyy-MM-dd}" class="form-control" readonly="readonly" />
                    </div>
                </div>
                <div class="col-sm-6 col-lg-3">
                    <div class="mb-3">
                        <label>Scheduled end</label>
                        <input type="text" asp-for="@Model.Project.ScheduledEnd" asp-format="{0:yyyy-MM-dd}" class="form-control" readonly="readonly" />
                    </div>
                </div>
                <div class="col-sm-6 col-lg-3">
                    <div class="mb-3">
                        <label>Started on</label>
                        <input type="text" asp-for="@Model.Project.StartedOn" asp-format="{0:yyyy-MM-dd}" class="form-control" readonly="readonly" />
                    </div>
                </div>
                <div class="col-sm-6 col-lg-3">
                    <div class="mb-3">
                        <label>Ended on</label>
                        <input type="text" asp-for="@Model.Project.EndedOn" asp-format="{0:yyyy-MM-dd}" class="form-control" readonly="readonly" />
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="card-footer">
        <div class="row">
            <div class="col-sm-4" id="btnMoreMetadata">
                <a data-bs-target="#MoreMetadata" data-bs-toggle="collapse" class="btn btn-link text-decoration-none">Details <b class="bi-chevron-down"></b></a>
            </div>
            <div class="col-sm-8 submit">
                <a asp-action="Index" class="btn btn-info"><b class="bi-chevron-left"></b> Back to projects list</a>
                <a asp-controller="Activities" asp-action="ByProject" asp-route-ID="@Model.Project.ID" class="btn btn-info"><b class="bi-list"></b> Project activities</a>
                @if (User.IsInRole(BeezMart.Security.UserRoles.UserForProjectManagement))
                {
                    <a asp-action="Edit" asp-route-ID="@Model.Project.ID" class="btn btn-success"><b class="bi-pencil"></b> Edit record</a>
                }
            </div>
        </div>
    </div>
</section>
<section id="Details" class="card">
    <h5 class="card-header">Notes on this project</h5>
    <div class="card-body">
        <div id="Details-and-Comments">
            @Html.Raw(Model.Project.Details)
        </div>
    </div>
    <div class="card-footer submit">
        <a asp-action="Index" class="btn btn-info"><b class="bi-chevron-left"></b> Back to projects list</a>
        <a asp-controller="Activities" asp-action="ByProject" asp-route-ID="@Model.Project.ID" class="btn btn-info"><b class="bi-list"></b> Project activities</a>
        @if (User.IsInRole(BeezMart.Security.UserRoles.UserForProjectManagement)) 
        {
            <a asp-action="Edit" asp-route-ID="@Model.Project.ID" class="btn btn-success"><b class="bi-pencil"></b> Edit record</a>
        }
    </div>
</section>

@section scripts {
    @*<script src="~/Areas/TimeSheet/Projects/View.js" type="text/javascript"></script>*@
}