﻿@model List<PersIntegerModel>
@{
	if (Model == null) throw new NullReferenceException("ViewModel is null.");
}
@Html.Raw(ViewBag.AppMessage)
<table class="table table-hover table-sm">
	<thead>
		<tr>
			<th colspan="4">Figure attributes</th>
		</tr>
	</thead>
	<tbody>
		@foreach (PersIntegerModel record in Model) {
			<tr data-record="@record.ID" data-type="@record.FieldID">
				<td>@record.Category</td>
				<td><a>@record.Name</a></td>
				<td><b>@record.Value.ToString("#,##0")</b></td>
				<td><a>&times;</a></td>
			</tr>
		}
	</tbody>
	<tfoot>
		<tr>
			<td colspan="4"><button type="button" class="btn btn-outline-secondary btn-sm" data-bs-toggle="modal" data-bs-target="#ModalEditInteger">Add new</button></td>
		</tr>
	</tfoot>
</table>



