﻿@model List<OrgActivityModel>
@{
	if (Model == null) throw new NullReferenceException("ViewModel is null.");
	int maxRows = 25;
	int rowsCount = 0;
}
@Html.Raw(ViewBag.AppMessage)
<table class="table table-hover table-striped table-responsive-md">
	<thead>
		<tr>
			<th colspan="2">Related activities</th>
		</tr>
	</thead>
	<tbody>
		@foreach (OrgActivityModel activity in Model) {
			rowsCount++;
			if (rowsCount > maxRows) { break; }
			<tr data-record="@activity.ID">
				<td><a>@activity.Title</a></td>
				<td>@activity.Status</td>
			</tr>
		}
	</tbody>
	<tfoot>
		<tr>
			<td>
				@if (Model.Count > maxRows) {
					<a asp-action="Index" asp-route-OrganizationID="@ViewBag.OrganizationID">View more activities</a>
				}
			</td>
			<td><a asp-action="Add" asp-route-OrganizationID="@ViewBag.OrganizationID" class="btn btn-outline-secondary btn-sm">Add new activity record</a></td>
		</tr>
	</tfoot>
</table>

