﻿@model BeezMart.Areas.CRM.ViewModels.OrgActivities.Index_ViewModel

@{
	ViewBag.Title = "Organization activities";
	if (Model == null) throw new NullReferenceException("ViewModel. is null.");
	if (Model.Organization == null) throw new NullReferenceException("ViewModel.Organization is null.");
	if (Model.Activities == null) throw new NullReferenceException("ViewModel.Activities is null.");
}

@section breadcrumb {
    <li class="breadcrumb-item"><a asp-area="CRM" asp-controller="Home" asp-action="Index">CRM</a></li>
    <li class="breadcrumb-item"><a asp-area="CRM" asp-controller="Organizations" asp-action="Index">Organizations</a></li>
    <li class="breadcrumb-item"><a asp-area="CRM" asp-controller="Organizations" asp-action="View" asp-route-OrganizationID="@Model.Organization.ID" asp-route-tab="4">@Model.Organization.Name</a></li>
    <li class="breadcrumb-item active">Activities</li>
}

@Html.Raw(ViewBag.AppMessage)
<table class="table table-hover table-striped table-responsive-md">
	<thead>
		<tr>
			<th colspan="2">Related activities</th>
		</tr>
	</thead>
	<tbody>
		@foreach (OrgActivityModel activity in Model.Activities)
		{
			<tr data-record="@activity.ID">
				<td><a>@activity.Title</a></td>
				<td>(status)</td>
			</tr>
		}
	</tbody>
	<tfoot>
		<tr>
			<td><a asp-action="Add" asp-route-OrganizationID="@Model.Organization.ID" class="btn btn-primary">Add new activity record</a></td>
		</tr>
	</tfoot>
</table>

