﻿#Forbidden-Message { margin-top: 2.0em; }

@media (min-height: 700px) {
	#Forbidden-Message { margin-top: 4.0em; }
}
@media (min-height: 900px) {
	#Forbidden-Message { margin-top: 6.0em; }
}
@media (min-height: 1100px) {
	#Forbidden-Message { margin-top: 8.0em; }
}

