﻿@model List<OrganizationModel>
@{
	if (Model == null) throw new NullReferenceException("ViewModel is null.");
}
@Html.Raw(ViewBag.AppMessage)
<table class="table table-hover table-striped table-responsive-md">
	<thead>
		<tr>
			<th></th>
			<th colspan="3">Organization</th>
			<th colspan="1">Headquarter</th>
		</tr>
	</thead>
	<tbody>
		@foreach (OrganizationModel org in Model) {
			<tr>
				<td><input type="radio" name="ToOrgID" value="@org.ID" /></td>
				<td>@org.NamePrefix</td>
				<td><a title="@org.Segment &#13; @org.AlternateNames">@org.Name</a></td>
				<td>@org.NameSuffix</td>
				<td>@org.HQ_City</td>
			</tr>
		}
	</tbody>
	<tfoot>
		<tr>
			<td colspan="5">records found: <b>@Model.Count.ToString("#,##0")</b></td>
		</tr>
	</tfoot>
</table>
