﻿@model List<OrganizationModel>
@{
	if (Model == null) throw new NullReferenceException("ViewModel is null.");
}
@Html.Raw(ViewBag.AppMessage)
<table class="table table-hover table-striped table-responsive-md">
	<thead>
		<tr>
			<th colspan="3">Organization</th>
			<th>Segment</th>
			<th colspan="3">Headquarter</th>
		</tr>
	</thead>
	<tbody>
		@foreach (OrganizationModel org in Model)
		{
			<tr data-id="@org.ID">
				<td>@org.NamePrefix</td>
				<td><a title="@org.AlternateNames">@org.Name</a></td>
				<td>@org.NameSuffix</td>
				<td>@org.Segment</td>
				<td>@org.HQ_City</td>
				<td>@org.HQ_StateProvince</td>
				<td>@org.HQ_Country</td>
			</tr>
		}
	</tbody>
	<tfoot>
		<tr>
			<td colspan="4">
				<button type="button" class="btn btn-sm btn-outline-secondary" onclick="MyPage.Export()" title="Export from database to Excel file"><b class="bi-file-earmark-spreadsheet"></b></button>
				<button type="button" class="btn btn-sm btn-outline-secondary" onclick="MyPage.DirectLink()" title="Direct link to this search result" id="btnDirectLink"><b class="bi-link-45deg"></b></button>
			</td>
			<td colspan="3">records found: <b>@Model.Count.ToString("#,##0")</b></td>
		</tr>
	</tfoot>
</table>

