﻿@using BeezMart.Entities.Geography
@using BeezMart.Entities.CRM

@model BeezMart.Areas.CRM.ViewModels.Organizations.Add_ViewModel

@{
	ViewBag.Title = "Add organization";
	if (Model == null) throw new NullReferenceException("ViewModel is null.");
	if (Model.ListOfSegments == null) throw new NullReferenceException("ViewModel.ListOfSegments is null.");
	List<Country> countries = await BeezMart.DAL.Geography.Countries.ListAsync();
}

@section head {
	<link href="~/Areas/CRM/Organizations/Add.css" rel="stylesheet" />
}

@section breadcrumb {
    <li class="breadcrumb-item"><a asp-area="CRM" asp-controller="Home" asp-action="Index">CRM</a></li>
    <li class="breadcrumb-item"><a asp-area="CRM" asp-controller="Organizations" asp-action="Index">Organizations</a></li>
    <li class="breadcrumb-item active">add new</li>
}

@Html.Raw(ViewBag.AppMessage)
<form method="post" asp-action="Add" id="frmRecord" role="form" class="container">
	<input type="hidden" name="PersonID" value="@Model.PersonID" />
	<fieldset class="card">
		<h4 class="card-header">Add organization record</h4>
		<div class="card-body">
			<div id="OrganizationFields" class="row">
				<div class="col-sm-12">
					<div class="mb-3">
						<label asp-for="Organization.Name" class="required">Full organization name</label>
						<input type="text" asp-for="Organization.Name" maxlength="256" placeholder="Enter organization name..." required="required" class="form-control form-control-lg required" />
					</div>
				</div>
				<div class="col-sm-12">
					<div class="mb-3">
						<label asp-for="Organization.AlternateNames">Alternate names</label>
						<input type="text" asp-for="Organization.AlternateNames" maxlength="256" placeholder="aka's, abbreviations, initials..." class="form-control" />
					</div>
				</div>
				<div class="col-sm-6 col-md-3">
					<div class="mb-3">
						<label asp-for="Organization.NamePrefix">Prefix</label>
						<select asp-for="Organization.NamePrefix" class="form-control">
							<option value="">=[ Prefix ]=</option>
							<option value="A.F.">A.F.</option>
							<option value="P.F.A.">P.F.A.</option>
							<option value="R.A.">R.A.</option>
							<option value="S.C.">S.C.</option>
							<option value="S.C.S.">S.C.S.</option>
							<option value="S.N.C.">S.N.C.</option>
						</select>
					</div>
				</div>
				<div class="col-sm-6 col-md-3">
					<div class="mb-3">
						<label asp-for="Organization.NameSuffix">Suffix</label>
						<select asp-for="Organization.NameSuffix" class="form-control">
							<option value="">=[ Suffix ]=</option>
							<option value="S.A.">S.A.</option>
							<option value="S.R.L.">S.R.L.</option>
							<option value="S.C.A.">S.C.A.</option>
							<option value="C.I.A.">C.I.A.</option>
						</select>
					</div>
				</div>
				<div class="col-sm-6 col-md-3">
					<div class="mb-3">
						<label asp-for="Organization.CountryOfOrigin">Country of origin</label>
						<select asp-for="Organization.CountryOfOrigin" data-selected="@Model.Organization.CountryOfOrigin" class="form-control">
							<option value="">=== PLEASE SELECT ===</option>
							@foreach (Country country in countries) {
								<option value="@country.ID">@country.Name</option>
							}
						</select>
					</div>
				</div>
				<div class="col-sm-6 col-md-3">
					<div class="mb-3">
						<label asp-for="Organization.SegmentID">Segment</label>
						<select asp-for="Organization.SegmentID" data-selected="@Model.Organization.SegmentID" class="form-control">
							@foreach (OrgSegmentModel segment in Model.ListOfSegments) {
								<option value="@segment.ID">@segment.Name</option>
							}
						</select>
					</div>
				</div>
			</div>
		</div>
		<div class="card-footer submit">
			@if (Model.PersonID.HasValue) {
				<button type="submit" class="btn btn-success btn-lg">Save record, edit relation</button>
			}
			else {
				<button type="button" onclick="javascript: btnSave_Click();" class="btn btn-primary btn-lg">Continue: add address <i class="bi-geo"></i></button>
				<button type="submit" class="btn btn-success btn-lg">I'm done, save record <i class="bi-floppy"></i></button>
			}
		</div>
		<input type="hidden" id="hdnAddAddressToo" name="AddAddressToo" value="false" />
	</fieldset>
</form>

@section scripts {
	<script type="text/javascript" src="~/Areas/CRM/Organizations/Add.js"></script>
}
