﻿@using BeezMart.Entities.Geography
@using BeezMart.Entities.CRM

@model BeezMart.Areas.CRM.ViewModels.Organizations.Edit_ViewModel

@{
	ViewBag.Title = "Edit organization";
	if (Model == null || Model.Organization == null) throw new NullReferenceException("ViewModel is null or ViewModel.Organization is null.");
	List<OrgSegmentModel> organizationSegments = await BeezMart.DAL.CRM.OrgSegments.ListAsync();
	List<Country> countries = await BeezMart.DAL.Geography.Countries.ListAsync();
}

@section head {
	<link rel="stylesheet" href="~/Areas/CRM/Organizations/Edit.css" />
}

@section breadcrumb {
    <li class="breadcrumb-item"><a asp-area="CRM" asp-controller="Home" asp-action="Index">CRM</a></li>
    <li class="breadcrumb-item"><a asp-area="CRM" asp-controller="Organizations" asp-action="Index">Organizations</a></li>
    <li class="breadcrumb-item"><a asp-area="CRM" asp-controller="Organizations" asp-action="View" asp-route-OrganizationID="@Model.Organization.ID">@Model.Organization.Name</a></li>
    <li class="breadcrumb-item active">edit</li>
}

@Html.Raw(ViewBag.AppMessage)
<form method="post" asp-action="Edit" asp-controller="Organizations">
	<input type="hidden" name="Organization.ID" value="@Model.Organization.ID" />
	<input type="hidden" name="Organization.ParentOrgID" value="@Model.Organization.ParentOrgID" />
	<section id="Record" class="card">
		<h4 class="card-header">Core organization attributes</h4>
		<div class="card-body">
			<div class="row">
				<div class="col-sm-12">
					<div class="mb-3">
						<label for="Organization.Name" class="required">Full organization name</label>
						<input type="text" name="Organization.Name" value="@Model.Organization.Name" maxlength="256" placeholder="Enter organization name..." required="required" class="form-control form-control-lg required" />
					</div>
				</div>
				<div class="col-sm-12">
					<div class="mb-3">
						<label for="Organization.AlternateNames">Alternate names</label>
						<input type="text" name="Organization.AlternateNames" value="@Model.Organization.AlternateNames" maxlength="256" placeholder="aka's, abbreviations, initials..." class="form-control" />
					</div>
				</div>
				<div class="col-md-3 col-sm-6">
					<div class="mb-3">
						<label for="Organization.NamePrefix">Prefix</label>
						<select name="Organization.NamePrefix" data-selected="@Model.Organization.NamePrefix" class="form-control">
							<option value="">=[ Prefix ]=</option>
							<option value="A.F.">A.F.</option>
							<option value="P.F.A.">P.F.A.</option>
							<option value="R.A.">R.A.</option>
							<option value="S.C.">S.C.</option>
							<option value="S.C.S.">S.C.S.</option>
							<option value="S.N.C.">S.N.C.</option>
						</select>
					</div>
				</div>
				<div class="col-md-3 col-sm-6">
					<div class="mb-3">
						<label for="Organization.NameSuffix">Suffix</label>
						<select name="Organization.NameSuffix" data-selected="@Model.Organization.NameSuffix" class="form-control">
							<option value="">=[ Suffix ]=</option>
							<option value="S.A.">S.A.</option>
							<option value="S.R.L.">S.R.L.</option>
							<option value="S.C.A.">S.C.A.</option>
							<option value="C.I.A.">C.I.A.</option>
						</select>
					</div>
				</div>
				<div class="col-md-3 col-sm-6">
					<div class="mb-3">
						<label>Country of origin</label>
						<select name="Organization.CountryOfOrigin" data-selected="@Model.Organization.CountryOfOrigin" class="form-control">
							<option value="">=== PLEASE SELECT ===</option>
							@foreach (Country country in countries) {
								<option value="@country.ID">@country.Name</option>
							}
						</select>
					</div>
				</div>
				<div class="col-md-3 col-sm-6">
					<div class="mb-3">
						<label>Segment</label>
						<select name="Organization.SegmentID" data-selected="@Model.Organization.SegmentID" class="form-control">
							@foreach (OrgSegmentModel segm in organizationSegments) {
								<option value="@segm.ID">@segm.Name</option>
							}
						</select>
					</div>
				</div>
			</div>
		</div>
		<div class="card-footer submit">
			<a asp-action="View" asp-route-OrganizationID="@Model.Organization.ID" class="btn btn-warning">Cancel</a>
			<button type="submit" class="btn btn-primary">Save organization</button>
		</div>
	</section>
</form>

@section scripts {
	<script type="text/javascript" src="~/Areas/CRM/Organizations/Edit.js"></script>
}
