﻿-@{
	ViewBag.Title = "CRM. Organizations";
}

@section head {
	<link rel="stylesheet" href="~/Areas/CRM/Organizations/Index.css" />
}

@section breadcrumb {
    <li class="breadcrumb-item"><a asp-area="CRM" asp-controller="Home" asp-action="Index">CRM</a></li>
    <li class="breadcrumb-item active"><a asp-area="CRM" asp-controller="Organizations" asp-action="Index">Organizations</a></li>
}

<section id="Primary-Tasks" class="container">
    <div class="card">
        <h4 class="card-header">Organization records</h4>
        <main class="card-body">
            <div class="row">
                <div class="col-12 col-sm-10 col-md-8 col-lg-6 col-xl-4 mx-auto">
                    <span class="d-grid"><a asp-action="Search" asp-controller="Organizations" class="btn btn-lg btn-success"><i class="bi-search me-2"></i> Lookup organizations</a></span>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-10 col-xl-8 mx-auto">
                    <div class="row">
                        <div class="col-lg">
                            <span class="d-grid"><a asp-action="Merge" asp-controller="Organizations" class="btn btn-light"><i class="bi-sign-merge-left"></i> Merge organizations</a></span>
                        </div>
                        <div class="col-lg">
                            <span class="d-grid"><a asp-action="Add" asp-controller="Organizations" class="btn btn-info"><i class="bi-plus-circle me-2"></i> Add a new organization</a></span>
                        </div>
                    </div>
                </div>
            </div>
        </main>
        <footer class="card-footer">
            <a asp-area="CRM" asp-controller="Organizations" asp-action="Lookup" class="btn btn-sm btn-outline-secondary"><i class="bi-list-task"></i> Current filter working set</a>
        </footer>
    </div>
</section>
