﻿@model List<OrganizationModel>

@{
	ViewBag.Title = "Selected organizations";
	if (Model == null) throw new NullReferenceException("ViewModel is null.");
}

@section head {
	<link rel="stylesheet" href="~/Areas/CRM/Organizations/Lookup.css" />
}

@section breadcrumb {
    <li class="breadcrumb-item"><a asp-area="CRM" asp-controller="Home" asp-action="Index">CRM</a></li>
    <li class="breadcrumb-item"><a asp-area="CRM" asp-controller="Organizations" asp-action="Index">Organizations</a></li>
    <li class="breadcrumb-item active">working set</li>
}

@Html.Raw(ViewBag.AppMessage)
<div class="submit">
    <a asp-action="Search" class="btn btn-success btn-lg">Lookup organizations</a>
</div>
<section id="FilterCriteria">

</section>
<section id="SearchResults">
	<table class="table table-hover table-striped table-responsive-md">
		<thead>
			<tr>
				<th colspan="3">Organization</th>
				<th>Segment</th>
				<th colspan="3">Headquarter</th>
			</tr>
		</thead>
		<tbody>
			@foreach (OrganizationModel org in Model) {
				<tr data-id="@org.ID">
					<td>@org.NamePrefix</td>
					<td><a title="@org.AlternateNames">@org.Name</a></td>
					<td>@org.NameSuffix</td>
					<td>@org.Segment</td>
					<td>@org.HQ_City</td>
					<td>@org.HQ_StateProvince</td>
					<td>@org.HQ_Country</td>
				</tr>
			}
		</tbody>
		<tfoot>
			<tr>
				<td colspan="4"><a asp-action="Add" class="btn btn-primary">Add new organization</a></td>
				<td colspan="3">records found: <b>@Model.Count.ToString("#,##0")</b></td>
			</tr>
		</tfoot>
	</table>
</section>
<input type="hidden" id="hdnCrmOrgsViewUrl" value="@Url.Action("View")" />

@section scripts
{
	<script type="text/javascript" src="~/Areas/CRM/Organizations/Lookup.js"></script>
}
