﻿@model BeezMart.Areas.CRM.ViewModels.Organizations.View_ViewModel

@{
    if (Model == null || Model.Organization == null) throw new NullReferenceException("ViewModel is null or ViewModel.Organization is null.");
    ViewBag.Title = Model.Organization.Name;
    short SelectedTabIndex = 0;
    if (Context.Request.Query.Keys.Contains("tab"))
    {
        if (short.TryParse(Context.Request.Query["tab"], out SelectedTabIndex))
        {
            SelectedTabIndex--;
        }
        else
        {
            SelectedTabIndex = 0;
        }
    }
}

@section head {
    <link rel="stylesheet" href="~/Areas/CRM/Organizations/View.css" />
}

@section breadcrumb {
    <li class="breadcrumb-item"><a asp-area="CRM" asp-controller="Home" asp-action="Index">CRM</a></li>
    <li class="breadcrumb-item"><a asp-area="CRM" asp-controller="Organizations" asp-action="Index">Organizations</a></li>
    <li class="breadcrumb-item active">@Model.Organization.Name</li>
}

@Html.Raw(ViewBag.AppMessage)
<section id="CoreAttributes" class="card border-primary">
    <h4 class="card-header">
        @Model.Organization.Name
        @Html.Raw(Html.FormatValue(Model.Organization.AlternateNames, "<small>aka <b>{0}</b></small>"))
        <a class="btn btn-secondary btn-sm float-end" asp-action="Edit" asp-route-OrganizationID="@Model.Organization.ID">edit</a>
    </h4>
    <div class="card-body">
        <div class="row">
            <div class="col-sm-3">
                <div id="AddressesSelector" class="list-group" data-target="#Addresses">
                    <a class="list-group-item active">Headquarter address</a>
                    <a class="list-group-item">Billing address</a>
                    <a class="list-group-item">Shipping address</a>
                    <a class="list-group-item">Other addresses</a>
                </div>
            </div>
            <div class="col-sm-9">
                <div id="Addresses">
                    <div id="Address_Home">
                        @await Component.InvokeAsync(typeof(BeezMart.Areas.CRM.ViewComponents.OrgSites.Summary1), new { OrganizationID = Model.Organization.ID, SiteAddressID = Model.Organization.SiteIdHome, SiteAddressType = "Home" })
                    </div>
                    <div id="Address_Bill">
                        @await Component.InvokeAsync(typeof(BeezMart.Areas.CRM.ViewComponents.OrgSites.Summary1), new { OrganizationID = Model.Organization.ID, SiteAddressID = Model.Organization.SiteIdBill, SiteAddressType = "Bill" })
                    </div>
                    <div id="Address_Ship">
                        @await Component.InvokeAsync(typeof(BeezMart.Areas.CRM.ViewComponents.OrgSites.Summary1), new { OrganizationID = Model.Organization.ID, SiteAddressID = Model.Organization.SiteIdShip, SiteAddressType = "Ship" })
                    </div>
                    <div id="OtherAddresses" data-source="@Url.Action("_IndexOther", "OrgSites", new { OrganizationID = Model.Organization.ID })">
                        <progress></progress>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section id="Details">
    <ul id="DetailsTabSelector" class="nav nav-tabs" data-selected-index="@SelectedTabIndex">
        <li class="nav-item"><a data-bs-toggle="tab" class="nav-link active" data-bs-target="#Overview">Overview</a></li>
        <li class="nav-item"><a data-bs-toggle="tab" class="nav-link" data-bs-target="#Persons">Persons</a></li>
        <li class="nav-item"><a data-bs-toggle="tab" class="nav-link" data-bs-target="#TextFields">Detailed info</a></li>
        <li class="nav-item"><a data-bs-toggle="tab" class="nav-link" data-bs-target="#Activities">Activities</a></li>
    </ul>
    <div id="DetailsTabPages" class="tab-content">
        <div class="tab-pane active" id="Overview">
            <div class="row">
                <div class="col-sm-4">
                    <section id="Contacts">
                        <progress></progress>
                        <div id="ContactsListContainer">
                            @await Component.InvokeAsync(typeof(BeezMart.Areas.CRM.ViewComponents.OrgContacts.List), new { OrganizationID = Model.Organization.ID })
                        </div>
                        <form asp-action="_Delete" asp-controller="OrgContacts" method="delete" id="frmContactDelete">
                            <input type="hidden" name="OrganizationID" value="@Model.Organization.ID" />
                            <input type="hidden" name="ContactID" />
                        </form>
                    </section>
                    <section id="Flags">
                        <progress></progress>
                        <div id="FlagsListContainer">
                            @await Component.InvokeAsync(typeof(BeezMart.Areas.CRM.ViewComponents.OrgFlags.List), new { OrganizationID = Model.Organization.ID })
                        </div>
                        <form asp-action="_Delete" asp-controller="OrgFlags" method="delete" id="frmFlagDelete">
                            <input type="hidden" name="OrganizationID" value="@Model.Organization.ID" />
                            <input type="hidden" name="RecordID" />
                        </form>
                    </section>
                </div>
                <div class="col-sm-8">
                    <section id="Integers">
                        <progress id="IntegersListProgress"></progress>
                        <div id="IntegersListContainer">
                            @await Component.InvokeAsync(typeof(BeezMart.Areas.CRM.ViewComponents.OrgIntegers.List), new { OrganizationID = Model.Organization.ID })
                        </div>
                        <form asp-action="_Delete" asp-controller="OrgIntegers" method="delete" id="frmIntegerDelete">
                            <input type="hidden" name="OrganizationID" value="@Model.Organization.ID" />
                            <input type="hidden" name="RecordID" />
                        </form>
                    </section>
                    <section id="Strings">
                        <progress></progress>
                        <div id="StringsListContainer">
                            @await Component.InvokeAsync(typeof(BeezMart.Areas.CRM.ViewComponents.OrgStrings.List), new { OrganizationID = Model.Organization.ID })
                        </div>
                        <form asp-action="_Delete" asp-controller="OrgStrings" method="delete" id="frmStringDelete">
                            <input type="hidden" name="OrganizationID" value="@Model.Organization.ID" />
                            <input type="hidden" name="RecordID" />
                        </form>
                    </section>
                </div>
            </div>
        </div>
        <div class="tab-pane" id="Persons">
            <section id="Relations">
                <progress></progress>
                <div id="RelationsListContainer" data-source="@Url.Action("_ListPersons", "RelationOrgsPers", new { OrganizationID = Model.Organization.ID })">

                </div>
                <form asp-action="_DeleteFromOrg" asp-controller="RelationOrgsPers" method="delete">
                    <input type="hidden" name="RelationID" />
                    <input type="hidden" name="OrganizationID" value="@Model.Organization.ID" />
                </form>
            </section>
        </div>
        <div class="tab-pane" id="TextFields">
            <section id="HugeTexts">
                <progress></progress>
                <div id="HugetextsListContainer" data-detail="@Url.Action("_Detail", "OrgHugetexts")" data-edit="@Url.Action("Edit", "OrgHugetexts", new { OrganizationID = Model.Organization.ID })">
                    @await Component.InvokeAsync(typeof(BeezMart.Areas.CRM.ViewComponents.OrgHugetexts.Index), new { OrganizationID = Model.Organization.ID })
                </div>
                <form asp-action="_Delete" asp-controller="OrgHugetexts" id="frmHugetextDelete" method="delete">
                    <input type="hidden" name="OrganizationID" value="@Model.Organization.ID" />
                    <input type="hidden" name="RecordID" />
                </form>
            </section>
        </div>
        <div class="tab-pane" id="Activities">
            <section id="ActivitiesListContainer" data-source="@Url.Action("_Index", "OrgActivities", new { OrganizationID = Model.Organization.ID })">
                <progress></progress>
                <div class="Submit"><a asp-action="Add" asp-controller="OrgActivities" asp-route-OrganizationID="@Model.Organization.ID" class="btn btn-light btn-sm">Add new activity record</a></div>
            </section>
        </div>
    </div>
</section>
<input type="hidden" id="hdnCrmPersViewUrl" value="@Url.Action("View", "Persons")" />
<input type="hidden" id="hdnActivityEditUrl" value="@Url.Action("Edit", "OrgActivities")" />

@section modals {
    @await Component.InvokeAsync(typeof(BeezMart.Areas.CRM.ViewComponents.OrgContacts.Edit), new { OrganizationID = Model.Organization.ID })
    @await Component.InvokeAsync(typeof(BeezMart.Areas.CRM.ViewComponents.OrgFlags.Edit), new { OrganizationID = Model.Organization.ID })
    @await Component.InvokeAsync(typeof(BeezMart.Areas.CRM.ViewComponents.OrgIntegers.Edit), new { OrganizationID = Model.Organization.ID })
    @await Component.InvokeAsync(typeof(BeezMart.Areas.CRM.ViewComponents.OrgStrings.Edit), new { OrganizationID = Model.Organization.ID })
    <div id="RelationEditor" data-source="@Url.Action("_ModalAddPerson", "RelationOrgsPers", new { OrganizationID = Model.Organization.ID })">
    </div>
    <aside id="ModalPickAddress" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true" data-bs-backdrop="static">
        <div class="modal-dialog">
            <div class="modal-content">
                <header class="modal-header">
                    <h4 class="modal-title">Pick existing address</h4>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    <progress></progress>
                </header>
                <section class="modal-body" data-source="@Url.Action("_IndexAll", "OrgSites", new { OrganizationID = Model.Organization.ID })">
                </section>
                <footer class="modal-footer">
                    <button type="button" class="btn btn-light" data-bs-dismiss="modal">Cancel</button>
                    <a asp-action="Add" asp-controller="OrgSites" asp-route-OrganizationID="@Model.Organization.ID" class="btn btn-primary">Add new address</a>
                </footer>
                <form asp-action="_Pick" asp-controller="OrgSites" method="post">
                    <input type="hidden" name="OrganizationID" value="@Model.Organization.ID" />
                    <input type="hidden" name="SiteAddressID" />
                    <input type="hidden" name="SiteAddressType" />
                </form>
            </div>
        </div>
    </aside>
}

@section scripts {
    <script type="text/javascript" src="~/Areas/CRM/Organizations/View.js"></script>
}
