﻿@{
    ViewBag.Title = "Email addresses available in CRM";
}

@section head {
    @*<link rel="stylesheet" href="~/Areas/CRM/ViewStyles/Home/Index.css" />*@
}

@section breadcrumb {
    <li class="breadcrumb-item"><a asp-area="CRM" asp-controller="Home" asp-action="Index">CRM</a></li>
    <li class="breadcrumb-item"><a asp-area="CRM" asp-controller="Reports" asp-action="Index">Reports</a></li>
    <li class="breadcrumb-item active">E-mail addresses</li>
}

<div class="alert alert-warning">
	<p>This functionality is not yet implemented.</p>
</div>