﻿
@{
    ViewBag.Title = "View persons by job type";
}

@section breadcrumb {
    <li class="breadcrumb-item"><a asp-area="CRM" asp-controller="Home" asp-action="Index">CRM</a></li>
    <li class="breadcrumb-item"><a asp-area="CRM" asp-controller="Reports" asp-action="Index">Reports</a></li>
    <li class="breadcrumb-item active">Persons by job type</li>
}

<p class="lead">This page is not implemented yet.</p>
