﻿@model PersContactModel
@{
	if (Model == null) throw new NullReferenceException("ViewModel is null.");
}
@Html.Raw(ViewBag.AppMessage)
<aside id="ModalEditContact" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true" data-bs-backdrop="static">
	<div class="modal-dialog">
		<div class="modal-content">
			<form asp-action="_Edit" asp-controller="PersContacts" method="post" id="frmContactDetail">
                <header class="modal-header bg-info">
					<h4 class="modal-title">Contact detail</h4>
					<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
				</header>
				<section class="modal-body">
					<input type="hidden" id="hdnContactDetailID" name="ID" />
					<input type="hidden" name="PersonID" value="@Model.PersonID" />
					<div class="mb-3">
						<label for="txtContactDetail" class="Required">Contact</label>
						<input type="text" id="txtContactDetail" name="Contact" value="@Model.Contact" maxlength="256" placeholder="Phone, e-mail, fax, etc" required="required" class="form-control required" />
					</div>
					<div class="row">
						<div class="col-sm-6 mb-3">
							<label for="ddlContactType">Type</label>
							<select id="ddlContactType" name="Type" class="form-control">
								<option value="@ContactType.Chat">Chat</option>
								<option value="@ContactType.Email">Email</option>
								<option value="@ContactType.Fax">Fax</option>
								<option value="@ContactType.Mobile">Mobile</option>
								<option value="@ContactType.Phone" selected="selected">Phone</option>
								<option value="@ContactType.Postal">Postal</option>
								<option value="@ContactType.Telex">Telex</option>
								<option value="@ContactType.Web">Web</option>
							</select>
						</div>
						<div class="col-sm-6 mb-3">
							<label for="ddlContactStatus">Status</label>
							<select id="ddlContactStatus" name="Status" class="form-control">
								<option value="@ContactStatus.Confirmed">Confirmed</option>
								<option value="@ContactStatus.HavingProblems">Having problems</option>
								<option value="@ContactStatus.Incomplete">Incomplete</option>
								<option value="@ContactStatus.Invalid">Invalid</option>
								<option value="@ContactStatus.NonExisting">Non existing</option>
								<option value="@ContactStatus.ToBeChanged">To be changed</option>
								<option value="@ContactStatus.Unconfirmed" selected="selected">Unconfirmed</option>
							</select>
						</div>
					</div>
					<div class="mb-3">
						<label for="txtContactComments">Comments</label>
						<textarea id="txtContactComments" name="Comments" rows="5" maxlength="256" class="form-control">@Model.Comments</textarea>
					</div>
				</section>
				<footer class="modal-footer">
					<button type="button" class="btn btn-light" data-bs-dismiss="modal">Cancel</button>
					<button type="submit" class="btn btn-primary">Save contact</button>
				</footer>
			</form>
		</div>
	</div>
</aside>
