﻿@model List<PersContactModel>
@{
	if (Model == null) throw new NullReferenceException("ViewModel is null.");
	string icon = "headphones";
	string statusExplain = string.Empty;
	string colorCodeClass = "success";
}
@Html.Raw(ViewBag.AppMessage)
<table class="table table-hover table-sm">
	<thead>
		<tr>
            <th colspan="3">Contact details</th>
		</tr>
	</thead>
	<tbody>
		@foreach (PersContactModel contactDetail in Model) {
			switch (contactDetail.Type) {
				case ContactType.Chat: icon = "bi-chat"; break;
				case ContactType.Email: icon = "bi-envelope-at"; break;
				case ContactType.Fax: icon = "bi-printer"; break;
				case ContactType.Mobile: icon = "bi-phone"; break;
				case ContactType.NotSet: icon = "bi-pencil"; break;
				case ContactType.Phone: icon = "bi-telephone"; break;
				case ContactType.Postal: icon = "bi-pin-map"; break;
				case ContactType.Telex: icon = "bi-receipt"; break;
				case ContactType.Web: icon = "bi-globe"; break;
			}
			switch (contactDetail.Status) {
				case ContactStatus.Confirmed: colorCodeClass = "success"; statusExplain = "Confirmed"; break;
				case ContactStatus.HavingProblems: colorCodeClass = "warning"; statusExplain = "Having-problems"; break;
				case ContactStatus.Incomplete: colorCodeClass = "danger"; statusExplain = "Incomplete"; break;
				case ContactStatus.Invalid: colorCodeClass = "danger"; statusExplain = "Invalid"; break;
				case ContactStatus.NonExisting: colorCodeClass = "danger"; statusExplain = "Non-existing"; break;
				case ContactStatus.ToBeChanged: colorCodeClass = "warning"; statusExplain = "To-be-changed"; break;
				case ContactStatus.Unconfirmed: colorCodeClass = "info"; statusExplain = "Unconfirmed"; break;
			}
			<tr data-record="@contactDetail.ID" data-type="@contactDetail.Type">
				<td data-comment="@contactDetail.Comments"><a class="@icon text-@colorCodeClass"></a></td>
				<td title="@contactDetail.Status"><span>@contactDetail.Contact</span></td>
				<td><a>&times;</a></td>
			</tr>
		}
	</tbody>
	<tfoot>
		<tr>
			<td colspan="3"><button type="button" class="btn btn-outline-secondary btn-sm" data-bs-toggle="modal" data-bs-target="#ModalEditContact">Add new</button></td>
		</tr>
	</tfoot>
</table>

