﻿#Health { margin-top: 2.0em; margin-bottom: 4.0em; text-align: center; }
#Health button { margin-bottom: 6.0em; }
#Health p:last-child { margin-top: 4.0em; }

@media (min-width: 768px) {
	#Health { margin-top: 4.0em; margin-bottom: 4.0em; }
}
@media (min-width: 970px) {
	#Health { margin-top: 8.0em; margin-bottom: 8.0em; }
}
@media (min-width: 1170px) {
	#Health { margin-top: 12.0em; margin-bottom: 16.0em; }
}