﻿@{
    Layout = "~/Views/Shared/_LayoutSideBar.cshtml";
}

@section head { @RenderSection("head", required: false) }

@section sidebar {
    <li class="nav-item"><a class="nav-link text-info" asp-area="Archiving" asp-controller="Documents" asp-action="Index"><i class="bi-files"></i><span>Documents</span></a></li>
    <li class="nav-item"><a class="nav-link" asp-area="Archiving" asp-controller="Documents" asp-action="Add"><i class="bi-plus-circle"></i><span>Add new</span></a></li>
    <li class="nav-item"><a class="nav-link" asp-area="Archiving" asp-controller="Documents" asp-action="Search"><i class="bi-search"></i><span>Search</span></a></li>
}

@section breadcrumb {
    @if (IsSectionDefined("breadcrumb"))
    {
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                @RenderSection("breadcrumb", required: false)
            </ol>
        </nav>
    }
}

@section hero { @RenderSection("hero", required: false) }

@RenderBody()

@section modals { @RenderSection("modals", required: false) }
@section scripts { @RenderSection("scripts", required: false) }
