﻿#Organization-Person { text-align: center; }
#JobTypesList { list-style-type: none; margin: 0; padding: 0; }
#JobTypesList li { margin:0.4em 0; padding:0px; }
#JobTypesList input { margin-right:0.6em; }
#JobTypesList label { color: black; }