﻿@using BeezMart.Caching.CRM
@model BeezMart.Areas.CRM.ViewModels.OrgHugetexts.Edit_ViewModel

@{
	ViewBag.Title = "Edit organization detail";
	if (Model == null) throw new NullReferenceException("ViewModel is null.");
	if (Model.Hugetext == null) throw new NullReferenceException("ViewModel.Hugetext is null.");
	if (Model.Organization == null) throw new NullReferenceException("ViewModel.Organization is null.");
	string breadcrumbTitle = Model.Hugetext.ID.HasValue ? "edit info" : "add info";
	IEnumerable<string> categories = await OrgHugetexts.GetCategoriesAsync();
	IEnumerable<OrgFieldModel> fieldTypes = await OrgHugetexts.GetFieldTypesAsync();
}

@section head {
	<link rel="stylesheet" href="~/Areas/CRM/OrgHugetexts/Edit.css" />
}

@section breadcrumb {
	<li class="breadcrumb-item"><a asp-area="CRM" asp-controller="Home" asp-action="Index">CRM</a></li>
	<li class="breadcrumb-item"><a asp-area="CRM" asp-controller="Organizations" asp-action="Index">Organizations</a></li>
	<li class="breadcrumb-item"><a asp-area="CRM" asp-controller="Organizations" asp-action="View" asp-route-OrganizationID="@Model.Organization.ID" asp-route-tab="3">@Model.Organization.Name</a></li>
	<li class="breadcrumb-item active">@breadcrumbTitle</li>
}

@Html.Raw(ViewBag.AppMessage)
<form asp-action="Edit" asp-controller="OrgHugetexts" method="post">
	<input type="hidden" asp-for="@Model.Hugetext.ID" />
    <input type="hidden" asp-for="@Model.Organization.ID" />
    <textarea name="Hugetext.Value" cols="80" class="form-control">@Html.Raw(Model.Hugetext.Value)</textarea>
	<div class="row mt-3">
		<div class="col-sm">
			<label for="ddlFieldCategory">Info field category</label>
			<select id="ddlFieldCategory" class="form-control">
				<option selected="selected" value="">=== FIELDS WITH NO CATEGORY ===</option>
				@foreach (string category in categories)
				{
					<option>@category</option>
				}
			</select>
		</div>
		<div class="col-sm">
			<label for="ddlFieldName">Field type name</label>
			<select id="ddlFieldName" name="Hugetext.FieldID" data-val="@Model.Hugetext.FieldID" class="form-control">
				<option selected="selected">=== PLEASE SELECT ===</option>
				@foreach (OrgFieldModel fieldType in fieldTypes)
				{
					<option data-val-category="@fieldType.Category" value="@fieldType.ID">@fieldType.Name</option>
				}
			</select>
		</div>
	</div>
    <div class="mt-3 submit">
        <a asp-action="View" asp-controller="Organizations" asp-route-OrganizationID="@Model.Organization.ID" asp-route-tab="3" class="btn btn-warning">Cancel</a>
        <button type="submit" class="btn btn-primary">Save detail</button>
    </div>
</form>

@section scripts {
	<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/tinymce/5.10.9/tinymce.min.js"></script>
	<script type="text/javascript" src="~/Areas/CRM/OrgHugetexts/Edit.js"></script>
}




