﻿@model BeezMart.ViewModels.Account.AccessDenied_ViewModel

@{
    ViewBag.Title = "Access denied";
    Layout = "_LayoutSimple";
}

@section head {
	<link rel="stylesheet" href="~/Views/Account/AccessDenied.css" />
}

<section id="Main-Dialog" class="row">
    <div class="col-sm-10 col-md-8 col-lg-6 col-xl-4 mx-auto">
        <div class="card text-center">
            <h3 class="card-header bg-danger">Access denied</h3>
            <div class="card-body">
                <p class="lead">The account you're using is not allowed to access the application or module.</p>
                <p>You might want to use another account, authorized for what you're trying to access, to continue.</p>
                <p>
                    <a asp-action="Login" asp-controller="Account" asp-route-ReturnUrl="@Model.ReturnUrl" class="btn btn-primary btn-lg">Log in <i class="bi-door-open"></i></a>
                </p>
            </div>
        </div>
    </div>
</section>



