﻿@model BeezMart.ViewModels.Account.Forbidden_ViewModel

@{
    ViewBag.Title = "Forbidden";
    Layout = "_LayoutSimple";
}

@section head {
	<link rel="stylesheet" href="~/Views/Account/Forbidden.css" />
}

<section id="Main-Dialog" class="row">
    <div class="col-sm-10 col-md-8 col-lg-6 col-xl-5 mx-auto">
        <div class="card text-center">
            <h3 class="card-header bg-danger">Forbidden</h3>
            <div class="card-body">
                <p class="lead">You are not allowed to access the application area or module.</p>
                <p>The user account you're currently logged-in with does not have the proper rights to perform the operation you attempted.</p>
                <p>Contact the application administrator and request that the proper application role should be applied to your account. Alternatively, you could use a different user account, if that was granted to you by the application administrator, for the operation you're attempting to perform.</p>
                <p>
                    <a asp-action="Login" asp-controller="Account" asp-route-ReturnUrl="@Model.ReturnUrl" class="btn btn-primary btn-lg">Log in <i class="bi-door-open"></i></a>
                </p>
            </div>
        </div>
    </div>
</section>




