﻿@model BeezMart.ViewModels.Account.ForgotPassword_ViewModel

@{
    ViewBag.Title = "Password forgotten";
    Layout = "_LayoutSimple";
}

@section head {
    <link rel="stylesheet" href="~/Views/Account/ForgotPassword.css" />
}

<form asp-action="ForgotPassword" method="post" id="Main-Dialog" class="row">
    <div class="col-sm-10 col-md-8 col-lg-6 col-xl-5 mx-auto">
        <div class="card">
            <h3 class="card-header bg-danger text-center">Forgot password?</h3>
            <div class="card-body">
                <p>Type e-mail address or username for account</p>
                <div class="mb-3">
                    <input type="email" name="EmailAddress" class="form-control form-control-lg" required="required" placeholder="Username or e-mail address" />
                </div>
                <div class="Submit">
                    <button type="submit" class="btn btn-warning">Initiate password reset <i class="bi-envelope-at"></i></button>
                </div>
            </div>
            <div class="card-footer">
                <p>PLEASE NOTE:<br />An e-mail message will be sent to the e-mail address associated with the user account. The message will contain a password reset token, along with instructions. The token is only valid for 24 hours.<br />Check the e-mail inbox and junk e-mail too.</p>
            </div>
        </div>
    </div>
</form>
