﻿@{
    ViewBag.Title = "Forgot password: reset process began";
    Layout = "_LayoutSimple";
}

@section head {
	<link rel="stylesheet" href="~/Views/Account/ForgotPasswordConfirmation.css" />
}

<section id="Main-Dialog" class="row">
    <div class="col-sm-10 col-md-8 col-lg-6 col-xl-5 mx-auto">
        <section class="card border-primary text-center">
            <h3 class="card-header bg-primary">Check your e-mail</h3>
            <main class="card-body">
                <p class="lead">You should find a message with instructions on how to to reset your password.</p>
                <p>Please check your inbox and junk e-mail too.</p>
            </main>
            <footer class="card-footer">
                <a asp-action="ResetPassword" class="btn btn-primary">OK, I got the token</a>
            </footer>
        </section>
    </div>
</section>