﻿@model BeezMart.ViewModels.Account.Index_ViewModel

@{
    if (Model == null || Model.UserProfile == null) throw new NullReferenceException("ViewModel is null or ViewModel.UserProfile is null.");
    ViewBag.Title = "My user profile";
    Layout = "_LayoutSimple";
}

@section head {
	<link rel="stylesheet" href="~/Views/Account/Index.css" />
}

@Html.Raw(ViewBag.AppMessage)

<section id="Account-Info" class="container">
    <div class="card">
        <main class="card-body">
            <div class="row">
                <div id="AccountFields" class="col-sm-6">
                    <h2>User account</h2>
                    <div class="mb-3">
                        <label>Full name</label>
                        <input type="text" readonly="readonly" class="form-control" value="@Model.UserProfile.FirstName @Model.UserProfile.LastName" />
                    </div>
                    <div class="mb-3">
                        <label>E-mail address</label>
                        <input type="text" readonly="readonly" class="required form-control form-control-lg" value="@Model.UserProfile.Email" />
                    </div>
                    <div class="mb-3">
                        <label>Username</label>
                        <input type="text" readonly="readonly" class="required form-control form-control-lg" value="@Model.UserProfile.UserName" />
                    </div>
                    <div class="mb-3">
                        <label>Account ID</label>
                        <input type="text" readonly="readonly" class="form-control" value="@Model.UserProfile.Id" />
                    </div>
                    <div class="submit">
                        <button type="button" class="btn btn-primary" disabled="disabled">Edit</button>
                        <button type="button" class="btn btn-success" data-bs-toggle="modal" data-bs-target="#ModalResetPassword">Change my password</button>
                    </div>
                    <progress></progress>
                    <div id="ResetPasswordResultMessage">
                    </div>
                </div>
                <div id="CurrentRoles" class="col-sm-6">
                    <h2>Account roles</h2>
                    <div>
                        <ul>
                            @if (Model.UserRoles != null)
                            {
                                foreach (string roleName in Model.UserRoles)
                                {
                                    <li>@roleName</li>
                                }
                            }
                        </ul>
                    </div>
                </div>
            </div>
        </main>
    </div>
</section>
@if (User.IsInRole(BeezMart.Security.UserRoles.ApplicationAdministrator))
{
	<section class="container">
        <div class="text-center">
            <div class="btn-group btn-group-justified">
                <div class="btn-group">
                    <a asp-area="Admin" asp-controller="Users" asp-action="Index" class="btn btn-outline-primary">User accounts management</a>
                </div>
                <div class="btn-group">
                    <a asp-area="Admin" asp-controller="Home" asp-action="Index" class="btn btn-outline-primary">Administrative operations</a>
                </div>
                <div class="btn-group">
                    <a asp-area="" asp-controller="Setup" asp-action="Confirm_Settings" class="btn btn-outline-primary">Installation settings</a>
                </div>
            </div>
        </div>
	</section>
}

@section modals {
    <aside id="ModalResetPassword" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true" data-bs-backdrop="static">
        <div class="modal-dialog">
            <div class="modal-content">
                <form asp-action="Index_ChangePassword" method="post">
                    <header class="modal-header">
                        <h4 class="modal-title">Change password</h4>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </header>
                    <section class="modal-body">
                        <div class="mb-3">
                            <label>Old password</label>
                            <input type="password" name="OldPassword" required="required" class="required form-control" placeholder="Example: #0ldP@ssword!" maxlength="64" />
                        </div>
                        <div class="mb-3">
                            <label>New password. Suggestion:</label><span><a class="badge rounded-pill text-bg-secondary">@Model.SuggestedPassword</a></span>
                            <input type="password" name="NewPassword" required="required" class="required form-control" placeholder="Example: #B33zM@art!" maxlength="64" />
                        </div>
                        <div class="mb-3">
                            <label>Password confirm</label>
                            <input type="password" name="PasswordConfirm" required="required" class="required form-control" placeholder="Example: #B33zM@art!" maxlength="64" />
                        </div>
                        <label class="input-group">
                            <span class="input-group-text"><input type="checkbox" asp-for="@Model.SendReminder" /></span>
                            <span class="form-control">Send me the new password by e-mail</span>
                        </label>
                    </section>
                    <footer class="modal-footer">
                        <button type="button" class="btn btn-light" data-bs-dismiss="modal">Cancel</button>
                        <button type="submit" class="btn btn-primary">Change password</button>
                    </footer>
                </form>
            </div>
        </div>
    </aside>
}
@section scripts
{
	<script type="text/javascript" src="~/Views/Account/Index.js"></script>
}