﻿@{
    ViewBag.Title = "Locked out";
    Layout = "_LayoutSimple";
}

@section head {
	<link rel="stylesheet" href="~/Views/Account/LockedOut.css" />
}

<section id="Main-Dialog" class="row">
    <div class="col-sm-10 col-md-8 col-lg-6 col-xl-5 mx-auto">
        <div class="card text-center">
            <h3 class="card-header bg-danger">Locked-out</h3>
            <div class="card-body">
                <p class="lead">This account has been temporarily locked out due to repeated login failures.</p>
                <p>Please try again later! You might need to contact the administrator to have your account unlocked.</p>
            </div>
        </div>
    </div>
</section>