﻿@model BeezMart.ViewModels.Account.Login_ViewModel

@{
	if (Model == null) throw new NullReferenceException("ViewModel is null.");
    ViewBag.Title = "Login";
    Layout = "_LayoutSimple";
}

@section head {
	<link rel="stylesheet" href="~/Views/Account/Login.css" />
}

<form asp-action="Login" asp-controller="Account" asp-route-ReturnUrl="@ViewBag.ReturnUrl" method="post" id="Main-Dialog" class="row">
    <div class="col-12 col-sm-10 col-md-8 col-lg-6 col-xl-4 mx-auto">
        <div class="card border-success">
            <h3 class="card-header text-bg-success text-center">Log in</h3>
            <div class="card-body">
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                @if (User.Identity != null && User.Identity.IsAuthenticated)
                {
                    <div class="alert alert-warning" role="alert">
                        <p>The account you are currently logged in with does not have the necessary access rights. Log in with a proper account for the action you are trying to take.</p>
                    </div>
                }
                <p class="text-muted">Sign In to your account</p>
                <div class="input-group input-group-lg mb-4">
                    <input type="text" name="Username" value="@Model.Username" placeholder="User account" required="required" class="form-control form-control-lg required" />
                    <span class="input-group-text"><i class="bi-person"></i></span>
                </div>
                <div class="input-group input-group-lg mb-4">
                    <input type="password" name="Password" value="@Model.Password" placeholder="Account password" required="required" class="form-control form-control-lg required" />
                    <span class="input-group-text"><i class="bi-key"></i></span>
                </div>
                <label class="input-group mb-4">
                    <span class="input-group-text">
                        @Html.CheckBoxFor(m => m.RememberMe)
                    </span>
                    <span class="form-control">Remember me</span>
                </label>
                <div class="Submit">
                    <button type="submit" class="btn btn-success btn-lg">Log in <i class="bi-door-open"></i></button>
                </div>
            </div>
            <div class="card-footer text-center py-3">
                <a asp-action="ForgotPassword">I forgot my password</a>
            </div>
        </div>
    </div>
</form>



