﻿@{
    ViewBag.Title = "Reset password confirmation";
    Layout = "_LayoutSimple";
}

@section head {
	<link rel="stylesheet" href="~/Views/Account/ResetPasswordConfirmation.css" />
}

<section id="Main-Dialog" class="row">
    <div class="col-10 col-sm-8 col-md-6 col-lg-4 mx-auto">
        <div class="card border-success">
            <h4 class="card-header bg-success">Password reset</h4>
            <div class="card-body">
                <p class="lead">Your password has been reset.</p>
                <div class="Submit">
                    <a asp-area="" asp-controller="Account" asp-action="Login" class="btn btn-success btn-lg">Login with new password <i class="bi-door-open"></i></a>
                </div>
            </div>
        </div>
    </div>
</section>

@Html.Raw(ViewBag.AppMessage)