﻿@model BeezMart.ViewModels.Account.ResetPassword_ViewModel

@{
	if (Model == null) throw new NullReferenceException("ViewModel is null.");
    ViewBag.Title = "Reset password";
    Layout = "_LayoutSimple";
}

@section head {
	<link rel="stylesheet" href="~/Views/Account/ResetPassword.css" />
}

<form asp-action="ResetPassword" id="Main-Dialog" method="post" class="row">
    <div class="col-10 col-sm-8 col-md-6 col-lg-4 mx-auto">
        <div class="card border-info">
            <h3 class="card-header bg-info text-center">Reset password</h3>
            <div class="card-body">
                <div class="mb-3">
                    <label>Username</label>
                    <input type="text" name="Username" value="@Model.Username" class="form-control form-control-lg" required="required" placeholder="User account" maxlength="64" />
                </div>
                <div class="mb-3">
                    <label>Password</label>
                    <input type="password" name="NewPassword" value="@Model.NewPassword" class="form-control form-control-lg" required="required" placeholder="Account password" maxlength="64" />
                </div>
                <div class="mb-3">
                    <label>Password confirm</label>
                    <input type="password" name="PasswordConfirm" value="@Model.PasswordConfirm" class="form-control form-control-lg" required="required" placeholder="Confirm password" maxlength="64" />
                </div>
                <div class="mb-3">
                    <label>Password reset token</label>
                    <textarea name="PasswordResetToken" rows="7" class="form-control" required="required" placeholder="Code received by e-mail" maxlength="4096">@Model.PasswordResetToken</textarea>
                </div>
                <label class="input-group">
                    <span class="input-group-text">
                        @Html.CheckBoxFor(m => m.SendReminder)
                    </span>
                    <span class="form-control">Send me the new password by e-mail</span>
                </label>
                <div class="Submit">
                    <button type="submit" class="btn btn-info btn-lg">Reset password</button>
                </div>
                @Html.ValidationSummary("", new { @class = "text-danger" })
            </div>
        </div>
    </div>
</form>
