﻿@model BeezMart.ViewModels.Account.SendCode_ViewModel

@{
	if (Model == null) throw new NullReferenceException("ViewModel is null.");
    if (Model.Providers == null) throw new NullReferenceException("ViewModel.Providers is null.");
    ViewBag.Title = "Send verification code";
    Layout = "_LayoutSimple";
}

@section head {
	@*<link rel="stylesheet" href="~/Views/Account/SendCode.css" />*@
}

<form asp-controller="Account" asp-action="SendCode" asp-route-returnurl="@Model.ReturnUrl" method="post" class="form-horizontal" role="form">
	<input asp-for="RememberMe" type="hidden" />
    <div class="row">
        <div class="col-1 col-sm-2 col-md-3 col-lg-4">&nbsp;</div>
        <div class="col-10 col-sm-8 col-md-6 col-lg-4">
            <div class="card border-success">
                <h4 class="card-header bg-success">Send code</h4>
                <div class="card-body">
                    <p class="lead">Select two-factor authentication provider:</p>
                    <select data-selected="@Model.SelectedProvider">
                        @foreach (string provider in Model.Providers)
                        {
                            <option value="@provider">@provider</option>
                        }
                    </select>
                    <div class="Submit">
                        <button type="submit" class="btn btn-primary">Send code</button>
                    </div>
                </div>
                <div class="card-footer"></div>
            </div>
        </div>
        <div class="col-1 col-sm-2 col-md-3 col-lg-4">&nbsp;</div>
    </div>
</form>

@section scripts {
	@{ await Html.RenderPartialAsync("_ValidationScriptsPartial"); }
}



