﻿@model BeezMart.ViewModels.Account.VerifyCode_ViewModel

@{
	ViewBag.Title = "Verify authentication code";
	Layout = "_LayoutSimple";
}

@section head
{
	@*<link rel="stylesheet" href="~/Views/Account/VerifyCode.css" />*@
}

<form asp-controller="Account" asp-action="VerifyCode" asp-route-returnurl="@ViewData["ReturnUrl"]" method="post" class="form-horizontal" role="form">
	@*<div asp-validation-summary="ValidationSummary.All" class="text-danger"></div>*@
	<input asp-for="Provider" type="hidden" />
	<input asp-for="RememberMe" type="hidden" />
	<h4>@ViewData["Status"]</h4>
	<hr />
	<div class="mb-3">
		<label asp-for="Code" class="col-md-2 control-label"></label>
		<div class="col-md-10">
			<input asp-for="Code" class="form-control" />
			<span asp-validation-for="Code" class="text-danger"></span>
		</div>
	</div>
	<div class="mb-3">
		<div class="col-md-offset-2 col-md-10">
			<div class="checkbox">
				<input asp-for="RememberBrowser" />
				<label asp-for="RememberBrowser"></label>
			</div>
		</div>
	</div>
	<div class="mb-3">
		<div class="col-md-offset-2 col-md-10">
			<button type="submit" class="btn btn-light">Submit</button>
		</div>
	</div>
</form>

@section scripts {
	@{ await Html.RenderPartialAsync("_ValidationScriptsPartial"); }
}



