﻿@{
    ViewBag.Title = "Customer Relationship Management";
}

@section head {
	<link rel="stylesheet" href="~/Areas/CRM/Home/Index.css" />
}

@section breadcrumb {
    <li class="breadcrumb-item active"><a asp-action="Index" asp-controller="Home" asp-area="CRM">CRM</a></li>
}

<section id="Primary-Tasks" class="container">
    <div class="row">
        <div class="col-lg-6">
            <div class="card">
                <h4 class="card-header">Organizations</h4>
                <main class="card-body">
                    <div class="row">
                        <div class="col-sm-12 col-md-8 col-lg-6 mx-auto">
                            <span class="d-grid"><a asp-action="Search" asp-controller="Organizations" class="btn btn-lg btn-success">Lookup records</a></span>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-0 col-lg-1 col-xl-2">&nbsp;</div>
                        <div class="col-sm-6 col-lg-5 col-xl-4">
                            <span class="d-grid"><a asp-action="Add" asp-controller="Organizations" class="btn btn-light">Add a new record</a></span>
                        </div>
                        <div class="col-sm-6 col-lg-5 col-xl-4">
                            <span class="d-grid"><a asp-action="Merge" asp-controller="Organizations" class="btn btn-primary">Merge</a></span>
                        </div>
                        <div class="col-sm-0 col-lg-1 col-xl-2">&nbsp;</div>
                    </div>
                </main>
                <footer class="card-footer">
                    <a asp-area="CRM" asp-controller="Organizations" asp-action="Search" class="btn btn-sm btn-outline-secondary">
                        <span class="badge bg-secondary">@Html.FormatValue(MyApp.DashboardStats.CRM.CountOfOrgs, "{0:#,##0}")</span>
                        Records
                    </a>
                </footer>
            </div>
        </div>
        <div class="col-lg-6">
            <div class="card">
                <h4 class="card-header">Persons</h4>
                <main class="card-body">
                    <div class="row">
                        <div class="col-sm-12 col-md-8 col-lg-6 mx-auto">
                            <span class="d-grid"><a asp-action="Search" asp-controller="Persons" class="btn btn-lg btn-success">Lookup records</a></span>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-0 col-lg-1 col-xl-2">&nbsp;</div>
                        <div class="col-sm-6 col-lg-5 col-xl-4">
                            <span class="d-grid"><a asp-action="Add" asp-controller="Persons" class="btn btn-light">Add a new record</a></span>
                        </div>
                        <div class="col-sm-6 col-lg-5 col-xl-4">
                            <span class="d-grid"><a asp-action="Merge" asp-controller="Persons" class="btn btn-primary">Merge</a></span>
                        </div>
                        <div class="col-sm-0 col-lg-1 col-xl-2">&nbsp;</div>
                    </div>
                </main>
                <footer class="card-footer">
                    <a asp-area="CRM" asp-controller="Persons" asp-action="Search" class="btn btn-sm btn-outline-secondary">
                        <span class="badge bg-secondary">@Html.FormatValue(MyApp.DashboardStats.CRM.CountOfPers, "{0:#,##0}")</span>
                        Records
                    </a>
                    <a asp-area="CRM" asp-controller="Reports" asp-action="EmailAddresses" class="btn btn-sm btn-outline-secondary">
                        <span class="badge bg-secondary">@Html.FormatValue(MyApp.DashboardStats.CRM.CountOfEmails, "{0:#,##0}")</span>
                        E-mail addresses
                    </a>
                </footer>
            </div>
        </div>
    </div>
</section>
