﻿@page
@model BeezMart.Pages.MicrosoftIdentity.Account.AccessDeniedModel

@{
    ViewBag.Title = "Access denied";
    Layout = "_LayoutSimple";
}

@section head {
    <link rel="stylesheet" href="~/Areas/MicrosoftIdentity/Account/AccessDenied.css" />
}

<section id="Forbidden-Message" class="row">
    <div class="col-sm-10 col-md-8 col-lg-6 col-xl-5 mx-auto">
        <div class="card text-center">
            <h3 class="card-header bg-danger">Access denied</h3>
            <div class="card-body">
                <p class="lead">Your account is not entitled to access the area you intended.</p>
                <p>You would need to sign-out and then sign-in again with an entitled account, if you want to access the area.</p>
            </div>
            <div class="card-footer py-4">
                <a href="~/MicrosoftIdentity/Account/SignIn" class="btn btn-primary btn-lg" title="Sign in">Log in <i class="bi-door-open"></i></a>
            </div>
        </div>
    </div>
</section>