﻿@page
@model BeezMart.Pages.MicrosoftIdentity.Account.SignedOutModel

@{
    ViewBag.Title = "Signed out";
    Layout = "_LayoutSimple";
}

@section head {
    <link rel="stylesheet" href="~/Areas/MicrosoftIdentity/Account/SignedOut.css" />
}

<section id="Forbidden-Message" class="row">
    <div class="col-sm-10 col-md-8 col-lg-6 col-xl-5 mx-auto">
        <div class="card text-center">
            <h3 class="card-header bg-info">Signed out</h3>
            <div class="card-body">
                <p class="lead">You have successfully logged out.</p>
                <p>You need to sign in again if you want to continue using BeezMart.</p>
            </div>
            <div class="card-footer py-4">
                <a href="~/MicrosoftIdentity/Account/SignIn" class="btn btn-primary btn-lg" title="Sign in">Log in <i class="bi-door-open"></i></a>
            </div>
        </div>
    </div>
</section>