﻿progress { display: none; }
#AccountFields p:nth-child(9) { color: #C0C0C0; }
#ModalResetPassword .modal-body>div:nth-child(2) label { padding-right: 1.0em; }
#ModalResetPassword .modal-body>div:nth-child(2) a { text-decoration: none; font-size: 80%; font-weight: normal; }
#CurrentRoles ul { font-size: 1.2em; }
#CurrentRoles ul li { margin-top: 0.8em; margin-bottom: 0.8em; }

#Account-Info .submit button {
    margin-top: 1.0em;
    margin-bottom: 1.0em;
}

@media (min-height: 700px) {
    #Account-Info {
        margin-top: 2.0em;
    }
}

@media (min-height: 900px) {
    #Account-Info {
        margin-top: 4.0em;
    }
}

@media (min-height: 1100px) {
    #Account-Info {
        margin-top: 6.0em;
    }
}


