﻿#Main-Dialog {
    margin-top: 2.0em;
}

#Main-Dialog .btn {
    margin-top: 1.0em;
    margin-bottom: 1.0em;
}

@media (min-height: 700px) {
    #Main-Dialog {
        margin-top: 4.0em;
    }
}

@media (min-height: 900px) {
    #Main-Dialog {
        margin-top: 6.0em;
    }
}

@media (min-height: 1100px) {
    #Main-Dialog {
        margin-top: 8.0em;
    }
}