﻿@using BeezMart.Entities.TimeSheet
@model List<ProjectModel>
@{
	if (Model == null) throw new NullReferenceException("ViewModel is null.");
}
@Html.Raw(ViewBag.AppMessage)
<table class="table table-hover table-striped table-sm  table-responsive-md">
    <thead>
        <tr>
            <th>Title</th>
            <th>Customer</th>
            <th>Project manager</th>
        </tr>
    </thead>
    <tbody>
        @foreach (ProjectModel project in Model) {
            <tr data-value="@project.ID">
                <td><a title="@Html.FormatValue(project.ScheduledStart, "{0:yyyy-MM-dd}") to @Html.FormatValue(project.ScheduledEnd, "{0:yyyy-MM-dd}")">@project.Title</a></td>
                <td data-OrganizationID="@project.OrganizationID" data-PersonID="@project.PersonID" title="@project.EndCustomer">@project.CustomerName</td>
                <td>@project.ProjectManager</td>
            </tr>
		}
    </tbody>
    <tfoot>
        <tr>
            <td colspan="3">records found: <b>@Model.Count.ToString("#,##0")</b></td>
        </tr>
    </tfoot>
</table>