﻿@model List<ActivityModel>
@{
	if (Model == null) throw new NullReferenceException("ViewModel is null.");
}
@Html.Raw(ViewBag.AppMessage)
<table class="table table-striped table-hover table-responsive-md">
	<thead>
		<tr>
			<th>Activity name</th>
			<th>Customer</th>
			<th>Time-frame</th>
			<th>Status</th>
		</tr>
	</thead>
	<tbody>
		@foreach (ActivityModel activity in Model) {
			<tr data-id="@activity.ID">
				<td><a>@activity.Title</a></td>
				<td>
					@if (activity.OrganizationID.HasValue) {
						<a data-orgs="@activity.OrganizationID">@activity.CustomerName</a>
					}
					else {
						if (activity.PersonID.HasValue) {
							<a data-pers="@activity.PersonID">@activity.CustomerName</a>
						}
						else {
							<text>@activity.CustomerName</text>
						}
					}
				</td>
				<td>@Html.FormatValue(activity.ScheduledStart, "{0:yyyy-MM-dd}") to @Html.FormatValue(activity.ScheduledEnd, "{0:yyyy-MM-dd}")</td>
				<td class="@activity.Status">@activity.Status</td>
			</tr>
		}
	</tbody>
	<tfoot>
		<tr>
			<td colspan="2">
				<button type="button" class="btn btn-sm btn-outline-secondary" onclick="MyPage.Export()" title="Export from database to Excel file"><b class="bi-file-earmark-spreadsheet"></b></button>
				<button type="button" class="btn btn-sm btn-outline-secondary" onclick="MyPage.DirectLink()" title="Direct link to this search result" id="btnDirectLink"><b class="bi-link-45deg"></b></button>
			</td>
			<td colspan="2">records found: <b>@Model.Count.ToString("#,##0")</b></td>
		</tr>
	</tfoot>
</table>

