﻿@using BeezMart.Caching.TimeSheet
@model BeezMart.Areas.TimeSheet.ViewModels.Activities.Add_ViewModel

@{
    ViewBag.Title = "Add new activity";
    if (Model == null || Model.Activity == null) throw new NullReferenceException("ViewModel is null or ViewModel.Activity is null.");
    IEnumerable<ActivityModel.ActivityTypeModel> activityTypes = await ActivityCategories.GetActivityTypesAsync();
}

@section head {
    <link rel="stylesheet" href="~/Areas/TimeSheet/Activities/Add.css" />
}

@section breadcrumb {
    <li class="breadcrumb-item"><a asp-area="TimeSheet" asp-controller="Home" asp-action="Index">TimeSheet</a></li>
    <li class="breadcrumb-item"><a asp-area="TimeSheet" asp-controller="Activities" asp-action="Index">Activities</a></li>
    <li class="breadcrumb-item active">add new</li>
}

@Html.Raw(ViewBag.AppMessage)
<form asp-action="Add" method="post">
    <input type="hidden" asp-for="@Model.Activity.ID" />
    <input type="hidden" asp-for="@Model.Activity.ProjectID" />
    <input type="hidden" asp-for="@Model.Activity.OrganizationID" />
    <input type="hidden" asp-for="@Model.Activity.PersonID" />
    <input type="hidden" asp-for="@Model.Activity.InvoiceIDs" />
    <section id="Record" class="card mb-3">
        <h4 class="card-header">Add activity record</h4>
        <div class="card-body">
            <div class="mb-3">
                <label asp-for="@Model.Activity.Title" class="required">Activity name or title</label>
                <input type="text" asp-for="@Model.Activity.Title" placeholder="The short and descriptive name of the activity, for reference" maxlength="1024" required="required" class="form-control form-control-lg" />
            </div>
            <div class="mb-3">
                <label asp-for="@Model.Activity.ProjectTitle">Project name <a data-bs-toggle="modal" data-bs-target="#ModalLookupProject" class="badge rounded-pill bg-secondary ms-4 text-decoration-none">Choose from existing</a></label>
                <input type="text" asp-for="@Model.Activity.ProjectTitle" disabled="disabled" class="form-control" />
            </div>
            <div class="row">
                <div class="col-sm-6">
                    <div class="mb-3">
                        <label asp-for="@Model.Duration" class="input-group">
                            <span class="input-group-text">Duration (minutes)</span>
                            <input type="text" asp-for="@Model.Duration" maxlength="8" placeholder="Ex: 2:30 or 2h30 or 150 or 2.5h" class="form-control" />
                        </label>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="mb-3">
                        <label asp-for="@Model.Activity.Billable" class="input-group">
                            <span class="input-group-text"><input type="checkbox" asp-for="@Model.Activity.Billable" /></span>
                            <span class="form-control">Is this billable activity?</span>
                        </label>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="mb-3">
                        <label asp-for="@Model.Activity.CustomerName" class="required">Customer name <a data-bs-toggle="modal" data-bs-target="#ModalLookupCustomer" class="badge rounded-pill bg-secondary ms-4 text-decoration-none">Pick from CRM</a></label>
                        <input type="text" asp-for="@Model.Activity.CustomerName" placeholder="The beneficiary customer company or person" maxlength="256" required="required" class="form-control" />
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="mb-3">
                        <label asp-for="@Model.Activity.EndCustomer">End customer</label>
                        <input type="text" asp-for="@Model.Activity.EndCustomer" placeholder="The actual beneficiary of activity" maxlength="256" class="form-control" />
                    </div>
                </div>
            </div>
            <div class="row">
            </div>
            <div class="row">
                <div id="Field-Status" class="col-sm-6">
                    <div class="mb-3">
                        <label asp-for="@Model.Activity.Status">Status <a role="button" data-bs-toggle="collapse" href="#MoreMetadata" aria-expanded="false" aria-controls="MoreMetadata" class="badge rounded-pill bg-secondary ms-4 text-decoration-none">comments on status <b class="bi-chevron-down"></b></a></label>
                        <select asp-for="@Model.Activity.Status" data-selected="@Model.Activity.Status" class="form-control">
                            <option value="10">Pending</option>
                            <option value="20">Cancelled</option>
                            <option value="50">In progress</option>
                            <option value="250">Completed</option>
                            <option value="51">In progress 1%</option>
                            <option value="52">In progress 5%</option>
                            <option value="53">In progress 10%</option>
                            <option value="54">In progress 15%</option>
                            <option value="55">In progress 20%</option>
                            <option value="56">In progress 25%</option>
                            <option value="57">In progress 30%</option>
                            <option value="58">In progress 35%</option>
                            <option value="59">In progress 40%</option>
                            <option value="60">In progress 45%</option>
                            <option value="61">In progress 50%</option>
                            <option value="62">In progress 55%</option>
                            <option value="63">In progress 60%</option>
                            <option value="64">In progress 65%</option>
                            <option value="65">In progress 70%</option>
                            <option value="66">In progress 75%</option>
                            <option value="67">In progress 80%</option>
                            <option value="68">In progress 85%</option>
                            <option value="69">In progress 90%</option>
                            <option value="70">In progress 95%</option>
                            <option value="71">In progress 99%</option>
                        </select>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="mb-3">
                        <label asp-for="@Model.Activity.ActivityTypeID">Activity type</label>
                        <select asp-for="@Model.Activity.ActivityTypeID" data-selected="@Model.Activity.ActivityTypeID" class="form-control">
                            <option value="">== PLEASE SELECT CATEGORY ==</option>
                            @foreach (ActivityModel.ActivityTypeModel activityType in activityTypes) {
                                <option value="@activityType.ID">@activityType.Category :: @activityType.Name</option>
                            }
                        </select>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-6 col-lg-3">
                    <div class="mb-3">
                        <label asp-for="@Model.Activity.StartedOn">Started on</label>
                        <div class="input-group">
                            <input type="text" asp-for="@Model.Activity.StartedOn" asp-format="{0:yyyy-MM-dd}" maxlength="16" placeholder="yyyy-mm-dd" class="form-control Calendar" />
                            <span class="input-group-text Calendar"><b class="bi-calendar3"></b></span>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6 col-lg-3">
                    <div class="mb-3">
                        <label asp-for="@Model.Activity.EndedOn">Ended on</label>
                        <div class="input-group">
                            <input type="text" asp-for="@Model.Activity.EndedOn" asp-format="{0:yyyy-MM-dd}" maxlength="16" placeholder="yyyy-mm-dd" class="form-control Calendar" />
                            <span class="input-group-text Calendar"><b class="bi-calendar3"></b></span>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6 col-lg-3">
                    <div class="mb-3">
                        <label asp-for="@Model.Activity.RequestedBy">Requested by</label>
                        <input type="text" asp-for="@Model.Activity.RequestedBy" placeholder="Person name" maxlength="128" class="form-control" />
                    </div>
                </div>
                <div class="col-sm-6 col-lg-3">
                    <div class="mb-3">
                        <label asp-for="@Model.Activity.CompletedBy">Completed by</label>
                        <input type="text" asp-for="@Model.Activity.CompletedBy" placeholder="Person name" maxlength="128" class="form-control" />
                    </div>
                </div>
            </div>
            <div id="MoreMetadata" class="collapse">
                <div id="Field-Status-Comments" class="mb-3">
                    <label asp-for="@Model.Activity.ActivityStatusComment">Comments about the status</label>
                    <textarea asp-for="@Model.Activity.ActivityStatusComment" cols="30" rows="2" placeholder="" maxlength="256" class="form-control"></textarea>
                </div>
                <div class="row">
                    <div class="col-sm-6 col-lg-3">
                        <div class="mb-3">
                            <label asp-for="@Model.Activity.ScheduledStart">Scheduled start</label>
                            <div class="input-group">
                                <input type="text" asp-for="@Model.Activity.ScheduledStart" asp-format="{0:yyyy-MM-dd}" maxlength="16" placeholder="yyyy-mm-dd" class="form-control Calendar" />
                                <span class="input-group-text Calendar"><b class="bi-calendar3"></b></span>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6 col-lg-3">
                        <div class="mb-3">
                            <label asp-for="@Model.Activity.ScheduledEnd">Scheduled end</label>
                            <div class="input-group">
                                <input type="text" asp-for="@Model.Activity.ScheduledEnd" asp-format="{0:yyyy-MM-dd}" maxlength="16" placeholder="yyyy-mm-dd" class="form-control Calendar" />
                                <span class="input-group-text Calendar"><b class="bi-calendar3"></b></span>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6 col-lg-3">
                        <div class="mb-3">
                            <label asp-for="@Model.Activity.AssignedOn">Assigned on</label>
                            <div class="input-group">
                                <input type="text" asp-for="@Model.Activity.AssignedOn" asp-format="{0:yyyy-MM-dd}" maxlength="16" placeholder="yyyy-mm-dd" class="form-control Calendar" />
                                <span class="input-group-text Calendar"><b class="bi-calendar3"></b></span>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6 col-lg-3">
                        <div class="mb-3">
                            <label asp-for="@Model.Activity.AssignedTo">Assigned to</label>
                            <input type="text" asp-for="@Model.Activity.AssignedTo" placeholder="Who was assigned to perform the activity" maxlength="128" class="form-control" />
                        </div>
                    </div>
                    <div class="col-sm-6 col-lg-3">
                        <div class="mb-3">
                            <label asp-for="@Model.Activity.DeadlineOn">Deadline on</label>
                            <div class="input-group">
                                <input type="text" asp-for="@Model.Activity.DeadlineOn" asp-format="{0:yyyy-MM-dd}" maxlength="16" placeholder="yyyy-mm-dd" class="form-control Calendar" />
                                <span class="input-group-text Calendar"><b class="bi-calendar3"></b></span>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6 col-lg-3">
                        <div class="mb-3">
                            <label asp-for="@Model.Activity.ReminderOn">Reminder on</label>
                            <div class="input-group">
                                <input type="text" asp-for="@Model.Activity.ReminderOn" asp-format="{0:yyyy-MM-dd}" maxlength="16" placeholder="yyyy-mm-dd" class="form-control Calendar" />
                                <span class="input-group-text Calendar"><b class="bi-calendar3"></b></span>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6 col-lg-3">
                        <div class="mb-3">
                            <label asp-for="@Model.Activity.RequestingDepartment">Requesting department</label>
                            <input type="text" asp-for="@Model.Activity.RequestingDepartment" placeholder="Department name" maxlength="128" class="form-control" />
                        </div>
                    </div>
                    <div class="col-sm-6 col-lg-3">
                        <div class="mb-3">
                            <label asp-for="@Model.Activity.LoggedBy">Logged by</label>
                            <input type="text" asp-for="@Model.Activity.LoggedBy" placeholder="Person name" maxlength="128" class="form-control" />
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="card-footer">
            <div class="row">
                <div id="btnMoreMetadata" class="col-sm-4">
                    <a data-bs-target="#MoreMetadata" data-bs-toggle="collapse" class="btn btn-link text-decoration-none">Details <i class="bi-chevron-down"></i></a>
                </div>
                <div class="col-sm-8 submit">
                    <a asp-action="Index" class="btn btn-warning">Cancel</a>
                    <button type="submit" class="btn btn-primary">Save record</button>
                </div>
            </div>
        </div>
    </section>
    <section id="Details" class="card">
        <h5 class="card-header">Notes on this activity</h5>
        <div class="card-body">
            <textarea asp-for="@Model.Activity.Details" cols="30" rows="30" placeholder="Details, comments or context about the activity" maxlength="4096" class="form-control"></textarea>
        </div>
        <div class="card-footer submit">
            <a asp-action="Index" class="btn btn-warning">Cancel</a>
            <button type="submit" class="btn btn-primary">Save record</button>
        </div>
    </section>
</form>

@section modals {
    <aside id="ModalLookupProject" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true" data-bs-backdrop="static">
        <div class="modal-dialog">
            <div class="modal-content">
                <header class="modal-header">
                    <h4 class="modal-title">Lookup for existing project</h4>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </header>
                <section class="modal-body">
                    <p>Pre-populate project and customer details with existing data from current projects set</p>
                    <form id="frmLookupProjects" asp-controller="Activities" asp-action="_PickProjects" method="get">
                        <div class="mb-3">
                            <div class="input-group">
                                <input type="text" name="NamePattern" placeholder="Project title, customer name or account manager like..." class="form-control">
                                <span class="input-group-text" title="Exact match&#13;When checked, search will not append and prepend * wildcard to title or name criteria" style="cursor:help;">
                                    <input type="checkbox" name="ExactMatch" />
                                </span>
                                <button type="submit" class="input-group-text">Lookup</button>
                            </div>
                        </div>
                    </form>
                </section>
                <footer class="modal-footer">
                    <button type="button" class="btn btn-warning" data-bs-dismiss="modal">Cancel</button>
                </footer>
            </div>
        </div>
    </aside>
    <aside id="ModalProjects" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true" data-bs-backdrop="static">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <header class="modal-header">
                    <h4 class="modal-title">Pick existing project</h4>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </header>
                <section class="modal-body">
                    <p>Pre-populate project and customer details with existing data from current projects set</p>
                    <progress></progress>
                    <div id="SearchResultProjects">
                    </div>
                </section>
                <footer class="modal-footer">
                    <button type="button" class="btn btn-primary" onclick="btnProjectsSearchAgain_Click();">Search again</button>
                    <button type="button" class="btn btn-light" data-bs-dismiss="modal">Cancel</button>
                </footer>
            </div>
        </div>
    </aside>
    <aside id="ModalLookupCustomer" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true" data-bs-backdrop="static">
        <div class="modal-dialog">
            <div class="modal-content">
                <header class="modal-header">
                    <h4 class="modal-title">Lookup for existing customer</h4>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </header>
                <section class="modal-body">
                    <p>Pre-populate customer details with existing data from CRM module</p>
                    <div id="ChooseCustomerType">
                        <ul class="nav nav-tabs">
                            <li class="nav-item"><a href="#Orgs" data-bs-toggle="tab" class="nav-link active">Organizations</a></li>
                            <li class="nav-item"><a href="#Pers" data-bs-toggle="tab" class="nav-link">Persons</a></li>
                        </ul>
                        <div class="tab-content">
                            <div class="tab-pane active" id="Orgs">
                                <form id="frmLookupOrgs" asp-action="_PickOrgs" asp-controller="Customers" method="get">
                                    <div class="mb-3">
                                        <div class="input-group">
                                            <input type="text" name="OrgsNamePattern" placeholder="Organization name contains..." class="form-control" />
                                            <span class="input-group-text" title="Exact match&#13;When checked, search will not append and prepend * wildcard to org name criteria" style="cursor:help;">
                                                <input type="checkbox" name="ExactMatch" />
                                            </span>
                                            <button type="submit" class="input-group-text">Lookup</button>
                                        </div>
                                    </div>
                                </form>
                            </div>
                            <div class="tab-pane" id="Pers">
                                <form id="frmLookupPers" asp-action="_PickPers" asp-controller="Customers" method="get">
                                    <div class="mb-3">
                                        <div class="input-group">
                                            <input type="text" name="PersNamePattern" placeholder="Person name contains..." class="form-control">
                                            <span class="input-group-text" title="Exact match&#13;When checked, search will not append and prepend * wildcard to pers name criteria" style="cursor:help;">
                                                <input type="checkbox" name="ExactMatch" />
                                            </span>
                                            <button type="submit" class="input-group-text">Lookup</button>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </section>
                <footer class="modal-footer">
                    <button type="button" class="btn btn-warning" data-bs-dismiss="modal">Cancel</button>
                </footer>
            </div>
        </div>
    </aside>
    <aside id="ModalCustomers" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true" data-bs-backdrop="static">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <header class="modal-header">
                    <h4 class="modal-title">Pick existing customer</h4>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </header>
                <section class="modal-body">
                    <p>Pre-populate customer details with existing data from CRM module</p>
                    <progress></progress>
                    <div id="SearchResultCustomers">
                    </div>
                </section>
                <footer class="modal-footer">
                    <button type="button" class="btn btn-primary" onclick="btnCustomersSearchAgain_Click();">Search again</button>
                    <button type="button" class="btn btn-light" data-bs-dismiss="modal">Cancel</button>
                </footer>
            </div>
        </div>
    </aside>
}

@section scripts {
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/tinymce/5.10.9/tinymce.min.js"></script>
    <script src="~/Areas/TimeSheet/Activities/Add.js" type="text/javascript"></script>
}