﻿@model BeezMart.Areas.TimeSheet.ViewModels.Activities.ByProject_ViewModel

@{
    ViewBag.Title = "Activities";
    if (Model == null) throw new NullReferenceException("ViewModel is null.");
    if (Model.Project == null) throw new NullReferenceException("ViewModel.Project is null.");
    if (Model.Activities == null) throw new NullReferenceException("ViewModel.Activities is null.");
}

@section head {
    <link rel="stylesheet" href="~/Areas/TimeSheet/Activities/ByProject.css" />
}

@section breadcrumb {
    <li class="breadcrumb-item"><a asp-area="TimeSheet" asp-controller="Home" asp-action="Index">TimeSheet</a></li>
    <li class="breadcrumb-item"><a asp-area="TimeSheet" asp-controller="Activities" asp-action="CurrentProjects">Projects</a></li>
    <li class="breadcrumb-item"><a asp-area="TimeSheet" asp-controller="Projects" asp-action="View" asp-route-ID="@Model.Project.ID"><span>@Model.Project.Title</span></a></li>
    <li class="breadcrumb-item active"><a asp-area="TimeSheet" asp-controller="Activities" asp-action="Index">Activities</a></li>
}

@Html.Raw(ViewBag.AppMessage)
<section id="Activities" class="card">
    <h4 class="card-header">
        Activities 
        <small>
            under project
            <a asp-controller="Projects" asp-action="View" asp-route-id="@Model.Project.ID">@Model.Project.Title</a>
        </small>
        <small>
        for customer 
        @if (Model.Project.OrganizationID.HasValue) {
            <a asp-area="CRM" asp-controller="Organizations" asp-action="View" asp-route-OrganizationID="@Model.Project.OrganizationID">@Model.Project.CustomerName</a>
        }
        else if (Model.Project.PersonID.HasValue) {
            <a asp-area="CRM" asp-controller="Persons" asp-action="View" asp-route-PersonID="@Model.Project.PersonID">@Model.Project.CustomerName</a>
        }
        else {
            <b>@Model.Project.CustomerName</b>
        }
        </small>
    </h4>
    <div class="card-body">
        <table class="table table-striped table-hover table-responsive-md">
            <thead>
                <tr>
                    <th>Activity</th>
                    <th>Started</th>
                    <th>Duration</th>
                    <th>Status</th>
                </tr>
            </thead>
            <tbody>
                @foreach (ActivityModel activity in Model.Activities) {
                    <tr data-id="@activity.ID">
                        <td><a>@activity.Title</a></td>
                        <td>@Html.FormatValue(activity.StartedOn, "{0:yyyy-MM-dd}")</td>
                        <td>@Html.FormatValue(activity.Duration, "{0:hh':'mm}")</td>
                        <td class="@activity.Status">@activity.Status</td>
                    </tr>
                }
            </tbody>
            <tfoot>
                <tr>
                    <td colspan="2">Total duration: <b>@((int)Model.TotalDuration.TotalHours)<small>:@Model.TotalDuration.Minutes</small></b></td>
                    <td colspan="2">records found: <b>@Model.Activities.Count.ToString("#,##0")</b></td>
                </tr>
            </tfoot>
        </table>
    </div>
    <div class="card-footer submit">
        @if (User.IsInRole(BeezMart.Security.UserRoles.UserForProjectContribution))
        {
            <a asp-action="Add" class="btn btn-primary" asp-route-ProjectID="@Model.Project.ID"><b class="bi-plus-circle me-2"></b> Log new activity</a>
        }
    </div>
</section>
<input type="hidden" id="hdnActivityViewUrl" value="@Url.Action("View")" />

@section scripts {
    <script src="~/Areas/TimeSheet/Activities/ByProject.js" type="text/javascript"></script>
}