﻿@model BeezMart.Areas.TimeSheet.ViewModels.Activities.Recent_ViewModel

@{
    ViewBag.Title = "Recent activities";
    if (Model == null || Model.Activities == null) throw new NullReferenceException("ViewModel is null or ViewModel.Activities is null.");
}

@section head {
    <link rel="stylesheet" href="~/Areas/TimeSheet/Activities/Recent.css" />
}

@section breadcrumb {
    <li class="breadcrumb-item"><a asp-area="TimeSheet" asp-controller="Home" asp-action="Index">TimeSheet</a></li>
    <li class="breadcrumb-item"><a asp-area="TimeSheet" asp-controller="Activities" asp-action="Index">Activities</a></li>
    <li class="breadcrumb-item active">recent</li>
}

@Html.Raw(ViewBag.AppMessage)
<section id="Activities" class="card">
    <h4 class="card-header">Recent activities <small>Project activities performed in the last 30 days or so</small></h4>
    <div class="card-body">
        <table class="table table-striped table-hover table-responsive-md">
            <thead>
                <tr>
                    <th>Activity</th>
                    <th>Project</th>
                    <th>Customer</th>
                    <th>Started</th>
                    <th>Duration</th>
                    <th>Status</th>
                </tr>
            </thead>
            <tbody>
                @foreach (ActivityModel activity in Model.Activities) {
                    <tr data-id="@activity.ID">
                        <td><a>@activity.Title</a></td>
                        <td><a data-id="@activity.ProjectID">@activity.ProjectTitle</a></td>
                        <td>
                            @if (activity.OrganizationID.HasValue) {
                                <a data-orgs="@activity.OrganizationID">@activity.CustomerName</a>
                            }
                            else {
                                if (activity.PersonID.HasValue) {
                                    <a data-pers="@activity.PersonID">@activity.CustomerName</a>
                                }
                                else {
                                    <text>@activity.CustomerName</text>
                                }
                            }
                        </td>
                        <td>@Html.FormatValue(activity.StartedOn, "{0:yyyy-MM-dd}")</td>
                        <td>@Html.FormatValue(activity.Duration, "{0:hh':'mm}")</td>
                        <td class="@activity.Status">@activity.Status</td>
                    </tr>
                }
            </tbody>
            <tfoot>
                <tr>
                    <td colspan="3">Total duration: <b>@((int)Model.TotalDuration.TotalHours)</b> hours, <b>@Model.TotalDuration.Minutes</b> minutes</td>
                    <td colspan="3">records found: <b>@Model.Activities.Count.ToString("#,##0")</b></td>
                </tr>
            </tfoot>
        </table>
    </div>
    <div class="card-footer submit">
        @if (User.IsInRole(BeezMart.Security.UserRoles.UserForProjectManagement))
        {
            <a asp-action="Add" class="btn btn-primary"><b class="bi-plus-circle me-2"></b> Log new activity</a>
        }
    </div>
</section>
<input type="hidden" id="hdnActivityViewUrl" value="@Url.Action("View")" />
<input type="hidden" id="hdnProjectViewUrl" value="@Url.Action("View", "Projects")" />
<input type="hidden" id="hdnCrmOrgsViewUrl" value="@Url.Action("View", "Organizations", new { Area="CRM" })" />
<input type="hidden" id="hdnCrmPersViewUrl" value="@Url.Action("View", "Persons", new { Area="CRM" })" />

@section scripts {
    <script src="~/Areas/TimeSheet/Activities/Recent.js" type="text/javascript"></script>
}