﻿@using BeezMart.Caching.TimeSheet
@model BeezMart.Areas.TimeSheet.ViewModels.Activities.Search_ViewModel

@{
    ViewBag.Title = "Lookup activities";
    if (Model == null) throw new NullReferenceException("ViewModel is null.");
    IEnumerable<ActivityModel.ActivityTypeModel> activityTypes = await ActivityCategories.GetActivityTypesAsync();
}

@section head {
    <link rel="stylesheet" href="~/Areas/TimeSheet/Activities/Search.css" />
}

@section breadcrumb {
    <li class="breadcrumb-item"><a asp-area="TimeSheet" asp-controller="Home" asp-action="Index">TimeSheet</a></li>
    <li class="breadcrumb-item"><a asp-area="TimeSheet" asp-controller="Activities" asp-action="Index">Activities</a></li>
    <li class="breadcrumb-item active">search</li>
}

@Html.Raw(ViewBag.AppMessage)
<div id="ChangeFilter" class="submit">
	<button onclick="javascript: btnChangeFilter_Click();" type="button" class="btn btn-primary">Search again: change filter</button>
</div>
<section id="SearchForm" class="card">
    <form asp-action="_Search" method="get">
        <h4 class="card-header">Activities filtering criteria</h4>
        <div class="card-body">
            <div class="mb-3">
                <label asp-for="@Model.Title">Activity title</label>
                <div class="input-group">
                    <input type="text" asp-for="@Model.Title" maxlength="1024" class="form-control" placeholder="Search by activity title" />
                    <span class="input-group-text" title="Exact match&#13;When checked, search will not append and prepend * wildcard to title criteria" style="cursor:help;">
                        <input type="checkbox" asp-for="@Model.Exact" />
                    </span>
                </div>
            </div>
            <div class="row">
                <div class="col-12 col-sm-6 col-lg-8">
                    <div class="mb-3">
                        <label asp-for="@Model.Customer">Customer name like...</label>
                        <input type="text" asp-for="@Model.Customer" maxlength="256" class="form-control" placeholder="Name filter pattern" />
                    </div>
                </div>
                <div class="col-6 col-sm-3 col-lg-2">
                    <div class="mb-3">
                        <label asp-for="@Model.After" title="Started (or scheduled) after...">After</label>
                        <div class="input-group">
                            <input type="text" asp-for="@Model.After" asp-format="{0:yyyy-MM-dd}" maxlength="16" placeholder="yyyy-mm-dd" class="form-control Calendar" />
                            <span class="input-group-text Calendar"><b class="bi-calendar3"></b></span>
                        </div>
                    </div>
                </div>
                <div class="col-6 col-sm-3 col-lg-2">
                    <div class="mb-3">
                        <label asp-for="@Model.Before" title="Ended (or scheduled) before...">Before</label>
                        <div class="input-group">
                            <input type="text" asp-for="@Model.Before" asp-format="{0:yyyy-MM-dd}" maxlength="16" placeholder="yyyy-mm-dd" class="form-control Calendar" />
                            <span class="input-group-text Calendar"><b class="bi-calendar3"></b></span>
                        </div>
                    </div>
                </div>
            </div>
            <div id="Advanced-Search" class="collapse">
                <div class="mb-3">
                    <label asp-for="@Model.Prj">Project name like...</label>
                    <input type="text" asp-for="@Model.Prj" maxlength="256" class="form-control" placeholder="Project title filter pattern" />
                </div>
                <div class="row">
                    <div class="col-sm-6">
                        <div class="mb-3">
                            <label>Search by requestor</label>
                            <input type="text" asp-for="@Model.Requestor" maxlength="128" class="form-control" placeholder="Name of the requestor" />
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="mb-3">
                            <label>Requesting department</label>
                            <input type="text" asp-for="@Model.Department" maxlength="128" class="form-control" placeholder="Name of department" />
                        </div>
                    </div>
                    <div class="col-sm-6 col-md-8">
                        <div class="mb-3">
                            <label asp-for="@Model.Type">Activity type</label>
                            <select asp-for="@Model.Type" data-selected="@Model.Type" class="form-control">
                                <option value="">== PLEASE SELECT CATEGORY ==</option>
                                @foreach (ActivityModel.ActivityTypeModel activityType in activityTypes) {
                                    <option value="@activityType.ID">@activityType.Category :: @activityType.Name</option>
                                }
                            </select>
                        </div>
                    </div>
                    <div class="col-sm-6 col-md-4">
                        <div class="mb-3">
                            <label asp-for="@Model.Status">Status</label>
                            <select asp-for="@Model.Status" data-selected="@Model.Status" class="form-control">
                                <option value="">== SELECT STATUS ==</option>
                                <option value="@ActivityStatus.NotSet">Undefined</option>
                                <option value="@ActivityStatus.Pending">Pending</option>
                                <option value="@ActivityStatus.Cancelled">Cancelled</option>
                                <option value="@ActivityStatus.InProgress">In progress</option>
                                <option value="@ActivityStatus.InProgress_1_percent">In progress, 1%</option>
                                <option value="@ActivityStatus.InProgress_5_percent">In progress, 5%</option>
                                <option value="@ActivityStatus.InProgress_10_percent">In progress, 10%</option>
                                <option value="@ActivityStatus.InProgress_15_percent">In progress, 15%</option>
                                <option value="@ActivityStatus.InProgress_20_percent">In progress, 20%</option>
                                <option value="@ActivityStatus.InProgress_25_percent">In progress, 25%</option>
                                <option value="@ActivityStatus.InProgress_30_percent">In progress, 30%</option>
                                <option value="@ActivityStatus.InProgress_35_percent">In progress, 35%</option>
                                <option value="@ActivityStatus.InProgress_40_percent">In progress, 40%</option>
                                <option value="@ActivityStatus.InProgress_45_percent">In progress, 45%</option>
                                <option value="@ActivityStatus.InProgress_50_percent">In progress, 50%</option>
                                <option value="@ActivityStatus.InProgress_55_percent">In progress, 55%</option>
                                <option value="@ActivityStatus.InProgress_60_percent">In progress, 60%</option>
                                <option value="@ActivityStatus.InProgress_65_percent">In progress, 65%</option>
                                <option value="@ActivityStatus.InProgress_70_percent">In progress, 70%</option>
                                <option value="@ActivityStatus.InProgress_75_percent">In progress, 75%</option>
                                <option value="@ActivityStatus.InProgress_80_percent">In progress, 80%</option>
                                <option value="@ActivityStatus.InProgress_85_percent">In progress, 85%</option>
                                <option value="@ActivityStatus.InProgress_90_percent">In progress, 90%</option>
                                <option value="@ActivityStatus.InProgress_95_percent">In progress, 95%</option>
                                <option value="@ActivityStatus.InProgress_99_percent">In progress, 99%</option>
                                <option value="@ActivityStatus.Completed">Completed</option>
                            </select>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="card-footer">
            <div class="row">
                <div class="col" id="btnAdvancedSearch"><a data-bs-target="#Advanced-Search" data-bs-toggle="collapse" class="btn btn-link text-decoration-none">Advanced search <i class="bi-chevron-down"></i></a></div>
                <div class="col submit"><button type="submit" class="btn btn-success"><b class="bi-search me-2"></b> Search activities</button></div>
            </div>
        </div>
    </form>
</section>
<progress></progress>
<section id="SearchResults">

</section>
<input type="hidden" id="hdnFilterIsSet" value="@Model.FilterIsSet.ToString().ToLower()" />
<input type="hidden" id="hdnActivityViewUrl" value="@Url.Action("View")" />
<input type="hidden" id="hdnCrmOrgsViewUrl" value="@Url.Action("View", "Organizations", new { Area="CRM" })" />
<input type="hidden" id="hdnCrmPersViewUrl" value="@Url.Action("View", "Persons", new { Area="CRM" })" />
<input type="hidden" id="hdnDirectLinkUrl" value="@Url.Action("Search")" />

@section scripts {
    <script src="~/Areas/TimeSheet/Activities/Search.js" type="text/javascript"></script>
}