﻿@model BeezMart.Areas.TimeSheet.ViewModels.Activities.View_ViewModel

@{
    ViewBag.Title = "View activity";
    if (Model == null || Model.Activity == null) throw new NullReferenceException("ViewModel is null or ViewModel.Activity is null.");
}

@section head {
    <link rel="stylesheet" href="~/Areas/TimeSheet/Activities/View.css" />
}

@section breadcrumb {
    <li class="breadcrumb-item"><a asp-area="TimeSheet" asp-controller="Home" asp-action="Index">TimeSheet</a></li>
    <li class="breadcrumb-item"><a asp-area="TimeSheet" asp-controller="Activities" asp-action="Index">Activities</a></li>
    <li class="breadcrumb-item active"><span>@Model.Activity.Title</span></li>
}

@Html.Raw(ViewBag.AppMessage)
<section id="Record" class="card mb-3">
    <h4 class="card-header">Activity record</h4>
    <div class="card-body">
        <div class="mb-3">
            <label asp-for="@Model.Activity.Title" class="required">Activity name or title</label>
            <input type="text" asp-for="@Model.Activity.Title" disabled="disabled" required="required" class="form-control form-control-lg" />
        </div>
        <div class="mb-3">
            <label asp-for="@Model.Activity.ProjectTitle">Project name</label>
            <input type="text" asp-for="@Model.Activity.ProjectTitle" disabled="disabled" class="form-control" />
        </div>
        <div class="row">
            <div class="col-sm-6">
                <div class="mb-3">
                    <label asp-for="@Model.Duration" class="input-group">
                        <span class="input-group-text">Duration</span>
                        <input type="text" asp-for="@Model.Duration" disabled="disabled" class="form-control" />
                    </label>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="mb-3">
                    <label asp-for="@Model.Activity.Billable" class="input-group">
                        <span class="input-group-text"><input type="checkbox" asp-for="@Model.Activity.Billable" /></span>
                        <span class="form-control">Is this billable activity?</span>
                    </label>
                </div>
            </div>
            <div class="col-md-6">
                <div class="mb-3">
                    <label asp-for="@Model.Activity.CustomerName" class="required">Customer name</label>
                    <input type="text" asp-for="@Model.Activity.CustomerName" disabled="disabled" required="required" class="form-control" />
                </div>
            </div>
            <div class="col-md-6">
                <div class="mb-3">
                    <label asp-for="@Model.Activity.EndCustomer">End customer</label>
                    <input type="text" asp-for="@Model.Activity.EndCustomer" disabled="disabled" class="form-control" />
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-6">
                <div class="mb-3">
                    <label asp-for="@Model.Activity.Status">Status</label>
                    <input type="text" asp-for="@Model.Activity.Status" disabled="disabled" class="form-control" />
                </div>
            </div>
            <div class="col-sm-6">
                <div class="mb-3">
                    <label asp-for="@Model.Activity.ActivityTypeID">Activity type</label>
                    <input type="text" asp-for="@Model.Activity.ActivityTypeName" disabled="disabled" class="form-control" />
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-6 col-lg-3">
                <div class="mb-3">
                    <label asp-for="@Model.Activity.StartedOn">Started on</label>
                    <div class="input-group">
                        <input type="text" asp-for="@Model.Activity.StartedOn" asp-format="{0:yyyy-MM-dd}" disabled="disabled" class="form-control" />
                        <span class="input-group-text Calendar"><b class="bi-calendar3"></b></span>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-lg-3">
                <div class="mb-3">
                    <label asp-for="@Model.Activity.EndedOn">Ended on</label>
                    <div class="input-group">
                        <input type="text" asp-for="@Model.Activity.EndedOn" asp-format="{0:yyyy-MM-dd}" disabled="disabled" class="form-control" />
                        <span class="input-group-text Calendar"><b class="bi-calendar3"></b></span>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-lg-3">
                <div class="mb-3">
                    <label asp-for="@Model.Activity.RequestedBy">Requested by</label>
                    <input type="text" asp-for="@Model.Activity.RequestedBy" disabled="disabled" class="form-control" />
                </div>
            </div>
            <div class="col-sm-6 col-lg-3">
                <div class="mb-3">
                    <label asp-for="@Model.Activity.CompletedBy">Completed by</label>
                    <input type="text" asp-for="@Model.Activity.CompletedBy" disabled="disabled" class="form-control" />
                </div>
            </div>
        </div>
        <div id="MoreMetadata" class="collapse">
            <div id="Field-Status-Comments" class="mb-3">
                <label asp-for="@Model.Activity.ActivityStatusComment">Comments about the status</label>
                <textarea asp-for="@Model.Activity.ActivityStatusComment" cols="30" rows="3" disabled="disabled" class="form-control"></textarea>
            </div>
            <div class="row">
                <div class="col-sm-6 col-lg-3">
                    <div class="mb-3">
                        <label asp-for="@Model.Activity.ScheduledStart">Scheduled start</label>
                        <div class="input-group">
                            <input type="text" asp-for="@Model.Activity.ScheduledStart" asp-format="{0:yyyy-MM-dd}" disabled="disabled" class="form-control" />
                            <span class="input-group-text Calendar"><b class="bi-calendar3"></b></span>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6 col-lg-3">
                    <div class="mb-3">
                        <label asp-for="@Model.Activity.ScheduledEnd">Scheduled end</label>
                        <div class="input-group">
                            <input type="text" asp-for="@Model.Activity.ScheduledEnd" asp-format="{0:yyyy-MM-dd}" disabled="disabled" class="form-control" />
                            <span class="input-group-text Calendar"><b class="bi-calendar3"></b></span>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6 col-lg-3">
                    <div class="mb-3">
                        <label asp-for="@Model.Activity.AssignedOn">Assigned on</label>
                        <div class="input-group">
                            <input type="text" asp-for="@Model.Activity.AssignedOn" asp-format="{0:yyyy-MM-dd}" disabled="disabled" class="form-control" />
                            <span class="input-group-text Calendar"><b class="bi-calendar3"></b></span>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6 col-lg-3">
                    <div class="mb-3">
                        <label asp-for="@Model.Activity.AssignedTo">Assigned to</label>
                        <input type="text" asp-for="@Model.Activity.AssignedTo" disabled="disabled" class="form-control" />
                    </div>
                </div>
                <div class="col-sm-6 col-lg-3">
                    <div class="mb-3">
                        <label asp-for="@Model.Activity.DeadlineOn">Deadline on</label>
                        <div class="input-group">
                            <input type="text" asp-for="@Model.Activity.DeadlineOn" asp-format="{0:yyyy-MM-dd}" disabled="disabled" class="form-control" />
                            <span class="input-group-text Calendar"><b class="bi-calendar3"></b></span>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6 col-lg-3">
                    <div class="mb-3">
                        <label asp-for="@Model.Activity.ReminderOn">Reminder on</label>
                        <div class="input-group">
                            <input type="text" asp-for="@Model.Activity.ReminderOn" asp-format="{0:yyyy-MM-dd}" disabled="disabled" class="form-control" />
                            <span class="input-group-text Calendar"><b class="bi-calendar3"></b></span>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6 col-lg-3">
                    <div class="mb-3">
                        <label asp-for="@Model.Activity.RequestingDepartment">Requesting department</label>
                        <input type="text" asp-for="@Model.Activity.RequestingDepartment" disabled="disabled" class="form-control" />
                    </div>
                </div>
                <div class="col-sm-6 col-lg-3">
                    <div class="mb-3">
                        <label asp-for="@Model.Activity.LoggedBy">Logged by</label>
                        <input type="text" asp-for="@Model.Activity.LoggedBy" disabled="disabled" class="form-control" />
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="card-footer">
        <div class="row">
            <div class="col-sm-6">
                <a data-bs-target="#MoreMetadata" data-bs-toggle="collapse" class="btn btn-link text-decoration-none">Details <i class="bi-chevron-down"></i></a>
            </div>
            <div class="col-sm-6 submit">
                <a asp-action="Index" class="btn btn-warning">Cancel</a>
                <a asp-action="Edit" asp-route-ID="@Model.Activity.ID" class="btn btn-primary"><b class="bi-pencil me-2"></b> Edit record</a>
            </div>
        </div>
    </div>
</section>
<section id="Details" class="card">
    <h5 class="card-header">Notes on this activity</h5>
    <div class="card-body">
        <div id="Details-and-Comments">
            @Html.Raw(Model.Activity.Details)
        </div>
    </div>
    <div class="card-footer submit">
        <a asp-action="Index" class="btn btn-warning">Cancel</a>
        <a asp-action="Edit" asp-route-ID="@Model.Activity.ID" class="btn btn-primary"><b class="bi-pencil me-2"></b> Edit record</a>
    </div>
</section>
<input type="hidden" asp-for="@Model.Activity.ID" />
<input type="hidden" asp-for="@Model.Activity.ProjectID" />
<input type="hidden" asp-for="@Model.Activity.OrganizationID" />
<input type="hidden" asp-for="@Model.Activity.PersonID" />
<input type="hidden" asp-for="@Model.Activity.InvoiceIDs" />

@section scripts {
    <script src="~/Areas/TimeSheet/Activities/View.js" type="text/javascript"></script>
}