﻿html {
    height: -webkit-fill-available;
}

body {
    min-height: 100vh;
    min-height: -webkit-fill-available;
}

    body > main {
        height: 100vh;
        height: -webkit-fill-available;
        max-height: calc(100vh - 8.0em);
        overflow-x: auto;
        /*overflow-y: scroll;*/
    }

.sidebar {
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

.sidebar-slim {
    width: 3rem;
}

    .sidebar-slim span {
        display: none;
    }

.sidebar-wide {
    width: 16rem;
}

    .sidebar-wide span {
        padding-left: 0.5em;
    }

.sidebar-vr {
    flex-shrink: 0;
    width: 0.1rem;
    height: calc(100vh - 8.0em);
}

nav[aria-label="breadcrumb"] {
    border-bottom: dotted 1px gray;
}

    nav[aria-label="breadcrumb"] ol {
        margin: 0.2em 1em;
        font-size: 0.8em;
    }

    nav[aria-label="breadcrumb"] a {
        text-decoration: none;
    }

a {
    cursor: pointer;
}

label {
    font-weight: normal;
    color: #909090;
}

    label.input-group {
        cursor: pointer;
    }

progress {
    width: 100%;
}

table.table thead {
    font-variant: small-caps;
}

table.table thead th {
    color: #888888;
}

table.table tfoot td:last-child {
    text-align: right;
}

table.table tfoot b {
    font-weight: 600;
}

.card-body table.table {
    margin-bottom: 0;
}

label.help[data-bs-toggle='tooltip'] {
    margin-left: 1.0em;
    color: green;
    cursor: help;
}

span.null {
    color: #330000;
}

p.form-control-static {
    border: solid 1px #E0E0E0;
    padding: 0.5em;
    min-height: 36px;
    font-size: 14px;
}

    p.form-control-static.input-lg {
        font-size: 18px;
        border-radius: 0px;
        padding: 0.5em;
    }

.form-control::-moz-placeholder {
    font-style: italic;
    color: #888888;
    opacity: 0.2;
}

.form-control:-ms-input-placeholder {
    font-style: italic;
    color: #888888;
    opacity: 0.2;
}

.form-control::-webkit-input-placeholder {
    font-style: italic;
    color: #888888;
    opacity: 0.2;
}

.tristate {
    cursor: pointer;
}

    .tristate .bi-check-circle {
        color: green;
    }

    .tristate .bi-question-circle {
        color: orangered;
    }

    .tristate .bi-x-times-circle {
        color: gray;
    }

    .tristate.disabled {
        color: #C0C0C0;
        cursor: not-allowed;
    }

        .tristate.disabled .bi-check-circle {
            color: lightgreen;
        }

        .tristate.disabled .bi-question-circle {
            color: orange;
        }

        .tristate.disabled .bi-x-circle {
            color: #C0C0C0;
        }

.submit {
    text-align: right;
}

.Submit {
    margin-top: 2.0em;
    text-align: right;
}

    .submit .btn, .Submit .btn {
        margin-left: 1.0em;
        font-weight: 600;
    }

input[required],
textarea[required],
input.required,
select.required {
    border-color: #660000;
    font-weight: 600;
}

#MasterNav-BeezMart {
    font-size: 1.7em;
}

#MasterNav-Modules {
    font-weight: 600;
    font-size: 1.2em;
}

.AppMessage {
    margin-top: 1.0em;
}

    .AppMessage .alert {
        padding: 1.0em;
    }

@media (min-width: 768px) {
}

@media (min-width: 970px) {
}

@media (min-width: 1170px) {
    .AppMessage.alert {
        padding: 2.0em;
    }
}
