﻿@model List<PersFlagModel>
@{
	if (Model == null) throw new NullReferenceException("ViewModel is null.");
}
@Html.Raw(ViewBag.AppMessage)
<table class="table table-hover table-sm">
	<thead>
		<tr>
			<th colspan="3">Flags</th>
		</tr>
	</thead>
	<tbody>
		@foreach (PersFlagModel flag in Model) {
			<tr data-record="@flag.ID" data-type="@flag.FieldID">
				<td>@flag.Category</td>
				<td title="@flag.Comments"><a>@flag.Name</a></td>
				<td><a>&times;</a></td>
			</tr>
		}
	</tbody>
	<tfoot>
		<tr>
			<td colspan="3"><button type="button" class="btn btn-outline-secondary btn-sm" data-bs-toggle="modal" data-bs-target="#ModalEditFlag">Add new</button></td>
		</tr>
	</tfoot>
</table>


