﻿@using BeezMart.Entities.CRM
@model List<PersonModel>
@{
	if (Model == null) throw new NullReferenceException("ViewModel is null.");
}
@Html.Raw(ViewBag.AppMessage)
<table class="table table-hover table-striped table-sm">
    <thead>
        <tr>
            <th>Person</th>
            <th>Segment</th>
            <th>Home</th>
        </tr>
    </thead>
    <tbody>
        @foreach (PersonModel pers in Model) {
            <tr>
                <td><a data-value="@pers.ID" title="@pers.Nicknames">@pers.FirstName @pers.LastName</a></td>
                <td>@pers.Segment</td>
                <td>@pers.Home_City @Html.FormatValue(pers.Home_StateProvince, ", {0}")</td>
            </tr>
		}
    </tbody>
    <tfoot>
        <tr>
            <td colspan="3">records found: <b>@Model.Count.ToString("#,##0")</b></td>
        </tr>
    </tfoot>
</table>
<input type="hidden" id="hdnCustomerType" value="Person" />