﻿@model BeezMart.Areas.CRM.ViewModels.OrgSites.IndexOther_ViewModel
@{
	if (Model == null || Model.OrgSites == null) throw new NullReferenceException("ViewModel is null or ViewModel.OrgSites is null.");
}
<table class="table table-hover table-sm">
	<thead>
		<tr>
			<th>Location name, City</th>
			<th>State or province</th>
			<th>Address line 1</th>
			<th>Cntry</th>
			<th></th>
		</tr>
	</thead>
	<tbody>
		@foreach (OrgSiteModel address in Model.OrgSites)
		{
			<tr>
				<td>@Html.FormatValue(address.SiteName, "{0}, ")<b><a asp-action="View" asp-controller="OrgSites" asp-route-SiteAddressID="@address.ID">@address.City</a></b></td>
				<td>@address.StateProvince</td>
				<td>@address.StreetAddress1</td>
				<td>@address.Country</td>
				<td><a asp-action="Edit" asp-controller="OrgSites" asp-route-SiteAddressID="@address.ID" class="bi-pencil"></a></td>
			</tr>
		}
	</tbody>
	<tfoot>
		<tr>
			<td colspan="2">records found: <b>@Model.OrgSites.Count</b></td>
			<td colspan="3"><a asp-action="Add" asp-controller="OrgSites" asp-route-OrganizationID="@Model.OrganizationID" class="btn btn-sm btn-outline-secondary pull-right">Add new address</a></td>
		</tr>
	</tfoot>
</table>
