﻿@model BeezMart.Areas.CRM.ViewModels.OrgSites.IndexAll_ViewModel
@{
	if (Model == null || Model.OrgSites == null) throw new NullReferenceException("ViewModel is null or ViewModel.OrgSites is null.");
}
@if (Model.OrgSites.Count > 0)
{
    <table class="table table-hover table-sm">
        <thead>
            <tr>
                <th>Location name, City</th>
                <th>State or province</th>
                <th>Address line 1</th>
            </tr>
        </thead>
        <tbody>
            @foreach (OrgSiteModel address in Model.OrgSites)
            {
                <tr data-value="@address.ID">
                    <td>@Html.FormatValue(address.SiteName, "{0}, ")<b><a>@address.City</a></b></td>
                    <td>@address.StateProvince</td>
                    <td>@address.StreetAddress1</td>
                </tr>
            }
        </tbody>
        <tfoot>
            <tr>
                <td colspan="3">records found: <b>@Model.OrgSites.Count</b></td>
            </tr>
        </tfoot>
    </table>
}
else
{
    <div class="alert alert-warning">
        <h4>No addresses!</h4>
        <p>There are no site addresses defined for this organization to pick from.</p>
        <p>You may want to add an address right now.</p>
    </div>
}
