﻿@model BeezMart.Areas.CRM.ViewModels.OrgSites.Summary1_ViewModel
@{
	if (Model == null) throw new NullReferenceException("ViewModel is null.");
}
@if (Model.SiteAddress == null)
{
	if (Model.SiteAddressType == "Home")
	{
		<div class="alert alert-warning">
			<h4>No address!</h4>
			<p>
				There is no headquarter address defined for this organization. You may add one right now...
				<span>or you may pick one from the existing addresses as the headquarter location.</span>
			</p>
			<div class="submit">
				<a asp-action="Add" asp-controller="OrgSites" asp-route-OrganizationID="@Model.OrganizationID" asp-route-Type="Home" class="btn btn-outline-secondary btn-sm">Add headquarter address</a>
				<button type="button" onclick="btnPickAddress_Click('@Model.SiteAddressType');" class="btn btn-outline-secondary btn-sm">Pick from existing</button>
			</div>
		</div>
	}
	if (Model.SiteAddressType == "Bill")
	{
		<div class="alert alert-info">
			<h4>No address!</h4>
			<p>
				There is no separate billing address defined for this organization; the headquarter address is used for invoicing. You may add a billing address right now...
				<span>or you may pick one from the existing addresses as the billing location.</span>
			</p>
			<div class="submit">
				<a asp-action="Add" asp-controller="OrgSites" asp-route-OrganizationID="@Model.OrganizationID" asp-route-Type="Bill" class="btn btn-outline-secondary btn-sm">Add billing address</a>
				<button type="button" onclick="btnPickAddress_Click('@Model.SiteAddressType');" class="btn btn-outline-secondary btn-sm">Pick from existing</button>
			</div>
		</div>
	}
	if (Model.SiteAddressType == "Ship")
	{
		<div class="alert alert-info">
			<h4>No address!</h4>
			<p>
				There is no separate shipping address defined for this organization; the headquarter address is used for deliveries. You may add a shipping address right now...
				<span>or you may pick one from the existing addresses as the shipping location.</span>
			</p>
			<div class="submit">
				<a asp-action="Add" asp-controller="OrgSites" asp-route-OrganizationID="@Model.OrganizationID" asp-route-Type="Ship" class="btn btn-outline-secondary btn-sm">Add shipping address</a>
				<button type="button" onclick="btnPickAddress_Click('@Model.SiteAddressType');" class="btn btn-outline-secondary btn-sm">Pick from existing</button>
			</div>
		</div>
	}
}
else
{
	<p>
		<b>@Model.SiteAddress.City</b>
		@Html.Raw(Html.FormatValue(Model.SiteAddress.StateProvince, "&bull; {0}"))
		@Html.Raw(Html.FormatValue(Model.SiteAddress.Region, "&bull; {0}"))
		&bull; @Model.SiteAddress.Country
	</p>
	<p>
		<b>@Model.SiteAddress.StreetAddress1</b>
		@Html.Raw(Html.FormatValue(Model.SiteAddress.StreetAddress2, "&bull; {0}"))
		@Html.Raw(Html.FormatValue(Model.SiteAddress.StreetAddress3, "&bull; {0}"))
		@Html.Raw(Html.FormatValue(Model.SiteAddress.ZipPostCode, "&bull; {0}"))
	</p>
	<div class="submit">
		<a asp-action="View" asp-controller="OrgSites" asp-route-SiteAddressID="@Model.SiteAddress.ID" class="btn btn-outline-secondary btn-sm">Details</a>
		<a asp-action="Edit" asp-controller="OrgSites" asp-route-SiteAddressID="@Model.SiteAddress.ID" class="btn btn-outline-secondary btn-sm">Edit address</a>
		<button type="button" onclick="btnPickAddress_Click('@Model.SiteAddressType');" class="btn btn-outline-secondary btn-sm">Pick another</button>
	</div>
}

