﻿@using BeezMart.Entities.Geography
@using BeezMart.Entities.CRM

@model BeezMart.Areas.CRM.ViewModels.OrgSites.Add_ViewModel

@{
	if (Model == null) throw new NullReferenceException("ViewModel. is null.");
	if (Model.OrgSite == null) throw new NullReferenceException("ViewModel.OrgSite is null.");
	if (Model.Organization == null) throw new NullReferenceException("ViewModel.Organization is null.");
	ViewBag.Title = "Add address for organization";
	byte contactStatus = (byte)Model.OrgSite.ContactStatus;
	List<Country> countries = await BeezMart.DAL.Geography.Countries.ListAsync();
}

@section head {
	<link rel="stylesheet" href="~/Areas/CRM/OrgSites/Add.css" />
}

@section breadcrumb {
	<li class="breadcrumb-item"><a asp-area="CRM" asp-controller="Home" asp-action="Index">CRM</a></li>
	<li class="breadcrumb-item"><a asp-area="CRM" asp-controller="Organizations" asp-action="Index">Organizations</a></li>
	<li class="breadcrumb-item"><a asp-area="CRM" asp-controller="Organizations" asp-action="View" asp-route-OrganizationID="@Model.Organization.ID">@Model.Organization.Name</a></li>
	<li class="breadcrumb-item"><a asp-area="CRM" asp-controller="OrgSites" asp-action="Index" asp-route-OrganizationID="@Model.Organization.ID">Locations</a></li>
	<li class="breadcrumb-item active">add new</li>
}

@Html.Raw(ViewBag.AppMessage)
<form method="post" asp-action="Add" id="frmEditOrgSite" role="form" class="container">
	<input type="hidden" name="OrgSite.ID" value="@Model.OrgSite.ID" />
	<input type="hidden" name="OrgSite.OrganizationID" value="@Model.OrgSite.OrganizationID" />
	<input type="hidden" name="NextURL" value="@Model.NextURL" />
	<fieldset class="card">
		<h4 class="card-header">Add location address. <small>@Model.Organization.Name</small></h4>
		<div class="card-body">
			<div class="row">
				<div class="col-sm-4">
					<div class="mb-3">
						<label for="OrgSite_City" class="required" title="City is a required field for saving an address">City</label>
						<input type="text" id="OrgSite_City" name="OrgSite.City" value="@Model.OrgSite.City" maxlength="64" placeholder="City name..." required="required" class="form-control required form-control-lg" />
					</div>
				</div>
				<div class="col-sm-4">
					<div class="mb-3">
						<label for="OrgSite_Country">Country</label>
						<select id="OrgSite_Country" name="OrgSite.Country" data-selected="@Model.Organization.CountryOfOrigin" class="form-control form-control-lg">
							<option value="">=== PLEASE SELECT ===</option>
							@foreach (Country country in countries)
							{
								<option value="@country.ID">@country.Name</option>
							}
						</select>
					</div>
				</div>
				<div class="col-sm-4">
					<div class="mb-3">
						<label for="OrgSite_StateProvince">State or province</label>
						<input type="text" id="OrgSite_StateProvince" name="OrgSite.StateProvince" value="@Model.OrgSite.StateProvince" maxlength="128" placeholder="State, province or county" class="form-control form-control-lg" />
					</div>
				</div>
				<div class="col-sm-4">
					<div class="mb-3">
						<label for="OrgSite_StreetAddress1">Address line 1</label>
						<input type="text" id="OrgSite_StreetAddress1" name="OrgSite.StreetAddress1" value="@Model.OrgSite.StreetAddress1" maxlength="128" placeholder="Address, line 1..." class="form-control" />
					</div>
				</div>
				<div class="col-sm-4">
					<div class="mb-3">
						<label for="OrgSite_StreetAddress2">Address line 2</label>
						<input type="text" id="OrgSite_StreetAddress2" name="OrgSite.StreetAddress2" value="@Model.OrgSite.StreetAddress2" maxlength="128" placeholder="Address, line 2..." class="form-control" />
					</div>
				</div>
				<div class="col-sm-4">
					<div class="mb-3">
						<label for="OrgSite_StreetAddress3">Address line 3</label>
						<input type="text" id="OrgSite_StreetAddress3" name="OrgSite.StreetAddress3" value="@Model.OrgSite.StreetAddress3" maxlength="128" placeholder="Address, line 3..." class="form-control" />
					</div>
				</div>
				<div class="col-sm-4">
					<div class="mb-3">
						<label for="OrgSite_Department">Company department</label>
						<input type="text" id="OrgSite_Department" name="OrgSite.Department" value="@Model.OrgSite.Department" maxlength="128" placeholder="Company department" class="form-control input-sm" />
					</div>
				</div>
				<div class="col-sm-4">
					<div class="mb-3">
						<label for="OrgSite_ZipPostCode">Zip or postal code</label>
						<input type="text" id="OrgSite_ZipPostCode" name="OrgSite.ZipPostCode" value="@Model.OrgSite.ZipPostCode" maxlength="32" placeholder="Zip or post code" class="form-control input-sm" />
					</div>
				</div>
				<div class="col-sm-4">
					<div class="mb-3">
						<label for="OrgSite_Region">Region</label>
						<input type="text" id="OrgSite_Region" name="OrgSite.Region" value="@Model.OrgSite.Region" maxlength="64" placeholder="Region, land..." class="form-control input-sm" />
					</div>
				</div>
				<div class="col-sm-12">
					<div class="mb-3">
						<label for="OrgSite_Directions">Directions on how to get there</label>
						<input type="text" id="OrgSite_Directions" name="OrgSite.Directions" value="@Model.OrgSite.Directions" maxlength="128" placeholder="Internal notes on how to get there" class="form-control input-sm" />
					</div>
				</div>
				<div class="col-sm-8">
					<div class="mb-3">
						<label for="OrgSite_SiteName">Site name</label>
						<input type="text" id="OrgSite_SiteName" name="OrgSite.SiteName" value="@Model.OrgSite.SiteName" maxlength="128" placeholder="Denominator for site" class="form-control input-sm" />
					</div>
				</div>
				<div class="col-sm-4">
					<div class="mb-3">
						<label for="OrgSite_ContactStatus">Site address status</label>
						<select id="OrgSite_ContactStatus" name="OrgSite.ContactStatus" data-selected="@contactStatus" class="form-control input-sm">
							<option value="1">Unconfirmed</option>
							<option value="2">Confirmed</option>
							<option value="3">Incomplete</option>
							<option value="4">Invalid</option>
							<option value="5">NonExisting</option>
							<option value="6">ToBeChanged</option>
							<option value="7">HavingProblems</option>
						</select>
					</div>
				</div>
			</div>
			<div id="IsHomeBillShip">
				<div class="mb-3">
					<label class="input-group">
						<span class="input-group-text"><input type="checkbox" asp-for="IsHome" /></span>
						<span class="form-control">This is the headquarter address of the organization, the main offices site</span>
					</label>
				</div>
				<div class="mb-3">
					<label class="input-group">
						<span class="input-group-text"><input type="checkbox" asp-for="IsBilling" /></span>
						<span class="form-control">Use the address for billing, or issuing invoices to organization</span>
					</label>
				</div>
				<div class="mb-3">
					<label class="input-group">
						<span class="input-group-text"><input type="checkbox" asp-for="IsShipping" /></span>
						<span class="form-control">This is the address for shipping, when we deliver merchandise to organization</span>
					</label>
				</div>
			</div>
		</div>
		<div class="card-footer">
			<progress></progress>
			<div class="submit">
				<a href="@Model.NextURL" class="btn btn-warning">Cancel</a>
				<button type="button" id="btnSubmit" onclick="javascript: btnSubmit_Click();" class="btn btn-primary">Save location address</button>
			</div>
		</div>
	</fieldset>
</form>
<input type="hidden" id="hdnStatesProvincesUrl" value="@Url.Action("StatesProvinces", "Enums")" />

@section scripts
{
	<script type="text/javascript" src="~/Areas/CRM/OrgSites/Add.js"></script>
}
