﻿@model BeezMart.Areas.CRM.ViewModels.OrgSites.Index_ViewModel

@{
	if (Model == null) throw new NullReferenceException("ViewModel. is null.");
	if (Model.OrgSites == null) throw new NullReferenceException("ViewModel.OrgSites is null.");
	if (Model.Organization == null) throw new NullReferenceException("ViewModel.Organization is null.");
    ViewBag.Title = "Organization sites, locations";
}

@section breadcrumb {
    <li class="breadcrumb-item"><a asp-area="CRM" asp-controller="Home" asp-action="Index">CRM</a></li>
    <li class="breadcrumb-item"><a asp-area="CRM" asp-controller="Organizations" asp-action="Index">Organizations</a></li>
    <li class="breadcrumb-item"><a asp-area="CRM" asp-controller="Organizations" asp-action="View" asp-route-OrganizationID="@Model.Organization.ID">@Model.Organization.Name</a></li>
    <li class="breadcrumb-item active">Locations</li>
}

<section id="Records" class="card">
    <h4 class="card-header">@Model.Organization.Name. <small>Locations</small></h4>
    <div class="card-body">
        <table class="table table-hover table-striped">
			<thead>
				<tr>
					<th>Location name, City</th>
					<th>State or province</th>
					<th>Address line 1</th>
					<th>Cntry</th>
				</tr>
			</thead>
			<tbody>
				@foreach (OrgSiteModel address in Model.OrgSites) {
					<tr>
						<td>@Html.FormatValue(address.SiteName, "{0}, ")<b><a asp-action="View" asp-controller="OrgSites" asp-route-SiteAddressID="@address.ID">@address.City</a></b></td>
						<td>@address.StateProvince</td>
						<td>@address.StreetAddress1</td>
						<td>@address.Country</td>
					</tr>
				}
			</tbody>
			<tfoot>
				<tr>
					<td colspan="4">records found: <b>@Model.OrgSites.Count</b></td>
				</tr>
			</tfoot>
		</table>
    </div>
    <div class="card-footer">
        <a asp-action="Add" asp-controller="OrgSites" asp-route-OrganizationID="@Model.Organization.ID" class="btn btn-primary">Add new</a>
    </div>
</section>

