﻿@model BeezMart.Areas.CRM.ViewModels.OrgSites.View_ViewModel

@{
	if (Model == null) throw new NullReferenceException("ViewModel. is null.");
	if (Model.OrgSite == null) throw new NullReferenceException("ViewModel.OrgSite is null.");
	if (Model.Organization == null) throw new NullReferenceException("ViewModel.Organization is null.");
	ViewBag.Title = "Organization site, address";
	byte contactStatus = (byte)Model.OrgSite.ContactStatus;
}

@section head {
	<link rel="stylesheet" href="~/Areas/CRM/OrgSites/View.css" />
}

@section breadcrumb {
	<li class="breadcrumb-item"><a asp-area="CRM" asp-controller="Home" asp-action="Index">CRM</a></li>
	<li class="breadcrumb-item"><a asp-area="CRM" asp-controller="Organizations" asp-action="Index">Organizations</a></li>
	<li class="breadcrumb-item"><a asp-area="CRM" asp-controller="Organizations" asp-action="View" asp-route-OrganizationID="@Model.Organization.ID">@Model.Organization.Name</a></li>
	<li class="breadcrumb-item"><a asp-area="CRM" asp-controller="OrgSites" asp-action="Index" asp-route-OrganizationID="@Model.Organization.ID">Locations</a></li>
	<li class="breadcrumb-item active">view</li>
}

@ViewBag.AppMessage
<fieldset class="card">
	<h4 class="card-header">
		@if (string.IsNullOrEmpty(Model.OrgSite.SiteName)) {
			<text>@Model.OrgSite.City @Html.Raw(Html.FormatValue(Model.OrgSite.StreetAddress1, "&bull; {0}"))</text>
		}
		else {
			<text>@Model.OrgSite.SiteName</text>
		}
	</h4>
 	<div class="card-body">
		<div class="row">
			<div class="col-sm-4">
				<div class="mb-3">
					<label for="OrgSite_City" class="required" title="City is a required field for saving an address">City</label>
					<input type="text" id="OrgSite_City" name="OrgSite.City" value="@Model.OrgSite.City" maxlength="64" readonly="readonly" placeholder="City name..." required="required" class="form-control required form-control-lg" />
				</div>
			</div>
			<div class="col-sm-4">
				<div class="mb-3">
					<label for="OrgSite_Country">Country</label>
					<input type="text" id="OrgSite_Country" name="OrgSite.Country" value="@Model.OrgSite.Country" maxlength="64" readonly="readonly" placeholder="Country..." required="required" class="form-control required form-control-lg" />
				</div>
			</div>
			<div class="col-sm-4">
				<div class="mb-3">
					<label for="OrgSite_StateProvince">State or province</label>
					<input type="text" id="OrgSite_StateProvince" name="OrgSite.StateProvince" value="@Model.OrgSite.StateProvince" maxlength="128" readonly="readonly" placeholder="State, province or county" class="form-control form-control-lg" />
				</div>
			</div>
			<div class="col-sm-4">
				<div class="mb-3">
					<label for="OrgSite_StreetAddress1">Address line 1</label>
					<input type="text" id="OrgSite_StreetAddress1" name="OrgSite.StreetAddress1" value="@Model.OrgSite.StreetAddress1" maxlength="128" readonly="readonly" placeholder="Address, line 1..." class="form-control" />
				</div>
			</div>
			<div class="col-sm-4">
				<div class="mb-3">
					<label for="OrgSite_StreetAddress2">Address line 2</label>
					<input type="text" id="OrgSite_StreetAddress2" name="OrgSite.StreetAddress2" value="@Model.OrgSite.StreetAddress2" maxlength="128" readonly="readonly" placeholder="Address, line 2..." class="form-control" />
				</div>
			</div>
			<div class="col-sm-4">
				<div class="mb-3">
					<label for="OrgSite_StreetAddress3">Address line 3</label>
					<input type="text" id="OrgSite_StreetAddress3" name="OrgSite.StreetAddress3" value="@Model.OrgSite.StreetAddress3" maxlength="128" readonly="readonly" placeholder="Address, line 3..." class="form-control" />
				</div>
			</div>
			<div class="col-sm-4">
				<div class="mb-3">
					<label for="OrgSite_Department">Company department</label>
					<input type="text" id="OrgSite_Department" name="OrgSite.Department" value="@Model.OrgSite.Department" maxlength="128" readonly="readonly" placeholder="Company department" class="form-control input-sm" />
				</div>
			</div>
			<div class="col-sm-4">
				<div class="mb-3">
					<label for="OrgSite_ZipPostCode">Zip or postal code</label>
					<input type="text" id="OrgSite_ZipPostCode" name="OrgSite.ZipPostCode" value="@Model.OrgSite.ZipPostCode" maxlength="32" readonly="readonly" placeholder="Zip or post code" class="form-control input-sm" />
				</div>
			</div>
			<div class="col-sm-4">
				<div class="mb-3">
					<label for="OrgSite_Region">Region</label>
					<input type="text" id="OrgSite_Region" name="OrgSite.Region" value="@Model.OrgSite.Region" maxlength="64" readonly="readonly" placeholder="Region, land..." class="form-control input-sm" />
				</div>
			</div>
			<div class="col-sm-12">
				<div class="mb-3">
					<label for="OrgSite_Directions">Directions on how to get there</label>
					<input type="text" id="OrgSite_Directions" name="OrgSite.Directions" value="@Model.OrgSite.Directions" maxlength="128" readonly="readonly" placeholder="Internal notes on how to get there" class="form-control input-sm" />
				</div>
			</div>
			<div class="col-sm-8">
				<div class="mb-3">
					<label for="OrgSite_SiteName">Site name</label>
					<input type="text" id="OrgSite_SiteName" name="OrgSite.SiteName" value="@Model.OrgSite.SiteName" maxlength="128" readonly="readonly" placeholder="Denominator for site" class="form-control input-sm" />
				</div>
			</div>
			<div class="col-sm-4">
				<div class="mb-3">
					<label for="OrgSite_ContactStatus">Site address status</label>
					<select id="OrgSite_ContactStatus" name="OrgSite.ContactStatus" data-selected="@contactStatus" disabled="disabled" class="form-control input-sm">
						<option value="1">Unconfirmed</option>
						<option value="2">Confirmed</option>
						<option value="3">Incomplete</option>
						<option value="4">Invalid</option>
						<option value="5">NonExisting</option>
						<option value="6">ToBeChanged</option>
						<option value="7">HavingProblems</option>
					</select>
				</div>
			</div>
		</div>
		<div id="IsHomeBillShip">
			<div class="mb-3">
				<label class="input-group">
					<span class="input-group-text"><input type="checkbox" asp-for="IsHome" disabled="disabled" /></span>
					<span class="form-control">This is the headquarter address of the organization, the main offices site</span>
				</label>
			</div>
			<div class="mb-3">
				<label class="input-group">
					<span class="input-group-text"><input type="checkbox" asp-for="IsBilling" disabled="disabled" /></span>
					<span class="form-control">Use the address for billing, or issuing invoices to organization</span>
				</label>
			</div>
			<div class="mb-3">
				<label class="input-group">
					<span class="input-group-text"><input type="checkbox" asp-for="IsShipping" disabled="disabled" /></span>
					<span class="form-control">This is the address for shipping, when we deliver merchandise to organization</span>
				</label>
			</div>
		</div>
	</div>
	<div class="card-footer submit">
		<a asp-action="View" asp-controller="Organizations" asp-route-OrganizationID="@Model.Organization.ID" class="btn btn-success">&laquo; Back to org</a>
		<button type="button" onclick="javascript: btnDelete_Click();" class="btn btn-danger">Delete</button>
		<a asp-action="Edit" asp-controller="OrgSites" asp-route-SiteAddressID="@Model.OrgSite.ID" class="btn btn-primary">Edit address fields</a>
	</div>
</fieldset>

@section scripts
{
	<script type="text/javascript" src="~/Areas/CRM/OrgSites/View.js"></script>
}
