﻿@{
	ViewBag.Title = "Persons taxonomy and attributes";
}

@section head {
	<link rel="stylesheet" href="~/Areas/Admin/ViewStyles/CrmPers/Index.css" />
}

@section breadcrumb {
    <li class="breadcrumb-item"><a asp-area="Admin" asp-controller="Home" asp-action="Index">Administration</a></li>
    <li class="breadcrumb-item active">CRM Persons</li>
}

<section class="container">
    <div class="card">
        <h4 class="card-header">Taxonomy and attributes for persons</h4>
        <div class="card-body">
            <div class="row">
                <div class="col-sm-6">
                    <div class="list-group">
                        <a asp-action="Segments" class="list-group-item list-group-item-action">Person segments</a>
                        <a asp-action="Flags" class="list-group-item list-group-item-action">Person flags</a>
                        <a asp-action="Integers" class="list-group-item list-group-item-action">Integer attribute types</a>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="list-group">
                        <a asp-action="Strings" class="list-group-item list-group-item-action">String attribute types</a>
                        <a asp-action="Hugetexts" class="list-group-item list-group-item-action">Types of large formatted text</a>
                        <a asp-action="ActivityTypes" class="list-group-item list-group-item-action">Associated activity types</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

@section scripts {
	@*<script type="text/javascript" src="~/Areas/Admin/ViewScripts/CrmPers/Index.js"></script>*@
}