﻿@{
	ViewBag.Title = "Person integer number attributes";
}

@section head {
	<link rel="stylesheet" href="~/Areas/Admin/CrmPers/Integers.css" />
}

@section breadcrumb {
	<li class="breadcrumb-item"><a asp-area="Admin" asp-controller="Home" asp-action="Index">Administration</a></li>
	<li class="breadcrumb-item"><a asp-area="Admin" asp-controller="CrmPers" asp-action="Index">CRM Persons</a></li>
	<li class="breadcrumb-item active">integers</li>
}

<h1>Integer number attributes for persons</h1>
<section x-data="MyDataTable">
    <progress id="prgrsItems" x-show="InProgress"></progress>
    <input type="hidden" name="FieldType" value="@((byte)BeezMart.Entities.FieldType.Integer)" />
    <table id="Items" class="table table-hover table-striped table-responsive-md">
        <thead>
            <tr>
                <th>Attribute name</th>
                <th>Category</th>
                <th>Descripton or usage</th>
                <th title="The field can only be applied once per person; it cannot be appear multiple times">Unique</th>
                <th title="The field is no longer applicable; it will not appear anymore in the selection list">Retired</th>
            </tr>
        </thead>
        <tbody>
            <template x-for="(row, rowIndex) in RecordSet">
                <tr x-bind:data-record="row.id">
                    <td><a x-text="row.name" href="#" x-on:click="editRecord(rowIndex)"></a></td>
                    <td x-text="row.category"></td>
                    <td x-text="row.comments"></td>
                    <td>
                        <template x-if="row.isUnique"><b class="bi-check-circle text-success"></b></template>
                        <template x-if="!row.isUnique"><b class="bi-x-circle text-secondary"></b></template>
                    </td>
                    <td>
                        <template x-if="row.isRetired"><b class="bi-check-circle text-warning"></b></template>
                        <template x-if="!row.isRetired"><b class="bi-x-circle text-secondary"></b></template>
                    </td>
                </tr>
            </template>
        </tbody>
        <tfoot>
            <tr>
                <td colspan="2">records found: <b x-text="RecordSet.length"></b></td>
                <td colspan="3"><button type="button" class="btn btn-primary" x-on:click="addNewRecord()">Add new attribute</button></td>
            </tr>
        </tfoot>
    </table>
    <template x-teleport="body">
        <aside x-data="CurrentRecord" id="ModalEditor" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true" data-bs-backdrop="static">
            <div class="modal-dialog">
                <div class="modal-content">
                    <input type="hidden" name="id" x-model="id" />
                    <header class="modal-header">
                        <h4 class="modal-title">Text attribute properties</h4>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </header>
                    <section class="modal-body">
                        <div class="mb-3">
                            <label class="required">Name</label>
                            <input type="text" placeholder="Attribute name" x-model="name" required="required" class="form-control" x-on:keyup.enter="saveRecord()" />
                        </div>
                        <div class="mb-3">
                            <label>Category</label>
                            <input type="text" placeholder="Category" x-model="category" class="form-control" x-on:keyup.enter="saveRecord()" />
                        </div>
                        <div class="mb-3">
                            <label>Description</label>
                            <textarea placeholder="Some comments for this attribute, usage rules or guidelines" rows="3" x-model="comments" class="form-control" x-on:keyup.enter="saveRecord()"></textarea>
                        </div>
                        <div class="mb-3">
                            <label class="input-group">
                                <span class="input-group-text"><input type="checkbox" x-model="isUnique" /></span>
                                <span class="form-control">This is a unique attribute per person</span>
                            </label>
                        </div>
                        <div>
                            <label class="input-group">
                                <span class="input-group-text"><input type="checkbox" x-model="isRetired" /></span>
                                <span class="form-control">Attribute is retired: no longer applicable?</span>
                            </label>
                        </div>
                    </section>
                    <footer class="modal-footer">
                        <button type="button" class="btn btn-warning" data-bs-dismiss="modal">Cancel</button>
                        <button type="submit" class="btn btn-success" x-on:click="saveRecord()">Save attribute</button>
                    </footer>
                </div>
            </div>
        </aside>
    </template>
    <aside x-data="Messaging" class="toast-container position-fixed top-0 end-0 p-3">
        <div id="MessagingToast" class="toast" role="alert" aria-live="assertive" aria-atomic="true">
            <header class="toast-header text-bg-info">
                <i class="bi-info-circle me-2"></i>
                <strong class="me-auto" x-text="title">Notification</strong>
                <button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close"></button>
            </header>
            <div x-html="message" class="toast-body">
                Something worth noting has happened.
            </div>
        </div>
    </aside>
</section>
@Html.AntiForgeryToken()

@section scripts {
	<script type="text/javascript" src="~/Areas/Admin/CrmPers/Integers.js"></script>
}
