﻿@using System.Security.Claims
@using BeezMart

@{
    ViewBag.Title = "Start page";
    Layout = "_LayoutSimple";
}

@section head {
	<link rel="stylesheet" href="~/Views/Home/Index.css" />
}

@if (User.Identity?.IsAuthenticated == true)
{
	if (User.IsInRole(BeezMart.Security.UserRoles.UserForCRM))
	{
		<section id="CRM" class="container">
            <div class="row">
                <div class="col-md">
                    <section class="card">
                        <h4 class="card-header">CRM &bull; Organizations</h4>
                        <main class="card-body">
                            <div class="d-grid gap-4 col-md-8 mx-auto my-4">
                                <a asp-area="CRM" asp-controller="Organizations" asp-action="Search" class="btn btn-lg btn-success">Lookup organizations</a>
                                <a asp-area="CRM" asp-controller="Organizations" asp-action="Add" class="btn btn-sm btn-info">Add new organization</a>
                            </div>
                        </main>
                        <footer class="card-footer">
                            <a asp-area="CRM" asp-controller="Organizations" asp-action="Search" class="btn btn-sm btn-outline-secondary">
                                <span class="badge bg-secondary">@Html.FormatValue(MyApp.DashboardStats.CRM.CountOfOrgs, "{0:#,##0}")</span>
                                Records
                            </a>
                        </footer>
                    </section>
                </div>
                <div class="col-md">
                    <section class="card">
                        <h4 class="card-header">CRM &bull; Persons</h4>
                        <main class="card-body">
                            <div class="d-grid gap-4 col-md-8 mx-auto my-4">
                                <a asp-area="CRM" asp-controller="Persons" asp-action="Search" class="btn btn-lg btn-success">Lookup persons</a>
                                <a asp-area="CRM" asp-controller="Persons" asp-action="Add" class="btn btn-sm btn-info">Add new person</a>
                            </div>
                        </main>
                        <footer class="card-footer">
                            <a asp-area="CRM" asp-controller="Reports" asp-action="EmailAddresses" class="btn btn-sm btn-outline-secondary">
                                <span class="badge bg-secondary">@Html.FormatValue(MyApp.DashboardStats.CRM.CountOfEmails, "{0:#,##0}")</span>
                                E-mail addresses
                            </a>
                        </footer>
                    </section>
                </div>
            </div>
		</section>
	}
	if (User.IsInRole(BeezMart.Security.UserRoles.UserForFinance))
	{
        <section id="Invoicing" class="container">
            <div class="row">
                <div class="col-md-6 mx-auto">
                    <section class="card">
                        <h4 class="card-header">Billing &bull; Invoicing</h4>
                        <main class="card-body">
                            <div class="d-grid gap-4 mx-auto my-4">
                                <a asp-area="Billing" asp-controller="Invoices" asp-action="Recent" class="btn btn-lg btn-success">Recent invoices</a>
                                <a asp-area="Billing" asp-controller="Invoices" asp-action="Add" class="btn btn-lg btn-success">Add new invoice</a>
                                <a asp-area="Billing" asp-controller="Invoices" asp-action="Drafts" class="btn btn-lg btn-success">Draft invoices</a>
                            </div>
                        </main>
                        <footer class="card-footer">
                            <a asp-area="Billing" asp-controller="Invoices" asp-action="Overdue" class="btn btn-sm btn-outline-secondary">
                                <span class="badge bg-secondary">@Html.FormatValue(MyApp.DashboardStats.Billing.OverdueInvoicesCount, "{0:#,##0}")</span>
                                Overdue invoices
                            </a>
                        </footer>
                    </section>
                </div>
            </div>
		</section>
	}
	if (User.IsInRole(BeezMart.Security.UserRoles.ApplicationAdministrator))
	{
        <section id="Administrators" class="container">
            <div class="row">
                <div class="col-md-6 mx-auto">
                    <section class="card">
                        <main class="card-body">
                            <div class="d-grid mx-auto my-4">
                                <a asp-area="Admin" asp-controller="Home" asp-action="Index" class="btn btn-success btn-lg">Administrative tasks</a>
                            </div>
                        </main>
                    </section>
                </div>
            </div>
		</section>
	}
}
else
{
    if (MyApp.EnvSettings.AzureEntraAuthentication.Enabled)
    {
        <section id="LoginEntra" class="row">
            <div class="col-sm-10 col-md-8 col-lg-6 col-xl-5 mx-auto">
                <section class="card text-center">
                    <main class="card-body">
                        <p class="lead">Please authenticate to start using BeezMart</p>
                        <p><a asp-area="MicrosoftIdentity" asp-controller="Account" asp-action="SignIn" title="Single Sign-On" class="btn btn-success btn-lg">Login with Azure Entra <i class="bi-globe2"></i></a></p>
                    </main>
                </section>
            </div>
        </section>
    }
    else
    {
        <section id="LoginAccount" class="row">
            <div class="col-sm-10 col-md-8 col-lg-6 col-xl-5 mx-auto">
                <section class="card text-center">
                    <main class="card-body">
                        <p class="lead">Please login to start using BeezMart</p>
                        <p><a asp-area="" asp-controller="Account" asp-action="Login" class="btn btn-success btn-lg">Log in with app account <i class="bi-key"></i></a></p>
                        <p><a asp-area="" asp-controller="Account" asp-action="ForgotPassword">I forgot my password</a></p>
                    </main>
                </section>
            </div>
        </section>
    }
}

@section scripts {
	@*<script type="text/javascript" src="~/Views/Home/Index.js"></script>*@
}