﻿@using System.Security.Claims
@model BeezMart.ViewModels.Home.Search_ViewModel

@{
    ViewBag.Title = "Search results";
    if (Model == null) throw new NullReferenceException("ViewModel is null.");
    int CrmOrganizationsCount = Model.CrmOrganizations == null ? 0 : Model.CrmOrganizations.Count();
    int CrmPersonsCount = Model.CrmPersons == null ? 0 : Model.CrmPersons.Count();
}

@section head {
    <link rel="stylesheet" href="~/Views/Home/Search.css" />
}

@if (User.IsInRole(BeezMart.Security.UserRoles.UserForCRM))
{
    <section id="CRM">
        <table id="Organizations" class="table table-sm table-striped table-hoover">
            <thead>
                <tr>
                    <th>Organization name</th>
                    <th>Segment</th>
                    <th>Headquarter</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @if (Model.CrmOrganizations != null)
                {
                    foreach (BeezMart.Entities.CRM.OrganizationModel organization in Model.CrmOrganizations)
                    {
                        <tr>
                            <td><a data-id="@organization.ID">@organization.Name</a></td>
                            <td>@organization.Segment</td>
                            <td>@organization.HQ_City</td>
                            <td>@organization.HQ_StateProvince</td>
                        </tr>
                    }
                }
            </tbody>
            <tfoot>
                <tr>
                    <td colspan="4">records found: <b>@CrmOrganizationsCount.ToString("#,##0")</b></td>
                </tr>
            </tfoot>
        </table>
        <table id="Persons" class="table table-sm table-striped table-hoover">
            <thead>
                <tr>
                    <th>Person name</th>
                    <th>Segment</th>
                    <th>Headquarter</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @if (Model.CrmPersons != null)
                {
                    foreach (BeezMart.Entities.CRM.PersonModel person in Model.CrmPersons)
                    {
                        <tr>
                            <td><a data-id="@person.ID">@person.FirstName @person.LastName</a></td>
                            <td>@person.Segment</td>
                            <td>@person.Home_City</td>
                            <td>@person.Home_StateProvince</td>
                        </tr>
                    }
                }
            </tbody>
            <tfoot>
                <tr>
                    <td colspan="4">records found: <b>@CrmPersonsCount.ToString("#,##0")</b></td>
                </tr>
            </tfoot>
        </table>
    </section>
}
@if (User.IsInRole(BeezMart.Security.UserRoles.UserForFinance))
{
    <section id="Invoicing"></section>
}

@section scripts {
    @*<script type="text/javascript" src="~/Views/Home/Search.js"></script>*@
}