﻿@{
    ViewBag.Title = "Test page";
    Layout = "_LayoutSimple";
}

@section head {
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.15.0/jquery.validate.min.js" asp-fallback-src="~/lib/jquery-validation/dist/jquery.validate.min.js" type="text/javascript"></script>
}

<h1>@ViewBag.Title</h1>
<section id="Notifications">
    <h2>Toastr alerts</h2>
    <button type="button" class="btn btn-primary" onclick="MyPage.ShowToastrWarning();">Show warning</button>
</section>
<section id="Variables">
    <h2>Application and server variables</h2>
    <p>@BeezMart.Utils.EmailTemplateLocalizer.GetApplicationRootURL(this.Context)</p>
    <p>@Url.Action("ResetPassword", "Account", null, this.Context.Request.Scheme)</p>
</section>
<section id="Tristate">
    <h2>Tristate control</h2>
    <div class="row">
        <div class="col-sm">
            <p>False <span class="tristate"><input type="hidden" value="false" /><b class="bi-x-circle"></b></span></p>
            <p>Null: <span class="tristate"><input type="hidden" value="" /><b class="bi-question-circle"></b></span></p>
            <p>True: <span class="tristate"><input type="hidden" value="true" /><b class="bi-check-circle"></b></span></p>
        </div>
        <div class="col-sm">
            <p>No input: <span class="tristate"><b class="bi-check-circle"></b></span></p>
            <p>No glyph: <span class="tristate"><input type="hidden" value="false" /></span></p>
            <p>All empty: <span class="tristate"></span></p>
        </div>
        <div class="col-sm">
            <form>
                <label class="input-group">
                    <input type="text" value="Tristate value in a form" class="form-control" readonly="readonly" />
                    <span class="input-group-text tristate"><input type="hidden" value="true" name="Tristate" /></span>
                </label>
            </form>
        </div>
    </div>
</section>

@section scripts {
	<script type="text/javascript" src="~/Views/Home/Test.js"></script>
}
