﻿@model List<RelationOrgsPersModel>
@{
	if (Model == null) throw new NullReferenceException("ViewModel is null.");
}
@Html.Raw(ViewBag.AppMessage)
<table class="table table-hover table-striped">
	<thead>
		<tr>
			<th colspan="3">Contact persons with job titles</th>
		</tr>
	</thead>
	<tbody>
		@foreach (RelationOrgsPersModel relation in Model) {
			<tr data-record="@relation.ID">
				<td>
					<a data-value="@relation.PersonID">@relation.PersPrefix @relation.PersFirstName @relation.PersLastName @relation.PersSuffix</a>
					@Html.Raw(Html.FormatValue(relation.PersNicknames, "aka {0}"))
				</td>
				<td data-value="@relation.JobTypeID">
					@if (string.IsNullOrEmpty(relation.PositionTitle)) { <a><i>- no job title -</i></a> }
					else { <text><a>@relation.PositionTitle</a> @Html.FormatValue(relation.JobTypeName, " ({0})")</text> }
				</td>
				<td><a>&times;</a></td>
			</tr>
		}
	</tbody>
	<tfoot>
		<tr>
			<td colspan="3"><button type="button" class="btn btn-outline-secondary btn-sm" data-bs-toggle="modal" data-bs-target="#ModalAddRelationOrgsPers">Add new person</button></td>
		</tr>
	</tfoot>
</table>

