﻿@model List<PersonModel>
@{
	if (Model == null) throw new NullReferenceException("ViewModel is null.");
}
<table class="table table-sm table-striped table-hover">
	<thead>
		<tr>
			<th></th>
			<th colspan="2">Full name</th>
			<th>City</th>
			<th>Segment</th>
		</tr>
	</thead>
	<tbody>
		@foreach (PersonModel person in Model)
		{
			<tr>
				<td>@person.NamePrefix</td>
				<td><a data-value="@person.ID" title="@person.Nicknames">@person.FirstName @person.LastName</a></td>
				<td>@person.NameSuffix</td>
				<td>@person.Home_City</td>
				<td>@person.Segment</td>
			</tr>
		}
	</tbody>
	<tfoot>
		<tr>
			<td colspan="5">records found: <b>@Model.Count</b></td>
		</tr>
	</tfoot>
</table>
