﻿@model List<OrganizationModel>
@{
	if (Model == null) throw new NullReferenceException("ViewModel is null.");
}
<table class="table table-sm table-striped table-hover">
	<thead>
		<tr>
			<th></th>
			<th colspan="2">Full name</th>
			<th>City</th>
			<th>Segment</th>
		</tr>
	</thead>
	<tbody>
		@foreach (OrganizationModel organization in Model)
		{
			<tr>
				<td>@organization.NamePrefix</td>
				<td><a data-value="@organization.ID" title="@organization.AlternateNames">@organization.Name</a></td>
				<td>@organization.NameSuffix</td>
				<td>@organization.HQ_City</td>
				<td>@organization.Segment</td>
			</tr>
		}
	</tbody>
	<tfoot>
		<tr>
			<td colspan="5">records found: <b>@Model.Count</b></td>
		</tr>
	</tfoot>
</table>
