﻿@using BeezMart.Caching.CRM
@model BeezMart.Areas.CRM.ViewModels.RelationOrgsPers._ModalAddPerson_ViewModel
@{
	if (Model == null) throw new NullReferenceException("ViewModel is null.");
	IEnumerable<string> categories = await RelationsOrgsPers.GetCategoriesAsync();
	IEnumerable<RelationOrgsPersModel.RelationTypeModel> jobTypes = await RelationsOrgsPers.GetRelationTypesAsync();
}
<aside id="ModalAddRelationOrgsPers" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true" data-bs-backdrop="static">
	<div class="modal-dialog">
		<div class="modal-content">
			<header class="modal-header">
				<h4 class="modal-title">Add contact person to organization</h4>
				<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
				<progress></progress>
			</header>
			<section class="modal-body">
				<p>Lookup existing person to add as contact for organization</p>
				<form asp-action="_LookupPersons" asp-controller="RelationOrgsPers" method="get">
					<input type="hidden" name="OrganizationID" value="@Model.OrganizationID" />
					<div class="mb-3">
						<div class="input-group">
							<input type="text" name="NamePattern" placeholder="Person name contains..." class="form-control" />
							<span class="input-group-text" title="Exact match&#13;When checked, search will not append and prepend * wildcard to pers name criteria" style="cursor:help;">
								<input type="checkbox" name="NameExactMatching" value="true" /><input name="NameExactMatching" type="hidden" value="false" />
							</span>
							<button type="submit" class="input-group-text">Lookup</button>
						</div>
					</div>
				</form>
				<div id="LookupPersonResult">

				</div>
			</section>
			<footer class="modal-footer">
				<button type="button" class="btn btn-light" data-bs-dismiss="modal">Cancel</button>
				<a asp-action="Add" asp-controller="Persons" asp-route-OrganizationID="@Model.OrganizationID" class="btn btn-info">Create new person record</a>
			</footer>
		</div>
	</div>
</aside>
<aside id="ModalEditRelationOrgsPers" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true" data-bs-backdrop="static">
	<div class="modal-dialog">
		<div class="modal-content">
			<form asp-action="_ModalEditRelationPerson" asp-controller="RelationOrgsPers" method="post">
				<header class="modal-header">
					<h4 class="modal-title">Edit relation with <span></span></h4>
					<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
				</header>
				<section class="modal-body">
					<input type="hidden" name="ID" />
					<input type="hidden" name="OrganizationID" value="@Model.OrganizationID" />
					<input type="hidden" name="PersonID" />
					<div class="mb-3">
						<label for="txtJobTitle" class="required">Job title</label>
						<input type="text" id="txtJobTitle" name="PositionTitle" value="Employee" placeholder="Person position as in the visit card" maxlength="256" required="required" class="form-control required" />
					</div>
					<p>Taxonomy</p>
					<div class="mb-3">
						<label for="ddlJobCategory">Job type category</label>
						<select id="ddlJobCategory" onchange="javascript: ddlCategory_Change(this, 'JobTypesList');" class="form-control">
							<option selected="selected">=== JOBS WITH NO CATEGORY ===</option>
							@foreach (string category in categories) {
								<option>@category</option>
							}
						</select>
					</div>
					<div class="mb-3">
						<p>Please select the job type the person has</p>
						<ul id="JobTypesList">
							@foreach (RelationOrgsPersModel.RelationTypeModel jobType in jobTypes) {
								<li data-val-category="@jobType.Category"><label><input type="radio" name="JobTypeID" value="@jobType.ID" /> @jobType.Name</label></li>
							}
						</ul>
					</div>
				</section>
				<footer class="modal-footer">
					<button type="button" class="btn btn-light" data-bs-dismiss="modal">Cancel</button>
					<button type="submit" class="btn btn-success">Save relation</button>
				</footer>
			</form>
		</div>
	</div>
</aside>