﻿@using BeezMart.Caching.CRM
@model BeezMart.Areas.CRM.ViewModels.RelationOrgsPers.Add_ViewModel

@{
	IEnumerable<string> categories = await RelationsOrgsPers.GetCategoriesAsync();
	IEnumerable<RelationOrgsPersModel.RelationTypeModel> jobTypes = await RelationsOrgsPers.GetRelationTypesAsync();
	if (Model == null || Model.RelationOrgsPers == null) throw new NullReferenceException("ViewModel is null or ViewModel.RelationOrgsPers is null.");
	ViewBag.Title = "Add relation between person and organization";
}

@section head {
	<link rel="stylesheet" href="~/Areas/CRM/RelationOrgsPers/Add.css" />
}

@section breadcrumb {
	<li class="breadcrumb-item"><a asp-area="CRM" asp-controller="Home" asp-action="Index">CRM</a></li>
	<li class="breadcrumb-item active">Add relation person-organization</li>
}

@Html.Raw(ViewBag.AppMessage)
<form method="post" asp-action="Add" id="frmRelationship" role="form">
	<input type="hidden" name="RelationOrgsPers.OrganizationID" value="@Model.RelationOrgsPers.OrganizationID" />
	<input type="hidden" name="RelationOrgsPers.PersonID" value="@Model.RelationOrgsPers.PersonID" />
	<input type="hidden" name="AfterSaveGoTo" value="Organizations" />
	<fieldset class="card">
		<h4 class="card-header">Person &lt;-&gt; Organization relation</h4>
		<div class="card-body">
			<div id="Organization-Person">
				<h2><a asp-action="View" asp-controller="Persons" asp-area="CRM" asp-route-PersonID="@Model.RelationOrgsPers.PersonID">@Model.RelationOrgsPers.PersFirstName @Model.RelationOrgsPers.PersLastName <small>@Html.FormatValue(Model.RelationOrgsPers.PersNicknames, " (aka {0})")</small></a></h2>
				<p>relates to</p>
				<h2><a asp-action="View" asp-controller="Organizations" asp-area="CRM" asp-route-OrganizationID="@Model.RelationOrgsPers.OrganizationID">@Model.RelationOrgsPers.OrgName <small>@Html.FormatValue(Model.RelationOrgsPers.OrgAltnames, " (aka {0})")</small></a></h2>
				<p>as...</p>
			</div>
			<div class="row">
				<div class="col-sm-12">
					<div class="mb-3">
						<label for="txtJobTitle">Job or position title</label>
						<input type="text" id="txtJobTitle" name="RelationOrgsPers.PositionTitle" value="Employee" placeholder="Person position as in the visit card" class="form-control required" maxlength="256" />
					</div>
				</div>
				<div class="col-sm-6">
					<label for="ddlJobCategory">Job type category</label>
					<select id="ddlJobCategory" onchange="MyPage.ddlCategory_Change();" class="form-control">
						<option selected="selected">=== JOBS WITH NO CATEGORY ===</option>
						@foreach (string category in categories) {
							<option>@category</option>
						}
					</select>
				</div>
				<div class="col-sm-6">
					<p>Please select the job type the person has</p>
					<ul id="JobTypesList">
						@foreach (RelationOrgsPersModel.RelationTypeModel jobType in jobTypes) {
							<li data-val-category="@jobType.Category"><label><input type="radio" name="RelationOrgsPers.JobTypeID" value="@jobType.ID" /> @jobType.Name</label></li>
						}
					</ul>
				</div>
			</div>
		</div>
		<div class="card-footer submit">
			<button type="button" class="btn btn-primary" onclick="MyPage.DoSubmit('Organization');">Save &amp; continue to organization</button>
			<button type="button" class="btn btn-primary" onclick="MyPage.DoSubmit('Person');">Save &amp; continue to person</button>
		</div>
	</fieldset>
</form>

@section scripts {
	<script type="text/javascript" src="~/Areas/CRM/RelationOrgsPers/Add.js"></script>
}
