﻿<aside id="ModalEditTransport" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true" data-bs-backdrop="static">
	<div class="modal-dialog">
		<form asp-action="_Edit" asp-controller="HandoverTransports" method="post">
			<input type="hidden" name="ID" />
			<div class="modal-content">
                <header class="modal-header">
                    <h4 class="modal-title">Edit handover mean</h4>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </header>
                <section class="modal-body">
                    <p>Save handover transport fields for future use</p>
                    <div class="row">
                        <div class="col-6">
                            <div class="mb-3">
                                <label for="txtTransportMeans" class="required">Transportation means</label>
                                <input id="txtTransportMeans" type="text" name="Means" maxlength="32" placeholder="Transportation means..." required="required" class="form-control required" />
                            </div>
                        </div>
                        <div class="col-6">
                            <div class="mb-3">
                                <label for="txtTransportRegistration">Registration</label>
                                <input id="txtransportRegistration" type="text" name="Registration" maxlength="32" placeholder="Vehicle registration..." class="form-control" />
                            </div>
                        </div>
                    </div>
                </section>
                <footer class="modal-footer">
                    <button type="button" class="btn btn-warning" data-bs-dismiss="modal" data-bs-toggle="modal"  data-bs-target="#ModalPickTransport">Cancel</button>
                    <button type="submit" class="btn btn-primary">Save fields</button>
                </footer>
			</div>
		</form>
	</div>
</aside>
<form asp-action="_Delete" asp-controller="HandoverTransports" method="delete">
	<input type="hidden" name="RecordID" />
</form>
