﻿@model List<HandoverTransportModel>
@{
	if (Model == null) throw new NullReferenceException("ViewModel is null.");
}
@Html.Raw(ViewBag.AppMessage)
<table class="table table-sm table-striped table-hover">
	<thead>
		<tr>
			<th>Handover mean</th>
			<th>Registration</th>
			<th>Edt</th>
		</tr>
	</thead>
	<tbody>
		@foreach (HandoverTransportModel handoverTransport in Model)
		{
			<tr data-value="@handoverTransport.ID">
				<td><a>@handoverTransport.Means</a></td>
				<td>@handoverTransport.Registration</td>
				<td><a class="bi-pencil"></a> <span>&times;</span></td>
			</tr>
		}
	</tbody>
	<tfoot>
		<tr>
            <td colspan="3">records found: <b>@Model.Count.ToString("#,##0")</b></td>
		</tr>
	</tfoot>
</table>

