﻿@model List<HandoverTransportModel>
<aside id="ModalPickTransport" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true" data-bs-backdrop="static">
	<div class="modal-dialog">
		<div class="modal-content">
            <header class="modal-header">
                <h4 class="modal-title">Pick handover mean</h4>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </header>
			<section class="modal-body">
				<progress></progress>
				<div id="Transports">
					<partial name="~/Areas/Billing/Views/HandoverTransports/_List.cshtml" model="Model" />
				</div>
			</section>
            <footer class="modal-footer">
                <button type="button" class="btn btn-primary" onclick="btnAddTransport_Click();">Add new</button>
                <button type="button" class="btn btn-warning" data-bs-dismiss="modal">Cancel</button>
            </footer>
		</div>
	</div>
</aside>
<div id="TransportEditor" data-source="@Url.Action(action: "_Edit", controller: "HandoverTransports", values: new { route = "billing" })"></div>