﻿@model List<PersHugetextModel>
@{
	if (Model == null) throw new NullReferenceException("ViewModel is null.");
	int i = 0;
	int MaximumDetailedRecords = 10;
}
@Html.Raw(ViewBag.AppMessage)
<table class="table table-hover table-striped">
	<thead>
		<tr>
			<th colspan="4">Details and history</th>
		</tr>
	</thead>
	<tbody>
		@foreach (PersHugetextModel record in Model) {
			<tr data-record="@record.ID" data-type="@record.FieldID">
				<td>@record.Category</td>
				<td><a>@record.Name</a></td>
				<td><a class="bi-pencil"></a></td>
				<td><a>&times;</a></td>
			</tr>
			<tr>
				<td colspan="4">
					<div>
						@if (i < MaximumDetailedRecords) { <text>@Html.Raw(record.Value)</text> }
						else { <progress></progress> }
					</div>
				</td>
			</tr>
			i++;
		}
	</tbody>
	<tfoot>
		<tr>
			<td colspan="4"><a asp-action="Edit" asp-controller="PersHugetexts" asp-route-PersonID="@ViewBag.PersonID" class="btn btn-outline-secondary btn-sm">Add new</a></td>
		</tr>
	</tfoot>
</table>


