﻿@using BeezMart.Caching.CRM
@model BeezMart.Areas.CRM.ViewModels.PersHugetexts.Edit_ViewModel

@{
	ViewBag.Title = "Edit person detail";
	if (Model == null) throw new NullReferenceException("ViewModel is null.");
	if (Model.Hugetext == null) throw new NullReferenceException("ViewModel.Hugetext is null.");
	if (Model.Person == null) throw new NullReferenceException("ViewModel.Person is null.");
	string breadcrumbTitle = Model.Hugetext.ID.HasValue ? "edit info" : "add info";
	IEnumerable<string> categories = await PersHugetexts.GetCategoriesAsync();
	IEnumerable<PersFieldModel> fieldTypes = await PersHugetexts.GetFieldTypesAsync();
}

@section head {
	<link rel="stylesheet" href="~/Areas/CRM/PersHugetexts/Edit.css" />
}

@section breadcrumb {
	<li class="breadcrumb-item"><a asp-area="CRM" asp-controller="Home" asp-action="Index">CRM</a></li>
	<li class="breadcrumb-item"><a asp-area="CRM" asp-controller="Persons" asp-action="Index">Persons</a></li>
	<li class="breadcrumb-item"><a asp-area="CRM" asp-controller="Persons" asp-action="View" asp-route-PersonID="@Model.Person.ID">@Model.Person.FirstName @Model.Person.LastName</a></li>
	<li class="breadcrumb-item active">@breadcrumbTitle</li>
}

@Html.Raw(ViewBag.AppMessage)
<form asp-action="Edit" asp-controller="PersHugetexts" method="post">
	<input type="hidden" asp-for="@Model.Hugetext.ID" />
    <input type="hidden" asp-for="@Model.Person.ID" />
    <textarea name="Hugetext.Value" cols="80" rows="24" class="form-control">@Html.Raw(Model.Hugetext.Value)</textarea>
	<div class="row mt-3">
		<div class="col-sm">
			<label for="ddlFieldCategory">Info field category</label>
			<select id="ddlFieldCategory" class="form-control">
				<option selected="selected" value="">=== FIELDS WITH NO CATEGORY ===</option>
				@foreach (string category in categories)
				{
					<option>@category</option>
				}
			</select>
		</div>
		<div class="col-sm">
			<label for="ddlFieldName">Field type name</label>
			<select id="ddlFieldName" name="Hugetext.FieldID" data-val="@Model.Hugetext.FieldID" class="form-control">
				<option selected="selected">=== PLEASE SELECT ===</option>
				@foreach (PersFieldModel fieldType in fieldTypes)
				{
					<option data-val-category="@fieldType.Category" value="@fieldType.ID">@fieldType.Name</option>
				}
			</select>
		</div>
	</div>
	<div class="mt-3 submit">
		<a asp-action="View" asp-controller="Persons" asp-route-PersonID="@Model.Person.ID" asp-route-tab="3" class="btn btn-warning">Cancel</a>
		<button type="submit" class="btn btn-primary">Save detail</button>
	</div>
</form>

@section scripts {
	<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/tinymce/5.10.9/tinymce.min.js"></script>
	<script type="text/javascript" src="~/Areas/CRM/PersHugetexts/Edit.js"></script>
}




