progress { display: none; }
#btnMoreMetadata { padding-top: 0.4em; }

label[for="Project_CustomerName"] a {
    margin-left: 1.0em;
    font-weight: 600;
}

#ModalLookupCustomer #ChooseCustomerType form {
    margin-top: 2.0em;
}

#ModalCustomers table.table tbody td:first-child {
    font-weight: 600;
}