﻿@using BeezMart.Caching.CRM
@model OrgIntegerModel
@{
	if (Model == null) throw new NullReferenceException("ViewModel is null.");
	IEnumerable<string> categories = await OrgIntegers.GetCategoriesAsync();
	IEnumerable<OrgFieldModel> figureTypes = await OrgIntegers.GetFieldTypesAsync();
}
@Html.Raw(ViewBag.AppMessage)
<aside id="ModalEditInteger" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true" data-bs-backdrop="static">
	<div class="modal-dialog">
		<div class="modal-content">
			<form asp-action="_Edit" asp-controller="OrgIntegers" method="post" id="frmIntegerDetail">
				<header class="modal-header">
					<h4 class="modal-title">Figure attribute detail</h4>
					<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
				</header>
				<section class="modal-body">
					<input type="hidden" name="ID" />
					<input type="hidden" name="OrganizationID" value="@Model.OrganizationID" />
					<div class="mb-3">
						<label for="ddlIntegerCategory" class="Required">Category</label>
						<select id="ddlIntegerCategory" onchange="javascript: ddlCategory_Change(this, 'IntegerList');" class="form-control">
							<option selected="selected">=== FIGURES WITH NO CATEGORY ===</option>
							@foreach (string category in categories) {
								<option>@category</option>
							}
						</select>
					</div>
					<div class="mb-3">
						<p>Please select the figure attribute you want to add</p>
						<ul id="IntegerList">
							@foreach (OrgFieldModel figureType in figureTypes) {
								<li data-val-category="@figureType.Category"><label><input type="radio" name="FieldID" value="@figureType.ID" /> @figureType.Name</label></li>
							}
						</ul>
					</div>
					<div class="mb-3">
						<label for="txtIntegerValue">Figure attribute value</label>
						<input type="text" id="txtIntegerValue" name="Value" maxlength="16" value="@Model.Value" class="form-control" />
					</div>
				</section>
				<footer class="modal-footer">
					<button type="button" class="btn btn-light" data-bs-dismiss="modal">Cancel</button>
					<button type="submit" class="btn btn-primary">Save figure</button>
				</footer>
			</form>
		</div>
	</div>
</aside>


