﻿@model BeezMart.Areas.Admin.ViewModels.Users.Account_ViewModel

@{
    ViewBag.Title = "Account details";
    if (Model == null || Model.UserAccount == null) throw new NullReferenceException("ViewModel is null or ViewModel.UserAccount is null.");
}

@section head {
	<link rel="stylesheet" href="~/Areas/Admin/Users/Account.css" />
}

@section breadcrumb {
    <li class="breadcrumb-item"><a asp-area="Admin" asp-controller="Home" asp-action="Index">Administration</a></li>
    <li class="breadcrumb-item"><a asp-area="Admin" asp-controller="Users" asp-action="Index">User accounts</a></li>
    <li class="breadcrumb-item active"><span>@Model.UserAccount.UserName</span> (@Model.UserAccount.FirstName @Model.UserAccount.LastName)</li>
}

@Html.Raw(ViewBag.AppMessage)
<section id="Basic-Info">
    <div class="row">
        <div class="col-lg-6">
            <section id="User-Account" class="card">
                <h4 class="card-header">User account</h4>
                <div class="card-body">
                    <div class="mb-3">
                        <label>Full name</label>
                        <input type="text" value="@Model.UserAccount.FirstName @Model.UserAccount.LastName" disabled="disabled" class="form-control form-control-lg" />
                    </div>
                    <div class="mb-3">
                        <label>Account username</label>
                        <input type="text" value="@Model.UserAccount.UserName" readonly="readonly" class="required form-control form-control-lg" />
                    </div>
                    <div class="mb-3">
                        <label>E-mail address</label>
                        <input type="text" value="@Model.UserAccount.Email" readonly="readonly" class="required form-control form-control-lg" />
                    </div>
                    <div class="mb-3">
                        <label>Account ID</label>
                        <input type="text" value="@Model.UserAccount.Id" disabled="disabled" class="form-control" />
                    </div>
                    <div id="ResetPasswordResultMessage">

                    </div>
                    <progress></progress>
                </div>
                <div class="card-footer submit">
                    <a asp-area="Admin" asp-controller="Users" asp-action="Index" class="btn btn-info"><i class="bi-chevron-left"></i> User accounts</a>
                    <a asp-area="Admin" asp-controller="Users" asp-action="Edit" asp-route-UserID="@Model.UserAccount.Id" class="btn btn-primary">Edit fields</a>
                    <button type="button" data-bs-toggle="modal"  data-bs-target="#ModalResetPassword" class="btn btn-success">Reset password</button>
                </div>
            </section>
        </div>
        <div class="col-lg-6">
            <section id="Account-Roles" class="card" data-source="@Url.Action("Account_Roles", new { UserID = Model.UserAccount.Id })">
                <h4 class="card-header">Account roles</h4>
                <div class="card-body">
                    <div class="mb-3">
                        <label>
                            <span class="switch switch-default switch-success">
                                <input name="Roles" value="@BeezMart.Security.UserRoles.UserForProjectContribution" type="checkbox" class="switch-input" />
                                <span class="switch-label"></span>
                                <span class="switch-handle"></span>
                            </span>
                            <span class="font-lg ml-2"><b>Project contributor</b></span>
                        </label>
                    </div>
                    <div class="mb-3">
                        <label>
                            <span class="switch switch-default switch-primary">
                                <input name="Roles" value="@BeezMart.Security.UserRoles.UserForProjectManagement" type="checkbox" class="switch-input" />
                                <span class="switch-label"></span>
                                <span class="switch-handle"></span>
                            </span>
                            <span class="font-lg ml-2"><b>Project manager</b></span>
                        </label>
                    </div>
                    <div class="mb-3">
                        <label>
                            <span class="switch switch-default switch-primary">
                                <input name="Roles" value="@BeezMart.Security.UserRoles.UserForCRM" type="checkbox" class="switch-input" />
                                <span class="switch-label"></span>
                                <span class="switch-handle"></span>
                            </span>
                            <span class="font-lg ml-2"><b>CRM user</b></span>
                        </label>
                    </div>
                    <div class="mb-3">
                        <label>
                            <span class="switch switch-default switch-primary">
                                <input name="Roles" value="@BeezMart.Security.UserRoles.UserForFinance" type="checkbox" class="switch-input" />
                                <span class="switch-label"></span>
                                <span class="switch-handle"></span>
                            </span>
                            <span class="font-lg ml-2"><b>Finance user</b></span>
                        </label>
                    </div>
                    <div class="mb-3">
                        <label>
                            <span class="switch switch-default switch-primary">
                                <input name="Roles" value="@BeezMart.Security.UserRoles.UserForDocumentManagement" type="checkbox" class="switch-input" />
                                <span class="switch-label"></span>
                                <span class="switch-handle"></span>
                            </span>
                            <span class="font-lg ml-2"><b>Documents manager</b></span>
                        </label>
                    </div>
                    <div class="mb-3">
                        <label>
                            <span class="switch switch-default switch-warning">
                                <input name="Roles" value="@BeezMart.Security.UserRoles.UserForSales" type="checkbox" class="switch-input" />
                                <span class="switch-label"></span>
                                <span class="switch-handle"></span>
                            </span>
                            <span class="font-lg ml-2">Sales user (currently not used)</span>
                        </label>
                    </div>
                    <div class="mb-3">
                        <label>
                            <span class="switch switch-default switch-warning">
                                <input name="Roles" value="@BeezMart.Security.UserRoles.UserForDelivery" type="checkbox" class="switch-input" />
                                <span class="switch-label"></span>
                                <span class="switch-handle"></span>
                            </span>
                            <span class="font-lg ml-2">Delivery user (currently not used)</span>
                        </label>
                    </div>
                    <div class="mb-3">
                        <label>
                            <span class="switch switch-default switch-warning">
                                <input name="Roles" value="@BeezMart.Security.UserRoles.UserForPurchasing" type="checkbox" class="switch-input" />
                                <span class="switch-label"></span>
                                <span class="switch-handle"></span>
                            </span>
                            <span class="font-lg ml-2">Purchases user (currently not used)</span>
                        </label>
                    </div>
                    <div class="mb-3">
                        <label>
                            <span class="switch switch-default switch-danger">
                                <input name="Roles" value="@BeezMart.Security.UserRoles.ApplicationAdministrator" type="checkbox" class="switch-input" />
                                <span class="switch-label"></span>
                                <span class="switch-handle"></span>
                            </span>
                            <span class="font-lg ml-2"><b>Application administrator</b></span>
                        </label>
                    </div>
                </div>
                <div class="card-footer">
                    <progress></progress>
                    <form asp-action="Account_Roles" method="post" id="frmRoleChange">
                        <input type="hidden" name="UserID" value="@Model.UserAccount.Id" />
                        <input type="hidden" name="RoleNameToRemove" />
                        <input type="hidden" name="RoleNameToAdd" />
                    </form>
                </div>
            </section>
        </div>
    </div>
</section>
<section id="Optional-Fields" class="collapse">
    <div class="card">
        <h4 class="card-header">Profile details</h4>
        <div class="card-body">
            <div class="row">
                <div class="col-md-6">
                    <div class="mb-3">
                        <label asp-for="@Model.UserAccount.Organization">Organization name</label>
                        <input type="text" asp-for="@Model.UserAccount.Organization" readonly="readonly" class="form-control" />
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="mb-3">
                        <label asp-for="@Model.UserAccount.JobTitle">Job title</label>
                        <input type="text" asp-for="@Model.UserAccount.JobTitle" readonly="readonly" maxlength="128" class="form-control" />
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="mb-3">
                        <label asp-for="@Model.UserAccount.Department">Department</label>
                        <input type="text" asp-for="@Model.UserAccount.Department" readonly="readonly" class="form-control" />
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="mb-3">
                        <label asp-for="@Model.UserAccount.Phone">Phone numbers</label>
                        <input type="text" asp-for="@Model.UserAccount.Phone" readonly="readonly" class="form-control" />
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="mb-3">
                        <label asp-for="@Model.UserAccount.Mobile">Mobile numbers</label>
                        <input type="text" asp-for="@Model.UserAccount.Mobile" readonly="readonly" class="form-control" />
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="mb-3">
                        <label asp-for="@Model.UserAccount.City">City</label>
                        <input type="text" asp-for="@Model.UserAccount.City" readonly="readonly" class="form-control" />
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="mb-3">
                        <label asp-for="@Model.UserAccount.StateProvince">State or province</label>
                        <input type="text" asp-for="@Model.UserAccount.StateProvince" readonly="readonly" class="form-control" />
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="mb-3">
                        <label asp-for="@Model.UserAccount.StreetAddress1">Street address line 1</label>
                        <input type="text" asp-for="@Model.UserAccount.StreetAddress1" readonly="readonly" class="form-control" />
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="mb-3">
                        <label asp-for="@Model.UserAccount.StreetAddress2">Street address line 2</label>
                        <input type="text" asp-for="@Model.UserAccount.StreetAddress2" readonly="readonly" class="form-control" />
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="mb-3">
                        <label asp-for="@Model.UserAccount.StreetAddress3">Street address line 3</label>
                        <input type="text" asp-for="@Model.UserAccount.StreetAddress3" readonly="readonly" class="form-control" />
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="mb-3">
                        <label asp-for="@Model.UserAccount.PostalCode">Postal code</label>
                        <input type="text" asp-for="@Model.UserAccount.PostalCode" readonly="readonly" class="form-control" />
                    </div>
                </div>
            </div>
        </div>
        <div class="card-footer submit">
            <a asp-area="Admin" asp-controller="Users" asp-action="Index" class="btn btn-info"><i class="bi-chevron-left"></i> User accounts</a>
            <a asp-area="Admin" asp-controller="Users" asp-action="Edit" asp-route-UserID="@Model.UserAccount.Id" class="btn btn-primary">Edit fields</a>
        </div>
    </div>
</section>

@section modals {
    <aside id="ModalResetPassword" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true" data-bs-backdrop="static">
        <div class="modal-dialog">
            <div class="modal-content">
                <form asp-action="Account_ResetPassword" method="post" id="frmResetPassword">
                    <input type="hidden" name="UserID" value="@Model.UserAccount.Id" />
                    <div class="modal-header">
                        <h4 class="modal-title">Change password</h4>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <div class="mb-3">
                            <label>Account password</label><span>Password suggestion: <a id="btnSuggestedPassword">@Model.SuggestedPassword</a></span>
                            <input type="password" name="NewPassword" class="form-control required" placeholder="Example: #B33zM@art!" maxlength="64" required="required" />
                        </div>
                        <div class="mb-3">
                            <label>Password confirm</label>
                            <input type="password" name="PasswordConfirm" class="form-control required" placeholder="Example: #B33zM@art!" maxlength="64" required="required" />
                        </div>
                        <div class="mb-3">
                            <label class="input-group">
                                <span class="input-group-text">@Html.CheckBoxFor(m => m.SendNotification)</span>
                                <span class="form-control">Send new password to user by e-mail</span>
                            </label>
                            <label class="input-group">
                                <span class="input-group-text">@Html.CheckBoxFor(m => m.SendConfirmation)</span>
                                <span class="form-control">Send me an e-mail with the new password</span>
                            </label>
                        </div>
                    </div>
                    <div class="modal-footer submit">
                        <button type="button" class="btn btn-warning" data-bs-dismiss="modal">Cancel</button>
                        <button type="submit" class="btn btn-primary">Change password</button>
                    </div>
                </form>
            </div>
        </div>
    </aside>
}

@section scripts {
	<script type="text/javascript" src="~/Areas/Admin/Users/Account.js"></script>
}