﻿@model BeezMart.Areas.Admin.ViewModels.Users.Add_ViewModel

@{
	ViewBag.Title = "Add new user";
    if (Model == null || Model.UserAccount == null) throw new NullReferenceException("ViewModel is null or ViewModel.UserAccount is null.");
}

@section head {
	<link rel="stylesheet" href="~/Areas/Admin/Users/Add.css" />
}

@section breadcrumb {
    <li class="breadcrumb-item"><a asp-area="Admin" asp-controller="Home" asp-action="Index">Administration</a></li>
    <li class="breadcrumb-item"><a asp-area="Admin" asp-controller="Users" asp-action="Index">User accounts</a></li>
    <li class="breadcrumb-item active">add new</li>
}

@Html.Raw(ViewBag.AppMessage)
<form asp-area="Admin" asp-controller="Users" asp-action="Add" asp-route-ReturnUrl="@ViewBag.ReturnUrl" method="post" id="frmCreateAccount">
	@Html.ValidationSummary(true, "", new { @class = "text-danger" })
    <div class="row">
        <div class="col-lg-6">
            <section id="User-Account" class="card">
                <h4 class="card-header">User account</h4>
                <div class="card-body">
                    <div class="row">
                        <div class="col-lg-6">
                            <div class="mb-3">
                                <label asp-for="@Model.UserAccount.FirstName">First name</label>
                                <input type="text" asp-for="@Model.UserAccount.FirstName" placeholder="Example: George" maxlength="64" class="form-control form-control-lg" />
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="mb-3">
                                <label asp-for="@Model.UserAccount.LastName">Last name</label>
                                <input type="text" asp-for="@Model.UserAccount.LastName" placeholder="Example: Popescu" maxlength="64" class="form-control form-control-lg" />
                            </div>
                        </div>
                    </div>
                    <div class="mb-3">
                        <label asp-for="@Model.UserAccount.UserName">Account username</label>
                        <input type="text" asp-for="@Model.UserAccount.UserName" placeholder="Example: George Popescu" maxlength="128" class="required form-control form-control-lg" />
                    </div>
                    <div class="mb-3">
                        <label asp-for="@Model.UserAccount.Email">E-mail address</label>
                        <input type="text" asp-for="@Model.UserAccount.Email" placeholder="Example: George.Popescu@Rodax.ro" maxlength="128" class="required form-control form-control-lg" />
                    </div>
                    <div class="row mb-3">
                        <div class="col-lg-6">
                            <div class="mb-3">
                                <label asp-for="@Model.Password">Password</label><span class="ml-2"><a>@Model.SuggestedPassword</a></span>
                                <input type="password" asp-for="@Model.Password" placeholder="Example: #B33zM@rt!" maxlength="64" class="required form-control form-control-lg" />
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="mb-3">
                                <label asp-for="@Model.PasswordConfirm">Password confirm</label>
                                <input type="password" asp-for="@Model.PasswordConfirm" placeholder="Example: #B33zM@rt!" maxlength="64" class="required form-control form-control-lg" />
                            </div>
                        </div>
                    </div>
                    <div class="mb-3">
                        <label asp-for="@Model.SendNotification" class="input-group">
                            <span class="input-group-text"><input type="checkbox" asp-for="@Model.SendNotification" /></span>
                            <span class="form-control">Notify the newly created user, send account details</span>
                        </label>
                    </div>
                    <div class="mb-3">
                        <label asp-for="@Model.SendConfirmation" class="input-group">
                            <span class="input-group-text"><input type="checkbox" asp-for="@Model.SendConfirmation" /></span>
                            <span class="form-control">Send me an e-mail confirmation with the account details</span>
                        </label>
                    </div>
                </div>
            </section>
        </div>
        <div class="col-lg-6">
            <section id="Account-Roles" class="card">
                <h4 class="card-header">Account roles</h4>
                <div class="card-body">
                    <div class="mb-3">
                        <label>
                            <span class="switch switch-default switch-success">
                                <input name="Roles" value="@BeezMart.Security.UserRoles.UserForProjectContribution" type="checkbox" class="switch-input" checked="checked" />
                                <span class="switch-label"></span>
                                <span class="switch-handle"></span>
                            </span>
                            <span class="font-lg ml-2"><b>Project contributor</b></span>
                        </label>
                    </div>
                    <div class="mb-3">
                        <label>
                            <span class="switch switch-default switch-primary">
                                <input name="Roles" value="@BeezMart.Security.UserRoles.UserForProjectManagement" type="checkbox" class="switch-input" />
                                <span class="switch-label"></span>
                                <span class="switch-handle"></span>
                            </span>
                            <span class="font-lg ml-2"><b>Project manager</b></span>
                        </label>
                    </div>
                    <div class="mb-3">
                        <label>
                            <span class="switch switch-default switch-primary">
                                <input name="Roles" value="@BeezMart.Security.UserRoles.UserForCRM" type="checkbox" class="switch-input" checked="checked" />
                                <span class="switch-label"></span>
                                <span class="switch-handle"></span>
                            </span>
                            <span class="font-lg ml-2"><b>CRM user</b></span>
                        </label>
                    </div>
                    <div class="mb-3">
                        <label>
                            <span class="switch switch-default switch-primary">
                                <input name="Roles" value="@BeezMart.Security.UserRoles.UserForFinance" type="checkbox" class="switch-input" />
                                <span class="switch-label"></span>
                                <span class="switch-handle"></span>
                            </span>
                            <span class="font-lg ml-2"><b>Finance user</b></span>
                        </label>
                    </div>
                    <div class="mb-3">
                        <label>
                            <span class="switch switch-default switch-primary">
                                <input name="Roles" value="@BeezMart.Security.UserRoles.UserForDocumentManagement" type="checkbox" class="switch-input" />
                                <span class="switch-label"></span>
                                <span class="switch-handle"></span>
                            </span>
                            <span class="font-lg ml-2"><b>Documents manager</b></span>
                        </label>
                    </div>
                    <div class="mb-3">
                        <label>
                            <span class="switch switch-default switch-warning">
                                <input name="Roles" value="@BeezMart.Security.UserRoles.UserForSales" type="checkbox" class="switch-input" />
                                <span class="switch-label"></span>
                                <span class="switch-handle"></span>
                            </span>
                            <span class="font-lg ml-2">Sales user (currently not used)</span>
                        </label>
                    </div>
                    <div class="mb-3">
                        <label>
                            <span class="switch switch-default switch-warning">
                                <input name="Roles" value="@BeezMart.Security.UserRoles.UserForDelivery" type="checkbox" class="switch-input" />
                                <span class="switch-label"></span>
                                <span class="switch-handle"></span>
                            </span>
                            <span class="font-lg ml-2">Delivery user (currently not used)</span>
                        </label>
                    </div>
                    <div class="mb-3">
                        <label>
                            <span class="switch switch-default switch-warning">
                                <input name="Roles" value="@BeezMart.Security.UserRoles.UserForPurchasing" type="checkbox" class="switch-input" />
                                <span class="switch-label"></span>
                                <span class="switch-handle"></span>
                            </span>
                            <span class="font-lg ml-2">Purchases user (currently not used)</span>
                        </label>
                    </div>
                    <div class="mb-3">
                        <label>
                            <span class="switch switch-default switch-danger">
                                <input name="Roles" value="@BeezMart.Security.UserRoles.ApplicationAdministrator" type="checkbox" class="switch-input" />
                                <span class="switch-label"></span>
                                <span class="switch-handle"></span>
                            </span>
                            <span class="font-lg ml-2"><b>Application administrator</b></span>
                        </label>
                    </div>
                </div>
            </section>
        </div>
    </div>
	<section id="Optional-Fields" class="collapse">
        <div class="card">
            <h4 class="card-header">Profile details</h4>
            <div class="card-body">
                <div class="row">
                    <div class="col-md-6">
                        <div class="mb-3">
                            <label asp-for="@Model.UserAccount.Organization">Organization name</label>
                            <input type="text" asp-for="@Model.UserAccount.Organization" placeholder="Company or institution name" maxlength="128" class="form-control" />
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="mb-3">
                            <label asp-for="@Model.UserAccount.JobTitle">Job title</label>
                            <input type="text" asp-for="@Model.UserAccount.JobTitle" placeholder="Position in organization, as on contact card" maxlength="128" class="form-control" />
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="mb-3">
                            <label asp-for="@Model.UserAccount.Department">Department</label>
                            <input type="text" asp-for="@Model.UserAccount.Department" placeholder="Example: Marketing" maxlength="128" class="form-control" />
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="mb-3">
                            <label asp-for="@Model.UserAccount.Phone">Phone numbers</label>
                            <input type="text" asp-for="@Model.UserAccount.Phone" placeholder="Include country code and area code" maxlength="64" class="form-control" />
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="mb-3">
                            <label asp-for="@Model.UserAccount.Mobile">Mobile numbers</label>
                            <input type="text" asp-for="@Model.UserAccount.Mobile" placeholder="Include country code and area code" maxlength="64" class="form-control" />
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="mb-3">
                            <label asp-for="@Model.UserAccount.City">City</label>
                            <input type="text" asp-for="@Model.UserAccount.City" placeholder="Example: Oradea" maxlength="64" class="form-control" />
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="mb-3">
                            <label asp-for="@Model.UserAccount.StateProvince">State or province</label>
                            <input type="text" asp-for="@Model.UserAccount.StateProvince" placeholder="Example: Bihor" maxlength="64" class="form-control" />
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="mb-3">
                            <label asp-for="@Model.UserAccount.StreetAddress1">Street address line 1</label>
                            <input type="text" asp-for="@Model.UserAccount.StreetAddress1" placeholder="Example: Street with number" maxlength="128" class="form-control" />
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="mb-3">
                            <label asp-for="@Model.UserAccount.StreetAddress2">Street address line 2</label>
                            <input type="text" asp-for="@Model.UserAccount.StreetAddress2" placeholder="Example: Bulding, floor" maxlength="128" class="form-control" />
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="mb-3">
                            <label asp-for="@Model.UserAccount.StreetAddress3">Street address line 3</label>
                            <input type="text" asp-for="@Model.UserAccount.StreetAddress3" placeholder="Example: Department" maxlength="128" class="form-control" />
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="mb-3">
                            <label asp-for="@Model.UserAccount.PostalCode">Postal code</label>
                            <input type="text" asp-for="@Model.UserAccount.PostalCode" maxlength="32" class="form-control" />
                        </div>
                    </div>
                </div>
            </div>
        </div>
	</section>
	<div class="Submit">
		<a asp-action="Index" class="btn btn-warning btn-lg">Cancel</a>
        <button type="button" class="btn btn-info btn-lg" data-bs-toggle="collapse" data-target="#Optional-Fields" role="button" aria-expanded="false" aria-controls="Optional-Fields">Profile details</button>
		<button type="submit" class="btn btn-success btn-lg">Create account now</button>
	</div>
</form>

@section scripts {
	<script type="text/javascript" src="~/Areas/Admin/Users/Add.js"></script>
}


