﻿@model BeezMart.Areas.Admin.ViewModels.Users.Edit_ViewModel

@{
    ViewBag.Title = "Edit user account";
    if (Model == null || Model.UserAccount == null) throw new NullReferenceException("ViewModel is null or ViewModel.UserAccount is null.");
}

@section head {
	<link rel="stylesheet" href="~/Areas/Admin/Users/Edit.css" />
}

@section breadcrumb {
    <li class="breadcrumb-item"><a asp-area="Admin" asp-controller="Home" asp-action="Index">Administration</a></li>
    <li class="breadcrumb-item"><a asp-area="Admin" asp-controller="Users" asp-action="Index">User accounts</a></li>
    <li class="breadcrumb-item"><a asp-area="Admin" asp-controller="Users" asp-action="Account" asp-route-UserID="@Model.UserAccount.Id"><span>@Model.UserAccount.UserName</span> (@Model.UserAccount.FirstName @Model.UserAccount.LastName)</a></li>
    <li class="breadcrumb-item active">edit</li>
}

@Html.Raw(ViewBag.AppMessage)
<form asp-area="Admin" asp-action="Edit" asp-controller="Users" asp-route-ReturnUrl="@ViewBag.ReturnUrl" method="post" id="frmEditAccount">
	@Html.ValidationSummary(true, "", new { @class = "text-danger" })
	<input type="hidden" asp-for="@Model.UserAccount.Id" />
    <div class="row">
	    <div class="col-1 col-sm-2 col-xl-3">&nbsp;</div>
	    <div class="col-10 col-sm-8 col-xl-6">
            <section id="User-Account" class="card">
                <h4 class="card-header">User account</h4>
                <div class="card-body">
                    <div class="row">
                        <div class="col-lg-6">
                            <div class="mb-3">
                                <label asp-for="@Model.UserAccount.FirstName">First name</label>
                                <input type="text" asp-for="@Model.UserAccount.FirstName" placeholder="Example: George" maxlength="64" class="form-control form-control-lg" />
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="mb-3">
                                <label asp-for="@Model.UserAccount.LastName">Last name</label>
                                <input type="text" asp-for="@Model.UserAccount.LastName" placeholder="Example: Popescu" maxlength="64" class="form-control form-control-lg" />
                            </div>
                        </div>
                    </div>
                    <div class="mb-3">
                        <label asp-for="@Model.UserAccount.UserName">Account username</label>
                        <input type="text" asp-for="@Model.UserAccount.UserName" placeholder="Example: George Popescu" maxlength="128" class="required form-control form-control-lg" />
                    </div>
                    <div class="mb-3">
                        <label asp-for="@Model.UserAccount.Email">E-mail address</label>
                        <input type="text" asp-for="@Model.UserAccount.Email" placeholder="Example: George.Popescu@Rodax.ro" maxlength="128" class="required form-control form-control-lg" />
                    </div>
                    <div class="mb-3">
                        <label asp-for="@Model.SendNotification" class="input-group">
                            <span class="input-group-text"><input type="checkbox" asp-for="@Model.SendNotification" /></span>
                            <span class="form-control">Notify the user by e-mail</span>
                        </label>
                    </div>
                    <div class="mb-3">
                        <label asp-for="@Model.SendConfirmation" class="input-group">
                            <span class="input-group-text"><input type="checkbox" asp-for="@Model.SendConfirmation" /></span>
                            <span class="form-control">Send me an e-mail confirmation</span>
                        </label>
                    </div>
                </div>
                <div class="card-footer submit">
                    <a asp-area="Admin" asp-controller="Users" asp-action="Account" asp-route-UserID="@Model.UserAccount.Id" class="btn btn-warning">Cancel</a>
                    <a href="#Optional-Fields" aria-controls="Optional-Fields" data-bs-toggle="collapse" role="button" aria-expanded="false" class="btn btn-info">Edit profile details</a>
                    <button type="submit" class="btn btn-success">Save account fields</button>
                </div>
            </section>
	    </div>
	    <div class="col-1 col-sm-2 col-xl-3">&nbsp;</div>
    </div>
    <section id="Optional-Fields" class="collapse">
        <div class="card">
            <h4 class="card-header">Profile details</h4>
            <div class="card-body">
                <div class="row">
                    <div class="col-md-6">
                        <div class="mb-3">
                            <label asp-for="@Model.UserAccount.Organization">Organization name</label>
                            <input type="text" asp-for="@Model.UserAccount.Organization" placeholder="Company or institution name" maxlength="128" class="form-control" />
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="mb-3">
                            <label asp-for="@Model.UserAccount.JobTitle">Job title</label>
                            <input type="text" asp-for="@Model.UserAccount.JobTitle" placeholder="Position in organization, as on contact card" maxlength="128" class="form-control" />
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="mb-3">
                            <label asp-for="@Model.UserAccount.Department">Department</label>
                            <input type="text" asp-for="@Model.UserAccount.Department" placeholder="Example: Marketing" maxlength="128" class="form-control" />
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="mb-3">
                            <label asp-for="@Model.UserAccount.Phone">Phone numbers</label>
                            <input type="text" asp-for="@Model.UserAccount.Phone" placeholder="Include country code and area code" maxlength="64" class="form-control" />
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="mb-3">
                            <label asp-for="@Model.UserAccount.Mobile">Mobile numbers</label>
                            <input type="text" asp-for="@Model.UserAccount.Mobile" placeholder="Include country code and area code" maxlength="64" class="form-control" />
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="mb-3">
                            <label asp-for="@Model.UserAccount.City">City</label>
                            <input type="text" asp-for="@Model.UserAccount.City" placeholder="Example: Oradea" maxlength="64" class="form-control" />
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="mb-3">
                            <label asp-for="@Model.UserAccount.StateProvince">State or province</label>
                            <input type="text" asp-for="@Model.UserAccount.StateProvince" placeholder="Example: Bihor" maxlength="64" class="form-control" />
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="mb-3">
                            <label asp-for="@Model.UserAccount.StreetAddress1">Street address line 1</label>
                            <input type="text" asp-for="@Model.UserAccount.StreetAddress1" placeholder="Example: Street with number" maxlength="128" class="form-control" />
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="mb-3">
                            <label asp-for="@Model.UserAccount.StreetAddress2">Street address line 2</label>
                            <input type="text" asp-for="@Model.UserAccount.StreetAddress2" placeholder="Example: Bulding, floor" maxlength="128" class="form-control" />
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="mb-3">
                            <label asp-for="@Model.UserAccount.StreetAddress3">Street address line 3</label>
                            <input type="text" asp-for="@Model.UserAccount.StreetAddress3" placeholder="Example: Department" maxlength="128" class="form-control" />
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="mb-3">
                            <label asp-for="@Model.UserAccount.PostalCode">Postal code</label>
                            <input type="text" asp-for="@Model.UserAccount.PostalCode" maxlength="32" class="form-control" />
                        </div>
                    </div>
                </div>
            </div>
            <div class="card-footer submit">
                <a asp-area="Admin" asp-controller="Users" asp-action="Account" asp-route-UserID="@Model.UserAccount.Id" class="btn btn-warning">Cancel</a>
                <button type="submit" class="btn btn-success">Save account fields</button>
            </div>
        </div>
    </section>
</form>

@section scripts {
	<script type="text/javascript" src="~/Areas/Admin/Users/Edit.js"></script>
}




