﻿@using BeezMart.Security
@model BeezMart.Areas.Admin.ViewModels.Users.Index_ViewModel

@{
	ViewBag.Title = "Users of the application";
    if (Model == null || Model.UserAccounts == null) throw new NullReferenceException("ViewModel is null or ViewModel.UserAccounts is null.");
}

@section head {
	<link rel="stylesheet" href="~/Areas/Admin/Users/Index.css" />
}

@section breadcrumb {
    <li class="breadcrumb-item"><a asp-area="Admin" asp-controller="Home" asp-action="Index">Administration</a></li>
    <li class="breadcrumb-item active">User accounts</li>
}

@Html.Raw(ViewBag.AppMessage)
<table class="table table-striped table-hover table-responsive-md">
	<thead>
		<tr>
			<th>Username</th>
			<th>First name</th>
			<th>Last name</th>
			<th>E-mail address</th>
			<th>Account ID</th>
		</tr>
	</thead>
	<tbody>
		@foreach (ApplicationUser account in Model.UserAccounts)
		{
		<tr>
			<td><a>@account.UserName</a></td>
			<td>@account.FirstName</td>
			<td>@account.LastName</td>
			<td>@account.Email</td>
			<td>@account.Id</td>
		</tr>
		}
	</tbody>
	<tfoot>
		<tr>
			<td colspan="5">Accounts number: <b>@Model.UserAccounts.Count()</b></td>
		</tr>
	</tfoot>
</table>
<div>
	<a asp-action="Add" class="btn btn-primary btn-lg">Add new user account</a>
</div>
<section id="User-Roles">
    <div class="row">
        <div class="col-1 col-sm-2 col-md-3 col-lg-4">&nbsp;</div>
        <div class="col-10 col-sm-8 col-md-6 col-lg-4">
            <div class="card border-success">
                <h4 class="card-header bg-success">Application user roles</h4>
                <div class="card-body">
                    <div class="list-group">
                        <a href="@BeezMart.Security.UserRoles.UserForProjectContribution" class="list-group-item list-group-item-action">Project contributor</a>
                        <a href="@BeezMart.Security.UserRoles.UserForProjectManagement" class="list-group-item list-group-item-action">Project manager</a>
                        <a href="@BeezMart.Security.UserRoles.UserForCRM" class="list-group-item list-group-item-action">CRM user</a>
                        <a href="@BeezMart.Security.UserRoles.UserForFinance" class="list-group-item list-group-item-action">Finance user</a>
                        <a href="@BeezMart.Security.UserRoles.UserForDocumentManagement" class="list-group-item list-group-item-action">Documents manager</a>
                        <a href="@BeezMart.Security.UserRoles.UserForSales" class="list-group-item list-group-item-action">Sales user (currently not used)</a>
                        <a href="@BeezMart.Security.UserRoles.UserForDelivery" class="list-group-item list-group-item-action">Delivery user (currently not used)</a>
                        <a href="@BeezMart.Security.UserRoles.UserForPurchasing" class="list-group-item list-group-item-action">Purchases user (currently not used)</a>
                        <a href="@BeezMart.Security.UserRoles.ApplicationAdministrator" class="list-group-item list-group-item-action">Application administrator</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-1 col-sm-2 col-md-3 col-lg-4">&nbsp;</div>
    </div>
</section>
<input type="hidden" id="hdnViewLink_User" value="@Url.Action("Account", new { UserID = "[Populate_at_Runtime]" })" />
<input type="hidden" id="hdnViewLink_Role" value="@Url.Action("Role", new { Name = "[Populate_at_Runtime]" })" />

@section scripts {
	<script type="text/javascript" src="~/Areas/Admin/Users/Index.js"></script>
}
