﻿@using BeezMart.Security
@model BeezMart.Areas.Admin.ViewModels.Users.Role_ViewModel

@{
	if (Model == null) throw new NullReferenceException("ViewModel is null.");
    ViewBag.Title = $"Users in role '{Model.RoleName}'";
	if (Model.UserAccountsInRole == null) throw new NullReferenceException("ViewModel.UserAccountsInRole is null.");
}

@section head {
	<link rel="stylesheet" href="~/Areas/Admin/Users/Role.css" />
}

@section breadcrumb {
    <li class="breadcrumb-item"><a asp-area="Admin" asp-controller="Home" asp-action="Index">Administration</a></li>
    <li class="breadcrumb-item"><a asp-area="Admin" asp-controller="Users" asp-action="Index">User accounts</a></li>
    <li class="breadcrumb-item active">role users</li>
}

@Html.Raw(ViewBag.AppMessage)
<p class="lead">Users having role <b>@Model.RoleName</b></p>
<table class="table table-striped table-hover table-responsive-md">
	<thead>
		<tr>
			<th>Username</th>
			<th>First name</th>
			<th>Last name</th>
			<th>E-mail address</th>
			<th>Account ID</th>
		</tr>
	</thead>
	<tbody>
		@foreach (ApplicationUser account in Model.UserAccountsInRole)
		{
		<tr>
			<td><a>@account.UserName</a></td>
			<td>@account.FirstName</td>
			<td>@account.LastName</td>
			<td>@account.Email</td>
			<td>@account.Id</td>
		</tr>
		}
	</tbody>
	<tfoot>
		<tr>
			<td colspan="5">Accounts number: <b>@Model.UserAccountsInRole.Count</b></td>
		</tr>
	</tfoot>
</table>
<div class="Submit">
	<a asp-action="Index" class="btn btn-light btn-lg">Back to user accounts</a>
	<a asp-action="Add" class="btn btn-primary btn-lg">Add new user account</a>
</div>
<input type="hidden" id="hdnViewLinkUser" value="@Url.Action("Account", new { UserID = "[Populate_at_Runtime]" })" />

@section scripts {
	<script type="text/javascript" src="~/Areas/Admin/Users/Role.js"></script>
}
