﻿table.table { margin-top: 1.0em; }
table.table thead tr th:nth-child(2) { text-align:right; }
table.table tbody tr td:nth-child(1) { font-weight:600; }
table.table tbody tr td:nth-child(2) { text-align:right; }
