﻿@using BeezMart.Entities.CRM
@model List<OrganizationModel>
@{
	if (Model == null) throw new NullReferenceException("ViewModel is null.");
}
@Html.Raw(ViewBag.AppMessage)
<table class="table table-hover table-striped table-sm">
	<thead>
		<tr>
			<th>Organization</th>
			<th>Segment</th>
			<th>Headquarter</th>
		</tr>
	</thead>
	<tbody>
		@foreach (OrganizationModel org in Model)
		{
			<tr>
				<td><a data-value="@org.ID" title="@org.AlternateNames">@org.Name</a></td>
				<td>@org.Segment</td>
				<td>@org.HQ_City @Html.FormatValue(org.HQ_StateProvince, ", {0}")</td>
			</tr>
		}
	</tbody>
	<tfoot>
		<tr>
			<td colspan="3">records found: <b>@Model.Count.ToString("#,##0")</b></td>
		</tr>
	</tfoot>
</table>
<input type="hidden" id="hdnCustomerSettingsURL" value="@Url.Action(action: "_BillingSettingsForOrganization", controller: "Customers", values: new { route = "billing" })" data-param="OrganizationID" />
