﻿<aside id="ModalLookupCustomer" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true" data-bs-backdrop="static">
	<div class="modal-dialog">
		<div class="modal-content">
            <header class="modal-header">
                <h4 class="modal-title">Lookup for existing customer</h4>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </header>
            <section class="modal-body">
                <p>Pre-populate customer details with existing data from CRM module</p>
                <div id="ChooseCustomerType">
                    <ul class="nav nav-tabs">
                        <li class="nav-item"><a href="#Orgs" data-bs-toggle="tab" class="nav-link active">Organizations</a></li>
                        <li class="nav-item"><a href="#Pers" data-bs-toggle="tab" class="nav-link">Persons</a></li>
                    </ul>
                    <div class="tab-content">
                        <div class="tab-pane active" id="Orgs">
                            <form id="frmLookupOrgs" asp-action="_PickOnInvoiceOrgs" asp-controller="Customers" method="get">
                                <div class="mb-3">
                                    <div class="input-group">
                                        <input type="text" name="OrgsNamePattern" placeholder="Organization name contains..." class="form-control">
                                        <span class="input-group-text" title="Exact match&#13;When checked, search will not append and prepend * wildcard to org name criteria" style="cursor:help;">
                                            <input type="checkbox" name="ExactMatch" />
                                        </span>
                                        <button type="submit" class="input-group-text">Lookup</button>
                                    </div>
                                </div>
                            </form>
                        </div>
                        <div class="tab-pane" id="Pers">
                            <form id="frmLookupPers" asp-action="_PickOnInvoicePers" asp-controller="Customers" method="get">
                                <div class="mb-3">
                                    <div class="input-group">
                                        <input type="text" name="PersNamePattern" placeholder="Person name contains..." class="form-control">
                                        <span class="input-group-text" title="Exact match&#13;When checked, search will not append and prepend * wildcard to pers name criteria" style="cursor:help;">
                                            <input type="checkbox" name="ExactMatch" />
                                        </span>
                                        <button type="submit" class="input-group-text">Lookup</button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </section>
			<footer class="modal-footer">
				<button type="button" class="btn btn-warning" data-bs-dismiss="modal">Cancel</button>
			</footer>
		</div>
	</div>
</aside>
<aside id="ModalCustomers" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true" data-bs-backdrop="static">
    <div class="modal-dialog modal-lg">
		<div class="modal-content">
            <header class="modal-header">
                <h4 class="modal-title">Pick existing customer</h4>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </header>
            <section class="modal-body">
                <p>Pre-populate customer details with existing data from CRM module</p>
                <progress></progress>
                <div id="SearchResultCustomers">
                </div>
            </section>
			<footer class="modal-footer">
				<button type="button" class="btn btn-primary" onclick="btnCustomersSearchAgain_Click();">Search again</button>
				<button type="button" class="btn btn-warning" data-bs-dismiss="modal">Cancel</button>
			</footer>
		</div>
	</div>
</aside>
