﻿@using BeezMart.Entities.CRM
@model BeezMart.Areas.Billing.ViewModels.Customers.Overdue_ViewModel

@{
    ViewBag.Title = "Overdue customers";
    if (Model == null) throw new NullReferenceException("ViewModel. is null.");
    if (Model.Organizations == null) throw new NullReferenceException("ViewModel.Organizations is null.");
    if (Model.Persons == null) throw new NullReferenceException("ViewModel.Persons is null.");
    int CountOfInvoicesOrganizations = 0;
    int CountOfInvoicesPersons = 0;
}

@section head {
	<link rel="stylesheet" href="~/Areas/Billing/Customers/Overdue.css" />
}

@section breadcrumb {
    <li class="breadcrumb-item"><a asp-area="Billing" asp-controller="Home" asp-action="Index">Billing</a></li>
    <li class="breadcrumb-item"><a asp-area="Billing" asp-controller="Invoices" asp-action="Index">Invoices</a></li>
    <li class="breadcrumb-item active">overdue customers</li>
}

<section id="Records" class="card">
    <h4 class="card-header">Overdue customers</h4>
    <div class="card-body">
        <p>Customers having pending invoices that passed their payment deadline</p>
        <table class="table table-striped table-hover table-responsive-md">
            <thead>
                <tr>
                    <th>Customer name</th>
                    <th>Invoices count</th>
                </tr>
            </thead>
            <tbody>
                @foreach (KeyValuePair<OrganizationModel, int> entry in Model.Organizations)
                {
                CountOfInvoicesOrganizations += entry.Value;
                <tr>
                    <td><a data-value="OrgsID=@entry.Key.ID">@entry.Key.Name</a></td>
                    <td><a><b>@Html.FormatValue(entry.Value, "{0:#,##0}")</b> invoice(s)</a></td>
                </tr>
                }
                @foreach (KeyValuePair<PersonModel, int> entry in Model.Persons)
                {
                CountOfInvoicesPersons += entry.Value;
                <tr>
                    <td><a data-value="PersID=@entry.Key.ID">@entry.Key.FirstName @entry.Key.LastName</a></td>
                    <td><a><b>@Html.FormatValue(entry.Value, "{0:#,##0}")</b> invoice(s)</a></td>
                </tr>
                }
            </tbody>
            <tfoot>
                <tr>
                    <td>customers found: <b>@Html.FormatValue(Model.Organizations.Count + Model.Persons.Count, "{0:#,##0}")</b></td>
                    <td>invoices count: <b>@Html.FormatValue(CountOfInvoicesOrganizations + CountOfInvoicesPersons, "{0:#,##0}")</b></td>
                </tr>
            </tfoot>
        </table>
    </div>
</section>
<input type="hidden" id="hdnInvoicesViewUrl" value="@Url.Action("Search", "Invoices", new { Overdue = "true" })" />
<input type="hidden" id="hdnCrmOrgsViewUrl" value="@Url.Action("View", "Organizations", new { Area="CRM" })" />
<input type="hidden" id="hdnCrmPersViewUrl" value="@Url.Action("View", "Persons", new { Area="CRM" })" />

@section scripts {
	<script type="text/javascript" src="~/Areas/Billing/Customers/Overdue.js"></script>
}

