﻿<aside id="ModalEditDelegate" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true" data-bs-backdrop="static">
	<div class="modal-dialog">
		<form method="post" asp-action="_Edit" asp-controller="HandoverDelegates">
			<input type="hidden" name="ID" />
			<div class="modal-content">
                <header class="modal-header">
                    <h4 class="modal-title">Edit handover delegate</h4>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </header>
                <section class="modal-body">
                    <p>Save handover delegate fields for future use</p>
                    <div class="row">
                        <div class="col-6">
                            <div class="mb-3">
                                <label for="txtDelegateName" class="required">Delegate name</label>
                                <input id="txtDelegateName" type="text" name="Name" maxlength="64" placeholder="Who's delivering the invoice ..." required="required" class="form-control required" />
                            </div>
                        </div>
                        <div class="col-6">
                            <div class="mb-3">
                                <label for="txtDelegateIdField1">Serial</label>
                                <input id="txtDelegateIdField1" type="text" name="IdField1" maxlength="8" placeholder="ID Serial ..." class="form-control" />
                            </div>
                        </div>
                        <div class="col-6">
                            <div class="mb-3">
                                <label for="txtDelegateIdField2">Number</label>
                                <input id="txtDelegateIdField2" type="text" name="IdField2" maxlength="16" placeholder="ID number ..." class="form-control" />
                            </div>
                        </div>
                        <div class="col-6">
                            <div class="mb-3">
                                <label for="txtDelegateIdField3">Issuer</label>
                                <input id="txtDelegateIdField3" type="text" name="IdField3" maxlength="32" placeholder="Issuing authority ..." class="form-control" />
                            </div>
                        </div>
                    </div>
                </section>
                <footer class="modal-footer">
                    <button type="button" class="btn btn-warning" data-bs-dismiss="modal" data-bs-toggle="modal"  data-bs-target="#ModalPickDelegate">Cancel</button>
                    <button type="submit" class="btn btn-primary">Save fields</button>
                </footer>
			</div>
		</form>
	</div>
</aside>
<form asp-action="_Delete" asp-controller="HandoverDelegates" method="delete">
	<input type="hidden" name="RecordID" />
</form>
