﻿@model List<HandoverDelegateModel>
@{
	if (Model == null) throw new NullReferenceException("ViewModel is null.");
}
@Html.Raw(ViewBag.AppMessage)
<table class="table table-sm table-striped table-hover">
	<thead>
		<tr>
			<th>Delegate name</th>
			<th colspan="3">ID Details</th>
			<th>Edt</th>
		</tr>
	</thead>
	<tbody>
		@foreach (HandoverDelegateModel handoverDelegate in Model)
		{
			<tr data-value="@handoverDelegate.ID">
				<td><a>@handoverDelegate.Name</a></td>
				<td>@handoverDelegate.IdField1</td>
				<td>@handoverDelegate.IdField2</td>
				<td>@handoverDelegate.IdField3</td>
				<td><a class="bi-pencil"></a> <span>&times;</span></td>
			</tr>
		}
	</tbody>
	<tfoot>
		<tr>
			<td colspan="5">records found: <b>@Model.Count.ToString("#,##0")</b></td>
		</tr>
	</tfoot>
</table>

