﻿@model List<HandoverDelegateModel>
<aside id="ModalPickDelegate" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true" data-bs-backdrop="static">
	<div class="modal-dialog">
		<div class="modal-content">
            <header class="modal-header">
                <h3>Pick handover delegate</h3>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </header>
			<section class="modal-body">
				<progress></progress>
				<div id="Delegates">
					<partial name="~/Areas/Billing/Views/HandoverDelegates/_List.cshtml" model="Model" />
				</div>
			</section>
            <footer class="modal-footer">
                <button type="button" class="btn btn-primary" onclick="btnAddDelegate_Click();">Add new</button>
                <button type="button" class="btn btn-warning" data-bs-dismiss="modal">Cancel</button>
            </footer>
		</div>
	</div>
</aside>
<div id="DelegateEditor" data-source="@Url.Action(action: "_Edit", controller: "HandoverDelegates", values: new { route = "billing" })"></div>